
@model FGsGatePassViewModel

@{
    ViewData["Title"] = "General Store Gate Pass Issue Information";
}

<h2><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>
<hr />

<div class="container-fluid">
    <form id="form" enctype="multipart/form-data" role="form" asp-action="CreateFGsGatePass">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="panel-body row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationM.IS_RETURNABLE" class="control-label"></label>
                    <div class="form-control custom-form-control">
                        <label class="switch">
                            <input asp-for="FGsGatepassInformationM.IS_RETURNABLE" />
                            <span class="slider round"></span>
                            <span class="absolute-no">NO</span>
                        </label>
                    </div>
                    <span asp-validation-for="FGsGatepassInformationM.IS_RETURNABLE" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationM.GPDATE" class="control-label "></label>
                    <input asp-for="FGsGatepassInformationM.GPDATE" class="form-control" />
                    <span asp-validation-for="FGsGatepassInformationM.GPDATE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationM.DEPTID" class="control-label "></label>
                    @Html.DropDownListFor(dt => dt.FGsGatepassInformationM.DEPTID, new SelectList(Model.FBasDepartmentList, "DEPTID", "DEPTNAME"),
                        "Select Department", new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FGsGatepassInformationM.DEPTID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationM.SECID" class="control-label"></label>
                    <select asp-for="FGsGatepassInformationM.SECID" class="form-control js-example-basic-single">
                        <option value="">Select Section</option>
                    </select>
                    <span asp-validation-for="FGsGatepassInformationM.SECID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationM.EMPID" class="control-label "></label>
                    @Html.DropDownListFor(dt => dt.FGsGatepassInformationM.EMPID, new SelectList(Model.FHrEmployeeList, "EMPID", "FIRST_NAME"),
                        "Select Employee", new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FGsGatepassInformationM.EMPID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationM.SENDTO" class="control-label "></label>
                    <input asp-for="FGsGatepassInformationM.SENDTO" class="form-control" />
                    <span asp-validation-for="FGsGatepassInformationM.SENDTO" class="text-danger"></span>
                </div>
                <br />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationM.ADDRESS" class="control-label "></label>
                    <input asp-for="FGsGatepassInformationM.ADDRESS" class="form-control" />
                    <span asp-validation-for="FGsGatepassInformationM.ADDRESS" class="text-danger"></span>
                </div>
                <br />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationM.GPTID" class="control-label "></label>
                    @Html.DropDownListFor(dt => dt.FGsGatepassInformationM.GPTID, new SelectList(Model.FGatepassTypeList, "GPTID", "NAME"),
                        "Select a Type", new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FGsGatepassInformationM.GPTID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationM.REQ_BY" class="control-label "></label>
                    @Html.DropDownListFor(dt => dt.FGsGatepassInformationM.REQ_BY, new SelectList(Model.FHrEmployeeList, "EMPID", "FIRST_NAME"),
                        "Select Employee", new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FGsGatepassInformationM.REQ_BY" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationM.VID" class="control-label "></label>
                    @Html.DropDownListFor(dt => dt.FGsGatepassInformationM.VID, new SelectList(Model.FBasVehicleInfoList, "VID", "VNUMBER"),
                        "Select Vehicle", new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FGsGatepassInformationM.VID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationM.REMARKS" class="control-label "></label>
                    <input asp-for="FGsGatepassInformationM.REMARKS" class="form-control" />
                    <span asp-validation-for="FGsGatepassInformationM.REMARKS" class="text-danger"></span>
                </div>
                <br />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="h5 panel-title text-success">Details</span>
                <hr />
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationD.PRODID" class="control-label "></label>
                    @Html.DropDownListFor(dt => dt.FGsGatepassInformationD.PRODID, new SelectList(Model.FGsProductInformationList, "PRODID", "PRODNAME"),
                        "Select Product", new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FGsGatepassInformationD.PRODID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationD.UNIT_NM" class="control-label "></label>
                    <input asp-for="FGsGatepassInformationD.UNIT_NM" class="form-control" readonly />
                    <span asp-validation-for="FGsGatepassInformationD.UNIT_NM" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationD.ISSUE_QTY" class="control-label "></label>
                    <input asp-for="FGsGatepassInformationD.ISSUE_QTY" class="form-control" />
                    <span asp-validation-for="FGsGatepassInformationD.ISSUE_QTY" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationD.ISSUE_BAG" class="control-label "></label>
                    <input asp-for="FGsGatepassInformationD.ISSUE_BAG" class="form-control" />
                    <span asp-validation-for="FGsGatepassInformationD.ISSUE_BAG" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationD.ETR" class="control-label "></label>
                    <input asp-for="FGsGatepassInformationD.ETR" class="form-control" />
                    <span asp-validation-for="FGsGatepassInformationD.ETR" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGsGatepassInformationD.REMARKS" class="control-label "></label>
                    <input asp-for="FGsGatepassInformationD.REMARKS" class="form-control" />
                    <span asp-validation-for="FGsGatepassInformationD.REMARKS" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button id="btnCreateFGsGatePass" class="btn btn-success nextBtn pull-right" type="submit">Create</button>
                <button id="addToList" class="btn btn-info pull-right" type="button">Add</button>
                <a asp-action="GetFGsGatePass" class="btn btn-dark pull-right">Back to List</a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-hover table-responsive" id="gsGatepassInformationDTable"></div>
        </div>
    </form>
</div>

@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/site-common.js"></script>
    <script asp-append-version="true" src="~/js/FGsGatePass/CreateFGsGatePass.js"></script>
}
