@model FGsGatePassViewModel

@{
    ViewData["Title"] = "General Store Gate Pass Issue Information";
}

@{
    if (Model != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @Html.HiddenFor(d => d.FGsGatepassInformationM.EncryptedId)
                    <div class="col-lg-12">
                        <div class="m-b-md">
                            <h2 class="text-white btn btn-info">@Html.DisplayNameFor(d => d.FGsGatepassInformationM.GPNO) : [ @Html.DisplayFor(e => e.FGsGatepassInformationM.GPNO) ]</h2>
                        </div>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-12">
                        <h2 class="panel-title text-success"><i class="fa fa-medium" aria-hidden="true"></i> Master</h2>
                        <hr />
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FGsGatepassInformationM.GPDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FGsGatepassInformationM.GPDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FGsGatepassInformationM.DEPTID" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FGsGatepassInformationM.DEPT.DEPTNAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FGsGatepassInformationM.SECID" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FGsGatepassInformationM.SEC.SECNAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FGsGatepassInformationM.EMPID" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FGsGatepassInformationM.EMP.FIRST_NAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FGsGatepassInformationM.SENDTO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FGsGatepassInformationM.SENDTO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FGsGatepassInformationM.ADDRESS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FGsGatepassInformationM.ADDRESS)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FGsGatepassInformationM.GPTID" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FGsGatepassInformationM.GPT.NAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FGsGatepassInformationM.REQ_BY" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FGsGatepassInformationM.EMP_REQBYNavigation.FIRST_NAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FGsGatepassInformationM.VID" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FGsGatepassInformationM.V.VNUMBER)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FGsGatepassInformationM.IS_RETURNABLE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @if (Model.FGsGatepassInformationM.IS_RETURNABLE == true)
                                {
                                    <i class="text-success fa fa-check"></i>
                                }
                                else
                                {
                                    <i class="text-danger fa fa-times"></i>
                                }
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FGsGatepassInformationM.REMARKS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FGsGatepassInformationM.REMARKS)
                            </span>
                        </div>
                    </div>
                    <div class="col-12 table-responsive">
                        @await Html.PartialAsync($"~/Views/FGsGatePass/DetailsFGsGatePassTable.cshtml", Model)
                    </div>
                </div>

                <div class="col-md-12">
                    @Html.ActionLink("Edit", $"EditFGsGatePass", new { gpId = Model.FGsGatepassInformationM.EncryptedId }, new { @class = "btn btn-warning pull-right mt-2" })
                    <a class="btn btn-dark pull-right mt-2" asp-action="GetFGsGatePass" asp-controller="FGsGatePass">Back to List</a>
                </div>
            </div>
        </div>
    }
}