@model F_GS_GATEPASS_INFORMATION_M

@{
    ViewData["Title"] = "General Store Gate Pass Issue Information";
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> @ViewData["Title"] List
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="mr-2">
                <p>
                    <a asp-action="CreateFGsGatePass" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a>
                </p>
            </li>
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive table-hover">
        <table class="table table-striped" id="table">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GPNO)</th>
                <th>@Html.DisplayNameFor(model => model.GPDATE)</th>
                <th>@Html.DisplayNameFor(model => model.GPTID)</th>
                <th>@Html.DisplayNameFor(model => model.DEPTID)</th>
                <th>@Html.DisplayNameFor(model => model.SECID)</th>
                <th>@Html.DisplayNameFor(model => model.EMPID)</th>
                <th>@Html.DisplayNameFor(model => model.SENDTO)</th>
                <th>@Html.DisplayNameFor(model => model.ADDRESS)</th>
                <th>@Html.DisplayNameFor(model => model.REQ_BY)</th>
                <th>@Html.DisplayNameFor(model => model.VID)</th>
                <th>@Html.DisplayNameFor(model => model.IS_RETURNABLE)</th>
                <th>@Html.DisplayNameFor(model => model.REMARKS) </th>
                <th>@Html.DisplayName("Action")</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/FGsGatePass/GetFGsGatePass.js"></script>
}