@model FGsProductInformationViewModel

@{
    ViewData["Title"] = "General Store Product Information";
    Layout = Layout;
}

<h2><i class="fa fa-edit text-warning" aria-hidden="true"></i> Edit @ViewData["Title"]</h2>
<hr />

<div class="container-fluid">
    <form id="form" role="form" asp-action="EditFGsProductInformation">
        <div class="panel panel-default setup-content" id="step-1">
            @Html.HiddenFor(d => d.FGsProductInformation.EncryptedId)
            <div class="panel-body row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsProductInformation.PRODNAME" class="control-label"></label>
                        <input asp-for="FGsProductInformation.PRODNAME" class="form-control" />
                        <span asp-validation-for="FGsProductInformation.PRODNAME" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsProductInformation.CATID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FGsProductInformation.CATID, new SelectList(Model.FGsItemcategoriesList, "CATID", "CATNAME"), "Select Category", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FGsProductInformation.CATID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsProductInformation.SCATID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FGsProductInformation.SCATID, new SelectList(Model.FGsItemsubCategoriesList, "SCATID", "SCATNAME"), "Select Sub-Category", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FGsProductInformation.SCATID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsProductInformation.UNIT" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FGsProductInformation.UNIT, new SelectList(Model.FBasUnitsList, "UID", "UNAME"), "Select Unit", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FGsProductInformation.UNIT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsProductInformation.PARTNO" class="control-label"></label>
                        <input asp-for="FGsProductInformation.PARTNO" class="form-control" />
                        <span asp-validation-for="FGsProductInformation.PARTNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsProductInformation.DESCRIPTION" class="control-label"></label>
                        <input asp-for="FGsProductInformation.DESCRIPTION" class="form-control" />
                        <span asp-validation-for="FGsProductInformation.DESCRIPTION" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsProductInformation.PROD_LOC" class="control-label"></label>
                        <input asp-for="FGsProductInformation.PROD_LOC" class="form-control" />
                        <span asp-validation-for="FGsProductInformation.PROD_LOC" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsProductInformation.REMARKS" class="control-label"></label>
                        <input asp-for="FGsProductInformation.REMARKS" class="form-control" />
                        <span asp-validation-for="FGsProductInformation.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit">Update</button>
                    <a asp-action="GetFGsProductInformation" class="btn btn-dark pull-right">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script asp-append-version="true" src="~/js/FGsProductInformation/CreateFGsProductInformation.js"></script>
}