@model FLcbProductionRopeViewModel

@{
    ViewData["Title"] = "LCB Process (Rope)";
}

<div class="container-fluid">
    <h2><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>
    <form id="form" role="form" asp-action="CreateLcbProductionRope">
        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeMaster.TRANSDATE" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeMaster.TRANSDATE" class="form-control" />
                        <span asp-validation-for="FLcbProductionRopeMaster.TRANSDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeMaster.SUBGROUPID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FLcbProductionRopeMaster.SUBGROUPID, new SelectList(Model.PlProductionPlanDetailsList, "SUBGROUPID", "OPT1"), "Select Program/Set No.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FLcbProductionRopeMaster.SUBGROUPID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeMaster.PER_SET_LENGTH" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeMaster.PER_SET_LENGTH" class="form-control" readonly="readonly" />
                        <span asp-validation-for="FLcbProductionRopeMaster.PER_SET_LENGTH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeMaster.LCB_LENGTH" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeMaster.LCB_LENGTH" class="form-control" />
                        <span asp-validation-for="FLcbProductionRopeMaster.LCB_LENGTH" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Style Name</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="style">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Buyer</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="buyer">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Color</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="color">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Loom Type</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="loomType">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Order No</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="orderNo">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Ratio</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="ratio">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Ball Qty</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="ballQty">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Total Ends</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="totalEnds">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">PO No</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="poNo">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeMaster.REMARKS" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeMaster.REMARKS" class="form-control" />
                        <span asp-validation-for="FLcbProductionRopeMaster.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success">Can Information</h2>
                    <hr />
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeDetails.TRANSDATE" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeDetails.TRANSDATE" class="form-control" />
                        <span asp-validation-for="FLcbProductionRopeDetails.TRANSDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeDetails.CANID" class="control-label"></label>
                        <select class="form-control js-example-basic-single" asp-for="FLcbProductionRopeDetails.CANID">
                            <option value="">Select Can No.</option>
                        </select>
                        <span asp-validation-for="FLcbProductionRopeDetails.CANID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeDetails.ENDS" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeDetails.ENDS" class="form-control" />
                        <span asp-validation-for="FLcbProductionRopeDetails.ENDS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeDetails.SHIFT" class="control-label"></label>
                        <select asp-for="FLcbProductionRopeDetails.SHIFT" class="form-control js-example-basic-single">
                            <option value="">Select Process No</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                        <span asp-validation-for="FLcbProductionRopeDetails.SHIFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeDetails.TIME" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeDetails.TIME" class="form-control" />
                        <span asp-validation-for="FLcbProductionRopeDetails.TIME" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeDetails.EMPLOYEEID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FLcbProductionRopeDetails.EMPLOYEEID, new SelectList(Model.FHrEmployees, "EMPID", "FIRST_NAME"), "Select Employee", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FLcbProductionRopeDetails.EMPLOYEEID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeProcessInfo.MACHINEID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FLcbProductionRopeProcessInfo.MACHINEID, new SelectList(Model.FLcbMachines, "ID", "MACHINE_NO"), "Select Machine No.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FLcbProductionRopeProcessInfo.MACHINEID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeProcessInfo.BEAMID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FLcbProductionRopeProcessInfo.BEAMID, new SelectList(Model.FLcbBeams, "ID", "BEAM_NO"), "Select Beam No.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FLcbProductionRopeProcessInfo.BEAMID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeProcessInfo.LENGTH" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeProcessInfo.LENGTH" class="form-control" />
                        <span asp-validation-for="FLcbProductionRopeProcessInfo.LENGTH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeProcessInfo.TENS" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeProcessInfo.TENS" class="form-control" />
                        <span asp-validation-for="FLcbProductionRopeProcessInfo.TENS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeProcessInfo.BREAK" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeProcessInfo.BREAK" class="form-control" />
                        <span asp-validation-for="FLcbProductionRopeProcessInfo.BREAK" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeProcessInfo.KNOT" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeProcessInfo.KNOT" class="form-control" />
                        <span asp-validation-for="FLcbProductionRopeProcessInfo.KNOT" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Length/Rope</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="lengthRope">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Ends/Rope</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="endsRope">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Yarn Count</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="yarnCount">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Lot</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="lot">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Supplier</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="supplier">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Dyeing Remarks</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="dyeingRemarks">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FLcbProductionRopeDetails.REMARKS" class="control-label"></label>
                        <input asp-for="FLcbProductionRopeDetails.REMARKS" class="form-control" />
                        <span asp-validation-for="FLcbProductionRopeDetails.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success pull-right" type="submit" id="btn_submit">Create</button>
                    <button id="btnAddCan" class="btn btn-success pull-right mr-2" type="button">Add</button>
                    <button class="btn btn-info prevBtn pull-right" type="button">Prev</button>
                    <a asp-action="GetLcbProductionRope" class="btn btn-dark pull-right mr-2">Back to List</a>
                </div>
                <div id="CanDetails" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">@await Html.PartialAsync("~/Views/FLcbProductionRope/AddCanToList.cshtml", Model)</div>
            </div>
        </div>

    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/site-common.js"></script>
    <script type="text/javascript" asp-append-version="true">
        $(function () {

            var can = $("#FLcbProductionRopeDetails_CANID");
            var ends = $("#FLcbProductionRopeDetails_ENDS");
            var time = $("#FLcbProductionRopeDetails_TIME");
            var remarks = $("#FLcbProductionRopeDetails_REMARKS");
            var machine = $("#FLcbProductionRopeProcessInfo_MACHINEID");
            var beam = $("#FLcbProductionRopeProcessInfo_BEAMID");
            var length = $("#FLcbProductionRopeProcessInfo_LENGTH");
            var tens = $("#FLcbProductionRopeProcessInfo_TENS");
            var breakage = $("#FLcbProductionRopeProcessInfo_BREAK");
            var knot = $("#FLcbProductionRopeProcessInfo_KNOT");

            var targets = [];

            targets.push(ends, time, remarks, tens, breakage, knot, length);

            $("#btnAddCan").on('click', function () {
                $.ajax({
                    async: true,
                    cache: false,
                    data: $('#form').serialize(),
                    type: "POST",
                    url: "/FLcbProductionRope/AddCanToList",
                    success: function (partialView, status, xhr) {
                        $('#CanDetails').html(partialView);

                        //var can = $("#FLcbProductionRopeDetails_CANID").val("").trigger("change");
                        var machine = $("#FLcbProductionRopeProcessInfo_MACHINEID").val("").trigger("change");
                        var beam = $("#FLcbProductionRopeProcessInfo_BEAMID").val("").trigger("change");
                        resetFields(targets);
                        ends.val($("#endsRope").text());

                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });

            $("#FLcbProductionRopeMaster_SUBGROUPID").on('change', function () {

                var selectedVal = $(this).val();

                if (selectedVal === "") {
                    $("#FLcbProductionRopeMaster_PER_SET_LENGTH").val("");
                    $("#style").text("");
                    $("#buyer").text("");
                    $("#color").text("");
                    $("#loomType").text("");
                    $("#orderNo").text("");
                    $("#ratio").text("");
                    $("#ballQty").text("");
                    $("#totalEnds").text("");
                    $("#poNo").text("");
                    $("#endsRope").text("");
                    resetFields(targets);
                    return false;
                }

                $.ajax({
                    data: { "subGroupId": selectedVal },
                    type: "GET",
                    url: "/ProductionRope/LCB/GetSubGroupDetails",
                    success: function (data, status, xhr) {
      
                        $("#style").text(data.stylename);
                        $("#buyer").text(data.buyer);
                        $("#color").text(data.color);
                        $("#loomType").text(data.loomtype);
                        $("#orderNo").text(data.orderno);
                        $("#ratio").text(data.ratio);
                        $("#ballQty").text(data.ballQty);
                        $("#totalEnds").text(data.totalends);
                        $("#poNo").text(data.pino);

                        //var endsRope = data.plProductionSetDistribution.proG_.blK_PROG_.rndProductionOrder.totaL_ENOS / data.plProductionSetDistribution.subgroup.ratio;

                        console.log(data.endsrope);

                        $("#endsRope").text(data.endsrope);
                        $("#FLcbProductionRopeDetails_ENDS").val(data.endsrope);

                        var dyeingLength = data.dyeinglength;
                        var groupLength = data.grouplength;
                        var setLength = data.setlength;

                        var setRatioLength = (dyeingLength * setLength) / groupLength;

                        $("#FLcbProductionRopeMaster_PER_SET_LENGTH").val(setRatioLength.toFixed(0));


                        $("#FLcbProductionRopeDetails_CANID").html('');
                        $("#FLcbProductionRopeDetails_CANID").append('<option value="" selected>Select Can No</option>');
                        $.each(data.canlist, function (id, option) {
                            $("#FLcbProductionRopeDetails_CANID").append($('<option></option>').val(option.ropeid).html(option.canno));
                        });
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });

                //$.ajax({
                //    async: true,
                //    cache: false,
                //    data: { "setId": selectedVal },
                //    type: "GET",
                //    url: "/FDyeingProcessRopeMaster/GetProgramNoDetails",
                //    success: function (data, status, xhr) {
                //        //console.log(data);
                //        $("#FLcbProductionRopeDetails_CANID").html('');
                //        $("#FLcbProductionRopeDetails_CANID").append('<option value="" selected>Select Can No</option>');
                //        $.each(data.f_DYEING_PROCESS_ROPE_DETAILS,
                //            function (id, option) {
                //                $("#totalCans").text(option.balL_NO);
                //                $("#FLcbProductionRopeDetails_CANID").append($('<option></option>').val(option.ropeid).html(option.caN_NONavigation.tubE_NO));
                //            });
                //    },
                //    error: function (e) {
                //        console.log(e);
                //    }
                //});
            });

            $("#FLcbProductionRopeDetails_CANID").on('change',
                function () {
                    var selectedVal = $(this).val();
                    $.ajax({
                        data: { "canId": selectedVal },
                        type: "GET",
                        url: "/FLcbProductionRope/GetCanDetails",
                        success: function (data, status, xhr) {

                            $("#lengthRope").text(data.dyeinG_LENGTH);
                            //$("#FLcbProductionRopeProcessInfo_LENGTH").val(data.dyeinG_LENGTH);
                            $("#yarnCount").text(data.ball.counT_.countname);
                            $("#dyeingRemarks").text(data.remarks);

                            $.each(data.subgroup.pL_PRODUCTION_SETDISTRIBUTION[0].proG_.pL_BULK_PROG_YARN_D,
                                function (id, option) {
                                    if (data.ball.counT_.countid === option.countid) {
                                        $("#lot").text(option.lot.lotno);
                                        $("#supplier").text(option.brand);
                                    }
                                });
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });
        });
    </script>
}