@model BasProductInfoViewModel

@{
    ViewData["Title"] = "CreateBasProductInfo";
    Layout = Layout;
}

<h2>Insert product info</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBasProductInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group">
                <label asp-for="BAS_PRODUCTINFO.PRODNAME" class="control-label"></label>
                <input asp-for="BAS_PRODUCTINFO.PRODNAME" class="form-control" />
                <span asp-validation-for="BAS_PRODUCTINFO.PRODNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BAS_PRODUCTINFO.DESCRIPTION" class="control-label"></label>
                <input asp-for="BAS_PRODUCTINFO.DESCRIPTION" class="form-control" />
                <span asp-validation-for="BAS_PRODUCTINFO.DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="BAS_PRODUCTINFO.CATID"></label>
                @Html.DropDownListFor(pc => pc.BAS_PRODUCTINFO.CATID, new SelectList(Model.BAS_PRODCATEGORies, "CATID", "CATEGORY"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(pc => pc.BAS_PRODUCTINFO.CATID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="BAS_PRODUCTINFO.UNIT" class="control-label"></label>
                <input asp-for="BAS_PRODUCTINFO.UNIT" class="form-control" />
                <span asp-validation-for="BAS_PRODUCTINFO.UNIT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BAS_PRODUCTINFO.REMARKS" class="control-label"></label>
                <input asp-for="BAS_PRODUCTINFO.REMARKS" class="form-control" />
                <span asp-validation-for="BAS_PRODUCTINFO.REMARKS" class="text-danger"></span>
            </div>

            @*<div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="BAS_PRODUCTINFO.PRODNAME">
                        @Html.DisplayNameFor(pi => pi.BAS_PRODUCTINFO.PRODNAME) <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input asp-for="BAS_PRODUCTINFO.PRODNAME" class="form-control ">
                        <span asp-validation-for="BAS_PRODUCTINFO.PRODNAME" class="text-danger"></span>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="BAS_PRODUCTINFO.DESCRIPTION">
                        @Html.DisplayNameFor(pi => pi.BAS_PRODUCTINFO.DESCRIPTION) <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input asp-for="BAS_PRODUCTINFO.DESCRIPTION" class="form-control ">
                        <span asp-validation-for="BAS_PRODUCTINFO.DESCRIPTION" class="text-danger"></span>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="BAS_PRODCATEGORies.FirstOrDefault().CATEGORY">
                        @Html.DisplayNameFor(pc => pc.BAS_PRODCATEGORies.FirstOrDefault().CATEGORY) <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        @Html.DropDownListFor(pc => pc.BAS_PRODUCTINFO.CATID, new SelectList(Model.BAS_PRODCATEGORies, "CATID", "CATEGORY"), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(pc => pc.BAS_PRODUCTINFO.CATID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="BAS_PRODUCTINFO.UNIT">
                        @Html.DisplayNameFor(pi => pi.BAS_PRODUCTINFO.UNIT) <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input asp-for="BAS_PRODUCTINFO.UNIT" class="form-control ">
                        <span asp-validation-for="BAS_PRODUCTINFO.UNIT" class="text-danger"></span>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="BAS_PRODUCTINFO.REMARKS">
                        @Html.DisplayNameFor(pi => pi.BAS_PRODUCTINFO.REMARKS) <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input asp-for="BAS_PRODUCTINFO.REMARKS" class="form-control ">
                        <span asp-validation-for="BAS_PRODUCTINFO.REMARKS" class="text-danger"></span>
                    </div>
                </div>*@

            <div class="item form-group">
                <a class="btn btn-dark" asp-action="GetBasProducts" accesskey="b">Back to List</a>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {

            $('#form').submit(function () {
                $(this).find(':submit').attr('disabled', 'disabled');
            });
        })
    </script>
}
