@model BAS_PRODCATEGORY

@{
    ViewData["Title"] = "Product category details";
    Layout = Layout;
}

<div class="well profile_view">
    <div class="col-sm-12">
        <h4 class="brief">Product category info</h4>
        <hr />
        <div class="left col-sm-7">
            <p><i class="fa fa-sort-numeric-asc"></i> @Html.DisplayNameFor(model => model.CATEGORY): @Html.DisplayFor(model => model.CATEGORY)</p>
            <p><i class="fa fa-adjust"></i> @Html.DisplayNameFor(model => model.REMARKS): @Html.DisplayFor(model => model.REMARKS)</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-building"></i> @Html.DisplayNameFor(model => model.REMARKS): @Html.DisplayFor(model => model.REMARKS)</li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <div class=" col-sm-6 emphasis">
            <a asp-action="EditProductInfo" asp-route-productId="@Model.EncryptedId" class="btn btn-primary"><i class="fa fa-user"> </i> Edit</a>
            <a asp-action="GetBasProductCategories" class="btn btn-dark" accesskey="b">Back to List</a>
        </div>
    </div>
</div>