@model BAS_COLOR

@{
    ViewData["Title"] = "Find";
    Layout = Layout;
}

<h2>Find</h2>

<div>
    <h4>BAS_COLOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COLORCODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.COLORCODE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EncryptedId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EncryptedId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.COLOR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.COLOR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.REMARKS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REMARKS)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index" accesskey="b">Back to List</a>
</div>
