@model BAS_PRODUCTINFO

@{
    ViewData["Title"] = "Product information";
    Layout = Layout;
}

<div class="well profile_view">
    <div class="col-sm-12">
        <h4 class="brief">Product information</h4>
        <hr />
        <div class="left col-sm-7">
            <p><i class="fa fa-sort-numeric-asc"></i> @Html.DisplayNameFor(model => model.PRODID): @Html.DisplayFor(model => model.PRODID)</p>
            <p><i class="fa fa-adjust"></i> @Html.DisplayNameFor(model => model.PRODNAME): @Html.DisplayFor(model => model.PRODNAME)</p>
            <p><i class="fa fa-adjust"></i> @Html.DisplayNameFor(model => model.DESCRIPTION): @Html.DisplayFor(model => model.DESCRIPTION)</p>
            <p><i class="fa fa-adjust"></i> @Html.DisplayNameFor(model => model.CATID): @Html.DisplayFor(model => model.CATID)</p>
            <p><i class="fa fa-adjust"></i> @Html.DisplayNameFor(model => model.UNIT): @Html.DisplayFor(model => model.UNIT)</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-building"></i> @Html.DisplayNameFor(model => model.REMARKS): @Html.DisplayFor(model => model.REMARKS)</li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <div class=" col-sm-6 emphasis">
            <a asp-action="EditProductInfo" asp-route-productId="@Model.EncryptedId" class="btn btn-primary"><i class="fa fa-user"> </i> Edit</a>
            <a asp-action="GetBasProducts" class="btn btn-dark" accesskey="b">Back to List</a>
        </div>
    </div>
</div>
