@model PagedResult<DenimERP.Models.BAS_PRODCATEGORY>

@{
    ViewData["Title"] = "Product Categories";
    Layout = Layout;
}

@{
    if (Model.Data.Any())
    {
        <div class="x_panel">
            <div class="x_title">
                <h2>Basic Product Category<small>@Html.DisplayName($"(List, Total Found: { Model.TotalItems })")</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="mr-4">
                        <p>
                            <a asp-action="CreateBasProductCategory" class="btn btn-primary" accesskey="a"><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Add Category</a>
                        </p>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().CATEGORY)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().REMARKS)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CATEGORY)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.REMARKS)
                                </td>
                                <td>
                                    @Html.ActionLink("", "EditBasProductCategory", new { productCategoryId = item.EncryptedId }, new { @class = "fa fa-edit fa-2x-custom text-warning mr-2" })
                                    @Html.ActionLink("", "DeleteBasProductCategory", new { productCategoryId = item.EncryptedId }, new { onclick = "deleteSwal(event,'" + @item.EncryptedId + "');", @class = "fa fa-trash fa-2x-custom text-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <partial name="_PaginationPartial" model="Model" view-data="ViewData" />
    }
    else
    {
        <text>Currently we do not have any data. To create <p><a asp-action="CreateBasProductCategory"><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> click here</a></p></text>
    }
}


@section Scripts
{
    <script>
        function deleteSwal(e,item) {
            e.preventDefault();
            swal({
                title: 'Please Confirm',
                text: 'Are you sure to delete?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, sir',
                cancelButtonText: 'Not at all'
            },
            function (isConfirm) {
                if (isConfirm) {
                    window.location = '@Url.Action("DeleteBasProductCategory", "Basic")?productCategoryId=' + item;
                }
            });
        }
    </script>
}
