@model PagedResult<DenimERP.Models.BAS_PRODUCTINFO>

@{
    ViewData["Title"] = "List of basic products";
    Layout = Layout;
}

<div class="x_panel">
    <div class="x_title">
        <h2>Basic Product<small>@Html.DisplayName($"(List, Total Found: { Model.TotalItems })")</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="mr-4">
                <p>
                    <a asp-action="CreateBasProductInfo" class="btn btn-primary" accesskey="a">Add Product</a>
                </p>
            </li>
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.SingleOrDefault().PRODNAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.SingleOrDefault().DESCRIPTION)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.SingleOrDefault().CAT.CATEGORY)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.SingleOrDefault().UNIT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.SingleOrDefault().REMARKS)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PRODNAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DESCRIPTION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CAT.CATEGORY)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UNIT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.REMARKS)
                        </td>
                        <td>
                            @Html.ActionLink("", "EditProductInfo", new { productId = item.EncryptedId }, new { @class = "fa fa-edit fa-2x-custom text-warning mr-2" })
                            @*@Html.ActionLink("Details", "FindProductInfo", new { productId = item.EncryptedId }) |*@
                            @Html.ActionLink("", "DeleteProductInfo", new { productId = item.EncryptedId }, new { @class = "fa fa-trash fa-2x-custom text-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_PaginationPartial" model="Model" view-data="ViewData" />
    </div>
</div>
