@using System.Linq
@model CreateRndSampleInfoFinishViewModel

@if (Model.RndSampleinfoFinishing!=null)
{
    <div class="col-12 border-info rounded d-inline-block border border-danger mb-4">
        <h2 class="fa fa-history panel-title text-white bg-info p-2 rounded"> Grey Test History</h2>

            <div class="col-12">
                <div class="tile_count">
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.PROG.RND_SAMPLE_INFO_WEAVING.FirstOrDefault().FABCODE)</h6>
                            <p class="text-info" id="style_name">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.PROG.RND_SAMPLE_INFO_WEAVING.FirstOrDefault().FABCODE)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.LTGDATE)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.LTGDATE)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.PROG.SDID)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.PROG.SDID)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.LENGTHTEST)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.LENGTHTEST)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.WASHEDBY)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.EMP_WASHEDBY.FIRST_NAME)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.UNWASHEDBY)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.EMP_UNWASHEDBY.FIRST_NAME)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.SHIFT)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.SHIFT)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.BATCHNO)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.BATCHNO)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.DOFF_ROLL_NO)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.DOFF_ROLL_NO)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.DEVELOPMENTNO)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.DEVELOPMENTNO)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.ORDER_REPEAT)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.ORDER_REPEAT)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.GREPI)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.GREPI)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.GRPPI)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.GRPPI)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.BWEPI)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.BWEPI)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.BWPPI)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.BWPPI)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.AWEPI)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.AWEPI)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.AWPPI)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.AWPPI)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.WGGRBW)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.WGGRBW)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.WGGRAW)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.WGGRAW)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.WIGRBW)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.WIGRBW)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.WIGRAW)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.WIGRAW)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.SRGRWRAP)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.SRGRWRAP)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.SRGRWEFT)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.SRGRWEFT)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.SKEWWASH)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.SKEWWASH)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.SKEWMOVE)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.SKEWMOVE)</p>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <h6 class="my-0">@Html.DisplayNameFor(e => Model.RndFabtestGrey.REMARKS)</h6>
                        <p class="text-info">@Html.DisplayFor(modelItem => Model.RndFabtestGrey.REMARKS)</p>
                    </div>
                </div>
            </div>
    </div>
}