
@model ResetUserPasswordViewModel

@{
    ViewData["Title"] = "Reset Client Password Confirmation";
}

<h2><i class="fa fa-check" aria-hidden="true"></i> @ViewData["Title"]</h2>

<div class="card text-left">
    <div class="card-header text-success font-weight-bold"><i class="fa fa-check" aria-hidden="true"></i> @ViewData["Title"]</div>
    <div class="card-body">
        <h5 class="card-title">Please save this information for further use.</h5>

        <div class="table-responsive table-hover">
            <table class="table">
                <caption class="text-success"><i class="fa fa-asterisk" aria-hidden="true"></i> Password has been changed successfully</caption>
                <tbody>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(modelItem => Model.UserName)</th>
                        <td>:</td>
                        <td class="text-gradient">@Html.DisplayFor(modelItem => Model.UserName)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(modelItem => Model.Email)</th>
                        <td>:</td>
                        <td>@Html.DisplayFor(modelItem => Model.Email)</td>
                    </tr>
                    <tr>
                        <th scope="row">@Html.DisplayNameFor(modelItem => Model.Password)</th>
                        <td>:</td>
                        <td>@Html.DisplayFor(modelItem => Model.Password)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col-12 p-0">
            <a asp-action="ResetClientPassword" class="btn btn-dark pull-right"><i class="fa fa-edit" aria-hidden="true"></i> Reset client password</a>
            <a asp-controller="Home" asp-action="Dashboard" class="btn btn-primary pull-left"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a>
        </div> 
        
        
    </div>
    <div class="card-footer text-muted">
        Password changed <i class="fa fa-clock-o" aria-hidden="true"> @DateTime.Now</i>
    </div>
</div>