
@model RND_PURCHASE_REQUISITION_MASTER

@{
    ViewData["Title"] = "Yarn Purchase Requisition List";
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> @ViewData["Title"]
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="mr-2">
                <p>
                    <a asp-action="CreatePurchaseRequisition" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a>
                </p>
            </li>
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive">
        <table class="table table-hover " id="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@Html.DisplayName("Indent Number")</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.INDENT_SL_NO) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.INDSLDATE) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.INDSLNO)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.RESEMPID)</th>
                    <th scope="col">Ref. Person</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.YARN_FOR) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ORDER_NO) / SDRF No.(Sample) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.STATUS) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.REMARKS) </th>
                    <th scope="col">@Html.DisplayName("Actions")</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/RndPurchaseRequisitionMaster/GetRndPurchaseRequisitionMaster.js"></script>
}
