
@model RndYarnRequisitionViewModel

@if (Model.FysIndentDetailList.Any())
{
    <div class="col-12 p-0 table-responsive">
        <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> Indent Details</h2>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>@Html.DisplayNameFor(model => model.FysIndentDetails.TRNSDATE)</th>
                    <th>@Html.DisplayNameFor(model => model.FysIndentDetails.ETR)</th>
                    <th>@Html.DisplayNameFor(model => model.FysIndentDetails.BASCOUNTINFO.COUNTNAME)</th>
                    @*<th>@Html.DisplayNameFor(model => model.FysIndentDetails.SEC.SECNAME)</th>*@
                    <th>@Html.DisplayNameFor(model => model.FysIndentDetails.YARN_FORNavigation.YARNNAME)</th>
                    <th>@Html.DisplayNameFor(model => model.FysIndentDetails.YARN_FROMNavigation.TYPENAME)</th>
                    <th>@Html.DisplayNameFor(model => model.FysIndentDetails.UNIT)</th>
                    <th>@Html.DisplayNameFor(model => model.FysIndentDetails.ORDER_QTY)</th>
                    <th>@Html.DisplayNameFor(model => model.FysIndentDetails.LAST_INDENT_NO)</th>
                    <th>@Html.DisplayNameFor(model => model.FysIndentDetails.LAST_INDENT_DATE)</th>
                    <th>@Html.DisplayNameFor(model => model.FysIndentDetails.REMARKS)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    for (var i = 0; i < Model.FysIndentDetailList.Count; i++)
                    {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.FysIndentDetailList[i].TRNSDATE)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.FysIndentDetailList[i].ETR)</td>
                                    <td>@Model.FysIndentDetailList[i].BASCOUNTINFO?.COUNTNAME</td>
                                    @*<td>@Model.FysIndentDetailList[i].SEC?.SECNAME</td>*@
                                    <td>@Model.FysIndentDetailList[i].YARN_FORNavigation?.YARNNAME</td>
                                    <td>@Model.FysIndentDetailList[i].YARN_FROMNavigation?.TYPENAME</td>
                                    <td>@Model.FysIndentDetailList[i].FBasUnits?.UNAME</td>
                                    <td>@Model.FysIndentDetailList[i].ORDER_QTY</td>
                                    <td>@Model.FysIndentDetailList[i].LAST_INDENT_NO</td>
                                    <td>@Model.FysIndentDetailList[i].LAST_INDENT_DATE</td>
                                    <td>@Model.FysIndentDetailList[i].REMARKS</td>
                                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}