@model FYsYarnIssueSViewModel

@if (Model.YarnIssueDetailsSList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.YarnIssueDetailsS.MAIN_COUNTID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YarnIssueDetailsS.COUNT.COUNTNAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YarnIssueDetailsS.LOTID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YarnIssueDetailsS.UNITNavigation.UNAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YarnIssueDetailsS.TRANS.REQ_QTY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YarnIssueDetailsS.ISSUE_QTY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YarnIssueDetailsS.REMARKS)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.YarnIssueDetailsSList.Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].MAIN_COUNTID)
                        @Model.YarnIssueDetailsSList[i].RefBasYarnCountinfo?.COUNTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].YISSUEID)
                        @Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].REQ_DET_ID)
                        @Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].TRNSDATE)
                        @Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].TRANSID)
                        @*@Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].TRANS.ORDERNO)
                            @Model.YarnIssueDetailsSList[i].TRANS?.PO?.SO?.SO_NO*@
                        @Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].COUNTID)
                        @Model.YarnIssueDetailsSList[i].COUNT?.COUNTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].LOTID)
                        @Model.YarnIssueDetailsSList[i].LOT?.LOTNO
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].UNIT)
                        @Model.YarnIssueDetailsSList[i].UNITNavigation?.UNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].TRANS.REQ_QTY)
                        @Model.YarnIssueDetailsSList[i].TRANS?.REQ_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].ISSUE_QTY)
                        @Model.YarnIssueDetailsSList[i].ISSUE_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.YarnIssueDetailsSList[i].REMARKS)
                        @Model.YarnIssueDetailsSList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="removeIndent(@i)" aria-hidden="false"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}