@model PrWarpingProcessRopeViewModel

@if (Model.FPrWarpingProcessRopeYarnConsumDetailsList.Any())
{
    <table class="table table-hover" style="border-collapse: collapse;" id="partialView">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(model => model.FPrWarpingProcessRopeYarnConsumDetailsList.FirstOrDefault().COUNT_ID)</th>
                <th>@Html.DisplayNameFor(model => model.FPrWarpingProcessRopeYarnConsumDetailsList.FirstOrDefault().BGT_KG_TOTAL)</th>
                <th>@Html.DisplayNameFor(model => model.FPrWarpingProcessRopeYarnConsumDetailsList.FirstOrDefault().CONSUM_TOTAL)</th>
                <th>@Html.DisplayNameFor(model => model.FPrWarpingProcessRopeYarnConsumDetailsList.FirstOrDefault().WASTE_TOTAL)</th>
                <th>@Html.DisplayNameFor(model => model.FPrWarpingProcessRopeYarnConsumDetailsList.FirstOrDefault().WASTE_PERCENTAGE_TOTAL)</th>
                <th>@Html.DisplayNameFor(model => model.FPrWarpingProcessRopeYarnConsumDetailsList.FirstOrDefault().REMARKS)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FPrWarpingProcessRopeYarnConsumDetailsList.Count; i++)
            {
                <tr>
                    <td>@Html.Raw(Model.FPrWarpingProcessRopeYarnConsumDetailsList[i].CONSM_ID > 0 ? $"<i class=\"fa fa-database text-danger\" aria-hidden=\"true\"></i> {i + 1}" : $"<i class=\"fa fa-plus-circle text-success\" aria-hidden=\"true\"></i> {i + 1}")</td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessRopeYarnConsumDetailsList[i].CONSM_ID)
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessRopeYarnConsumDetailsList[i].COUNT_ID)
                        @Model.FPrWarpingProcessRopeYarnConsumDetailsList[i].COUNT_?.COUNTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessRopeYarnConsumDetailsList[i].BGT_KG_TOTAL)
                        @Model.FPrWarpingProcessRopeYarnConsumDetailsList[i].BGT_KG_TOTAL
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessRopeYarnConsumDetailsList[i].CONSUM_TOTAL)
                        @Model.FPrWarpingProcessRopeYarnConsumDetailsList[i].CONSUM_TOTAL
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessRopeYarnConsumDetailsList[i].WASTE_TOTAL)
                        @Model.FPrWarpingProcessRopeYarnConsumDetailsList[i].WASTE_TOTAL
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessRopeYarnConsumDetailsList[i].WASTE_PERCENTAGE_TOTAL)
                        @Model.FPrWarpingProcessRopeYarnConsumDetailsList[i].WASTE_PERCENTAGE_TOTAL
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessRopeYarnConsumDetailsList[i].REMARKS)
                        @Model.FPrWarpingProcessRopeYarnConsumDetailsList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveCountFromList(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}


<script type="text/javascript" asp-append-version="true">
    function RemoveCountFromList(removeIndexValue) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/FPrWarpingProcessRopeMaster/RemoveCountFromList',
            success: function (partialView) {
                $('#CountDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>