@using DenimERP.ViewModels.Tips
@model CreateHSampleDespatchMViewModel

@{
    ViewData["Title"] = "Create Head Office Sample Dispatch";
    Layout = Layout;
}

<h2>
    <i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Sample Garments <i class="fa fa-at text-info">Head Office Dispatch </i>
    <i class="fa fa-user-secret" aria-hidden="true" data-toggle="modal" data-target="#rules" title="User Secret"></i>
</h2>

@await Html.PartialAsync($"~/Views/Tips/UserSecrets.cshtml", new UserSecrets(new[] { true, true, true, true, true }))

<div class="container-fluid">

    <form id="form" role="form" asp-action="CreateHSampleDespatchM" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-body row">
                @Html.HiddenFor(e => e.HSampleDespatchM.SDID)
                @Html.HiddenFor(e => e.HSampleDespatchM.EncryptedId)
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.SDDATE" class="control-label required"></label>
                        <input asp-for="HSampleDespatchM.SDDATE" class="form-control" />
                        <span asp-validation-for="HSampleDespatchM.SDDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.GPNO" class="control-label required"></label>
                        <input asp-for="HSampleDespatchM.GPNO" class="form-control" readonly />
                        <span asp-validation-for="HSampleDespatchM.GPNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.GPDATE" class="control-label required"></label>
                        <input asp-for="HSampleDespatchM.GPDATE" class="form-control" />
                        <span asp-validation-for="HSampleDespatchM.GPDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.HSP.BUYER_NAME" class="control-label required"></label>
                        @Html.DropDownListFor(lc => lc.HSampleDespatchM.HSPID, new SelectList(Model.BasBuyerinfos, "BUYERID", "BUYER_NAME"), "Select A Party Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(lc => lc.HSampleDespatchM.HSPID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.BRAND.BRANDNAME" class="control-label"></label>
                        @Html.DropDownListFor(lc => lc.HSampleDespatchM.BRANDID, new SelectList(Model.BasBrandinfos, "BRANDID", "BRANDNAME"), "Select A Brand Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(lc => lc.HSampleDespatchM.BRANDID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.PURPOSE" class="control-label"></label>
                        @Html.DropDownListFor(lc => lc.HSampleDespatchM.PURPOSE, new SelectList(Model.FBasUnitses, "UID", "UNAME"), "Select Purpose", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(lc => lc.HSampleDespatchM.PURPOSE, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.STATUS" class="control-label"></label>
                        <input asp-for="HSampleDespatchM.STATUS" class="form-control" />
                        <span asp-validation-for="HSampleDespatchM.STATUS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.RTNDATE" class="control-label"></label>
                        <input asp-for="HSampleDespatchM.RTNDATE" class="form-control" />
                        <span asp-validation-for="HSampleDespatchM.RTNDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.HST.TEAM_NAME" class="control-label required"></label>
                        @Html.DropDownListFor(lc => lc.HSampleDespatchM.HSTID, new SelectList(Model.BasTeaminfos, "TEAMID", "TEAM_NAME"), "Select A Team Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(lc => lc.HSampleDespatchM.HSTID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.THROUGH" class="control-label"></label>
                        <input asp-for="HSampleDespatchM.THROUGH" class="form-control" />
                        <span asp-validation-for="HSampleDespatchM.THROUGH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.COST_STATUS" class="control-label"></label>
                        <input asp-for="HSampleDespatchM.COST_STATUS" class="form-control" />
                        <span asp-validation-for="HSampleDespatchM.COST_STATUS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchM.REMARKS" class="control-label"></label>
                        <input asp-for="HSampleDespatchM.REMARKS" class="form-control" />
                        <span asp-validation-for="HSampleDespatchM.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-get-pocket"></i> Dispatch Details</h2>
                    <hr />
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchD.RCVDID" class="control-label required">Select Dispatch Item</label>
                        @Html.DropDownListFor(lc => lc.HSampleDespatchD.RCVDID, new SelectList(Model.ExtendHSampleReceivingDViewModels, "RCVDID", "CUST_NAME"), "Select an Item", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(lc => lc.HSampleDespatchD.RCVDID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchD.QTY" class="control-label required"></label>
                        <input asp-for="HSampleDespatchD.QTY" class="form-control" />
                        <span asp-validation-for="HSampleDespatchD.QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchD.CS_PRICE" class="control-label"></label>
                        <input asp-for="HSampleDespatchD.CS_PRICE" class="form-control" />
                        <span asp-validation-for="HSampleDespatchD.CS_PRICE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchD.NEGO_PRICE" class="control-label"></label>
                        <input asp-for="HSampleDespatchD.NEGO_PRICE" class="form-control" />
                        <span asp-validation-for="HSampleDespatchD.NEGO_PRICE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="HSampleDespatchD.REMARKS" class="control-label"></label>
                        <input asp-for="HSampleDespatchD.REMARKS" class="form-control" />
                        <span asp-validation-for="HSampleDespatchD.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit"><i class="fa fa-floppy-o"></i> Save Data</button>
                    <button id="btnAdd" class="btn btn-info pull-right" type="button"><i class="fa fa-plus-square-o"></i> Add</button>
                    <a asp-action="GetHSampleDespatchM" asp-controller="HSampleDespatchM" class="btn btn-dark pull-right"><i class="fa fa-list-ul"></i> Back to List</a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="HSampleDespatchM"></div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/site-common.js"></script>
    <script asp-append-version="true" src="~/js/SampleGarments/HDispatch/CreateHSampleDespatchM.js"></script>
}