@model CreateBasYarnCountInfoViewModel

@if (Model.BasYarnCountLotInfoList.Any())
{
    <table class="table table-hover" id="partialView">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BasYarnCountLotInfo.LOT.LOTNO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BasYarnCountLotInfo.REMARKS)
                </th>
                <th>
                    @Html.DisplayName("Actions")
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.BasYarnCountLotInfoList.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(clc => clc.BasYarnCountLotInfoList[i].ID)
                        @Html.HiddenFor(clc => clc.BasYarnCountLotInfoList[i].LOTID)
                        @Model.BasYarnCountLotInfoList[i].LOT?.LOTNO
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.BasYarnCountLotInfoList[i].REMARKS)
                        @Model.BasYarnCountLotInfoList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveLotFromList(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-secondary" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading">Empty Data List!</h4>

        <p>Please add lot information to see the data list here.</p>
        <hr>
        <p class="mb-0">Requested time : @DateTime.UtcNow</p>

    </div>
}

<script type="text/javascript" asp-append-version="true">


    function RemoveLotFromList(removeIndexValue) {
        swal({
            title: "Please Confirm",
            text: "You won't able to revert, Are you sure to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, sir",
            cancelButtonText: "Not at all"
        },
            function (isConfirm) {
                if (isConfirm) {
                    var data = $('#form').serializeArray();
                    data.push({ name: "removeIndexValue", value: removeIndexValue });
                    $.ajax({
                        async: true,
                        cache: false,
                        data: data,
                        type: "POST",
                        url: '/BasYarnCountinfo/RemoveLotFromList',
                        success: function (partialView, status, xhr) {
                            $('#lotDetails').html(partialView);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                }
            });
    }
</script>