@model BAS_YARN_COUNTINFO

@{
    ViewData["Title"] = "Details basic yarn count info";
    Layout = Layout;
}


<h2> Details basic yarn count info</h2>

<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COUNTNAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.COUNTNAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UNIT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UNIT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.COLOR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.COLOR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.REMARKS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REMARKS)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetBasYarnCountinfoList" class="btn btn-dark" accesskey="b">Back to List</a>
    @Html.ActionLink("Edit", "EditBasYarnCountinfo", new { basYarnCountinfoId = Model.EncryptedId }, new { @class = "btn btn-primary" })
</div>
