@model F_PR_INSPECTION_WASTAGE_TRANSFER

@{
    ViewData["Title"] = "Wastage Transfer(Inspection)";
    //Layout = Layout;
}

<div class="x_panel">
    <div class="x_title">
        <h6><i class="fa fa-xing fa-lg text-success" aria-hidden="true"></i>@ViewData["Title"] List</h6>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive table-hover" id="lcList">
        <table class="table" id="table">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TRANSID)</th>
                <th>@Html.DisplayNameFor(model => model.TRANSDATE)</th>
                <th>@Html.DisplayNameFor(model => model.CUT_PIECE_Y)</th>
                <th>@Html.DisplayNameFor(model => model.CUT_PIECE_R)</th>
                <th>@Html.DisplayNameFor(model => model.CUT_PIECE_KG)</th>
                <th>@Html.DisplayNameFor(model => model.JUTE_MONI)</th>
                <th>@Html.DisplayNameFor(model => model.PAPER_TUBE)</th>
                <th>@Html.DisplayNameFor(model => model.POLY)</th>
                <th>@Html.DisplayNameFor(model => model.CUTTON)</th>
                <th>@Html.DisplayNameFor(model => model.LEAD_LINE_Y)</th>
                <th>@Html.DisplayNameFor(model => model.LEAD_LINE_KG)</th>
                <th>@Html.DisplayNameFor(model => model.CLEARANCE_SWACH)</th>
                <th>@Html.DisplayNameFor(model => model.CLEARANCE_HEADERS)</th>
                <th>@Html.DisplayNameFor(model => model.REMARKS)</th>
                <th>@Html.DisplayName("Action")</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
