@model FHrEmployeeViewModel

@if (Model.FHrEmpEducations.Any())
{
    @for (var i = 0; i < Model.FHrEmpEducations.Count(); i++)
    {
        <tr>
            <td>
                @Html.HiddenFor(clc => clc.FHrEmpEducations[i].EEID)
                @Html.HiddenFor(clc => clc.FHrEmpEducations[i].EXAM)
                @Model.FHrEmpEducations[i].EXAM
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FHrEmpEducations[i].INSTITUTE)
                @Model.FHrEmpEducations[i].INSTITUTE
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FHrEmpEducations[i].PASSING_YEAR)
                @Model.FHrEmpEducations[i].PASSING_YEAR
            </td>
            <td>
                @*@Html.HiddenFor(clc => clc.FHrEmpEducations[i].RESULT_CGPA)*@
                @Model.FHrEmpEducations[i].RESULT_CGPA
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FHrEmpEducations[i].REMARKS)
                @Model.FHrEmpEducations[i].REMARKS
            </td>
            <td>
                <i class="fa fa-trash fa-lg text-danger" onclick="RemoveEduDetails('@i')" aria-hidden="true"></i>
            </td>
        </tr>
    }
}

<script type="text/javascript" asp-append-version="true">
    function RemoveEduDetails(index) {
        const data = $("#form").serializeArray();

        data.push({ name: "RemoveIndex", value: index });
        data.push({ name: "IsDelete", value: true });

        $.post("/FHrdEmployee/AddOrRemoveEduDetails", data, function (partialView) {
            $('#eduDetails').html(partialView);
        });
    }
</script>