@*@model FHrEmployeeViewModel

@if (Model.FHrEmpFamilyDetailsList.Any())
{
    @for (var i = 0; i < Model.FHrEmpFamilyDetailsList.Count(); i++)
    {
    <tr>
        <td>
            @Html.HiddenFor(clc => clc.FHrEmpFamilyDetailsList[i].EFID)
            @Html.HiddenFor(clc => clc.FHrEmpFamilyDetailsList[i].NAME)
            @Model.FHrEmpFamilyDetailsList[i].NAME
        </td>
        <td>
            @Html.HiddenFor(clc => clc.FHrEmpFamilyDetailsList[i].RELATION)
            @Model.FHrEmpFamilyDetailsList[i].RELATION
        </td>
        <td>
            @Html.HiddenFor(clc => clc.FHrEmpFamilyDetailsList[i].DOB)
            @Html.DisplayFor(modelItem => Model.FHrEmpFamilyDetailsList[i].DOB)
        </td>
        <td>
            @Html.HiddenFor(clc => clc.FHrEmpFamilyDetailsList[i].PROFESSION)
            @Model.FHrEmpFamilyDetailsList[i].PROFESSION
        </td>
        <td>
            @Html.HiddenFor(clc => clc.FHrEmpFamilyDetailsList[i].REMARKS)
            @Model.FHrEmpFamilyDetailsList[i].REMARKS
        </td>
        <td>
            <i class="fa fa-trash fa-2x text-danger" onclick="RemoveEmpDetails(@i)" aria-hidden="true"></i>
        </td>
    </tr>
    }
}

<script type="text/javascript" asp-append-version="true">
    function RemoveEmpDetails(index) {
        const data = $("#form").serializeArray();

        data.push({ name: "RemoveIndex", value: index });
        data.push({ name: "IsDelete", value: true });

        $.post("/FHrdEmployee/AddOrRemoveFamilyDetails", data, function (partialView) {
            $('#familyDetails').html(partialView);
        });
    }
</script>*@