@*@model GetFHrEmployeeViewModel

@{
    ViewData["Title"] = "Employee List";
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> Employee
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="mr-2">
                <p>
                    <a asp-action="CreateEmployee" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a>
                </p>
            </li>
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive table-hover">
        <table class="table" id="table">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.EMPNO)</th>
                    <th>@Html.DisplayNameFor(model => model.FULL_NAME) </th>
                    <th>@Html.DisplayNameFor(model => model.DEPARTMENT) </th>
                    <th>@Html.DisplayNameFor(model => model.SECTION) </th>
                    <th>@Html.DisplayNameFor(model => model.DESIGNATION) </th>
                    <th>@Html.DisplayNameFor(model => model.EMP_TYPE) </th>
                    <th>@Html.DisplayName("Actions")</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/FHrEmployee/GetFHrEmployee.js"></script>
}*@
