
@*@model RndProductionOrderViewModel

@if (Model.PlOrderwiseLotInfoList.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(e => e.PlOrderwiseLotInfoList.FirstOrDefault().LOTID)</th>
                <th>@Html.DisplayNameFor(e => e.PlOrderwiseLotInfoList.FirstOrDefault().YARNTYPE)</th>
                <th>@Html.DisplayNameFor(e => e.PlOrderwiseLotInfoList.FirstOrDefault().SUPPID)</th>
                <th>@Html.DisplayNameFor(e => e.PlOrderwiseLotInfoList.FirstOrDefault().REMARKS)</th>
                <th>@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.PlOrderwiseLotInfoList.Count; i++)
            {
                <tr>
                    <td>
                        @if (Model.PlOrderwiseLotInfoList[i].TRNSID > 0)
                        {
                            <i class="fa fa-database text-danger" aria-hidden="true" title="From database."></i>
                        }
                        else
                        {
                            <i class="fa fa-plus-circle text-info" aria-hidden="true" title="New data."></i>
                        }
                        @Html.HiddenFor(dt => dt.PlOrderwiseLotInfoList[i].TRNSID)
                        @Html.HiddenFor(dt => dt.PlOrderwiseLotInfoList[i].LOTID)
                        @Html.DisplayFor(dt => dt.PlOrderwiseLotInfoList[i].LOT.LOTNO)
                    </td>
                    <td>
                        @Html.HiddenFor(dt => dt.PlOrderwiseLotInfoList[i].YARNTYPE)
                        @Html.DisplayFor(dt => dt.PlOrderwiseLotInfoList[i].YARNFOR.YARNNAME)
                    </td>
                    <td>
                        @Html.HiddenFor(dt => dt.PlOrderwiseLotInfoList[i].SUPPID)
                        @Html.DisplayFor(dt => dt.PlOrderwiseLotInfoList[i].SUPP.SUPPNAME)
                    </td>
                    <td>
                        @Html.HiddenFor(dt => dt.PlOrderwiseLotInfoList[i].REMARKS)
                        @Html.DisplayFor(dt => dt.PlOrderwiseLotInfoList[i].REMARKS)
                    </td>
                    <td>
                        <i class="fa fa-trash fa-2x text-danger" onclick="removeLotFromList(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
    </div>
}*@