
@model FChemRequirementViewModel

@if (Model.FChemReqDetailsList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemReqDetailsList.FirstOrDefault().PRODUCT.PRODUCTNAME)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemReqDetailsList.FirstOrDefault().REQ_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemReqDetailsList.FirstOrDefault().REMARKS)</th>
                <th scope="col">@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FChemReqDetailsList.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.HiddenFor(model => model.FChemReqDetailsList[i].CRQID)
                        @Html.HiddenFor(model => model.FChemReqDetailsList[i].CSRID)
                        @Html.HiddenFor(model => model.FChemReqDetailsList[i].STATUS)

                        @Html.HiddenFor(model => model.FChemReqDetailsList[i].PRODUCTID)
                        @Model.FChemReqDetailsList[i].PRODUCT?.PRODUCTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemReqDetailsList[i].REQ_QTY)
                        @Model.FChemReqDetailsList[i].REQ_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemReqDetailsList[i].REMARKS)
                        @Model.FChemReqDetailsList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="RemoveIndent(@i)" aria-hidden="false"></i>
                    </td>
                </tr>
            }
            <tr class="bg-info text-white">
                <td></td>
                <td class="text-right"><i class="fa fa-cart-plus" aria-hidden="true"></i> @Html.DisplayName("Sum Of Total :")</td>
                <td class="">@($"{Model.FChemReqDetailsList.Sum(e => e.REQ_QTY)}")</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
}