

@model FChemRequirementViewModel

@{
    ViewData["Title"] = "Chemical Requirement";
}

@{
    if (Model != null)
    {
        <div class="col-12 row p-0">

            <div class="col-12">
                <h2 class="text-white btn btn-info">@Html.DisplayNameFor(e => e.FChemReqMaster.CSRID) : [ @Html.DisplayFor(e => e.FChemReqMaster.CSRID) ]</h2>
            </div>

            <div class="col-12 row">
                <div class="col-6">
                    <h2 class="panel-title text-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> <ins>Chemical Information</ins></h2>
                </div>
                <div class="col-6 text-right">
                    <div class="form-group">
                        <label asp-for="FChemReqMaster.CSRNO" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.FChemReqMaster.CSRNO)</div>
                    </div>
                </div>
                <div class="col-12">
                    <hr />
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemReqMaster.CSRDATE" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemReqMaster.CSRDATE)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemReqMaster.REQUISITIONBY" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemReqMaster.RequisitionEmployee.FIRST_NAME)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemReqMaster.DEPT.DEPTNAME" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemReqMaster.DEPT.DEPTNAME)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemReqMaster.FBasSection.SECNAME" class="control-label font-weight-bold">From Person</label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemReqMaster.FBasSection.SECNAME)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemReqMaster.FBasSubsection.SSECNAME" class="control-label font-weight-bold">To Person</label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemReqMaster.FBasSubsection.SSECNAME)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemReqMaster.REMARKS" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemReqMaster.REMARKS)</div>
                </div>
            </div>
            <div class="col-12 table-responsive table-hover">
                <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> <ins>@ViewData["Title"]</ins></h2>
                <hr />
                @await Html.PartialAsync($"~/Views/FChemRequirement/DetailsFChemRequirementTable.cshtml", Model)
            </div>
            
            <div class="col-md-12">
                @{
                    if (!Model.FChemReqMaster.IsLocked)
                    {
                        @Html.ActionLink("Edit", $"EditFChemRequirement", new { ysrId = Model.FChemReqMaster.EncryptedId }, new { @class = "btn btn-warning pull-right" })
                    }
                }
                <a class="btn btn-dark pull-right" asp-action="GetChemicalRequirement" asp-controller="FChemRequirement">Back to List</a>
            </div>
        </div>
    }
}