
@model F_QA_YARN_TEST_INFORMATION_COTTON

@{
    ViewData["Title"] = "Yarn Test Information";
}

@{
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-xing fa-lg text-success" aria-hidden="true"></i>@ViewData["Title"] List<i class="fa fa-at text-info">Cotton</i></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content table-responsive table-hover">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.TESTDATE)</th>
                        <th>@Html.DisplayNameFor(model => model.YRCV.CHALLANNO)</th>
                        <th>@Html.DisplayNameFor(model => model.COUNT_ACT)</th>
                        <th>@Html.DisplayNameFor(model => model.TENACITY)</th>
                        <th>@Html.DisplayNameFor(model => model.TM)</th>
                        <th>@Html.DisplayNameFor(model => model.TM_TPI)</th>
                        <th>@Html.DisplayNameFor(model => model.REMARKS)</th>
                        <th>@Html.DisplayName("Action")</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
}