@model FChemicalRequisitionViewModel

@{
    ViewData["Title"] = "Chemical Indent";
}

<h2><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

<div class="container-fluid">
    <form asp-action="PostCreateChemicalIndent" enctype="multipart/form-data" id="form" role="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="panel-body row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                    <h2 class="panel-title text-success"><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i> Indent Information</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                    <div class="custom-control custom-switch float-right">
                        <input asp-for="FChemStoreIndentmaster.STATUS" class="custom-control-input" type="checkbox">
                        <label asp-for="FChemStoreIndentmaster.STATUS" class="custom-control-label pt-1"></label>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentmaster.CINDNO" class="control-label"></label>
                    <input asp-for="FChemStoreIndentmaster.CINDNO" class="form-control" readonly="" />
                    <span asp-validation-for="FChemStoreIndentmaster.CINDNO" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentmaster.CINDDATE" class="control-label"></label>
                    <input asp-for="FChemStoreIndentmaster.CINDDATE" class="form-control" />
                    <span asp-validation-for="FChemStoreIndentmaster.CINDDATE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentmaster.INDSL.INDSLID" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FChemStoreIndentmaster.INDSLID, new SelectList(Model.FChemPurchaseRequisitionMasterList, "INDSLID", "INDSLID"),
                        "Select Requisition No", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FChemStoreIndentmaster.INDSLID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentmaster.FChemStoreIndentType.INDENTTYPE" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FChemStoreIndentmaster.INDTYPE, new SelectList(Model.FChemStoreIndentTypes, "INDENTID", "INDENTTYPE"),
                        "Select Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FChemStoreIndentmaster.INDTYPE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentmaster.REMARKS" class="control-label"></label>
                    <input asp-for="FChemStoreIndentmaster.REMARKS" class="form-control" />
                    <span asp-validation-for="FChemStoreIndentmaster.REMARKS" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> Indent Details</h2>
                <hr />
            </div>

            @Html.HiddenFor(c => c.FChemStoreIndentdetails.TRNSID)
            @Html.HiddenFor(c => c.FChemStoreIndentdetails.INDSLID)
            @Html.HiddenFor(c => c.FChemStoreIndentdetails.CINDID)

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentdetails.PRODUCTID" class="control-label"></label>
                    <select asp-for="FChemStoreIndentdetails.PRODUCTID" class="form-control js-example-basic-single">
                        <option value="">Select Count Name</option>
                    </select>
                    <span asp-validation-for="FChemStoreIndentdetails.PRODUCTID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentdetails.UNIT" class="control-label"></label>
                    <input asp-for="FChemStoreIndentdetails.UNIT" class="form-control" type="hidden" />
                    <input asp-for="FChemStoreIndentdetails.FBasUnits.UNAME" class="form-control" disabled />
                    <span asp-validation-for="FChemStoreIndentdetails.UNIT" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentdetails.QTY" class="control-label"></label>
                    <input asp-for="FChemStoreIndentdetails.QTY" class="form-control" />
                    <span asp-validation-for="FChemStoreIndentdetails.QTY" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentdetails.VALIDITY" class="control-label"></label>
                    <input asp-for="FChemStoreIndentdetails.VALIDITY" class="form-control" />
                    <span asp-validation-for="FChemStoreIndentdetails.VALIDITY" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentdetails.FULL_QTY" class="control-label"></label>
                    <input asp-for="FChemStoreIndentdetails.FULL_QTY" class="form-control" />
                    <span asp-validation-for="FChemStoreIndentdetails.FULL_QTY" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentdetails.ADD_QTY" class="control-label"></label>
                    <input asp-for="FChemStoreIndentdetails.ADD_QTY" class="form-control" />
                    <span asp-validation-for="FChemStoreIndentdetails.ADD_QTY" class="text-danger"></span>
                </div>
            </div>
            @*<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentdetails.BAL_QTY" class="control-label"></label>
                    <input asp-for="FChemStoreIndentdetails.BAL_QTY" class="form-control" />
                    <span asp-validation-for="FChemStoreIndentdetails.BAL_QTY" class="text-danger"></span>
                </div>
            </div>*@
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentdetails.LOCATION" class="control-label"></label>
                    <input asp-for="FChemStoreIndentdetails.LOCATION" class="form-control" />
                    <span asp-validation-for="FChemStoreIndentdetails.LOCATION" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreIndentdetails.REMARKS" class="control-label"></label>
                    <input asp-for="FChemStoreIndentdetails.REMARKS" class="form-control" />
                    <span asp-validation-for="FChemStoreIndentdetails.REMARKS" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button id="btnCreateYarnRequisition" class="btn btn-info nextBtn pull-right" type="submit">Create</button>
                <button id="btnAdd" class="btn btn-success pull-right" type="button">Add</button>
                <a asp-action="GetIndentMaster" class="btn btn-dark pull-right">Back to List</a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive table-hover" id="chemicalDetailsTable"></div>
        </div>
    </form>
</div>

@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/site-common.js"></script>
    <script asp-append-version="true" src="~/js/ChemicalIndent/CreateChemicalIndent.js"></script>
}
