
@model FChemicalRequisitionViewModel

@if (Model.FChemStoreIndentdetailsList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.PRODUCTID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.TRNSDATE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.VALIDITY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.FULL_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.ADD_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.BAL_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.LOCATION)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.REMARKS)</th>
                <th scope="col">@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FChemStoreIndentdetailsList.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].TRNSID)
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].CINDID)
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].INDSLID)
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].UNIT)
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].QTY)

                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].PRODUCTID)
                        @Model.FChemStoreIndentdetailsList[i].PRODUCT?.PRODUCTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].TRNSDATE)
                        @Html.DisplayFor(modelItem => Model.FChemStoreIndentdetailsList[i].TRNSDATE)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].VALIDITY)
                        @Html.DisplayFor(modelItem => Model.FChemStoreIndentdetailsList[i].VALIDITY)
                        <div class="control-group text-danger">
                            @Html.Raw($"Remaining : {(Model.FChemStoreIndentdetailsList[i].VALIDITY.HasValue ? Model.FChemStoreIndentdetailsList[i].VALIDITY.GetValueOrDefault().Subtract(DateTime.Now).Days : 0)} days")
                        </div>
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].FULL_QTY)
                        @Model.FChemStoreIndentdetailsList[i].FULL_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].ADD_QTY)
                        @Model.FChemStoreIndentdetailsList[i].ADD_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].BAL_QTY)
                        @Model.FChemStoreIndentdetailsList[i].BAL_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].LOCATION)
                        @Model.FChemStoreIndentdetailsList[i].LOCATION
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreIndentdetailsList[i].REMARKS)
                        @Model.FChemStoreIndentdetailsList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="RemoveIndent(@i)" aria-hidden="false"></i>
                    </td>
                </tr>
            }
        <tr class="bg-info text-white">
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"><i class="fa fa-cart-plus" aria-hidden="true"></i> @Html.DisplayName("Sum Of Total :")</td>
            <td class="">@($"{Model.FChemStoreIndentdetailsList.Sum(e => double.Parse(e.FULL_QTY))}")</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
}