@model FPrWarpingProcessEkruMasterViewModel
@{
    ViewData["Title"] = "Warping Process(Ecru)";
    Layout = Layout;
}

<h2><i class="fa fa-edit fa-lg text-warning" aria-hidden="true"></i>Create @ViewData["Title"]</h2>

<hr />

<div class="container-fluid">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel d-flex justify-content-around">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                <p><small>Step 1</small></p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p><small>Finish</small></p>
            </div>
        </div>
    </div>

    <form id="form" role="form" asp-action="EditFPrWarpingProcessEcruMaster">
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">

                <div class="pl-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <h2 class="panel-title text-success">Program/Set No.</h2>
                    </div>
                    <hr />
                </div>
                @Html.HiddenFor(c=>c.FPrWarpingProcessEcruMaster.ECRUID)
                @Html.HiddenFor(c=>c.FPrWarpingProcessEcruMaster.EncryptedId)
                <span class="d-none" id="ballCount"></span>
                <span class="d-none" id="programNo"></span>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruMaster.SETID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FPrWarpingProcessEcruMaster.SETID, new SelectList(Model.PlProductionSetDistributions, "SETID", "PROG_.PROG_NO"), "Select Prog./Set No", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FPrWarpingProcessEcruMaster.SETID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruMaster.BALL_NO" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruMaster.BALL_NO" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruMaster.BALL_NO" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruMaster.TIME_START" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruMaster.TIME_START" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruMaster.TIME_START" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruMaster.TIME_END" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruMaster.TIME_END" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruMaster.TIME_END" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruMaster.DEL_DATE" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruMaster.DEL_DATE" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruMaster.DEL_DATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruMaster.WARPLENGTH" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruMaster.WARPLENGTH" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruMaster.WARPLENGTH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Warp Length</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="wrpLength">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Set Length</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="setLength">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruMaster.WARPRATIO" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruMaster.WARPRATIO" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruMaster.WARPRATIO" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Warp Ratio</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="ratioWarp">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Style Name</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="style">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Order No</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="orderNo">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">P.O No.</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="po">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">P.O Length</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="poLength">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 d-none">
                    <div class="form-group">
                        <label class="control-label">Ref. Lot</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="refLot">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 d-none">
                    <div class="form-group">
                        <label class="control-label">Act. Supplier</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="supplier">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Order Type</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="orderType">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Buyer</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="Buyer">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Ref. Color</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="color">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Yarn Type</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="yarnType">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Warp Type</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="warpType">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Loom Type</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="loomType">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Type Process</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="processType">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Program Type</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="programType">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Total Ends</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="totalEnds">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Act. Lot</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="lot">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruMaster.REMARKS" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruMaster.REMARKS" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruMaster.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruMaster.IS_DECLARE" class="control-label"></label>
                        <div class="form-control custom-form-control">
                            <label class="switch">
                                <input asp-for="FPrWarpingProcessEcruMaster.IS_DECLARE" />
                                <span class="slider round"></span>
                                <span class="absolute-no">NO</span>
                            </label>
                        </div>
                        <span asp-validation-for="FPrWarpingProcessEcruMaster.IS_DECLARE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success">Total Yarn Consumption</h2>
                    <hr />
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruYarnConsumDetails.COUNT_ID" class="control-label"></label>
                        <select asp-for="FPrWarpingProcessEcruYarnConsumDetails.COUNT_ID" class="form-control js-example-basic-single">
                            <option value="">Select Count Name</option>
                        </select>
                        <span asp-validation-for="FPrWarpingProcessEcruYarnConsumDetails.COUNT_ID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruYarnConsumDetails.BGT_KG" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruYarnConsumDetails.BGT_KG" class="form-control" readonly="readonly" />
                        <span asp-validation-for="FPrWarpingProcessEcruYarnConsumDetails.BGT_KG" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWarpingProcessRopeYarnConsumDetails.BGT_KG_PER_SET" class="control-label"></label>
                            <input asp-for="FPrWarpingProcessRopeYarnConsumDetails.BGT_KG_PER_SET" class="form-control" readonly="readonly" />
                            <span asp-validation-for="FPrWarpingProcessRopeYarnConsumDetails.BGT_KG_PER_SET" class="text-danger"></span>
                        </div>
                    </div>*@
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruYarnConsumDetails.CONSM" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruYarnConsumDetails.CONSM" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruYarnConsumDetails.CONSM" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruYarnConsumDetails.WASTE" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruYarnConsumDetails.WASTE" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruYarnConsumDetails.WASTE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruYarnConsumDetails.WASTE_PERCENTAGE" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruYarnConsumDetails.WASTE_PERCENTAGE" class="form-control" readonly="readonly" />
                        <span asp-validation-for="FPrWarpingProcessEcruYarnConsumDetails.WASTE_PERCENTAGE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruYarnConsumDetails.REMARKS" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruYarnConsumDetails.REMARKS" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruYarnConsumDetails.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-info nextBtn pull-right" type="button">Next</button>
                    <button id="btnAddCount" class="btn btn-success pull-right mr-2" type="button">Add</button>
                    <a asp-action="GetEcruWarpingList" class="btn btn-dark pull-right">Back to List</a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" id="CountDetails">
                    @await Html.PartialAsync("~/Views/FPrWarpingProcessEcruMaster/AddCountList.cshtml", Model)
                </div>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-body row">
                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-end">
                        <div class="form-group">
                            <button class="btn btn-outline-success" id="subGroup" type="button">Add Ball</button>
                        </div>
                    </div>*@

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success">Ball Info.</h2>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruDetails.BALL_NO" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FPrWarpingProcessEcruDetails.BALL_NO, new SelectList(Model.FBasBallInfoList, "BALLID", "BALL_NO"), "Select Ball No.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FPrWarpingProcessEcruDetails.BALL_NO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruDetails.BALL_LENGTH" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruDetails.BALL_LENGTH" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruDetails.BALL_LENGTH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruDetails.LINK_BALL_NO" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FPrWarpingProcessEcruDetails.LINK_BALL_NO, new SelectList(Model.FBasBallInfoList, "BALLID", "BALL_NO"), "Select Link Ball No.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FPrWarpingProcessEcruDetails.LINK_BALL_NO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruDetails.LINK_BALL_LENGTH" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruDetails.LINK_BALL_LENGTH" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruDetails.LINK_BALL_LENGTH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruDetails.SHIFTNAME" class="control-label"></label>
                        <select asp-for="FPrWarpingProcessEcruDetails.SHIFTNAME" class="form-control js-example-basic-single">
                            <option value="">Select Process No</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                        <span asp-validation-for="FPrWarpingProcessEcruDetails.SHIFTNAME" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruDetails.COUNTID" class="control-label"></label>
                        <select asp-for="FPrWarpingProcessEcruDetails.COUNTID" class="form-control js-example-basic-single">
                            <option value="">Select Count Name</option>
                        </select>
                        <span asp-validation-for="FPrWarpingProcessEcruDetails.COUNTID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruDetails.MACHINE_ID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FPrWarpingProcessEcruDetails.MACHINE_ID, new SelectList(Model.FPrWarpingMachineList, "ID", "MACHINE_NAME"), "Select Machine No", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FPrWarpingProcessEcruDetails.MACHINE_ID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruDetails.BREAKS_ENDS" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruDetails.BREAKS_ENDS" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruDetails.BREAKS_ENDS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruDetails.ENDS_ROPE" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruDetails.ENDS_ROPE" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruDetails.ENDS_ROPE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruDetails.LEADLINE" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruDetails.LEADLINE" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruDetails.LEADLINE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrWarpingProcessEcruDetails.REMARKS" class="control-label"></label>
                        <input asp-for="FPrWarpingProcessEcruDetails.REMARKS" class="form-control" />
                        <span asp-validation-for="FPrWarpingProcessEcruDetails.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit" id="btn_submit">Update</button>
                    <button id="btnAddBall" class="btn btn-success pull-right mr-2" type="button">Add</button>
                    <button class="btn btn-info prevBtn pull-right" type="button">Prev</button>
                    <a asp-action="GetEcruWarpingList" class="btn btn-dark pull-right mr-2">Back to List</a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" id="BallDetails">
                    @await Html.PartialAsync("~/Views/FPrWarpingProcessEcruMaster/AddBallNoList.cshtml", Model)
                </div>

            </div>
        </div>
    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial_Except_jQuery");}
    <script src="~/js/custom-js/Stepper.js" asp-append-version="true"></script>
    <script type="text/javascript" asp-append-version="true">

        

        var consum = $("#FPrWarpingProcessEcruYarnConsumDetails_CONSM");
        var waste = $("#FPrWarpingProcessEcruYarnConsumDetails_WASTE");
        var ratioWarp = $("#ratioWarp");
        var totalEnds = $("#totalEnds");
        var endsRope = $("#FPrWarpingProcessEcruDetails_ENDS_ROPE");
        var wastePercentage = $("#FPrWarpingProcessEcruYarnConsumDetails_WASTE_PERCENTAGE");
        var warpLengthPerSet = $("#FPrWarpingProcessEcruMaster_WARPLENGTH");
        var warpLenAct = $("#warpLenAct");
        var ballLength = $("#FPrWarpingProcessEcruDetails_BALL_LENGTH");


        $(function () {

            getSetData();

            consum.on("change",
                function () {
                    var result = getWastePercentage(consum.val(), waste.val());
                    wastePercentage.val(result.toFixed(3));
                });

            waste.on("change",
                function () {
                    var result = getWastePercentage(consum.val(), waste.val());
                    wastePercentage.val(result.toFixed(3));
                });

            ballLength.on("focus",
                function () {
                    //console.log(warpLength.val());
                    ballLength.val(warpLengthPerSet.val());
                });

            $("#FPrWarpingProcessEcruMaster_SETID").on('change',
                function () {
                    var selectedVal = $(this).val();

                    $("#FPrWarpingProcessEcruYarnConsumDetails_CONSUM").val("");
                    $("#FPrWarpingProcessEcruYarnConsumDetails_WASTE").val("");
                    $("#FPrWarpingProcessEcruYarnConsumDetails_WASTE_PERCENTAGE").val("");
                    $("#FPrWarpingProcessRopeYarnConsumDetails_REMARKS").val("");
                    $("#FPrWarpingProcessEcruYarnConsumDetails_BGT_KG").val("");

                    if (selectedVal === "") {
                        $("#style").text("");
                        $("#orderNo").text("");
                        $("#po").text("");
                        $("#poLength").text("");
                        $("#supplier").text("");
                        $("#orderType").text("");
                        $("#Buyer").text("");
                        $("#color").text("");
                        $("#yarnType").text("");
                        $("#warpType").text("");
                        $("#loomType").text("");
                        $("#processType").text("");
                        $("#programType").text("");
                        $("#totalEnds").text("");
                        $("#lot").text("");
                        endsRope.val("");
                        return false;
                    }

                    $("#ballCount").text(0);
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "setId": selectedVal },
                        type: "GET",
                        url: "/FPrWarpingProcessRopeMaster/GetDataBySetIdAsync",
                        success: function (data) {
                            console.log(data);

                            // Value Set to Read-only Field
                            $("#style").text(data.piDetails.style.fabcodeNavigation.stylE_NAME);
                            $("#orderNo").text(data.piDetails.sO_NO);
                            $("#po").text(data.piDetails.pino);
                            $("#poLength").text(data.plProductionSetDistribution.proG_.blK_PROG_.rndProductionOrder.ordeR_QTY_MTR);
                            //$("#supplier").text(data.piDetails.style.fabcodeNavigation.stylE_NAME);
                            $("#orderType").text(data.plProductionSetDistribution.proG_.blK_PROG_.rndProductionOrder.otype.otypename);
                            $("#Buyer").text(data.piDetails.pimaster.buyer.buyeR_NAME);
                            $("#color").text(data.piDetails.style.fabcodeNavigation.colorcodeNavigation !== null && data.piDetails.style.fabcodeNavigation.colorcodeNavigation.color);
                            $("#yarnType").text(data.plProductionSetDistribution.proG_.yarnfor.yarnname);
                            $("#warpType").text(data.plProductionSetDistribution.proG_.warP_TYPE);
                            $("#loomType").text(data.piDetails.style.fabcodeNavigation.loom.looM_TYPE_NAME);
                            $("#processType").text(data.plProductionSetDistribution.proG_.procesS_TYPE);
                            $("#programType").text(data.plProductionSetDistribution.proG_.prograM_TYPE);
                            $("#totalEnds").text(data.piDetails.style.fabcodeNavigation.totalends);
                            $("#programNo").text(data.plProductionSetDistribution.proG_.proG_ID);

                            // Value Set to Input Field
                            $("#setLength").text(data.plProductionSetDistribution.proG_.seT_QTY);
                            $("#wrpLength").text(data.plProductionSetDistribution.proG_.seT_QTY);
                            $("#FPrWarpingProcessEcruMaster_WARPLENGTH").val(data.plProductionSetDistribution.proG_.seT_QTY);

                            var accLot = "";
                            $.each(data.plProductionSetDistribution.proG_.pL_BULK_PROG_YARN_D,
                                function (id, option) {
                                    accLot += option.lot.lotno;
                                    if (option.lot.brand != null) {
                                        accLot += ": " + option.lot.brand;
                                    }
                                    accLot += " + ";
                                });

                            $("#lot").text(accLot.substring(0, (accLot.lastIndexOf("+"))));

                            var countIdConsum = $("#FPrWarpingProcessEcruYarnConsumDetails_COUNT_ID");
                            var countIdBall = $("#FPrWarpingProcessEcruDetails_COUNTID");

                            countIdConsum.html('');
                            countIdBall.html('');
                            countIdBall.append('<option value="" selected>Select Count Name</option>');
                            countIdConsum.append('<option value="" selected>Select Count Name</option>');

                            $.each(data.plProductionSetDistribution.proG_.blK_PROG_.rndProductionOrder.so.style.fabcodeNavigation.rnD_FABRIC_COUNTINFO,
                                function (id, option) {
                                    if (option.yarnfor === 1) {
                                        countIdConsum.append($('<option></option>').val(option.trnsid).html(option.count.countname));
                                        countIdBall.append($('<option></option>').val(option.trnsid).html(option.count.countname));
                                    }
                                });
                            $("#ratioWarp").text(data.plProductionSetDistribution.subgroup.ratio);

                            endsRope.val((totalEnds.text() / $("#ratioWarp").text()).toFixed(0));

                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });


            $("#FPrWarpingProcessEcruYarnConsumDetails_COUNT_ID").on('change',
                function () {
                    if ($("#FPrWarpingProcessEcruMaster_SETID").val() === "") {
                        toastr.error("Please Select Program/Set No", "Error");
                        $("#FPrWarpingProcessEcruYarnConsumDetails_COUNT_ID").val("");
                        return false;
                    }

                    if ($("#FPrWarpingProcessEcruYarnConsumDetails_COUNT_ID").val() === "") {
                        return false;
                    }

                    var selectedVal = $(this).val();
                    $("#FPrWarpingProcessEcruYarnConsumDetails_CONSUM").val("");
                    $("#FPrWarpingProcessEcruYarnConsumDetails_WASTE").val("");
                    $("#FPrWarpingProcessEcruYarnConsumDetails_WASTE_PERCENTAGE").val("");
                    $("#FPrWarpingProcessRopeYarnConsumDetails_REMARKS").val("");


                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "orderNo": $("#programNo").text(), "CountId": selectedVal, "warpLength": $("#wrpLength").text() },
                        type: "GET",
                        url: "/RndProductionOrder/GetPoDetailsForCountBudget",
                        success: function (data) {
                            console.log(data);
                            //var programCount = $("#programCount").text();
                            //var reqKgPerSet = data.toFixed(2);
                            // Value Set to input Field
                            //$("#FPrWarpingProcessRopeYarnConsumDetails_BGT_KG_PER_SET").val(reqKgPerSet);
                            $("#FPrWarpingProcessEcruYarnConsumDetails_BGT_KG").val(data.toFixed(0));

                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });

            $("#btnAddBall").on('click',
                function () {
                    if ($('#FPrWarpingProcessEcruMaster_SETID').val() === "") {
                        toastrNotification("Error: Please Select Program/Set No", "error");
                        return false;
                    }

                    if ($('#FPrWarpingProcessRopeBallDetails_BALL_ID_FK').val() === "") {
                        toastrNotification("Error: Please Select Ball No.", "error");
                        return false;
                    }

                    if (parseInt($("#ballCount").text()) >= parseInt($("#FPrWarpingProcessEcruMaster_WARPRATIO").val())) {
                        toastrNotification("Error: You have added maximum number of ball for this set.", "error");
                        return false;
                    }
                    $.ajax({
                        async: true,
                        cache: false,
                        data: $('#form').serialize(),
                        type: "POST",
                        url: "/FPrWarpingProcessEcruMaster/AddBallNoList",
                        success: function (partialView, status, xhr) {
                            var ballCount = xhr.getResponseHeader("BallCount");
                            BallAlerts(ballCount);
                            $('#BallDetails').html(partialView);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });


            $("#btnAddCount").on('click',
                function () {
                    $.ajax({
                        async: true,
                        cache: false,
                        data: $('#form').serialize(),
                        type: "POST",
                        url: "/FPrWarpingProcessEcruMaster/AddCountList",
                        success: function (partialView, status, xhr) {
                            $('#CountDetails').html(partialView);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });
        });
        
        function BallAlerts(ballCount) {
            var noOfBall = $("#FPrWarpingProcessEcruMaster_WARPRATIO").val();
            $("#ballCount").text(ballCount);
            var ballLeft = noOfBall - ballCount;
            toastrNotification('You Need to Add ' + ballLeft + ' More Ball(s)', 'info');
        }
        function getWastePercentage(consum, waste) {
            var result = (waste * 100) / consum;
            return result;
        }


        function getSetData() {

            $.ajax({
                async: true,
                cache: false,
                data: { "setId": $("#FPrWarpingProcessEcruMaster_SETID").val() },
                type: "GET",
                url: "/FPrWarpingProcessRopeMaster/GetDataBySetIdAsync",
                success: function (data) {
                    // Value Set to Read-only Field
                    $("#style").text(data.piDetails.style.fabcodeNavigation.stylE_NAME);
                    $("#orderNo").text(data.piDetails.sO_NO);
                    $("#po").text(data.piDetails.pino);
                    $("#poLength").text(data.plProductionSetDistribution.proG_.blK_PROG_.rndProductionOrder.ordeR_QTY_MTR);
                    //$("#supplier").text(data.piDetails.style.fabcodeNavigation.stylE_NAME);
                    $("#orderType").text(data.plProductionSetDistribution.proG_.blK_PROG_.rndProductionOrder.otype.otypename);
                    $("#Buyer").text(data.piDetails.pimaster.buyer.buyeR_NAME);
                    $("#color").text(data.piDetails.style.fabcodeNavigation.colorcodeNavigation !== null && data.piDetails.style.fabcodeNavigation.colorcodeNavigation.color);
                    $("#yarnType").text(data.plProductionSetDistribution.proG_.yarnfor.yarnname);
                    $("#warpType").text(data.plProductionSetDistribution.proG_.warP_TYPE);
                    $("#loomType").text(data.piDetails.style.fabcodeNavigation.loom.looM_TYPE_NAME);
                    $("#processType").text(data.plProductionSetDistribution.proG_.procesS_TYPE);
                    $("#programType").text(data.plProductionSetDistribution.proG_.prograM_TYPE);
                    $("#totalEnds").text(data.piDetails.style.fabcodeNavigation.totalends);
                    $("#programNo").text(data.plProductionSetDistribution.proG_.proG_ID);

                    // Value Set to Input Field
                    $("#setLength").text(data.plProductionSetDistribution.proG_.seT_QTY);
                    $("#wrpLength").text(data.plProductionSetDistribution.proG_.seT_QTY);

                    var accLot = "";
                    $.each(data.plProductionSetDistribution.proG_.pL_BULK_PROG_YARN_D,
                        function (id, option) {
                            accLot += option.lot.lotno;
                            if (option.lot.brand != null) {
                                accLot += ": " + option.lot.brand;
                            }
                            accLot += " + ";
                        });

                    $("#lot").text(accLot.substring(0, (accLot.lastIndexOf("+"))));

                    var countIdConsum = $("#FPrWarpingProcessEcruYarnConsumDetails_COUNT_ID");
                    var countIdBall = $("#FPrWarpingProcessEcruDetails_COUNTID");

                    countIdConsum.html('');
                    countIdBall.html('');
                    countIdBall.append('<option value="" selected>Select Count Name</option>');
                    countIdConsum.append('<option value="" selected>Select Count Name</option>');

                    $.each(data.plProductionSetDistribution.proG_.blK_PROG_.rndProductionOrder.so.style.fabcodeNavigation.rnD_FABRIC_COUNTINFO,
                        function (id, option) {
                            if (option.yarnfor === 1) {
                                countIdConsum.append($('<option></option>').val(option.trnsid).html(option.count.countname));
                                countIdBall.append($('<option></option>').val(option.trnsid).html(option.count.countname));
                            }
                        });
                    $("#ratioWarp").text(data.plProductionSetDistribution.subgroup.ratio);

                    endsRope.val((totalEnds.text() / $("#ratioWarp").text()).toFixed(0));

                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    </script>
}