@model FFsFabricClearanceViewModel

@if (Model.FFsFabricClearanceDetailsList.Any())
{
    <div class="table-responsive">
        <table class="table mt-2 table-condensed" style="border-collapse: collapse;" id="partialView">
            <thead id="thead" class="bg-dark text-white">
                <tr>
                    <th></th>
                    <th>SL.</th>
                    <th>
                        @Html.DisplayName("Prod Date")
                    </th>
                    <th>
                        @Html.DisplayName("Roll")
                    </th>
                    <th>
                        @Html.DisplayName("Shade")
                    </th>
                    <th>
                        @Html.DisplayName("Shrin Warp")
                    </th>
                    <th>
                        @Html.DisplayName("Shrin Weft")
                    </th>
                    <th>
                        @Html.DisplayName("Weight Unwash")
                    </th>
                    <th>
                        @Html.DisplayName("Weight Wash")
                    </th>
                    <th>
                        @Html.DisplayName("Total [Yds]")
                    </th>
                    <th>
                        @Html.DisplayName("[Yds] 01")
                    </th>
                    <th>
                        @Html.DisplayName("[Yds] 02")
                    </th>
                    <th>
                        @Html.DisplayName("Qty [Mtr]")
                    </th>
                    <th>
                        @Html.DisplayName("Total Point")
                    </th>
                    <th>
                        @Html.DisplayName("Width Overall")
                    </th>
                    <th>
                        @Html.DisplayName("Width Cut")
                    </th>
                    <th>
                        @Html.DisplayName("Pick Unwash")
                    </th>
                    <th>
                        @Html.DisplayName("Pick Wash")
                    </th>
                    <th>
                        @Html.DisplayName("Gross Weight")
                    </th>
                    <th>
                        @Html.DisplayName("Net Weight")
                    </th>
                    <th>
                        @Html.DisplayName("PPHSY")
                    </th>
                    <th>
                        @Html.DisplayName("CSV Status")
                    </th>
                    <th>
                        @Html.DisplayName("Remarks")
                    </th>
                    <th>
                        @Html.DisplayName("Inspection Remarks")
                    </th>
                    <th>
                        @Html.DisplayName("Remove")
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.FFsFabricClearanceDetailsList.Count; i++)
                {
                    <tr>
                        <td>
                            @if (Model.FFsFabricClearanceDetailsList[i].CL_D_ID > 0)
                            {
                                <i class="fa fa-database text-danger" aria-hidden="true" title="From database."></i>
                            }
                            else
                            {
                                <i class="fa fa-plus-circle text-info" aria-hidden="true" title="New data."></i>
                            }
                        </td>
                        @{
                            var sl = i + 1;
                        }
                        <td>@sl</td>
                        <td>
                            @Html.HiddenFor(clc => clc.FFsFabricClearanceDetailsList[i].CL_D_ID)
                            @Html.HiddenFor(clc => clc.FFsFabricClearanceDetailsList[i].CLID)
                            @Html.HiddenFor(clc => clc.FFsFabricClearanceDetailsList[i].PROD_DATE)
                            @Html.DisplayFor(x => x.FFsFabricClearanceDetailsList[i].PROD_DATE)
                        </td>
                        <td>
                            @Html.HiddenFor(clc => clc.FFsFabricClearanceDetailsList[i].ROLL_ID)
                            @Model.FFsFabricClearanceDetailsList[i].ROLL_?.ROLLNO
                        </td>
                        <td onclick='updateRow(this);' style="padding: 0!important;">
                            <input asp-for="FFsFabricClearanceDetailsList[i].SHADE_GROUP" class="form-control p-0 txt" />
                        </td>
                        <td onclick='updateRow(this);' style="padding: 0!important;">
                            <input asp-for="FFsFabricClearanceDetailsList[i].SHRINKAGE_WARP" class="form-control p-0 txt" />
                        </td>
                        <td onclick='updateRow(this);' style="padding: 0!important;">
                            <input asp-for="FFsFabricClearanceDetailsList[i].SHRINKAGE_WEFT" class="form-control p-0 txt" />
                        </td>
                        <td onclick='updateRow(this);' style="padding: 0!important;">

                            <input asp-for="FFsFabricClearanceDetailsList[i].WGBW" class="form-control p-0 txt" />
                        </td>
                        <td onclick='updateRow(this);' style="padding: 0!important;">

                            <input asp-for="FFsFabricClearanceDetailsList[i].WGAW" class="form-control p-0 txt" />
                        </td>
                        <td>
                            @Model.FFsFabricClearanceDetailsList[i].ROLL_?.LENGTH_YDS
                        </td>
                        <td>
                            @Model.FFsFabricClearanceDetailsList[i].ROLL_?.LENGTH_1
                        </td>
                        <td>
                            @Model.FFsFabricClearanceDetailsList[i].ROLL_?.LENGTH_2
                        </td>
                        <td>
                            @Model.FFsFabricClearanceDetailsList[i].ROLL_?.LENGTH_MTR
                        </td>
                        <td>
                            @Model.FFsFabricClearanceDetailsList[i].ROLL_?.TOTAL_DEFECT
                        </td>
                        <td>
                            @Model.FFsFabricClearanceDetailsList[i].ROLL_?.ACT_WIDTH_INCH
                        </td>
                        <td>
                            @Model.FFsFabricClearanceDetailsList[i].ROLL_?.CUT_WIDTH_INCH
                        </td>
                        <td onclick='updateRow(this);' style="padding: 0!important;">

                            <input asp-for="FFsFabricClearanceDetailsList[i].PICK_BW" class="form-control p-0 txt" />
                        </td>
                        <td onclick='updateRow(this);' style="padding: 0!important;">

                            <input asp-for="FFsFabricClearanceDetailsList[i].PICK_AW" class="form-control p-0 txt" />
                        </td>
                        <td>
                            @Model.FFsFabricClearanceDetailsList[i].ROLL_?.GR_WEIGHT_KG
                        </td>
                        <td>
                            @Model.FFsFabricClearanceDetailsList[i].ROLL_?.NET_WEIGHT_KG
                        </td>
                        <td>
                            @Model.FFsFabricClearanceDetailsList[i].ROLL_?.POINT_100SQ
                        </td>
                        <td style="padding: 0!important;">

                            @*<input asp-for="FFsFabricClearanceDetailsList[i].STATUS" class="form-control p-0" />*@

                            <select asp-for="FFsFabricClearanceDetailsList[i].STATUS" class="form-control" style="padding: 0!important;">
                                <option value="3">WIP</option>
                                <option value="2">Not OK</option>
                                <option value="1">OK</option>
                            </select>

                            @*@if (Model.FFsFabricClearanceDetailsList[i].STATUS == 1)
                                {
                                    <span class="text-success">OK</span>
                                }
                                else if (Model.FFsFabricClearanceDetailsList[i].STATUS == 2)
                                {
                                    <span class="text-danger">Not OK</span>
                                }
                                else if (Model.FFsFabricClearanceDetailsList[i].STATUS == 3)
                                {
                                    <span class="text-warning">WIP</span>
                                }*@
                        </td>
                        <td onclick='updateRow(this);' style="padding: 0!important;">
                            <input asp-for="FFsFabricClearanceDetailsList[i].REMARKS" class="form-control p-0 txt" />
                        </td>
                        <td onclick='updateRow(this);' style="padding: 0!important;">
                            @Html.HiddenFor(clc => clc.FFsFabricClearanceDetailsList[i].INSPECTION_REMARKS)
                            @Model.FFsFabricClearanceDetailsList[i].INSPECTION_REMARKS
                        </td>
                        <td>
                            <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveRollFromList(@i)" aria-hidden="true"></i>
                        </td>
                    </tr>
                }

                <tr class="bg-info text-white">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="3" class="text-right"><i class="fa fa-cart-plus" aria-hidden="true"></i> @Html.DisplayName("Sum Of Total :")</td>
                    <td class="">@($"{Model.FFsFabricClearanceDetailsList.Sum(e => e.ROLL_?.LENGTH_YDS)} Yds")</td>
                    <td></td>
                    <td></td>
                    <td class="">@($"{Model.FFsFabricClearanceDetailsList.Sum(e => e.ROLL_?.LENGTH_MTR)} Mtr")</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
}


<script asp-append-version="true" src="~/FLEX/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" asp-append-version="true">


    var updateRow = function (selector) {
        $("[type='hidden']", selector).prop("type", "text").addClass("form-control");
    };

    function RemoveRollFromList(removeIndexValue) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        console.log(data);
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/FFsFabricClearance/RemoveRollFromList',
            success: function (partialView, status, xhr) {
                $('#rollDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }


    $(function () {
        $(document).on('keyup', '.txt', function (e) {
            if (e.which === 13) {
                var $this = $(this);
                var $td = $this.closest('td'); // Current TD
                var $row = $td.closest('tr'); // Current TR
                var $rows = $row.parent(); // Current TABLE or TBODY - parent of all rows
                var column = $td.index(); // Current column of TD

                console.log($(this).val());
                if (!isNaN($(this).val()) && $(this).val().length === 1 && $(this).val() !== 0) {
                    var val = $(this).val();
                    $(this).val(val * 111);
                    console.log($(this).val());
                }
                // Search on a row basis in current column, then try next column
                // repeat until we run out of cells
                while ($td.length) {
                    // get next row
                    $row = $row.next('tr');
                    // If we were on last row
                    if ($row.length === 0) {
                        // Go back to first row
                        $row = $rows.children().first();
                        // And use next column
                        column++;
                    }
                    if (column >= $row.children().length) {
                        column = 1;
                    }
                    // get the position in the row column - if it exists
                    $td = $row.children().eq(column);
                    var $input = $td.find('.txt');
                    if ($input.length) {
                        $input.focus();
                        break;
                    }
                }
            }
        });
    });
</script>
