@model FPrInspectionRejectionBViewModel

@{
    ViewData["Title"] = "Inspection Rejection (Bulk)";
    Layout = Layout;
}

<h2><i class="fa fa-edit fa-lg text-warning" aria-hidden="true"></i>Create @ViewData["Title"]</h2>
<hr />

<div class="container-fluid">
    <form id="form" role="form" asp-action="EditFPrInspectionRejectionB">
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">
                @Html.HiddenFor(c=>c.FPrInspectionRejectionB.EncryptedId)
                @Html.HiddenFor(c=>c.FPrInspectionRejectionB.IBR_ID)

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionRejectionB.SearchDate" class="control-label"></label>
                        <input asp-for="FPrInspectionRejectionB.SearchDate" class="form-control" />
                        <span asp-validation-for="FPrInspectionRejectionB.SearchDate" class="text-danger"></span>
                    </div>
                </div>

                <input class="" type="text" id="purpose1" style="border: none; width: 1px; height: 1px;" />

                <div class="col-12"><hr /></div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionRejectionB.TRANS_DATE" class="control-label"></label>
                        <input asp-for="FPrInspectionRejectionB.TRANS_DATE" class="form-control" />
                        <span asp-validation-for="FPrInspectionRejectionB.TRANS_DATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionRejectionB.DOFF_ID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FPrInspectionRejectionB.DOFF_ID, new SelectList(Model.StyleSetLoomListEdit, "ID", "Name"), "Select Style Name", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FPrInspectionRejectionB.DOFF_ID" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Program No</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="program">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Loom No</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="loom">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionRejectionB.REDECTION_YDS" class="control-label"></label>
                        <input asp-for="FPrInspectionRejectionB.REDECTION_YDS" class="form-control" />
                        <span asp-validation-for="FPrInspectionRejectionB.REDECTION_YDS" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionRejectionB.SECTION_ID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FPrInspectionRejectionB.SECTION_ID, new SelectList(Model.FBasSectionsList, "SECID", "SECNAME"), "Select Section", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FPrInspectionRejectionB.SECTION_ID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionRejectionB.DEFECT_ID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FPrInspectionRejectionB.DEFECT_ID, new SelectList(Model.FPrInspectionDefectinfoList, "DEF_TYPEID", "NAME"), "Select Defect", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FPrInspectionRejectionB.DEFECT_ID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Doffing Date</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="doffingDate">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Doffing Length</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="doffingLength">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Finishing Date</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="finishDate">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Finishing Operator</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="finishOperator">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Color</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="color">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Finishing M/C</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="finishMc">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionRejectionB.SHIFT" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FPrInspectionRejectionB.SHIFT, new SelectList(Model.FHrShiftInfoList, "ID", "SHIFT"), "Select Shift", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FPrInspectionRejectionB.SHIFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionRejectionB.REMARKS" class="control-label"></label>
                        <input asp-for="FPrInspectionRejectionB.REMARKS" class="form-control" />
                        <span asp-validation-for="FPrInspectionRejectionB.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <input class="" type="text" id="purpose2" style="border: none; width: 1px; height: 1px;" />

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit">Update</button>
                    <a asp-action="CreateFPrInspectionRejectionB" class="btn btn-dark pull-right mr-2">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/js/InspectionRejectionB/CreateFPrInspectionRejectionB.js"></script>
}