
@model ContainsFsampleGarmentRcvd

@{
    if (Model.Remainings > 0)
    {
        <div class="alert alert-primary alert-dismissible fade show disabled" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Total number of items available: <span class="badge badge-light">@Model.Remainings</span></strong>
            <div>
                <span>Article Number: <span class="badge badge-light">@Model.FABCODE</span></span>
            </div>
        </div>

        <script>
            var reqQty = $("#FSampleDespatchDetails_REQ_QTY");
            var delQty = $("#FSampleDespatchDetails_DEL_QTY");

            reqQty.attr({ "min" : 1, "max": "@Model.Remainings"}).val(@Model.Remainings);
            delQty.attr({ "min" : 1, "max": "@Model.Remainings"}).val(@Model.Remainings);
        </script>
    }
}