
@model CreateHSampleFabricDispatchMaster

<div asp-validation-summary="All"></div>

@if (Model.HSampleFabricDispatchDetailses.Any())
{
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(e => e.HSampleFabricDispatchDetails.RCVD.DPD.FSampleFabricRcvD.SITEM.NAME)</th>
                <th>@Html.DisplayNameFor(e => e.HSampleFabricDispatchDetails.BARCODE)</th>
                <th>@Html.DisplayNameFor(e => e.HSampleFabricDispatchDetails.DEL_QTY)</th>
                <th>@Html.DisplayNameFor(e => e.HSampleFabricDispatchDetails.CSPRICE)</th>
                <th>@Html.DisplayNameFor(e => e.HSampleFabricDispatchDetails.NEGO_PRICE)</th>
                <th>@Html.DisplayNameFor(e => e.HSampleFabricDispatchDetails.REMARKS)</th>
                <th>@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.HSampleFabricDispatchDetailses.Count; i++)
            {
                <tr>
                    <td>@Html.Raw(Model.HSampleFabricDispatchDetailses[i].SFDDID > 0 ? $"<i class=\"fa fa-database text-danger\" aria-hidden=\"true\"></i> {i + 1}" : $"<i class=\"fa fa-plus-circle text-success\" aria-hidden=\"true\"></i> {i + 1}")</td>
                    <td>
                        @Html.HiddenFor(e => e.HSampleFabricDispatchDetailses[i].SFDDID)
                        @Html.HiddenFor(e => e.HSampleFabricDispatchDetailses[i].SFDID)
                        @Html.HiddenFor(e => e.HSampleFabricDispatchDetailses[i].RCVDID)
                        @Model.HSampleFabricDispatchDetailses[i].RCVD?.DPD?.FSampleFabricRcvD?.SITEM?.NAME
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.HSampleFabricDispatchDetailses[i].BARCODE)
                        @Model.HSampleFabricDispatchDetailses[i].BARCODE
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.HSampleFabricDispatchDetailses[i].DEL_QTY)
                        @Model.HSampleFabricDispatchDetailses[i].DEL_QTY
                    </td>
                    <td><input asp-for="HSampleFabricDispatchDetailses[i].CSPRICE" class="form-control" /></td>
                    <td><input asp-for="HSampleFabricDispatchDetailses[i].NEGO_PRICE" class="form-control" /></td>
                    <td><input asp-for="HSampleFabricDispatchDetailses[i].REMARKS" class="form-control" /></td>
                    <td><i class="fa fa-trash fa-lg text-danger" onclick="removeFromList(@i)" aria-hidden="true"></i></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Empty!</strong> Please add data to see the list.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
