@model ComExPIMasterViewModel

@{
    ViewData["Title"] = "Commercial Export PI";
}

<h2><i class="fa fa-info-circle text-info" aria-hidden="true"></i> Details @ViewData["Title"]</h2>
<hr />


<div class="col-12">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.STATUS" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.STATUS)</div>
            </div>
        </div>

        <div class="col-12">
            <hr />
        </div>
    </div>

    <div class="row">

        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.PINO" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.PINO)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.PIDATE" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.PIDATE)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.DURATION" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.DURATION)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.VALIDITY" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.VALIDITY)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.SHIPDATE" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.SHIPDATE)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.TENORNavigation.NAME" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.TENORNavigation.NAME)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.CURRENCY" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.CURRENCYS.CONJUGATEDCODESYMBOL)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.TOLERANCE" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.TOLERANCE)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.DEL_PERIOD" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.DEL_PERIOD)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.NEGOTIATION" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.NEGOTIATION)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.INCOTERMS" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.INCOTERMS)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.INSPECTION" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.INSPECTION)</div>
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.ORDER_REF" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.ORDER_REF)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.POL" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.POL)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.POD" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.POD)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.GRS_WEIGHT" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.GRS_WEIGHT)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.NET_WEIGHT" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.NET_WEIGHT)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.COO" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.COO)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.PAYMENT" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.PAYMENT)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.LCNO" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.LCNO)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.FREIGHT" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.FREIGHT)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.INSURANCE_COVERAGE" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.INSURANCE_COVERAGE)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="cOM_EX_PIMASTER.EXP_STATUS" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.EXPORTSTATUS.EXPPORTTYPE)</div>
            </div>
        </div>

        <div class="col-12 row">
            <div class="col-6 row">
                <div class="col-12 p-0">
                    <h2 class="panel-title text-success" data-toggle="collapse" data-target=".bank-info-collapse" aria-expanded="false"><i class="fa fa-bank" aria-hidden="true"></i> Bank Info</h2>
                    <hr>
                </div>

                <div class="col-3 show bank-info-collapse">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.BANKID" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.BANK.BEN_BANK)</div>
                    </div>
                </div>
                <div class="col-3 show bank-info-collapse">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.BANK_ID" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.BANK_.BEN_BANK)</div>
                    </div>
                </div>
            </div>
            <div class="col-6 row">
                <div class="col-12 p-0">
                    <h2 class="panel-title text-success" data-toggle="collapse" data-target=".team-info-collapse" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i> Team Info</h2>
                    <hr>
                </div>

                <div class="col-3 show team-info-collapse">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.TEAM.TEAM_NAME" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.TEAM.TEAM_NAME)</div>
                    </div>
                </div>
                <div class="col-3 show team-info-collapse">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.PersonMktTeam.PERSON_NAME" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.PersonMktTeam.PERSON_NAME)</div>
                    </div>
                </div>
            </div>
            <div class="col-6 row">
                <div class="col-12 p-0">
                    <h2 class="panel-title text-success" data-toggle="collapse" data-target=".po-only-collapse" aria-expanded="false"><i class="fa fa-first-order" aria-hidden="true"></i> For PO Only</h2>
                    <hr>
                </div>

                <div class="col-3 show po-only-collapse">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.DEL_START" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.DEL_START)</div>
                    </div>
                </div>
                <div class="col-3 show po-only-collapse">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.DEL_CLOSE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.DEL_CLOSE)</div>
                    </div>
                </div>
                <div class="col-3 show po-only-collapse">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.BRAND.BRANDNAME" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.BRAND.BRANDNAME)</div>
                    </div>
                </div>
                <div class="col-3 show po-only-collapse">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.FLWBY" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.FLWBY)</div>
                    </div>
                </div>
            </div>
            <div class="col-6 row">
                <div class="col-12 p-0">
                    <h2 class="panel-title text-success" data-toggle="collapse" data-target=".buyer-info-collapse" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Buyer Info</h2>
                    <hr>
                </div>

                <div class="col-3 show buyer-info-collapse">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.BUYER.BUYER_NAME" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.cOM_EX_PIMASTER.BUYER.BUYER_NAME)</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12 p-0 table-hover table-responsive mb-1">
        @await Html.PartialAsync($"~/Views/ComExPiMaster/DetailsComExPiMasterTable.cshtml", Model)
    </div>

</div>

<div class="col-12">
    @Html.ActionLink("Edit", $"EditPIInfo", new { piId = Model.cOM_EX_PIMASTER.EncryptedId }, new { @class = "btn btn-warning pull-right" })
    <a accesskey="b" asp-action="GetComEXPIInfoWithPaged" class="btn btn-dark pull-right">Back to List</a>
</div>