
@model ComExPIMasterViewModel

@if (Model.cOM_EX_PI_DETAILs.Any())
{
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        @Html.DisplayName("Style Information") #1
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body table-responsive table-hover">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_EX_PI_DETAILS.STYLEID)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_EX_PI_DETAILS.SO_NO)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_EX_PI_DETAILS.UNIT)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_EX_PI_DETAILS.COSTID)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_EX_PI_DETAILS.QTY)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_EX_PI_DETAILS.UNITPRICE)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_EX_PI_DETAILS.TOTAL)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_EX_PI_DETAILS.REMARKS)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                for (var i = 0; i < Model.cOM_EX_PI_DETAILs.Count; i++)
                                {
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>@Html.DisplayFor(c => Model.cOM_EX_PI_DETAILs[i].STYLE.FABCODENavigation.STYLE_NAME)</td>
                                        <td>@Html.DisplayFor(c => Model.cOM_EX_PI_DETAILs[i].SO_NO)</td>
                                        <td>@Html.DisplayFor(c => Model.cOM_EX_PI_DETAILs[i].F_BAS_UNITS.UNAME)</td>
                                        <td>@Html.DisplayFor(c => Model.cOM_EX_PI_DETAILs[i].COSTID)</td>
                                        <td>@Html.DisplayFor(c => Model.cOM_EX_PI_DETAILs[i].QTY)</td>
                                        <td>@Html.DisplayFor(c => Model.cOM_EX_PI_DETAILs[i].UNITPRICE)</td>
                                        <td>@Html.DisplayFor(c => Model.cOM_EX_PI_DETAILs[i].TOTAL)</td>
                                        <td>@Html.DisplayFor(c => Model.cOM_EX_PI_DETAILs[i].REMARKS)</td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td>Total</td>
                                <td>:</td>
                                <td colspan="3"></td>
                                <td>@Model.cOM_EX_PI_DETAILs.Sum(e => e.QTY)</td>
                                <td></td>
                                <td colspan="2">@Model.cOM_EX_PI_DETAILs.Sum(e => e.TOTAL)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}