
@model ComExPIMasterViewModel

@{
    ViewData["Title"] = "Commercial Export PI";
}

<h2><i class="fa fa-edit text-warning" aria-hidden="true"></i> <ins>Edit @ViewData["Title"]</ins></h2>

<div class="container-fluid">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel d-flex justify-content-around">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                <p><small>Step 1</small></p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p><small>Finish</small></p>
            </div>
        </div>
    </div>

    <form id="form" role="form" asp-action="PostEditPIInfo">
        @Html.HiddenFor(c => c.cOM_EX_PIMASTER.EncryptedId)
        @Html.HiddenFor(c => c.cOM_EX_PIMASTER.PIID)
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.STATUS" class="control-label"></label>
                        <div class="form-control custom-form-control">
                            <label class="switch">
                                <input asp-for="cOM_EX_PIMASTER.STATUS" />
                                <span class="slider round"></span>
                                <span class="absolute-no">NO</span>
                            </label>
                        </div>
                        <span asp-validation-for="cOM_EX_PIMASTER.STATUS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.PINO" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.PINO" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.PINO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.PIDATE" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.PIDATE" type="date" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.PIDATE" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.BUYERID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.cOM_EX_PIMASTER.BUYERID, new SelectList(Model.bAS_BUYERINFOs, "BUYERID", "BUYER_NAME"), "Select Buyer", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(fi => fi.cOM_EX_PIMASTER.BUYERID, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.TENOR" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.cOM_EX_PIMASTER.TENOR, new SelectList(Model.ComTenors, "TID", "NAME"), "Select Tenor", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="cOM_EX_PIMASTER.TENOR" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.CURRENCY" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.cOM_EX_PIMASTER.CURRENCY, new SelectList(Model.Currencies, "Id", "CODE"), "Select Currency", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="cOM_EX_PIMASTER.CURRENCY" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.BANKID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.cOM_EX_PIMASTER.BANKID, new SelectList(Model.bAS_BEN_BANK_MASTERs, "BANKID", "BEN_BANK"), "Select Bank", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(fi => fi.cOM_EX_PIMASTER.BANKID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.TEAMID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.cOM_EX_PIMASTER.TEAMID, new SelectList(Model.bAS_TEAMINFOs, "TEAMID", "TEAM_NAME"), "Select Team", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(fi => fi.cOM_EX_PIMASTER.TEAMID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.TEAM_PERSONID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.cOM_EX_PIMASTER.TEAM_PERSONID, new SelectList(Model.MktTeams, "MKT_TEAMID", "PERSON_NAME"), "Select Marketing Person", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(fi => fi.cOM_EX_PIMASTER.TEAM_PERSONID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-2">
                    <label asp-for="cOM_EX_PIMASTER.NET_WEIGHT" class="control-label fa fa-info-circle btn-link" data-toggle="tooltip" data-placement="bottom" title="You can change in edit mode. Please leave it here and complete the operation."></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="netWeight"><i class="fa fa-code" aria-hidden="true"></i></span>
                        </div>
                        <input asp-for="cOM_EX_PIMASTER.NET_WEIGHT" class="form-control" readonly="readonly" />
                        <span asp-validation-for="cOM_EX_PIMASTER.NET_WEIGHT" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <label asp-for="cOM_EX_PIMASTER.GRS_WEIGHT" class="control-label fa fa-info-circle btn-link" data-toggle="tooltip" data-placement="bottom" title="You can change in edit mode. Please leave it here and complete the operation."></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="grossWeight"><i class="fa fa-code" aria-hidden="true"></i></span>
                        </div>
                        <input asp-for="cOM_EX_PIMASTER.GRS_WEIGHT" class="form-control" readonly="readonly" />
                        <span asp-validation-for="cOM_EX_PIMASTER.GRS_WEIGHT" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.DURATION" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.DURATION" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.DURATION" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.BANK_ID" class="control-label"></label>
                        @Html.DropDownListFor(yc => yc.cOM_EX_PIMASTER.BANK_ID, new SelectList(Model.bAS_BEN_BANK_MASTERs, "BANKID", "BEN_BANK"), "Select Bank", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(yc => yc.cOM_EX_PIMASTER.BANK_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.DEL_PERIOD" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.DEL_PERIOD" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.DEL_PERIOD" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.TOLERANCE" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.TOLERANCE" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.TOLERANCE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.NEGOTIATION" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.NEGOTIATION" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.NEGOTIATION" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.INCOTERMS" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.INCOTERMS" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.INCOTERMS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.INSPECTION" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.INSPECTION" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.INSPECTION" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.PAYMENT" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.PAYMENT" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.PAYMENT" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.LCNO" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.LCNO" class="form-control" readonly="readonly" />
                        <span asp-validation-for="cOM_EX_PIMASTER.LCNO" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.EXP_STATUS" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.cOM_EX_PIMASTER.EXP_STATUS, new SelectList(Model.Exportstatuses, "EXTYPEID", "EXPPORTTYPE"), "Select Export Status", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="cOM_EX_PIMASTER.EXP_STATUS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2 d-none styleDetails">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.INSURANCE_COVERAGE" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.INSURANCE_COVERAGE" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.INSURANCE_COVERAGE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2 d-none styleDetails">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.POL" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.POL" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.POL" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.COO" class="control-label"></label>
                        <select class="form-control js-example-basic-single" asp-for="cOM_EX_PIMASTER.COO">
                            <option value="BANGLADESH">Bangladesh</option>
                        </select>
                        <span asp-validation-for="cOM_EX_PIMASTER.COO" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2 d-none styleDetails">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.POD" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.POD" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.POD" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2 d-none styleDetails">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.SHIPDATE" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.SHIPDATE" type="date" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.SHIPDATE" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-2 d-none styleDetails">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.FREIGHT" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.FREIGHT" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.FREIGHT" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.VALIDITY" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.VALIDITY" class="form-control" readonly />
                        <span asp-validation-for="cOM_EX_PIMASTER.VALIDITY" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.PONOTE" class="control-label"></label>
                        <textarea asp-for="cOM_EX_PIMASTER.PONOTE" class="form-control"></textarea>
                        <span asp-validation-for="cOM_EX_PIMASTER.PONOTE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="bAS_SEASON.SNAME" class="control-label"></label>
                        @Html.DropDownListFor(c => c.cOM_EX_PIMASTER.SID,
                        new SelectList(Model.BasSeasonList, "SID", "SNAME"), "Select Season",
                        new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="cOM_EX_PIMASTER.SID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <h2 class="panel-title text-success"><i class="fa fa-first-order" aria-hidden="true"></i> For PO Only</h2>
                    <hr />
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.DEL_START" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.DEL_START" type="date" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.DEL_START" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.DEL_CLOSE" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.DEL_CLOSE" type="date" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.DEL_CLOSE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.BRANDID" class="control-label"></label>
                        @Html.DropDownListFor(yl => yl.cOM_EX_PIMASTER.BRANDID, new SelectList(Model.bAS_BRANDINFOs, "BRANDID", "BRANDNAME"), "Select Brand", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(yl => yl.cOM_EX_PIMASTER.BRANDID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PIMASTER.FLWBY" class="control-label"></label>
                        <input asp-for="cOM_EX_PIMASTER.FLWBY" class="form-control" />
                        <span asp-validation-for="cOM_EX_PIMASTER.FLWBY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <button accesskey="n" class="btn btn-info nextBtn pull-right" type="button">Next</button>
                    <a accesskey="b" asp-action="GetComExpiInfoWithPaged" class="btn btn-dark pull-right">Back to List</a>
                </div>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-body row">
                <div class="col-12">
                    <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> Style Information</h2>
                    <hr />
                </div>

                <input asp-for="cOM_EX_PI_DETAILS.TRNSID" type="hidden" />
                <input asp-for="cOM_EX_PI_DETAILS.SO_NO" type="hidden" />

                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PI_DETAILS.STYLEID" class="control-label"></label>
                        @Html.DropDownListFor(yl => yl.cOM_EX_PI_DETAILS.STYLEID, new SelectList(Model.cOM_EX_FABSTYLEs, "STYLEID", "STYLENAME"), "Select Style", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(yl => yl.cOM_EX_PI_DETAILS.STYLEID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label class="control-label">Fabric Code</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="fabric">
                        </span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label class="control-label">Color</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="color">
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PI_DETAILS.COSTID" class="control-label"></label>
                        @Html.DropDownListFor(yl => yl.cOM_EX_PI_DETAILS.COSTID, new SelectList(Model.CosPreCostingMasters, "CSID", "OPTION1"), "Select Cost Ref.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="cOM_EX_PI_DETAILS.COSTID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PI_DETAILS.UNIT" class="control-label"></label>
                        @Html.DropDownListFor(yl => yl.cOM_EX_PI_DETAILS.UNIT, new SelectList(Model.FBasUnitses, "UID", "UNAME", Model.FBasUnitses.FirstOrDefault(e => new[] { "yds", "yard", "yards" }.Any(f => f.Contains(e.UNAME.ToLower())))?.UID), "Select An Unit", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="cOM_EX_PI_DETAILS.UNIT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PI_DETAILS.QTY" class="control-label"></label>
                        <input asp-for="cOM_EX_PI_DETAILS.QTY" class="form-control" id="qty" />
                        <span asp-validation-for="cOM_EX_PI_DETAILS.QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PI_DETAILS.UNITPRICE" class="control-label"></label>
                        <input asp-for="cOM_EX_PI_DETAILS.UNITPRICE" class="form-control" id="unitPrice" />
                        <span asp-validation-for="cOM_EX_PI_DETAILS.UNITPRICE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PI_DETAILS.TOTAL" class="control-label"></label>
                        <input asp-for="cOM_EX_PI_DETAILS.TOTAL" class="form-control" id="total" readonly />
                        <span asp-validation-for="cOM_EX_PI_DETAILS.TOTAL" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="cOM_EX_PI_DETAILS.REMARKS" class="control-label"></label>
                        <input asp-for="cOM_EX_PI_DETAILS.REMARKS" class="form-control" />
                        <span asp-validation-for="cOM_EX_PI_DETAILS.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <button accesskey="u" class="btn btn-warning pull-right" type="submit">Update</button>
                    <button accesskey="a" class="btn btn-success pull-right" id="btnAdd" type="button">Add</button>
                    <button accesskey="p" class="btn btn-info prevBtn pull-right" type="button">Prev</button>
                    <a asp-action="GetComExpiInfoWithPaged" class="btn btn-dark pull-right mr-2" accesskey="b">Back to List</a>
                </div>

                <div class="col-12 table-responsive table-hover" id="piDetails">
                    @await Html.PartialAsync($"~/Views/ComExPiMaster/ComExPIDetailsTable.cshtml", Model)
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script type="text/javascript" asp-append-version="true">

        var piDetails = $("#piDetails");
        var comExDtTrnsId = $("#cOM_EX_PI_DETAILS_TRNSID");
        var soNumber = $("#cOM_EX_PI_DETAILS_SO_NO");
        var netWeight = $("#cOM_EX_PIMASTER_NET_WEIGHT");
        var grsWeight = $("#cOM_EX_PIMASTER_GRS_WEIGHT");
        var exportId = $("#cOM_EX_PIMASTER_EXP_STATUS");

        var temp;

        $(function () {

            export_func();

            exportId.on("change", function () {
                export_func();
            });

            function export_func() {

                var value = exportId.val();

                console.log(value);

                if (value != 1) {

                    $(".styleDetails").removeClass('d-none');

                }

                else {
                    $(".styleDetails").addClass("d-none");
                }

            }


            var duration = $("#cOM_EX_PIMASTER_DURATION");
            var piDate = $("#cOM_EX_PIMASTER_PIDATE");
            var validity = $("#cOM_EX_PIMASTER_VALIDITY");

            GetWeight();

            $("#netWeight,#grossWeight,#cOM_EX_PIMASTER_NET_WEIGHT,#cOM_EX_PIMASTER_GRS_WEIGHT").on("click", function () {
                GetWeight();
            });


            $("#cOM_EX_PIMASTER_TEAM_PERSONID").change(function () {
                var data = $('#cOM_EX_PIMASTER_TEAM_PERSONID').select2('data');
                $("#cOM_EX_PIMASTER_FLWBY").val(data[0].text);
            });

            $("#cOM_EX_PIMASTER_TEAMID").change(function () {
                var selectedItem = $(this).val();
                $.ajax({
                    type: "GET",
                    url: "/MktSdrfInfo/GetTeamMembers",
                    data: { "teamid": selectedItem },
                    success: function (data) {
                        if (data != null) {

                            $("#cOM_EX_PIMASTER_TEAM_PERSONID").html('');
                            $("#cOM_EX_PIMASTER_TEAM_PERSONID").append('<option value="" selected>Select Marketing Person</option>');
                            $.each(data,
                                function (id, option) {
                                    $("#cOM_EX_PIMASTER_TEAM_PERSONID").append($('<option></option>').val(option.mkT_TEAMID).html(option.persoN_NAME));
                                });
                        } else {
                            toastrNotification("Sorry! No Team Member.", "error");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        toastrNotification("Error: Failed To Retrieve Team Members.", "error");

                    }
                });
            });

            duration.on("change",
                function () {

                    $.ajax({
                        async: true,
                        cache: false,
                        data: $("form").serializeArray(),
                        type: "POST",
                        url: "/ComExPiMaster/AddDays",
                        success: function (data) {
                            if (data !== null) {
                                validity.val(data);
                            }
                        },
                        error: function () {
                            console.log("an error occurred.");
                        }
                    });

                });

            piDate.on("change",
                function () {
                    $.ajax({
                        async: true,
                        cache: false,
                        data: $("form").serializeArray(),
                        type: "POST",
                        url: "/ComExPiMaster/AddDays",
                        success: function (data) {
                            if (data !== null) {
                                validity.val(data);
                            }
                        },
                        error: function () {
                            console.log("an error occurred.");
                        }
                    });

                });

            $("#cOM_EX_PIMASTER_PINO").on("change",
                function () {
                    toastrNotification('Changing PI No will revise PI', 'info');
                });

            $("#qty").on("change",
                function () {
                    $('#total').val(($('#qty').val() * $('#unitPrice').val()).toFixed(2));
                });

            $("#unitPrice").on("change",
                function () {
                    $('#total').val(($('#qty').val() * $('#unitPrice').val()).toFixed(2));
                });


            //Add Item to PI Details List
            $("#btnAdd").on('click', function () {

                var formData = $('#form').serializeArray();

                $.post("/CommercialExport/AddOrRemovePIDetails", formData, function (partialView) {
                    $('#piDetails').html(partialView);
                    comExDtTrnsId.val('');
                    soNumber.val('');
                }).fail(function () {
                    toastrNotification('Failed to Add PI Details.', 'error');
                });

                //$.ajax({
                //    async: true,
                //    cache: false,
                //    data: { piId: $('#cOM_EX_PIMASTER_PIID').val(), styleId: $('#cOM_EX_PI_DETAILS_STYLEID').val() },
                //    type: "GET",
                //    dataType: "json",
                //    url: '/ComExPiMaster/IsPiDetailsExist',
                //    success: function (data) {
                //        if (!data) {
                //            $.ajax({
                //                async: true,
                //                cache: false,
                //                data: $('#form').serialize(),
                //                type: "POST",
                //                url: '/ComExPiMaster/AddPIDetails',
                //                success: function (partialView) {
                //                    $('#piDetails').html(partialView);
                //                },
                //                error: function (e) {
                //                    toastrNotification('Failed to Add PI Details.', 'error');
                //                }
                //            });
                //        } else {
                //            swal({
                //                title: "Please Confirm",
                //                text: "This style already exist. To update press Yes.",
                //                type: "warning",
                //                showCancelButton: true,
                //                confirmButtonText: "Yes",
                //                cancelButtonText: "Cancel"
                //            },
                //                function (isConfirm) {
                //                    if (isConfirm) {
                //                        $.ajax({
                //                            async: true,
                //                            cache: false,
                //                            data: $('#form').serialize(),
                //                            type: "POST",
                //                            url: '/ComExPiMaster/AddPIDetails',
                //                            success: function (partialView) {
                //                                $('#piDetails').html(partialView);
                //                            },
                //                            error: function (e) {
                //                                toastrNotification('Failed to Add PI Details.', 'error');
                //                            }
                //                        });
                //                    }
                //                });
                //        }
                //    },
                //    error: function (e) {
                //        toastrNotification('Error, Please contact with developers.', 'error');
                //    }
                //});
            });

            $("#cOM_EX_PI_DETAILS_STYLEID").on("change",
                function () {

                    var selectedVal = $(this).val();

                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "styleId": selectedVal },
                        type: "POST",
                        url: "/ComExPiMaster/GetCostRefNo",
                        success: function (data) {

                            $("#fabric").text(data.comExFabStyle.fabcodeNavigation.stylE_NAME);
                            $("#color").text(data.comExFabStyle.fabcodeNavigation.colorcodeNavigation.color);

                            if (temp == null) {
                                $("#cOM_EX_PI_DETAILS_COSTID").html('');
                                $("#cOM_EX_PI_DETAILS_COSTID").append('<option value="" selected>Select Cost Ref.</option>');
                            }

                            temp = null;


                            $.each(data.cosPreCostingMasters, function (id, option) {
                                $("#cOM_EX_PI_DETAILS_COSTID").append($('<option></option>').val(option.csid).html('CS-' + option.csid));
                            });

                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                    
                });
        });

        function GetWeight() {
            var formData = $("#form").serializeArray();

            $.post("/CommercialExport/GetNetGrossWeight", formData, function (data) {
                netWeight.val(parseFloat(data.neT_WEIGHT).toFixed(2));
                grsWeight.val(parseFloat(data.grosS_WEIGHT).toFixed(2));
            });
        }


        function RemoveExportPIDetails(index) {

            const formData = $("#form").serializeArray();

            formData.push({ name: "RemoveIndex", value: index });
            formData.push({ name: "IsDelete", value: true });

            $.post("/CommercialExport/AddOrRemovePIDetails", formData, function (partialView) {
                piDetails.html(partialView);
            }).fail(function () {
                toastr.error(errors[0].message, errors[0].title);
            });
        }

        var updateRow = function (selector) {
            $("[type='hidden']", selector).prop("type", "text").addClass("col-xs-6 col-sm-3 mr-2");
        };

        //To Remove Existing PI Details List
        function RemovePIInfo(trnsId, piId) {
            swal({
                title: "Please Confirm",
                text: "Data Will Deleted From Database",
                type: "info",
                showCancelButton: true,
                confirmButtonText: "OK",
                cancelButtonText: "Cancel"
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            async: true,
                            cache: false,
                            type: "POST",
                            data: { trnsId: trnsId, piId: piId },
                            url: '/ComExPiMaster/RemoveExistingPIDetails',
                            success: function (partialView) {
                                toastrNotification('Successfully Deleted PI Details.', 'success');
                                $('#PreviousData').html(partialView);
                            },
                            error: function (e) {
                                toastrNotification('Failed to Delete PI Details.', 'error');
                            }
                        });
                    }
                });


        };


        function EditPIInfo(trnsId) {

            temp = null;

            $.ajax({
                async: true,
                cache: false,
                type: "GET",
                data: { trnsId: trnsId },
                url: '/ComExPiMaster/GetSinglePiDetails',
                success: function (data) {
                    if (data) {

                        comExDtTrnsId.val(trnsId);

                        console.log(data);
                        temp = data.costid;

                        console.log(temp);

                        $('#cOM_EX_PI_DETAILS_COSTID').val(data.costid).trigger("change");
                        $('#cOM_EX_PI_DETAILS_STYLEID').val(data.styleid).trigger("change");
                        $('#cOM_EX_PI_DETAILS_UNIT').val(data.unit).trigger("change");
                        
                        $('#qty').val(data.qty);
                        $('#unitPrice').val(data.unitprice);
                        $('#total').val(data.total);
                        $('#cOM_EX_PI_DETAILS_REMARKS').val(data.remarks);
                        soNumber.val(data.sO_NO);
                    } else {
                        toastrNotification('Failed to Retrieve PI Details.', 'error');
                    }
                },
                error: function (e) {
                    toastrNotification('Failed to Retrieve PI Details.', 'error');
                }
            });
        };
    </script>
}