
@model AccExRealizationViewModel

@{
    ViewData["Title"] = "Account Export Realization";
}

@{
    if (Model != null)
    {
        <div class="container-fluid">
            <form id="form" role="form" asp-action="PostAuditRealization">
                @Html.HiddenFor(modelItem => Model.AccExportRealization.EncryptedId)

                <div class="col-8 row d-inline-flex">
                    <div class="col-12">
                        <h2><i class="fa fa-balance-scale text-success"></i> Audit @ViewData["Title"]</h2>
                        <hr />
                    </div>

                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">@Html.DisplayNameFor(e => e.AccExportRealization.INVOICE.INVNO) : [ @Model.AccExportRealization.INVOICE.INVNO ]</li>
                            <li class="breadcrumb-item">@Html.DisplayNameFor(e => e.AccExportRealization.INVOICE.LC.LCNO) : [ @Model.AccExportRealization.INVOICE.LC.LCNO ]</li>
                            <li class="breadcrumb-item active">@Html.DisplayNameFor(e => e.AccExportRealization.INVOICE.LC.LC_STATUS) : [ @Model.AccExportRealization.INVOICE.LC.LC_STATUS ]</li>
                        </ol>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.TRNSDATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.TRNSDATE)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.REZDATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.REZDATE)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.BUYER.BUYER_NAME" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.BUYER.BUYER_NAME)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.PDOCNO" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.PDOCNO)</div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.LC.BANK_.PARTY_BANK" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.LC.BANK_.PARTY_BANK)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.INVDATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.INVDATE)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.INVDURATION" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.INVDURATION)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.LC.FILENO" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.LC.FILENO)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.NEGODATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.NEGODATE)</div>
                        </div>
                    </div>


                    <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-pending-documents" aria-expanded="false">
                        <h2 class="panel-title text-success"><i class="fa fa-hourglass-half" aria-hidden="true"></i> Pending Documents</h2>
                        <hr />
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-pending-documents show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.DELDATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.DELDATE)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-pending-documents show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.DOC_SUB_DATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.DOC_SUB_DATE)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-pending-documents show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.DOC_RCV_DATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.DOC_RCV_DATE)</div>
                        </div>
                    </div>

                    <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-bank-acceptance" aria-expanded="false">
                        <h2 class="panel-title text-success"><i class="fa fa-check" aria-hidden="true"></i> Bank Acceptance</h2>
                        <hr />
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-bank-acceptance show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.BNK_SUB_DATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.BNK_SUB_DATE)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-bank-acceptance show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.BANK_REF" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.BANK_REF)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-bank-acceptance show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.BILL_DATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.BILL_DATE)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-bank-acceptance show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.DISCREPANCY" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.DISCREPANCY)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-bank-acceptance show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.BNK_ACC_DATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.BNK_ACC_DATE)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-bank-acceptance show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.MATUDATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.MATUDATE)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-bank-acceptance show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.BNK_ACC_POSTING" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.BNK_ACC_POSTING)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-bank-acceptance show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.EXDATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.EXDATE)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-bank-acceptance show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.ODAMOUNT" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.ODAMOUNT)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-bank-acceptance show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.ODRCVDATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.ODRCVDATE)</div>
                        </div>
                    </div>

                    <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-prc" aria-expanded="false">
                        <h2 class="panel-title text-success"><i class="fa fa-money" aria-hidden="true"></i> PRC</h2>
                        <hr />
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-prc show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.PRCAMOUNT" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.PRCAMOUNT)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-prc show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.PRCDATE" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.PRCDATE)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-prc show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.PDOCNO" class="control-label font-weight-bold"></label>
                            <div class="form-control-dark form-control">@Html.DisplayFor(model => model.AccExportRealization.INVOICE.PDOCNO)</div>
                        </div>
                    </div>

                    <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-uploaded-files" aria-expanded="false">
                        <h2 class="panel-title text-success"><i class="fa fa-files-o"></i> Uploaded Files</h2>
                        <hr />
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-uploaded-files show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.BANKREFPATH" class="control-label font-weight-bold"></label>
                            @if (!string.IsNullOrEmpty(Model.AccExportRealization.INVOICE.BANKREFPATH))
                            {
                                <a asp-action="com_ex_invoice_files" asp-controller="Files" asp-route-fileName="@Model.AccExportRealization.INVOICE.BANKREFPATH" class="d-flex btn-link" target="_blank"><i class="fa fa-file" aria-hidden="true"> @Model.AccExportRealization.INVOICE.BANKREFPATH.Split(new char[] { ' ', '_' }, 2)[1]</i></a>
                            }
                            else
                            {
                                <br />
                                @Html.DisplayName("N/A")
                            }
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-uploaded-files show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.DISCREPANCYPATH" class="control-label font-weight-bold"></label>
                            @if (!string.IsNullOrEmpty(Model.AccExportRealization.INVOICE.DISCREPANCYPATH))
                            {
                                <a asp-action="com_ex_invoice_files" asp-controller="Files" asp-route-fileName="@Model.AccExportRealization.INVOICE.DISCREPANCYPATH" class="d-flex btn-link" target="_blank"><i class="fa fa-file" aria-hidden="true"> @Model.AccExportRealization.INVOICE.DISCREPANCYPATH.Split(new char[] { ' ', '_' }, 2)[1]</i></a>
                            }
                            else
                            {
                                <br />
                                @Html.DisplayName("N/A")
                            }
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-uploaded-files show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.PAYMENTPATH" class="control-label font-weight-bold"></label>
                            @if (!string.IsNullOrEmpty(Model.AccExportRealization.INVOICE.PAYMENTPATH))
                            {
                                <a asp-action="com_ex_invoice_files" asp-controller="Files" asp-route-fileName="@Model.AccExportRealization.INVOICE.PAYMENTPATH" class="d-flex btn-link" target="_blank"><i class="fa fa-file" aria-hidden="true"> @Model.AccExportRealization.INVOICE.PAYMENTPATH.Split(new char[] { ' ', '_' }, 2)[1]</i></a>
                            }
                            else
                            {
                                <br />
                                @Html.DisplayName("N/A")
                            }
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xs-3 multi-collapse-uploaded-files show">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.INVOICE.BANKACCEPTPATH" class="control-label font-weight-bold"></label>
                            @if (!string.IsNullOrEmpty(Model.AccExportRealization.INVOICE.BANKACCEPTPATH))
                            {
                                <a asp-action="com_ex_invoice_files" asp-controller="Files" asp-route-fileName="@Model.AccExportRealization.INVOICE.BANKACCEPTPATH" class="d-flex btn-link" target="_blank"><i class="fa fa-file" aria-hidden="true"> @Model.AccExportRealization.INVOICE.BANKACCEPTPATH.Split(new char[] { ' ', '_' }, 2)[1]</i></a>
                            }
                            else
                            {
                                <br />
                                @Html.DisplayName("N/A")
                            }
                        </div>
                    </div>

                    <div class="col-12 table-responsive table-hover">
                        @await Html.PartialAsync($"~/Views/AccExportRealization/DetailsAccExportRealizationTable.cshtml", Model)
                    </div>

                </div>
                <div class="col-4 row d-inline-flex">

                    <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-uploaded-files" aria-expanded="false">
                        <h2 class="panel-title text-success"><i class="fa fa-wrench" aria-hidden="true"></i> Audit Control</h2>
                        <hr />
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.REMARKS" class="control-label">Audit Notes</label>
                            <textarea rows="3" asp-for="AccExportRealization.REMARKS" class="form-control"></textarea>
                            <span asp-validation-for="AccExportRealization.REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.AUDITBY" class="control-label"></label>
                            <input asp-for="AccExportRealization.AUDITBY" class="form-control" readonly="readonly" />
                            <span asp-validation-for="AccExportRealization.AUDITBY" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label asp-for="AccExportRealization.AUDITDATE" class="control-label"></label>
                            <input asp-for="AccExportRealization.AUDITDATE" class="form-control" />
                            <span asp-validation-for="AccExportRealization.AUDITDATE" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12 p-0">
                        <button class="btn btn-warning pull-right" type="submit" accesskey="u">Save</button>
                        <a class="btn btn-dark pull-right" asp-action="GetAccExRealizationWithPaged" asp-controller="AccExportRealization" accesskey="b">Back to List</a>
                    </div>

                </div>
            </form>
        </div>
    }
}