
@model AccExRealizationViewModel

@if (Model.ComExInvdetailses.Any())
{
    <h2 class="panel-title text-success">Style Information</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(model => model.ComExInvdetails.ComExFabstyle.FABCODENavigation.STYLE_NAME)</th>
                <th>@Html.DisplayNameFor(model => model.ComExInvdetails.ROLL)</th>
                <th>@Html.DisplayNameFor(model => model.ComExInvdetails.QTY)</th>
                <th>@Html.DisplayNameFor(model => model.ComExInvdetails.RATE)</th>
                <th>@Html.DisplayNameFor(model => model.ComExInvdetails.AMOUNT)</th>
                <th>@Html.DisplayNameFor(model => model.ComExInvdetails.REMARKS)</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.ComExInvdetailses.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model.ComExInvdetailses[i].ComExFabstyle.FABCODENavigation.STYLE_NAME</td>
                    <td>@Model.ComExInvdetailses[i].ROLL</td>
                    <td>@Model.ComExInvdetailses[i].QTY</td>
                    <td>@Model.ComExInvdetailses[i].RATE</td>
                    <td>@Model.ComExInvdetailses[i].AMOUNT</td>
                    <td>@Model.ComExInvdetailses[i].REMARKS</td>
                </tr>
            }
            <tr>
                <td>Total</td>
                <td>:</td>
                <td></td>
                <td>@Model.ComExInvdetailses.Sum(e => e.QTY)</td>
                <td></td>
                <td colspan="2">@Model.ComExInvdetailses.Sum(e => e.AMOUNT)</td>
            </tr>
        </tbody>
    </table>
}