@model FSizingProductionRopeViewModel

@if (Model.FPrSizingProcessRopeDetailsList.Any())
{
    <table class="table mt-2 table-condensed" style="border-collapse: collapse;" id="partialView">
        <thead id="thead" class="bg-dark text-white">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeDetailsList.FirstOrDefault().S_MID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeDetailsList.FirstOrDefault().W_BEAMID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeDetailsList.FirstOrDefault().BEAM_TYPE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeDetailsList.FirstOrDefault().LENGTH_PER_BEAM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeDetailsList.FirstOrDefault().BREAK_PER_BEAM)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeDetailsList.FirstOrDefault().BREAK_PER_BEAM_B)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeDetailsList.FirstOrDefault().BREAK_PER_BEAM_C)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeDetailsList.FirstOrDefault().SHIFT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeDetailsList.FirstOrDefault().EMPID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeDetailsList.FirstOrDefault().REMARKS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeDetailsList.FirstOrDefault().IS_DELIVERABLE)
                </th>
                <th>
                    @Html.DisplayName("Remove")
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FPrSizingProcessRopeDetailsList.Count; i++)
            {
                <tr>
                    <td>
                        @if (Model.FPrSizingProcessRopeDetailsList[i].SDID > 0)
                        {
                            <i class="fa fa-database text-danger" aria-hidden="true" title="From database."></i>
                        }
                        else
                        {
                            <i class="fa fa-plus-circle text-info" aria-hidden="true" title="New data."></i>
                        }
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].S_MID)
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].SDID)
                        @Model.FPrSizingProcessRopeDetailsList[i].S_M?.MACHINE_NO
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].W_BEAMID)
                        @Model.FPrSizingProcessRopeDetailsList[i].W_BEAM?.BEAM_NO
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].BEAM_TYPE)
                        @Model.FPrSizingProcessRopeDetailsList[i].BEAM_TYPE
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].LENGTH_PER_BEAM)
                        @Model.FPrSizingProcessRopeDetailsList[i].LENGTH_PER_BEAM
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].BREAK_PER_BEAM)
                        @Model.FPrSizingProcessRopeDetailsList[i].BREAK_PER_BEAM
                    </td>
                    @*<td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].BREAK_PER_BEAM_B)
                        @Model.FPrSizingProcessRopeDetailsList[i].BREAK_PER_BEAM_B
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].BREAK_PER_BEAM_C)
                        @Model.FPrSizingProcessRopeDetailsList[i].BREAK_PER_BEAM_C
                    </td>*@
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].SHIFT)
                        @Model.FPrSizingProcessRopeDetailsList[i].SHIFT
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].EMPID)
                        @Model.FPrSizingProcessRopeDetailsList[i].EMP?.FIRST_NAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].REMARKS)
                        @Model.FPrSizingProcessRopeDetailsList[i].REMARKS
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeDetailsList[i].IS_DELIVERABLE)
                        @*@if (Model.FPrSizingProcessRopeDetailsList[i].IS_DELIVERABLE)
        {
            <span class="text-success">Yes</span>
        }
        else
        {
            <span class="text-danger">No</span>
        }*@


                        @if (Model.FPrSizingProcessRopeDetailsList[i].IS_DELIVERABLE && Model.FPrSizingProcessRopeDetailsList[i].SDID > 0)
                        {
                            <div class="round_gol"><input type="checkbox" name="@Model.FPrSizingProcessRopeDetailsList[i].W_BEAMID" id="@Model.FPrSizingProcessRopeDetailsList[i].W_BEAMID" checked disabled /><label for="@Model.FPrSizingProcessRopeDetailsList[i].W_BEAMID"></label></div>;
                        }
                        else if (Model.FPrSizingProcessRopeDetailsList[i].IS_DELIVERABLE)
                        {
                            <div class="round_gol"><input type="checkbox" name="@Model.FPrSizingProcessRopeDetailsList[i].W_BEAMID" id="@Model.FPrSizingProcessRopeDetailsList[i].W_BEAMID" checked/><label for="@Model.FPrSizingProcessRopeDetailsList[i].W_BEAMID"></label></div>;
                        }
                        else
                        {
                            <div class="round_gol"><input onclick="doApprove(@i,@Model.FPrSizingProcessRopeDetailsList[i].SDID,@Model.FPrSizingProcessRopeDetailsList[i].W_BEAMID)" type="checkbox" name="@Model.FPrSizingProcessRopeDetailsList[i].W_BEAMID" id="@Model.FPrSizingProcessRopeDetailsList[i].W_BEAMID" /><label for="@Model.FPrSizingProcessRopeDetailsList[i].W_BEAMID"></label></div>;
                        }

                    </td>
                    <td>

                        @if (Model.FPrSizingProcessRopeDetailsList[i].IS_DELIVERABLE && Model.FPrSizingProcessRopeDetailsList[i].SDID > 0)
                        {
                            <a target='_blank' title='Print Sizing Sticker Report' href='/Reports/SizingBeamCard?Beam_No=@Model.FPrSizingProcessRopeDetailsList[i].SDID' class='fa fa-print fa-2x-custom text-primary mr-2'></a>
                        }
                        else
                        {
                            <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveBeamFromList(@i)" aria-hidden="true"></i>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
}


<script type="text/javascript" asp-append-version="true">
    function RemoveBeamFromList(removeIndexValue) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/FPrSizingProductionRope/RemoveBeamFromList',
            success: function (partialView, status, xhr) {
                setQty(xhr);
                $('#beamDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function doApprove(i, sdId, index) {
        var id = $("#" + "FPrSizingProcessRopeDetailsList_" + i + "__IS_DELIVERABLE");
        var ind = $("#" + index);
        if (id.val() === "False") {
            id.val("True");
            //ind.prop('disabled', true);
        } else {
            id.val("False");
        }
        if (sdId !== 0) {
            swal({
                title: "Please Confirm",
                text: "Data Will Directly Updated to Database",
                type: "info",
                showCancelButton: true,
                confirmButtonText: "OK",
                cancelButtonText: "Cancel"
            },
                function (isConfirm) {
                    if (isConfirm) {
                        var data = $('#form').serializeArray();
                        data.push({ name: "sdId", value: sdId });
                        $.ajax({
                            async: true,
                            cache: false,
                            data: data,
                            type: "POST",
                            url: '/FPrSizingProductionRope/UpdateDeliverable',
                            success: function (partialView, status, xhr) {
                                setQty(xhr);
                                $('#beamDetails').html(partialView);
                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });
                    }
                });


        }

    }
</script>