@model FSizingProductionRopeViewModel

@if (Model.FPrSizingProcessRopeChemList.Any())
{
    <table class="table mt-2 table-condensed" style="border-collapse: collapse;" id="partialView">
        <thead id="thead" class="bg-dark text-white">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeChemList.FirstOrDefault().CHEM_PRODID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeChemList.FirstOrDefault().QTY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeChemList.FirstOrDefault().UNIT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrSizingProcessRopeChemList.FirstOrDefault().REMARKS)
                </th>
                <th>
                    @Html.DisplayName("Remove")
                </th>
            </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.FPrSizingProcessRopeChemList.Count; i++)
            {
                <tr>
                    <td><span class="expand-button"></span></td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeChemList[i].S_CHEMID)
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeChemList[i].CHEM_PRODID)
                        @Model.FPrSizingProcessRopeChemList[i].CHEM_PROD?.PRODUCTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeChemList[i].QTY)
                        @Model.FPrSizingProcessRopeChemList[i].QTY
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeChemList[i].UNIT)
                        @Model.FPrSizingProcessRopeChemList[i].UNIT
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrSizingProcessRopeChemList[i].REMARKS)
                        @Model.FPrSizingProcessRopeChemList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveChemFromList(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}


<script type="text/javascript" asp-append-version="true">
    function RemoveChemFromList(removeIndexValue) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/FPrSizingProductionRope/RemoveChemFromList',
            success: function (partialView, status, xhr) {
                $('#ChemDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>