@model F_YS_YARN_RECEIVE_MASTER

@{
    ViewData["Title"] = "Yarn Receive List";
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> Get @ViewData["Title"]
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="mr-2">
                <p>
                    <a asp-action="CreateFysYarnReceiveMasterDetails" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a>
                </p>
            </li>
            <li class="mr-2">
                <p>
                    <a asp-action="RYarnRcvReport" asp-controller="Reports" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Receive Report</a>
                </p>
            </li>
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive">
        <table class="table table-striped " id="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.YRCVDATE)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.INDENT_TYPE)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.IND.INDSL.INDSLNO)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.IND.INDSL.ORDER_NONavigation.SO.SO_NO)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.IND.INDSL.ORDER_NONavigation.SO.STYLE.FABCODENavigation.STYLE_NAME)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.RCVT.RCVTYPE)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.INV.INVNO)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.CHALLANNO) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.G_ENTRY_NO) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.G_ENTRY_DATE) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.REMARKS) </th>
                    <th scope="col">@Html.DisplayName("Actions")</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/FysYarnReceiveMaster/GetFysYarnReceiveMaster.js"></script>
}