
@using DenimERP.Models
@model YarnReceiveViewModel

@if (Model.FYsYarnReceiveDetailList.Any())
{
    <table class="table table-hover" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.TRNSDATE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.PROD.COUNTNAME)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.LOT)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.RAW)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.BAG)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.RCV_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.REJ_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.LOCATION.LOCNAME)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.LEDGER.LEDNAME)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.PAGENO)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.IMPORT_TYPE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.YARN_TYPE)</th>
                @*<th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.IMPORT_TYPE)</th>*@
                <th scope="col">@Html.DisplayNameFor(model => model.FYsYarnReceiveDetail.REMARKS)</th>
                <th scope="col">@Html.DisplayName("QC")</th>
                <th scope="col">@Html.DisplayName("MRR")</th>
                <th scope="col">@Html.DisplayName("Action")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FYsYarnReceiveDetailList.Count; i++)
            {
                Model.FYsYarnReceiveReports.Add(new F_YS_YARN_RECEIVE_REPORT());

            <tr>
                @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].TRNSID)
                @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].YRCVID)
                @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].INDENT_TYPE)
                <td>
                    @(i + 1)
                </td>
                <td>
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].TRNSDATE)
                    @Html.DisplayFor(modelItem => Model.FYsYarnReceiveDetailList[i].TRNSDATE)
                </td>
                <td>
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].PRODID)
                    @Model.FYsYarnReceiveDetailList[i].PROD?.RND_COUNTNAME
                </td>
                <td>
                    @*@Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].LOT)
            @Model.FYsYarnReceiveDetailList[i].BasYarnLotinfo?.LOTNO*@

                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveDetailList[i].LOT, new SelectList(Model.FYarnLotinfoList, "LOTID", "LOTNO"), "Select A LOT", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                </td>
                <td>
                    @*@Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].RAW)
            @Model.FYsYarnReceiveDetailList[i].FYsRawPer?.RAWPER*@

                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveDetailList[i].RAW, new SelectList(Model.FYsRawPers, "RAWID", "RAWPER"), "Select Raw", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                </td>
                <td>
                    @*@Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].BAG)
            @Model.FYsYarnReceiveDetailList[i].BAG*@
                    <input class="form-control" asp-for="FYsYarnReceiveDetailList[i].BAG" />
                </td>
                <td>
                    @*@Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].RCV_QTY)
            @Model.FYsYarnReceiveDetailList[i].RCV_QTY*@
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].INV_QTY)
                    <input class="form-control" asp-for="FYsYarnReceiveDetailList[i].RCV_QTY" />
                </td>
                <td>
                    @*@Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].REJ_QTY)
            @Model.FYsYarnReceiveDetailList[i].REJ_QTY*@
                    <input class="form-control" asp-for="FYsYarnReceiveDetailList[i].REJ_QTY" />
                </td>
                <td>
                    @*@Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].LOCATIONID)
            @Model.FYsYarnReceiveDetailList[i].LOCATION?.LOCNAME*@


                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveDetailList[i].LOCATIONID, new SelectList(Model.FYsLocationList, "LOCID", "LOCNAME"), "Select Location", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                </td>
                <td>
                    @*@Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].LEDGERID)
            @Model.FYsYarnReceiveDetailList[i].LEDGER?.LEDNAME*@


                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveDetailList[i].LEDGERID, new SelectList(Model.FYsLadgerList, "LEDID", "LEDNAME"), "Select Ledger", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                </td>
                <td>
                    @*@Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].PAGENO)
            @Model.FYsYarnReceiveDetailList[i].PAGENO*@
                    <input class="form-control" asp-for="FYsYarnReceiveDetailList[i].PAGENO" />
                </td>
                <td>
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].IMPORT_TYPE)
            @Model.FYsYarnReceiveDetailList[i].IMPORT_TYPE
                </td>
                <td>
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].YARN_TYPE)
                    @Model.FYsYarnReceiveDetailList[i].FYarnFor?.YARNNAME

                    @*@Html.DropDownListFor(dt => dt.FYsYarnReceiveDetailList[i].YARN_TYPE, new SelectList(Model.YarnFor, "YARNID", "YARNNAME"), "Select Warp/Weft", htmlAttributes: new { @class = "form-control js-example-basic-single" })*@
                </td>
                @*<td>
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].IMPORT_TYPE)
        @Model.FYsYarnReceiveDetailList[i].IMPORT_TYPE
                </td>*@
                <td>
                    @*@Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].REMARKS)
            @Model.FYsYarnReceiveDetailList[i].REMARKS*@

                    <input class="form-control" asp-for="FYsYarnReceiveDetailList[i].REMARKS" />
                </td>
                <td>
                    @if (Model.FYsYarnReceiveDetailList[i].F_YARN_QC_APPROVE.Any(e => !string.IsNullOrEmpty(e.APPROVED_BY)))
                    {
                        <span class="fa fa-check-square-o text-success"> QC Approved</span>
                    }
                    else
                    {
                        <span class="fa fa-times-circle-o text-danger"> QC Not Approved</span>
                    }
                </td>
                <td>
                    @if (Model.FYsYarnReceiveDetailList[i].F_YS_YARN_RECEIVE_REPORT.Any(e => e.YRDID > 0))
                    {
                        <span class="fa fa-check-square-o text-success"> MRR Created</span>
                    }
                    else
                    {
                        <span class="fa fa-times-circle-o text-danger"> MRR Not Created</span>
                    }
                </td>
                <td class="d-inline-flex">
                    <i aria-hidden="true" class="fa fa-trash fa-2x text-danger mr-2" onclick="RemoveFromList(@i)"></i>
                    @if (Model.FYsYarnReceiveDetailList[i].TRNSID > 0 && Model.FYsYarnReceiveDetailList[i].F_YARN_QC_APPROVE.All(e => string.IsNullOrEmpty(e.APPROVED_BY)))
                    {
                        <i aria-hidden="true" class="fa fa-check-circle fa-2x text-success" id="approveQc" onclick="ApproveYarnDetails(@i, @Model.FYsYarnReceiveDetailList[i].TRNSID)" title="Approve QC"></i>
                    }

                    @if (Model.FYsYarnReceiveDetailList[i].TRNSID > 0 && Model.FYsYarnReceiveDetailList[i].F_YARN_QC_APPROVE.Any(e => !string.IsNullOrEmpty(e.APPROVED_BY)) && !Model.FYsYarnReceiveDetailList[i].F_YS_YARN_RECEIVE_REPORT.Any(e => e.YRDID > 0))
                    {
                        <i class="fa fa-plus-circle fa-2x text-success" data-pass="@Model.FYsYarnReceiveDetailList[i].TRNSID" data-target="#mrrModel_@i" data-toggle="modal" title="Create MRR" type="button"></i>

                        <div class="modal fade" id="mrrModel_@i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Create MRR</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>

                                    @{
                                        var count = Model.FYsYarnReceiveDetailList.Count(e => e.TRNSID > 0 && e.F_YARN_QC_APPROVE.Any(f => !string.IsNullOrEmpty(f.APPROVED_BY)) && e.F_YS_YARN_RECEIVE_REPORT.Any(g => g.YRDID.Equals(e.TRNSID)));
                                        count = i < count ? count - 1 : count;
                                    }

                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label asp-for="FYsYarnReceiveReports[i-count].YRDID" class="control-label"></label>
                                            <input asp-for="FYsYarnReceiveReports[i-count].YRDID" class="form-control" readonly value="@Model.FYsYarnReceiveDetailList[i].TRNSID" />
                                            <span asp-validation-for="FYsYarnReceiveReports[i-count].YRDID" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FYsYarnReceiveReports[i-count].MRR_QTY" class="control-label"></label>
                                            <input asp-for="FYsYarnReceiveReports[i-count].MRR_QTY" class="form-control" />
                                            <span asp-validation-for="FYsYarnReceiveReports[i-count-1].MRR_QTY" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FYsYarnReceiveReports[i-count].REMARKS" class="control-label"></label>
                                            <input asp-for="FYsYarnReceiveReports[i-count].REMARKS" class="form-control" />
                                            <span asp-validation-for="FYsYarnReceiveReports[i-count].REMARKS" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="createButton btn btn-success">Create MRR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}