
@model F_CHEM_TRANSECTION

@{
    ViewData["Title"] = "Chemical Transactions History";
    Layout = Layout;
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> Get @ViewData["Title"]
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive table-hover">
        <table class="table table-striped " id="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.CTRID)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PRODUCT.PRODUCTNAME)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.CRCV.BATCHNO)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.CTRDATE)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.CRCVID)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.RCVT.RCVTYPE)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.CISSUEID)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ISSUE.ISSUTYPE)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.OP_BALANCE) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.RCV_QTY) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ISSUE_QTY) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.BALANCE) </th>
                    <th scope="col">@Html.DisplayNameFor(model => model.REMARKS) </th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/ChemicalStore/Transactions/GetTransactionsHistory.js"></script>
}