
@model RndFabricInfoViewModel

@{
    ViewData["Title"] = "RND Fabric Details";
}

<h2><i class="fa fa-edit text-warning" aria-hidden="true"></i> Edit @ViewData["Title"]</h2>

<div class="container-fluid">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel d-flex justify-content-around">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                <p><small>Fabric Information</small></p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle border-1" disabled="disabled">2</a>
                <p><small>Yarn Info & Consumption</small></p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p><small>Fabric Details-1</small></p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                <p><small>Fabric Details-2</small></p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
                <p><small>Target & Segment</small></p>
            </div>
        </div>
    </div>

    <form id="form" role="form" asp-action="EditRndFabricInfo">
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">

                @Html.HiddenFor(rfi => rfi.rND_FABRICINFO.FABCODE)
                @Html.HiddenFor(rfi => rfi.rND_FABRICINFO.EncryptedId)
                @Html.HiddenFor(rfi => rfi.rND_FABRICINFO.WVID)
                @Html.HiddenFor(rfi => rfi.rND_FABRICINFO.SFINID)
                @Html.HiddenFor(rfi => rfi.rND_FABRICINFO.LTSID)
                @*@Html.HiddenFor(rfi => rfi.rND_FABRICINFO.LSBTESTNO)*@
                @Html.HiddenFor(rfi => rfi.rND_FABRICINFO.APPROVED)


                @*<div class="col-1">
                        <div class="form-group">
                            <label asp-for="rND_FABRICINFO.ISISSUE2BANK" class="control-label"></label>
                            <div class="form-control custom-form-control">
                                <label class="switch">
                                    <input asp-for="rND_FABRICINFO.ISISSUE2BANK" />
                                    <span class="slider round"></span>
                                    <span class="absolute-no">NO</span>
                                </label>
                            </div>
                            <span asp-validation-for="rND_FABRICINFO.ISISSUE2BANK" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group">
                            <label asp-for="rND_FABRICINFO.APPROVED" class="control-label"></label>
                            <div class="form-control custom-form-control">
                                <label class="switch">
                                    <input asp-for="rND_FABRICINFO.APPROVED" />
                                    <span class="slider round"></span>
                                    <span class="absolute-no">NO</span>
                                </label>
                            </div>
                            <span asp-validation-for="rND_FABRICINFO.APPROVED" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group">
                            <label asp-for="rND_FABRICINFO.ISGSPNA" class="control-label"></label>
                            <div class="form-control custom-form-control">
                                <label class="switch">
                                    <input asp-for="rND_FABRICINFO.ISGSPNA" />
                                    <span class="slider round"></span>
                                    <span class="absolute-no">NO</span>
                                </label>
                            </div>
                            <span asp-validation-for="rND_FABRICINFO.ISGSPNA" class="text-danger"></span>
                        </div>
                    </div>*@

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.ARCHIVE_NO" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.ARCHIVE_NO" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.ARCHIVE_NO" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.DEVID" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.DEVID" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.DEVID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.STYLE_NAME" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.STYLE_NAME" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.STYLE_NAME" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.PROGNO" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.PROGNO" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.PROGNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.DID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.rND_FABRICINFO.DID, new SelectList(Model.rND_DYEING_TYPEs, "DID", "DTYPE"), "Select Dyeing Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(fi => fi.rND_FABRICINFO.DID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.DYCODE" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.DYCODE" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.DYCODE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.REED_COUNT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.REED_COUNT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.REED_COUNT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.DENT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.DENT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.DENT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.TOTALENDS" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.TOTALENDS" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.TOTALENDS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.TOTAL_ENDS_SAMPLE" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.TOTAL_ENDS_SAMPLE" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.TOTAL_ENDS_SAMPLE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.REED_SPACE" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.REED_SPACE" class="form-control" readonly />
                        <span asp-validation-for="rND_FABRICINFO.REED_SPACE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.COLORCODE" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.rND_FABRICINFO.COLORCODE, new SelectList(Model.BasColors, "COLORCODE", "COLOR"), "Select Color", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(fi => fi.rND_FABRICINFO.COLORCODE, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.LOOM.LOOM_TYPE_NAME" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.rND_FABRICINFO.LOOMID, new SelectList(Model.LoomTypes, "LOOMID", "LOOM_TYPE_NAME"), "Select A Loom Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(fi => fi.rND_FABRICINFO.LOOMID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.LOOMSPEED" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.LOOMSPEED" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.LOOMSPEED" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.EFFICIENCY" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.EFFICIENCY" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.EFFICIENCY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.rND_FABRICINFO.WID, new SelectList(Model.RndWeaves, "WID", "NAME"), "Select Weave", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="rND_FABRICINFO.WID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.DOBBY" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.DOBBY" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.DOBBY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.TOTALWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.TOTALWEFT" class="form-control" readonly />
                        <span asp-validation-for="rND_FABRICINFO.TOTALWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.TOTALROPE" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.TOTALROPE" class="form-control" readonly />
                        <span asp-validation-for="rND_FABRICINFO.TOTALROPE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.PICKLENGHT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.PICKLENGHT" class="form-control" readonly />
                        <span asp-validation-for="rND_FABRICINFO.PICKLENGHT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.CONCEPT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.CONCEPT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.CONCEPT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-info nextBtn pull-right" type="button">Next</button>
                    <a class="btn btn-dark pull-right" asp-action="GetRndFabricInfo" asp-controller="RndFabricInfo">Back to List</a>
                </div>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-body row">

                @Html.HiddenFor(c => c.rND_FABRIC_COUNTINFO.EncryptedId)

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRIC_COUNTINFO.COUNT.COUNTNAME" class="control-label"></label>
                        @Html.DropDownListFor(yc => yc.rND_FABRIC_COUNTINFO.COUNTID, new SelectList(Model.bAS_YARN_COUNTINFOs, "COUNTID", "COUNTNAME"), "Select Count", htmlAttributes: new { @class = " form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(yc => yc.rND_FABRIC_COUNTINFO.COUNTID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRIC_COUNTINFO.YARNTYPE" class="control-label"></label>
                        <input asp-for="rND_FABRIC_COUNTINFO.YARNTYPE" class="form-control" />
                        <span asp-validation-for="rND_FABRIC_COUNTINFO.YARNTYPE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRIC_COUNTINFO.DESCRIPTION" class="control-label"></label>
                        <input asp-for="rND_FABRIC_COUNTINFO.DESCRIPTION" class="form-control" />
                        <span asp-validation-for="rND_FABRIC_COUNTINFO.DESCRIPTION" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRIC_COUNTINFO.LOTID" class="control-label"></label>
                        @Html.DropDownListFor(yl => yl.rND_FABRIC_COUNTINFO.LOTID, new SelectList(Model.bAS_YARN_LOTINFOs, "LOTID", "LOTNO"), "Select LOT", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(yl => yl.rND_FABRIC_COUNTINFO.LOTID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRIC_COUNTINFO.SUPPID" class="control-label"></label>
                        @Html.DropDownListFor(si => si.rND_FABRIC_COUNTINFO.SUPPID, new SelectList(Model.bAS_SUPPLIERINFOs, "SUPPID", "SUPPNAME"), "Select Supplier", htmlAttributes: new { @class = " form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(si => si.rND_FABRIC_COUNTINFO.SUPPID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRIC_COUNTINFO.COLORCODE" class="control-label"></label>
                        @Html.DropDownListFor(si => si.rND_FABRIC_COUNTINFO.COLORCODE, new SelectList(Model.BasColors, "COLORCODE", "COLOR"), "Select Color Name", htmlAttributes: new { @class = " form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(si => si.rND_FABRIC_COUNTINFO.COLORCODE, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRIC_COUNTINFO.RATIO" class="control-label"></label>
                        <input asp-for="rND_FABRIC_COUNTINFO.RATIO" class="form-control" />
                        <span asp-validation-for="rND_FABRIC_COUNTINFO.RATIO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRIC_COUNTINFO.NE" class="control-label"></label>
                        <input asp-for="rND_FABRIC_COUNTINFO.NE" class="form-control" id="rND_FABRIC_COUNTINFO_NE" />
                        <span asp-validation-for="rND_FABRIC_COUNTINFO.NE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRIC_COUNTINFO.YARNFOR" class="control-label"></label>
                        <select asp-for="rND_FABRIC_COUNTINFO.YARNFOR" class="form-control js-example-basic-single" id="rND_FABRIC_COUNTINFO_YARNFOR">
                            <option value="1">WARP</option>
                            <option value="2">WEFT</option>
                        </select>
                        <span asp-validation-for="rND_FABRIC_COUNTINFO.YARNFOR" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="rND_YARNCONSUMPTION.AMOUNT" class="control-label"></label>
                        <input asp-for="rND_YARNCONSUMPTION.AMOUNT" class="form-control" readonly />
                        <span asp-validation-for="rND_YARNCONSUMPTION.AMOUNT" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-12">
                    <button id="btnAdd" class="btn btn-success pull-right" type="button">Add</button>
                    <button class="btn btn-info nextBtn pull-right" type="button">Next</button>
                    <button class="btn btn-info prevBtn pull-right" type="button">Prev</button>
                    <a class="btn btn-warning pull-right" onclick="UpdateConsumptionData()">Process Count</a>
                    <a class="btn btn-dark pull-right" asp-action="GetRndFabricInfo" asp-controller="RndFabricInfo">Back to List</a>
                </div>
                <div id="PreviousData" class="col-12 table-hover table-responsive">
                    @await Html.PartialAsync("~/Views/RndFabricInfo/FEAddFabricCountinfoTable.cshtml", Model)
                </div>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-3">
            <div class="pl-1 col-12">
                <h2 class="panel-title text-success mt-0">EPI X PPI</h2>
                <hr class="mt-0 mb-1" />
            </div>
            <div class="panel-body row">
                <div class="col-lg-1 col-md-2 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.GREPI" class="control-label"></label>
                        <input id="rND_FABRICINFO_GREPI" asp-for="rND_FABRICINFO.GREPI" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.GREPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.GRPPI" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.GRPPI" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.GRPPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.BWEPI" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.BWEPI" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.BWEPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.BWPPI" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.BWPPI" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.BWPPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.AWEPI" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.AWEPI" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.AWEPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.AWPPI" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.AWPPI" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.AWPPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.FNEPI" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.FNEPI" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.FNEPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.FNPPI" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.FNPPI" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.FNPPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <h2 class="panel-title text-success mt-0">Weight</h2>
                    <hr class="mt-0 mb-1" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WGGRBW" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.WGGRBW" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.WGGRBW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WGGRAW" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.WGGRAW" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.WGGRAW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WGFNBW" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.WGFNBW" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.WGFNBW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WGFNAW" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.WGFNAW" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.WGFNAW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WGDEC" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.WGDEC" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.WGDEC" class="text-danger"></span>
                    </div>
                </div>
                <diV class="col-12">
                    <h2 class="panel-title text-success mt-0">Width</h2>
                    <hr class="mt-0 mb-1" />
                </diV>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WIGRBW" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.WIGRBW" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.WIGRBW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WIGRAW" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.WIGRAW" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.WIGRAW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WIFNBW" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.WIFNBW" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.WIFNBW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WIFNAW" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.WIFNAW" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.WIFNAW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WIFNCUT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.WIFNCUT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.WIFNCUT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.WIDEC" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.WIDEC" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.WIDEC" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <h2 class="panel-title text-success mt-0">Shrinkage</h2>
                    <hr class="mt-0 mb-1" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.SRGRWARP" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.SRGRWARP" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.SRGRWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.SRGRWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.SRGRWEFT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.SRGRWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.SRFNWARP" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.SRFNWARP" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.SRFNWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.SRFNWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.SRFNWEFT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.SRFNWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.SRDECWARP" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.SRDECWARP" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.SRDECWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.SRDECWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.SRDECWEFT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.SRDECWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <h2 class="panel-title text-success mt-0">Stretch [%]</h2>
                    <hr class="mt-0 mb-1" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.STGRWARP" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.STGRWARP" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.STGRWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.STGRWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.STGRWEFT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.STGRWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.STFNWARP" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.STFNWARP" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.STFNWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.STFNWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.STFNWEFT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.STFNWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.STDECWARP" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.STDECWARP" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.STDECWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.STDECWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.STDECWEFT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.STDECWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <h2 class="panel-title text-success mt-0">Growth [%]</h2>
                    <hr class="mt-0 mb-1" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.GRFNWARP" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.GRFNWARP" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.GRFNWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.GRFNWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.GRFNWEFT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.GRFNWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.GRDECWARP" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.GRDECWARP" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.GRDECWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.GRDECWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.GRDECWEFT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.GRDECWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-info nextBtn pull-right" type="button">Next</button>
                    <button class="btn btn-info prevBtn pull-right" type="button">Prev</button>
                    <a class="btn btn-dark pull-right" asp-action="GetRndFabricInfo" asp-controller="RndFabricInfo">Back to List</a>
                </div>
            </div>
        </div>
        <div class="panel panel-primary setup-content" id="step-4">
            <div class="panel-body row">

                <div class="col-12">
                    <h2 class="panel-title text-success">Others</h2>
                    <hr />
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.CRIMP_PERCENTAGE" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.CRIMP_PERCENTAGE" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.CRIMP_PERCENTAGE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.SKEWMOVE" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.SKEWMOVE" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.SKEWMOVE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.SLPWARP" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.SLPWARP" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.SLPWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.SLPWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.SLPWEFT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.SLPWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.TNWARP" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.TNWARP" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.TNWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.TNWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.TNWEFT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.TNWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.TRWARP" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.TRWARP" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.TRWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.TRWEFT" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.TRWEFT" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.TRWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.CFATDRY" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.CFATDRY" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.CFATDRY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.CFATWET" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.CFATWET" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.CFATWET" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.PH" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.PH" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.PH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.FABRICTYPE" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.FABRICTYPE" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.FABRICTYPE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.COMPOSITION" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.COMPOSITION" class=" form-control js-example-basic-single" />
                        <span asp-validation-for="rND_FABRICINFO.COMPOSITION" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.COMPOSITION_DEC" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.COMPOSITION_DEC" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.COMPOSITION_DEC" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.FINISH_ROUTE" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.FINISH_ROUTE" class=" form-control js-example-basic-single" />
                        <span asp-validation-for="rND_FABRICINFO.FINISH_ROUTE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.FINID" class="control-label"></label>
                        @Html.DropDownListFor(si => si.rND_FABRICINFO.FINID, new SelectList(Model.RndFinishtypes, "FINID", "TYPENAME"), "Select Finish Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="rND_FABRICINFO.FINID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.MCID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.rND_FABRICINFO.MCID, new SelectList(Model.RndFinishmcs, "MCID", "NAME"), "Select Finish MC", htmlAttributes: new { @class = " form-control js-example-basic-single" })
                        <span asp-validation-for="rND_FABRICINFO.MCID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.MEETING" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.MEETING" class=" form-control" />
                        <span asp-validation-for="rND_FABRICINFO.MEETING" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.BUYERID" class="control-label"></label>
                        @Html.DropDownListFor(bi => bi.rND_FABRICINFO.BUYERID, new SelectList(Model.bAS_BUYERINFOs, "BUYERID", "BUYER_NAME"), "Select Buyer", htmlAttributes: new { @class = " form-control js-example-basic-single" })
                        @Html.ValidationMessageFor(bi => bi.rND_FABRICINFO.BUYERID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.MASTERROLL" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.MASTERROLL" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.MASTERROLL" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.BUYERREF" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.BUYERREF" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.BUYERREF" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.REVISENO" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.REVISENO" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.REVISENO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.LSBTESTNO" class="control-label"></label>
                        <span class="input-group-btn d-flex">
                            <button type="button" class="btn btn-warning">D</button>
                            <input asp-for="rND_FABRICINFO.LSBTESTNO" class="form-control" />
                        </span>
                        <span asp-validation-for="rND_FABRICINFO.LSBTESTNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.PROTOCOL_NO" class="control-label"></label>
                        <span class="input-group-btn d-flex">
                            <button type="button" class="btn btn-warning">D</button>
                            <input asp-for="rND_FABRICINFO.PROTOCOL_NO" class="form-control" />
                        </span>
                        <span asp-validation-for="rND_FABRICINFO.PROTOCOL_NO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.LSGTESTNO" class="control-label"></label>
                        <span class="input-group-btn d-flex">
                            <button type="button" class="btn btn-warning">G</button>
                            <input asp-for="rND_FABRICINFO.LSGTESTNO" class="form-control" />
                        </span>
                        <span asp-validation-for="rND_FABRICINFO.LSGTESTNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.METHOD" class="control-label"></label>
                        <input asp-for="rND_FABRICINFO.METHOD" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.METHOD" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.OPT2" class="control-label"></label> @*OPT2 For Warp Ratio*@
                        <input asp-for="rND_FABRICINFO.OPT2" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.OPT2" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="rND_FABRICINFO.OPT3" class="control-label"></label> @*OPT3 For Weft Ratio*@
                        <input asp-for="rND_FABRICINFO.OPT3" class="form-control" />
                        <span asp-validation-for="rND_FABRICINFO.OPT3" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 p-0">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="rND_FABRICINFO.REMARKS" class="control-label"></label>
                            <textarea asp-for="rND_FABRICINFO.REMARKS" class="form-control" rows="5"></textarea>
                            <span asp-validation-for="rND_FABRICINFO.REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-info nextBtn pull-right" type="button">Next</button>
                    <button class="btn btn-info prevBtn pull-right" type="button">Prev</button>
                    <a class="btn btn-dark pull-right" asp-action="GetRndFabricInfo" asp-controller="RndFabricInfo">Back to List</a>
                </div>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-5">
            <div class="panel-body row">
                <div class="col-12 row">
                    <div class="col-6">
                        <h2 class="panel-title text-success"><i class="fa fa-bullseye" aria-hidden="true"></i> Target</h2>
                        <hr />
                        <div class="col-6 d-inline-flex p-2">
                            <div class="card col-8 p-2 m-1">
                                <div class="card-header">
                                    <h2>Age Group</h2>
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.AgeGroupViewModels.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model.AgeGroupViewModels[i].AgeGroupId" />
                                            <input type="hidden" asp-for="@Model.AgeGroupViewModels[i].AgeGroupName" />
                                            <input asp-for="@Model.AgeGroupViewModels[i].IsSelected" class="form-check-input" />
                                            <label class="form-check-label" asp-for="@Model.AgeGroupViewModels[i].IsSelected">
                                                @Model.AgeGroupViewModels[i].AgeGroupName
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card col-8 p-2 m-1">
                                <div class="card-header">
                                    <h2>Gender</h2>
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.TargetGenderViewModels.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model.TargetGenderViewModels[i].GenderId" />
                                            <input type="hidden" asp-for="@Model.TargetGenderViewModels[i].GenderName" />
                                            <input asp-for="@Model.TargetGenderViewModels[i].IsSelected" class="form-check-input" />
                                            <label class="form-check-label" asp-for="@Model.TargetGenderViewModels[i].IsSelected">
                                                @Model.TargetGenderViewModels[i].GenderName
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card col-8 p-2 m-1">
                                <div class="card-header">
                                    <h2>Character</h2>
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.TargetCharacterViewModels.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model.TargetCharacterViewModels[i].CharacterId" />
                                            <input type="hidden" asp-for="@Model.TargetCharacterViewModels[i].CharacterName" />
                                            <input asp-for="@Model.TargetCharacterViewModels[i].IsSelected" class="form-check-input" />
                                            <label class="form-check-label" asp-for="@Model.TargetCharacterViewModels[i].IsSelected">
                                                @Model.TargetCharacterViewModels[i].CharacterName
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-inline-flex p-2">
                            <div class="card col-12 mt-2 p-2 m-1">
                                <div class="card-header">
                                    <h2>Price Segment</h2>
                                </div>
                                <div class="card-body">
                                    @for (var i = 0; i < Model.TargetPriceSegmentViewModels.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model.TargetPriceSegmentViewModels[i].PriceSegmentId" />
                                            <input type="hidden" asp-for="@Model.TargetPriceSegmentViewModels[i].PriceSegmentType" />
                                            <input asp-for="@Model.TargetPriceSegmentViewModels[i].IsSelected" class="form-check-input" />
                                            <label class="form-check-label" asp-for="@Model.TargetPriceSegmentViewModels[i].IsSelected">
                                                @Model.TargetPriceSegmentViewModels[i].PriceSegmentType
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card col-12 mt-2 p-2 m-1">
                                <div class="card-header">
                                    <h2>Fit Style</h2>
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.TargetFitStyleViewModels.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model.TargetFitStyleViewModels[i].FitStyleId" />
                                            <input type="hidden" asp-for="@Model.TargetFitStyleViewModels[i].FitStyleName" />
                                            <input asp-for="@Model.TargetFitStyleViewModels[i].IsSelected" class="form-check-input" />
                                            <label class="form-check-label" asp-for="@Model.TargetFitStyleViewModels[i].IsSelected">
                                                @Model.TargetFitStyleViewModels[i].FitStyleName
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h2 class="panel-title text-success"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Segment</h2>
                        <hr />
                        <div class="col-6 d-inline-flex">
                            <div class="card col-12 mr-4">
                                <div class="card-header">
                                    <h2>Season</h2>
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.SegmentSeasonViewModels.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model.SegmentSeasonViewModels[i].SeasonId" />
                                            <input type="hidden" asp-for="@Model.SegmentSeasonViewModels[i].SeasonName" />
                                            <input asp-for="@Model.SegmentSeasonViewModels[i].IsSelected" class="form-check-input" />
                                            <label class="form-check-label" asp-for="@Model.SegmentSeasonViewModels[i].IsSelected">
                                                @Model.SegmentSeasonViewModels[i].SeasonName
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card col-12 mr-2">
                                <div class="card-header">
                                    <h2>Com. Segment</h2>
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.ComSegmentViewModels.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model.ComSegmentViewModels[i].ComSegmentId" />
                                            <input type="hidden" asp-for="@Model.ComSegmentViewModels[i].ComSegmentName" />
                                            <input asp-for="@Model.ComSegmentViewModels[i].IsSelected" class="form-check-input" />
                                            <label class="form-check-label" asp-for="@Model.ComSegmentViewModels[i].IsSelected">
                                                @Model.ComSegmentViewModels[i].ComSegmentName
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-inline-flex">
                            <div class="d-inline-flex mt-4 col-12 p-0">
                                <label class="control-label">Geo. Location : </label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 d-inline-flex mb-2">
                            <div class="card col-12 mr-2">
                                <div class="card-header">
                                    <h2>Other Similar</h2>
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.OtherSimilarViewModels.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model.OtherSimilarViewModels[i].OtherSimilarId" />
                                            <input type="hidden" asp-for="@Model.OtherSimilarViewModels[i].OtherSimilarName" />
                                            <input asp-for="@Model.OtherSimilarViewModels[i].IsSelected" class="form-check-input" />
                                            <label class="form-check-label" asp-for="@Model.OtherSimilarViewModels[i].IsSelected">
                                                @Model.OtherSimilarViewModels[i].OtherSimilarName
                                            </label>
                                            <input asp-for="@Model.OtherSimilarViewModels[i].Input" class="form-control" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-warning pull-right" type="submit">Update</button>
                    <button class="btn btn-info prevBtn pull-right" type="button">Prev</button>
                    <a class="btn btn-dark pull-right" asp-action="GetRndFabricInfo" asp-controller="RndFabricInfo">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script src="~/js/custom-js/Stepper.js" asp-append-version="true"></script>
    <script src="~/js/rndFabric/RndFabricInfo-Common.js" asp-append-version="true"></script>
    <script src="~/js/rndFabric/EditRndFabricInfo.js" asp-append-version="true"></script>

    <script type="text/javascript" asp-append-version="true">
        $(function () {

            var totalRope = $("#rND_FABRICINFO_TOTALROPE");
            var totalWeft = $("#rND_FABRICINFO_TOTALWEFT");

            totalRope.val('@Model.RndFabricCountInfos.Where(e=>e.YARNFOR.Equals(1)).Sum(e=> e.RATIO)');
            totalWeft.val('@Model.RndFabricCountInfos.Where(e=>e.YARNFOR.Equals(2)).Sum(e=> e.RATIO)');
        });
    </script>
}