@model RndFabricInfoViewModel

@if (Model.RndFabricCountInfos.Any())
{
    <table class="table table-condensed" style="border-collapse:collapse;" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RndFabricCountInfos.FirstOrDefault().COUNTID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RndFabricCountInfos.FirstOrDefault().YARNTYPE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RndFabricCountInfos.FirstOrDefault().DESCRIPTION)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RndFabricCountInfos.FirstOrDefault().LOTID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RndFabricCountInfos.FirstOrDefault().SUPPID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RndFabricCountInfos.FirstOrDefault().COLORCODE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RndFabricCountInfos.FirstOrDefault().RATIO)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RndFabricCountInfos.FirstOrDefault().NE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RndFabricCountInfos.FirstOrDefault().YARNFOR)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RndFabricCountInfos.FirstOrDefault().AMOUNT)</th>
                @*OPT2 For Wrap Ratio*@
                <th scope="col">@Html.DisplayNameFor(model => model.rND_FABRICINFO.OPT2)</th>
                @*OPT3 For Weave Ratio*@
                <th scope="col">@Html.DisplayNameFor(model => model.rND_FABRICINFO.OPT3)</th>

                <th scope="col">@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.RndFabricCountInfos.Count; i++)
            {
            <tr>
                <td>
                    @Html.Raw(Model.RndFabricCountInfos[i].TRNSID > 0 ? $"<i class=\"fa fa-database text-danger\" aria-hidden=\"true\" title=\"From database.\"></i> {i + 1}" : $"<i class=\"fa fa-plus-circle text-info\" aria-hidden=\"true\" title=\"From database.\"></i> {i + 1}")
                </td>
                <td>
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].TRNSID)
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].FABCODE)
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].COUNTID)
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].YARNTYPE)
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].DESCRIPTION)
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].LOTID)
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].SUPPID)
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].COLORCODE)
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].RATIO)
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].NE)
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].YARNFOR)
                    @Html.HiddenFor(e => e.RndFabricCountInfos[i].AMOUNT)

                    @Model.RndFabricCountInfos[i].COUNT?.RND_COUNTNAME
                </td>
                <td>@Model.RndFabricCountInfos[i].YARNTYPE</td>
                <td>@Model.RndFabricCountInfos[i].DESCRIPTION</td>
                <td>@Model.RndFabricCountInfos[i].LOT?.LOTNO</td>
                <td>@Model.RndFabricCountInfos[i].SUPP?.SUPPNAME</td>
                <td>@Model.RndFabricCountInfos[i].Color?.COLOR</td>
                <td>@Model.RndFabricCountInfos[i].RATIO</td>
                <td>@Model.RndFabricCountInfos[i].NE</td>
                <td>@Model.RndFabricCountInfos[i].YarnFor?.YARNNAME</td>
                <td>@string.Format("{0:#,0.0000}", Model.RndFabricCountInfos[i].AMOUNT)</td>

                @*OPT2 For Wrap Ratio*@
                <td>@Model.rND_FABRICINFO.OPT2</td>
                @*OPT3 For Weave Ratio*@
                <td>@Model.rND_FABRICINFO.OPT3</td>
                <td>
                    <i class="fa fa-edit fa-lg text-warning" onclick="editCount('@Model.RndFabricCountInfos[i].EncryptedId')" aria-hidden="true"></i>
                    <i class="fa fa-trash fa-lg text-danger" onclick="removeFromDynamicList('@i')" aria-hidden="true"></i>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<script type="text/javascript" asp-append-version="true">
    function editCount(transId) {
        $.ajax({
            async: true,
            cache: false,
            type: "GET",
            data: { trnsId: transId },
            url: '/RndFabricInfo/GetSingleCountDetails',
            success: function (data) {
                if (data) {
                    console.log(data);
                    $('#rND_FABRIC_COUNTINFO_COUNTID').val(data.countid).trigger("change");
                    $('#rND_FABRIC_COUNTINFO_EncryptedId').val(data.encryptedId);
                    $('#rND_FABRIC_COUNTINFO_YARNTYPE').val(data.yarntype);
                    $('#rND_FABRIC_COUNTINFO_DESCRIPTION').val(data.description);
                    $('#rND_FABRIC_COUNTINFO_LOTID').val(data.lotid).trigger("change");
                    $('#rND_FABRIC_COUNTINFO_SUPPID').val(data.suppid).trigger("change");
                    $('#rND_FABRIC_COUNTINFO_COLORCODE').val(data.colorcode).trigger("change");
                    $('#rND_FABRIC_COUNTINFO_RATIO').val(data.ratio);
                    $('#rND_FABRIC_COUNTINFO_NE').val(data.ne);
                    $('#rND_FABRIC_COUNTINFO_YARNFOR').val(data.yarnfor).trigger("change");
                } else {
                    toastrNotification('Failed to Retrieve Count Details.', 'error');
                }
            },
            error: function (e) {
                toastrNotification('Failed to Retrieve PI Details.', 'error');
            }
        });
    };
</script>