
@model RND_FABRICINFO

@{
    ViewData["Title"] = "Rnd Fabric Information";
    Layout = Layout;
}

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> Fabric Information
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="mr-4">
                    <p>
                        <a asp-action="CreateRndFabricInfo" class="btn btn-primary">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
                        </a>
                    </p>
                </li>
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content table-responsive table-hover">
            <table class="table" id="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FABCODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.STYLE_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DEVID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PROGNO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.D.DTYPE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.COLORCODENavigation.COLOR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LOOM.LOOM_TYPE_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BUYER.BUYER_NAME)
                    </th>
                    <th>
                        @Html.DisplayName("Action")
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crimp(%) Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UpdateCrimpPercentage" role="form">
                    @Html.HiddenFor(c => c.FABCODE)
                    <div class="form-group">
                        <label asp-for="CRIMP_PERCENTAGE" class="col-form-label"></label>
                        <input type="text" class="form-control" asp-for="CRIMP_PERCENTAGE">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                        <button type="submit" class="btn btn-warning">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCopy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCopy" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCopyLabel">Copy Style</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CopyFabricInfo" role="form">
                    @Html.HiddenFor(c => c.FABCODE)
                    <div class="form-group">
                        <label class="col-form-label">New Style Name</label>
                        <input type="text" class="form-control" asp-for="STYLE_NAME">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                        <button type="submit" class="btn btn-warning">Make Copy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/css/CustomCSS/GetRndFabricInfo.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/rndFabric/GetRndFabricInfo.js"></script>
}