
@model RndFabricInfoViewModel

<div class="col-12">
    <div class="col-12 bg-primary p-3 text-white text-center">
        <i class="fa fa-tint" aria-hidden="true"></i>
        Dyeing
    </div>
    @if (Model.RndFabricCountInfos.Any(c=>c.YARNFOR.Equals(1)))
    {
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().COUNT.COUNTNAME)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().DESCRIPTION)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().Color.COLOR)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().LOT.LOTNO)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().SUPP.SUPPNAME)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().RATIO)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().NE)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().AMOUNT)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().YARNTYPE)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().YarnFor.YARNNAME)</th>
                </tr>
            </thead>
            <tbody>
            
            @for (var i = 0; i < Model.RndFabricCountInfos.Count(c => c.YARNFOR.Equals(1)); i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(1)).ToList()[i].COUNTID)
                        @Html.HiddenFor(c => c.RndYarnConsumptions.Where(e => e.YARNFOR.Equals(1)).ToList()[i].COUNTID)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(1)).ToList()[i].COUNT?.COUNTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(1)).ToList()[i].DESCRIPTION)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(1)).ToList()[i].DESCRIPTION
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(1)).ToList()[i].COLORCODE)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(1)).ToList()[i].Color?.COLOR
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(1)).ToList()[i].LOTID)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(1)).ToList()[i].LOT?.LOTNO
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(1)).ToList()[i].SUPPID)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(1)).ToList()[i].SUPP?.SUPPNAME
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(1)).ToList()[i].RATIO)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(1)).ToList()[i].RATIO
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(1)).ToList()[i].NE)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(1)).ToList()[i].NE
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(1)).ToList()[i].AMOUNT)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(1)).ToList()[i].AMOUNT
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(1)).ToList()[i].YARNTYPE)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(1)).ToList()[i].YARNTYPE
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(1)).ToList()[i].YARNFOR)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(1)).ToList()[i].YarnFor?.YARNNAME
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>Not found...</p>
    }

</div>
<div class="col-12">
    <div class="col-12 bg-blue p-3 text-center">
        <i class="fa fa-eye" aria-hidden="true"></i>
        Weaving
    </div>

    @if (Model.RndFabricCountInfos.Any(c => c.YARNFOR.Equals(2)))
    {
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().COUNT.COUNTNAME)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().DESCRIPTION)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().Color.COLOR)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().LOT.LOTNO)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().SUPP.SUPPNAME)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().RATIO)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().NE)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().AMOUNT)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().YARNTYPE)</th>
                    <th>@Html.DisplayNameFor(e => e.RndFabricCountInfos.FirstOrDefault().YarnFor.YARNNAME)</th>
                </tr>
            </thead>
            <tbody>

                @for (var i = 0; i < Model.RndFabricCountInfos.Count(c => c.YARNFOR.Equals(2)); i++)
                {
                <tr>

                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(2)).ToList()[i].COUNTID)
                        @Html.HiddenFor(c => c.RndYarnConsumptions.Where(e => e.YARNFOR.Equals(2)).ToList()[i].COUNTID)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(2)).ToList()[i].COUNT?.COUNTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(2)).ToList()[i].DESCRIPTION)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(2)).ToList()[i].DESCRIPTION
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(2)).ToList()[i].COLORCODE)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(2)).ToList()[i].Color?.COLOR
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(2)).ToList()[i].LOTID)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(2)).ToList()[i].LOT?.LOTNO
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(2)).ToList()[i].SUPPID)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(2)).ToList()[i].SUPP?.SUPPNAME
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(2)).ToList()[i].RATIO)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(2)).ToList()[i].RATIO
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(2)).ToList()[i].NE)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(2)).ToList()[i].NE
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(2)).ToList()[i].AMOUNT)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(2)).ToList()[i].AMOUNT
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(2)).ToList()[i].YARNTYPE)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(2)).ToList()[i].YARNTYPE
                    </td>
                    <td>
                        @Html.HiddenFor(c => c.RndFabricCountInfos.Where(e => e.YARNFOR.Equals(2)).ToList()[i].YARNFOR)
                        @Model.RndFabricCountInfos.Where(c => c.YARNFOR.Equals(2)).ToList()[i].YarnFor?.YARNNAME
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Not found...</p>
    }
</div>