
@model FChemIssueViewModel

@if (Model.FChemIssueDetailsList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemIssueDetails.PRODUCT.PRODUCTNAME)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemIssueDetails.CRCVIDDNavigation.BATCHNO)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemIssueDetails.CISSDDATE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemIssueDetails.ADJ_PRO_AGNST)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemIssueDetails.ISSUE_QTY)</th>
                <th scope="col">@Html.DisplayName("Balance After Issue")</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemIssueDetails.REMARKS)</th>
                <th scope="col">@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FChemIssueDetailsList.Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.HiddenFor(clc => clc.FChemIssueDetailsList[i].CISSDID)
                        @Html.HiddenFor(clc => clc.FChemIssueDetailsList[i].CISSUEID)
                        @Html.HiddenFor(clc => clc.FChemIssueDetailsList[i].CREQ_DET_ID)
                        @Html.HiddenFor(clc => clc.FChemIssueDetailsList[i].PRODUCTID)
                        
                        @Model.FChemIssueDetailsList[i].PRODUCT?.PRODUCTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FChemIssueDetailsList[i].CRCVIDD)
                        @Model.FChemIssueDetailsList[i].CRCVIDDNavigation?.BATCHNO
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FChemIssueDetailsList[i].CISSDDATE)
                        @Html.DisplayFor(modelItem => Model.FChemIssueDetailsList[i].CISSDDATE)
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FChemIssueDetailsList[i].ADJ_PRO_AGNST)
                        @Model.FChemIssueDetailsList[i].PRODUCTACCLIMATIZE?.PRODUCTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FChemIssueDetailsList[i].ISSUE_QTY)
                        @Model.FChemIssueDetailsList[i].ISSUE_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FChemIssueDetailsList[i].REMAINING_AMOUNT)
                        @Model.FChemIssueDetailsList[i].REMAINING_AMOUNT
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FChemIssueDetailsList[i].REMARKS)
                        @Model.FChemIssueDetailsList[i].REMARKS
                    </td>
                    <td>
                        @Html.Raw(Model.FChemIssueDetailsList[i].CISSUEID == null || Model.FChemIssueDetailsList[i].CISSUEID <= 0 ? $"<i class=\"fa fa-trash fa-lg text-warning\" onclick=\"RemoveIndent({@i})\" aria-hidden=\"false\"></i>" : "<i class=\"fa fa-ban text-danger\" aria-hidden=\"true\"> Non-Removable</i>")
                    </td>
                </tr>
            }
        <tr class="bg-info text-white">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"><i class="fa fa-cart-plus" aria-hidden="true"></i> @Html.DisplayName("Sum Of Total :")</td>
            <td class="">@($"{Model.FChemIssueDetailsList.Sum(e => e.ISSUE_QTY)}")</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
}