
@model FChemIssueViewModel

@{
    ViewData["Title"] = "Chemical Issue";
}

@{
    if (Model != null)
    {
        <div class="col-12 row">

            <div class="col-12">
                <h2 class="text-white btn btn-info">@Html.DisplayNameFor(e => e.FChemIssueMaster.CISSUEID) : [ @Html.DisplayFor(e => e.FChemIssueMaster.CISSUEID) ]</h2>
            </div>

            <div class="col-12 row">
                <div class="col-6">
                    <h2 class="panel-title text-success"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Chemical Information</h2>
                </div>
                <div class="col-6 text-right">
                    <div class="form-group">
                        <label asp-for="FChemIssueMaster.CISSUEDATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.FChemIssueMaster.CISSUEDATE)</div>
                    </div>
                </div>
                <div class="col-12">
                    <hr />
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemIssueMaster.CISSUE.ISSUTYPE" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemIssueMaster.CISSUE.ISSUTYPE)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemIssueMaster.IssueFHrdEmployee.FIRST_NAME" class="control-label font-weight-bold">Issued By</label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemIssueMaster.IssueFHrdEmployee.FIRST_NAME)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemIssueMaster.ReceiveFHrdEmployee.FIRST_NAME" class="control-label font-weight-bold">Received By</label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemIssueMaster.ReceiveFHrdEmployee.FIRST_NAME)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemIssueMaster.CSRID" class="control-label font-weight-bold">From Person</label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemIssueMaster.CSRID)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemIssueMaster.ISSUETO" class="control-label font-weight-bold">To Person</label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemIssueMaster.ISSUETO)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemIssueMaster.PURPOSE" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemIssueMaster.PURPOSE)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemIssueMaster.ISRETURNABLE" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemIssueMaster.ISRETURNABLE)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FChemIssueMaster.REMARKS" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FChemIssueMaster.REMARKS)</div>
                </div>
            </div>

            <div class="col-12 table-responsive">
                <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> Chemical Details</h2>
                <hr />
                @await Html.PartialAsync($"~/Views/FChemIssue/DetailsFChemIssueTable.cshtml", Model)
            </div>

            <div class="col-md-12">
                @{
                    if (Model.FChemIssueMaster.IsLocked)
                    {
                        @Html.ActionLink("Edit", $"EditFChemIssue", new { cIssueId = Model.FChemIssueMaster.EncryptedId }, new { @class = "btn btn-warning pull-right" })
                    }
                }
                <a class="btn btn-dark pull-right" asp-action="GetChemIssueTable" asp-controller="FChemIssue">Back to List</a>
            </div>
        </div>
    }
}