
@model FChemIssueViewModel

@{
    ViewData["Title"] = "Chemical Issue";
}

<h2><i class="fa fa-edit text-warning" aria-hidden="true"></i> Edit @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" enctype="multipart/form-data" role="form" asp-action="PostEditFChemIssue">
        <div class="panel panel-default">
            <div class="panel-body row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Issue Information</h2>
                    <hr />
                </div>

                @Html.HiddenFor(e => e.FChemIssueMaster.CISSUEID)
                @Html.HiddenFor(e => e.FChemIssueMaster.EncryptedId)

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueMaster.CISSUEDATE" class="control-label"></label>
                        <input asp-for="FChemIssueMaster.CISSUEDATE" class="form-control" />
                        <span asp-validation-for="FChemIssueMaster.CISSUEDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueMaster.ISSUEID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FChemIssueMaster.ISSUEID, new SelectList(Model.FBasIssueTypesList, "ISSUID", "ISSUTYPE"),
                            "Select Issue Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FChemIssueMaster.ISSUEID" class="text-danger"></span>
                    </div>
                </div>
                <div id="chemReqDDDiv" class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueMaster.CSRID" class="control-label"></label>

                        @Html.DropDownListFor(dt => dt.FChemIssueMaster.CSRID, new SelectList(Model.FChemReqMastersList, "CSRID", "CSRNO"),
                            "Select Requirment No", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FChemIssueMaster.CSRID" class="text-danger"></span>
                    </div>
                </div>
                <div id="issuetoDiv" class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueMaster.ISSUETO" class="control-label"></label>
                        <input asp-for="FChemIssueMaster.ISSUETO" class="form-control" />
                        <span asp-validation-for="FChemIssueMaster.ISSUETO" class="text-danger"></span>
                    </div>
                </div>
                <div id="purposeDiv" class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueMaster.PURPOSE" class="control-label"></label>
                        <input asp-for="FChemIssueMaster.PURPOSE" class="form-control" />
                        <span asp-validation-for="FChemIssueMaster.PURPOSE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueMaster.ISSUEBY" class="control-label"></label> <i aria-hidden="true" class="fa fa-info-circle text-info" title="Employee shown from your department."></i>
                        @Html.DropDownListFor(dt => dt.FChemIssueMaster.ISSUEBY, new SelectList(Model.IssueFHrEmployees, "EMPID", "FIRST_NAME"),
                            "Select Issue By", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FChemIssueMaster.ISSUEBY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueMaster.RECEIVEBY" class="control-label"></label> <i aria-hidden="true" class="fa fa-info-circle text-info" title="Employee shown from requisition sections."></i>
                        @Html.DropDownListFor(dt => dt.FChemIssueMaster.RECEIVEBY, new SelectList(Model.ReceiveFHrEmployees, "EMPID", "FIRST_NAME"),
                            "Select Receive By", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FChemIssueMaster.RECEIVEBY" class="text-danger"></span>
                    </div>
                </div>

                <div id="csrdateDiv" class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemReqMaster.CSRDATE" class="control-label" readonly></label>
                        @*<input asp-for="FChemReqMaster.CSRDATE" class="form-control" readonly />*@
                        @*@Html.HiddenFor(c=>c.FChemReqMaster.CSRDATE)*@
                        @Model.FChemReqMaster.CSRDATE
                        <span asp-validation-for="FChemReqMaster.CSRDATE" class="text-danger"></span>
                    </div>
                </div>
                <div id="deptnameDiv" class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemReqMaster.DEPT.DEPTNAME" class="control-label"></label>
                        @*<input asp-for="FChemReqMaster.DEPT.DEPTNAME" class="form-control" readonly />*@
                        @Model.FChemReqMaster.DEPT.DEPTNAME
                        <span asp-validation-for="FChemReqMaster.DEPT.DEPTNAME" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueMaster.REMARKS" class="control-label"></label>
                        <input asp-for="FChemIssueMaster.REMARKS" class="form-control" />
                        <span asp-validation-for="FChemIssueMaster.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueMaster.ISRETURNABLE" class="control-label"></label>
                        <div class="form-control custom-form-control">
                            <label class="switch">
                                <input asp-for="FChemIssueMaster.ISRETURNABLE" />
                                <span class="slider round"></span>
                                <span class="absolute-no">NO</span>
                            </label>
                        </div>
                        <span asp-validation-for="FChemIssueMaster.ISRETURNABLE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> Issue Details</h2>
                    <hr />
                </div>

                @Html.HiddenFor(c => c.FChemIssueDetails.CISSUEID)
                @Html.HiddenFor(c => c.FChemIssueDetails.CREQ_DET_ID)


                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueDetails.CISSDDATE" class="control-label"></label>
                        <input asp-for="FChemIssueDetails.CISSDDATE" class="form-control" />
                        <span asp-validation-for="FChemIssueDetails.CISSDDATE" class="text-danger"></span>
                    </div>
                </div>
            @{
                if (Model.FChemIssueMaster.ISSUEID == 300001)
                {
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FChemIssueDetails.PRODUCTID" class="control-label"></label>
                            @Html.DropDownListFor(dt => dt.FChemIssueDetails.PRODUCTID, new SelectList(Model.FChemStoreProductinfos, "PRODUCTID", "PRODUCTNAME"),
                                "Select Product", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="FChemIssueDetails.PRODUCTID" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FChemIssueDetails.PRODUCTID" class="control-label"></label>
                            @Html.DropDownListFor(dt => dt.FChemIssueDetails.PRODUCTID, new SelectList(Model.FChemReqMaster.F_CHEM_REQ_DETAILS, "PRODUCT.PRODUCTID", "PRODUCT.PRODUCTNAME"),
                                "Select Product", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="FChemIssueDetails.PRODUCTID" class="text-danger"></span>
                        </div>
                    </div>
                }
            }
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueDetails.CRCVIDDNavigation.BATCHNO" class="control-label"></label>
                        <select asp-for="FChemIssueDetails.CRCVIDD" class="form-control js-example-basic-single">
                            <option value="">Select Batch</option>
                        </select>
                        <span asp-validation-for="FChemIssueDetails.CRCVIDD" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Request Quantity</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="req_qty">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueDetails.ISSUE_QTY" class="control-label"></label>
                        <input asp-for="FChemIssueDetails.ISSUE_QTY" class="form-control" />
                        <span asp-validation-for="FChemIssueDetails.ISSUE_QTY" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueDetails.REMAINING_AMOUNT" class="control-label"></label>
                        <input asp-for="FChemIssueDetails.REMAINING_AMOUNT" class="form-control" readonly />
                        <span asp-validation-for="FChemIssueDetails.REMAINING_AMOUNT" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FChemIssueDetails.REMARKS" class="control-label"></label>
                        <input asp-for="FChemIssueDetails.REMARKS" class="form-control" />
                        <span asp-validation-for="FChemIssueDetails.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Unit</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="unit_chem">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" id="adjust">
                    <div class="form-group">
                        <label asp-for="FChemIssueDetails.ADJ_PRO_AGNST" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FChemIssueDetails.ADJ_PRO_AGNST, new SelectList(Model.FChemStoreProductinfos, "PRODUCTID", "PRODUCTNAME"),
                            "Select Product", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FChemIssueDetails.ADJ_PRO_AGNST" class="text-danger"></span>
                    </div>
                </div>
                

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit">Update</button>
                    <button class="btn btn-info pull-right" id="addToList" type="button">Add</button>
                    <a asp-action="GetChemIssueTable" class="btn btn-dark pull-right">Back to List</a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-hover table-responsive" id="chemIssueDetailsPartialView">
                    @await Html.PartialAsync($"~/Views/FChemIssue/ChemIssueDetailsPartialView.cshtml", Model)
                </div>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/ChemicalIssue/CreateChemicalIssue.js"></script>
}
