@model AccLocalDoMasterViewModel

@if (Model.ACC_LOCAL_DODETAILs.Any())
{
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(e => e.ACC_LOCAL_DODETAILS.STYLE.STYLENAME)</th>
                <th>@Html.DisplayNameFor(e => e.ACC_LOCAL_DODETAILS.STYLE.QTY)</th>
                <th>@Html.DisplayNameFor(e => e.ACC_LOCAL_DODETAILS.STYLE.RATE)</th>
                <th>@Html.DisplayNameFor(e => e.ACC_LOCAL_DODETAILS.STYLE.AMOUNT)</th>
                <th>@Html.DisplayNameFor(e => e.ACC_LOCAL_DODETAILS.STYLE.REMARKS)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.ACC_LOCAL_DODETAILs.Count(); i++)
            {
                <tr>
                    <td>@Html.Raw(Model.ACC_LOCAL_DODETAILs[i].TRNSID > 0 ? $"<i class=\"fa fa-database text-danger\" aria-hidden=\"true\"></i> {i + 1}" : $"<i class=\"fa fa-plus-circle text-success\" aria-hidden=\"true\"></i> {i + 1}")</td>
                    <td>
                        @Html.HiddenFor(clc => clc.ACC_LOCAL_DODETAILs[i].STYLEID)

                        @if (Model.ACC_LOCAL_DOMASTER.IS_COMPENSATION)
                        {
                            @Model.ACC_LOCAL_DODETAILs[i].ComExPiDetails?.STYLE?.FABCODENavigation?.STYLE_NAME
                        }
                        else
                        {
                            @Model.ACC_LOCAL_DODETAILs[i].STYLE?.STYLE?.FABCODENavigation?.STYLE_NAME
                        }
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.ACC_LOCAL_DODETAILs[i].QTY)
                        @Model.ACC_LOCAL_DODETAILs[i].QTY
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.ACC_LOCAL_DODETAILs[i].RATE)
                        @Model.ACC_LOCAL_DODETAILs[i].RATE
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.ACC_LOCAL_DODETAILs[i].AMOUNT)
                        @Model.ACC_LOCAL_DODETAILs[i].AMOUNT
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.ACC_LOCAL_DODETAILs[i].REMARKS)
                        @Model.ACC_LOCAL_DODETAILs[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="RemoveDODetails(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<script type="text/javascript" asp-append-version="true">
    function RemoveDODetails(removeIndexValue) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/AccLocalDoMaster/RemoveDoFromList',
            success: function (partialView) {
                $('#doDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>