
@model AccLocalDoMasterViewModel

@{
    ViewData["Title"] = "Account DO (Local)";
}

<div class="container-fluid">

    <h2><i class="fa fa-info-circle text-info" aria-hidden="true"></i><ins> Details @ViewData["Title"]</ins></h2>

    <div class="panel panel-default">
        <div class="panel-body row">
            <div class="col-12">

                <label class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="ACC_LOCAL_DOMASTER.IS_COMPENSATION" class="custom-control-input">
                    <label asp-for="ACC_LOCAL_DOMASTER.IS_COMPENSATION" class="custom-control-label"></label>
                </label>
                <hr />
            </div>

            <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-local-do" aria-expanded="false">
                <h2 class="panel-title text-success"><i class="fa fa-truck" aria-hidden="true"></i> DO</h2>
                <hr />
            </div>

            <div class="col-3 multi-collapse-local-do show">
                <div class="form-group">
                    <label asp-for="ACC_LOCAL_DOMASTER.DODATE" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.ACC_LOCAL_DOMASTER.DODATE)</div>
                </div>
            </div>
            <div class="col-3 multi-collapse-local-do show">
                <div class="form-group">
                    <label asp-for="ACC_LOCAL_DOMASTER.DONO" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.ACC_LOCAL_DOMASTER.DONO)</div>
                </div>
            </div>
            <div class="col-3 multi-collapse-local-do show">
                <div class="form-group">
                    <label asp-for="ACC_LOCAL_DOMASTER.REMARKS" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.ACC_LOCAL_DOMASTER.REMARKS)</div>
                </div>
            </div>

            <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-local-sales-contact" aria-expanded="false">
                <h2 class="panel-title text-success"><i class="fa fa-file-text" aria-hidden="true"></i> Local Sales Contact</h2>
                <hr />
            </div>

            <div class="col-3 multi-collapse-local-sales-contact show">
                <div class="form-group">
                    <label asp-for="ACC_LOCAL_DOMASTER.ComExScinfo.SCNO" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.ACC_LOCAL_DOMASTER.ComExScinfo.SCNO)</div>
                </div>
            </div>
            <div class="col-3 multi-collapse-local-sales-contact show">
                <div class="form-group">
                    <label asp-for="ACC_LOCAL_DOMASTER.ComExScinfo.SCDATE" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.ACC_LOCAL_DOMASTER.ComExScinfo.SCDATE)</div>
                </div>
            </div>
            <div class="col-3 multi-collapse-local-sales-contact show">
                <div class="form-group">
                    <label asp-for="ACC_LOCAL_DOMASTER.ComExScinfo.SCPERSON" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.ACC_LOCAL_DOMASTER.ComExScinfo.SCPERSON)</div>
                </div>
            </div>

            <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-buyer-info" aria-expanded="false">
                <h2 class="panel-title text-success"><i class="fa fa-user-secret" aria-hidden="true"></i> Buyer Info</h2>
                <hr />
            </div>

            <div class="col-3 multi-collapse-buyer-info show">
                <div class="form-group">
                    <label asp-for="ACC_LOCAL_DOMASTER.ComExScinfo.BUYER.BUYER_NAME" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.ACC_LOCAL_DOMASTER.ComExScinfo.BUYER.BUYER_NAME)</div>
                </div>
            </div>
            <div class="col-3 multi-collapse-buyer-info show">
                <div class="form-group">
                    <label asp-for="ACC_LOCAL_DOMASTER.ComExScinfo.BUYER.ADDRESS" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.ACC_LOCAL_DOMASTER.ComExScinfo.BUYER.ADDRESS)</div>
                </div>
            </div>

            <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-audit" aria-expanded="false">
                <h2 class="panel-title text-success"><i class="fa fa-wrench" aria-hidden="true"></i> Audit Control</h2>
                <hr />
            </div>

            <div class="col-3 multi-collapse-audit show">
                <div class="form-group">
                    <label asp-for="ACC_LOCAL_DOMASTER.AUDITBY" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.ACC_LOCAL_DOMASTER.AUDITBY)</div>
                </div>
            </div>
            <div class="col-3 multi-collapse-audit show">
                <div class="form-group">
                    <label asp-for="ACC_LOCAL_DOMASTER.AUDITON" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.ACC_LOCAL_DOMASTER.AUDITON)</div>
                </div>
            </div>
            <div class="col-3 multi-collapse-audit show">
                <div class="form-group">
                    <label asp-for="ACC_LOCAL_DOMASTER.COMMENTS" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.ACC_LOCAL_DOMASTER.COMMENTS)</div>
                </div>
            </div>

            <div class="col-12 table-hover table-responsive" id="doDetails">
                @await Html.PartialAsync($"~/Views/AccLocalDoMaster/DetailsAccLocalDoMasterTable.cshtml", Model)
            </div>

            <div class="col-12">
                @if (Model.ACC_LOCAL_DOMASTER.COMMENTS == null)
                {
                    @Html.ActionLink("Edit", "EditAccDoMaster", new { transId = Model.ACC_LOCAL_DOMASTER.EncryptedId }, new { @class = "btn btn-warning pull-right" })
                }
                <a asp-action="GetAccDoMasterWithPaged" class="btn btn-dark pull-right">Back to List</a>
            </div>
        </div>
    </div>
</div>
