
@model AccLocalDoMasterViewModel

@if (Model.ACC_LOCAL_DODETAILs.Any())
{
    <h2 class="panel-title text-success">Style Information</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(model => model.ACC_LOCAL_DODETAILS.STYLE.STYLE.FABCODENavigation.STYLE_NAME)</th>
                <th>@Html.DisplayNameFor(model => model.ACC_LOCAL_DODETAILS.QTY)</th>
                <th>@Html.DisplayNameFor(model => model.ACC_LOCAL_DODETAILS.RATE)</th>
                <th>@Html.DisplayNameFor(model => model.ACC_LOCAL_DODETAILS.AMOUNT)</th>
                <th>@Html.DisplayNameFor(model => model.ACC_LOCAL_DODETAILS.REMARKS)</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.ACC_LOCAL_DODETAILs.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @if (Model.ACC_LOCAL_DOMASTER.IS_COMPENSATION)
                        {
                            @Html.DisplayFor(model => Model.ACC_LOCAL_DODETAILs[i].ComExPiDetails.STYLE.FABCODENavigation.STYLE_NAME)
                        }
                        else
                        {
                            @Html.DisplayFor(model => Model.ACC_LOCAL_DODETAILs[i].STYLE.STYLE.FABCODENavigation.STYLE_NAME)
                        }
                    </td>
                    <td>@Html.DisplayFor(model => Model.ACC_LOCAL_DODETAILs[i].QTY)</td>
                    <td>@Html.DisplayFor(model => Model.ACC_LOCAL_DODETAILs[i].RATE)</td>
                    <td>@Html.DisplayFor(model => Model.ACC_LOCAL_DODETAILs[i].AMOUNT)</td>
                    <td>@Html.DisplayFor(model => Model.ACC_LOCAL_DODETAILs[i].REMARKS)</td>
                </tr>
            }
        </tbody>
    </table>
}