@model List<DenimERP.Models.ACC_LOCAL_DODETAILS>

@Html.EditorFor(model => model)

@if (Model.Any())
{
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                @Model[i].STYLE.STYLE.STYLENAME
            </td>
            <td>
                @Model[i].QTY
            </td>
            <td>
                @Model[i].RATE
            </td>
            <td>
                @Model[i].AMOUNT
            </td>
            <td>
                @Model[i].REMARKS
            </td>
            <td><i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveDOInfo('@Model[i].DONO','@Model[i].STYLEID');" aria-hidden="true"></i></td>
        </tr>
    }
}