@model FFsRollReceiveViewModel

@if (Model.FFsFabricRcvDetailsList.Any())
{

    <table class="table" id="partialView">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FFsFabricRcvDetails.FABCODENavigation.STYLE_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FFsFabricRcvDetails.SO_NONavigation.SO_NO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FFsFabricRcvDetails.PO_NONavigation.PINO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FFsFabricRcvDetails.ROLL_.ROLLNO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FFsFabricRcvDetails.QTY_YARDS)
                </th>
                <th>
                    @Html.DisplayName("Fabric Grade")
                </th>
                <th>
                    @Html.DisplayName("Process Type")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FFsFabricRcvDetails.LOCATION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FFsFabricRcvDetails.REMARKS)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FFsFabricRcvDetailsList.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(clc => clc.FFsFabricRcvDetailsList[i].TRNSID)
                        @Html.HiddenFor(clc => clc.FFsFabricRcvDetailsList[i].RCVID)
                        @Html.HiddenFor(clc => clc.FFsFabricRcvDetailsList[i].FABCODE)
                        @Model.FFsFabricRcvDetailsList[i].FABCODENavigation?.STYLE_NAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FFsFabricRcvDetailsList[i].SO_NO)
                        @Model.FFsFabricRcvDetailsList[i].SO_NONavigation?.SO_NO
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FFsFabricRcvDetailsList[i].PO_NO)
                        @Model.FFsFabricRcvDetailsList[i].SO_NONavigation?.PIMASTER?.PINO
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FFsFabricRcvDetailsList[i].ROLL_ID)
                        @Model.FFsFabricRcvDetailsList[i].ROLL_?.ROLLNO
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FFsFabricRcvDetailsList[i].QTY_YARDS)
                        @Model.FFsFabricRcvDetailsList[i].ROLL_?.LENGTH_YDS
                    </td>
                    <td>
                        @Model.FFsFabricRcvDetailsList[i].ROLL_?.FAB_GRADE
                    </td>
                    <td>
                        @Model.FFsFabricRcvDetailsList[i].ROLL_?.OPT1
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FFsFabricRcvDetailsList[i].LOCATION)
                        @Model.FFsFabricRcvDetailsList[i].LOCATIONNavigation?.LOCATION
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FFsFabricRcvDetailsList[i].REMARKS)
                        @Model.FFsFabricRcvDetailsList[i].ROLL_?.REMARKS
                    </td>
                    @*<td>
                            <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveFabricFromList(@i)" aria-hidden="true"></i>
                        </td>*@
                </tr>
            }

        </tbody>
    </table>




}


<script type="text/javascript" asp-append-version="true">
    //function RemoveFabricFromList(removeIndexValue) {
    //    swal({
    //            title: "Please Confirm",
    //            text: "You won't able to revert, Are you sure to remove?",
    //            type: "warning",
    //            showCancelButton: true,
    //            confirmButtonText: "Yes, sir",
    //            cancelButtonText: "Not at all"
    //        },
    //        function (isConfirm) {
    //            if (isConfirm) {
    //                var data = $('#form').serializeArray();
    //                data.push({ name: "removeIndexValue", value: removeIndexValue });
    //                $.ajax({
    //                    async: true,
    //                    cache: false,
    //                    data: data,
    //                    type: "POST",
    //                    url: '/FPrFinishingProcess/RemoveFabricFromList',
    //                    success: function (partialView, status, xhr) {
    //                        $('#fabricDetails').html(partialView);
    //                    },
    //                    error: function (e) {
    //                        console.log(e);
    //                    }
    //                });
    //            }
    //        });
    //}
</script>