@model BAS_SUPP_CATEGORY

@{
    ViewData["Title"] = "DetailsBasSupplierCategory";
    Layout = Layout;
}

    <h2> Supplier Category Details</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CATNAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CATNAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.REMARKS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REMARKS)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetBasSupplierCategoriesWithPaged" class="btn btn-dark mr-4" accesskey="b">Back to List</a> 
    @Html.ActionLink("Edit", "EditBasSupplierCategory", new { supplierCategoryId = Model.EncryptedId}, new { @class = "btn btn-warning" })
</div>
