
@model CreateFSampleFabricIssueViewModel

@{
    ViewData["Title"] = "Sample Fabric Issue";
}

<div class="container-fluid">

    <h2><i class="fa fa-edit text-warning" aria-hidden="true"></i> Edit @ViewData["Title"]</h2>

    <form id="form" role="form" asp-action="PostEditFSampleFabric" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-body row">

                @Html.HiddenFor(e => e.FSampleFabric.SFIID)
                @Html.HiddenFor(e => e.FSampleFabric.EncryptedId)
                @Html.HiddenFor(e => e.FSampleFabric.SRNO)
                @Html.HiddenFor(e => e.FSampleFabric.MKT_TEAMID)
                @Html.HiddenFor(e => e.FSampleFabric.ISSUE_DATE)
                @Html.HiddenFor(e => e.FSampleFabric.REMARKS)

                <div class="col-12">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input asp-for="FSampleFabric.HasRemoved" class="form-control js-switch" />
                            <label asp-for="FSampleFabric.HasRemoved" class="control-label"></label>
                            <span asp-validation-for="FSampleFabric.HasRemoved" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabric.REQ_DATE" class="control-label"></label>
                        <input asp-for="FSampleFabric.REQ_DATE" class="form-control" />
                        <span asp-validation-for="FSampleFabric.REQ_DATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabric.MKT_TEAM.PERSON_NAME" class="control-label"></label>
                        <input asp-for="FSampleFabric.MKT_TEAM.PERSON_NAME" class="form-control" disabled="disabled" />
                        <span asp-validation-for="FSampleFabric.MKT_TEAMID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabric.SRNO" class="control-label"></label>
                        <input asp-for="FSampleFabric.SRNO" class="form-control" disabled="disabled" />
                        <span asp-validation-for="FSampleFabric.SRNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabric.BUYER.BUYER_NAME" class="control-label">Buyer Factory Name</label>
                        @Html.DropDownListFor(dt => dt.FSampleFabric.BUYERID, new SelectList(Model.BasBuyerinfos, "BUYERID", "BUYER_NAME"), "Select Buyer", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FSampleFabric.BUYERID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabric.BRAND.BRANDNAME" class="control-label">End Buyer Name</label>
                        @Html.DropDownListFor(dt => dt.FSampleFabric.BRANDID, new SelectList(Model.BasBrandinfos, "BRANDID", "BRANDNAME"), "Select Buyer", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FSampleFabric.BRANDID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabric.MARCHANDISER_NAME" class="control-label"></label>
                        <input asp-for="FSampleFabric.MARCHANDISER_NAME" class="form-control" />
                        <span asp-validation-for="FSampleFabric.MARCHANDISER_NAME" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-hand-o-right"></i> Issue Details</h2>
                    <hr />
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricIssueDetails.Fabricinfo.FABCODE" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FSampleFabricIssueDetails.FABCODE, new SelectList(Model.RndFabricinfos, "FABCODE", "STYLE_NAME"), "Select Fabric Code", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FSampleFabricIssueDetails.FABCODE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricIssueDetails.SR_QTY" class="control-label"></label>
                        <input asp-for="FSampleFabricIssueDetails.SR_QTY" class="form-control" />
                        <span asp-validation-for="FSampleFabricIssueDetails.SR_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricIssueDetails.REMARKS" class="control-label"></label>
                        <input asp-for="FSampleFabricIssueDetails.REMARKS" class="form-control" />
                        <span asp-validation-for="FSampleFabricIssueDetails.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit">Update</button>
                    <button id="btnAdd" class="btn btn-success pull-right" type="button">Add</button>
                    <a class="btn btn-dark pull-right" asp-action="GetFSampleFabric">Back to List</a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-1" id="FabricIssueDetils">
                    @await Html.PartialAsync($"~/Views/FSampleFabricIssue/CreateFSampleFabricIssueDetailsTable.cshtml", Model)
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/switchery/switchery.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/FSampleFabricIssue/CreateFSampleFabricIssue.js"></script>
    <script asp-append-version="true" src="~/lib/switchery/switchery.js"></script>
}