@model FDyeingProcessSlasherViewModel

@if (Model.FPrSlasherChemConsmList.Any())
{
    <div class="table-responsive">
        <table class="table mt-2 table-condensed" style="border-collapse: collapse;" id="partialView">
            <thead id="thead">
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrSlasherChemConsmList.FirstOrDefault().CHEM_PRODID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrSlasherChemConsmList.FirstOrDefault().QTY)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrSlasherChemConsmList.FirstOrDefault().UNIT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrSlasherChemConsmList.FirstOrDefault().REMARKS)
                    </th>
                    <th>
                        @Html.DisplayName("Remove")
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.FPrSlasherChemConsmList.Count; i++)
                {
                    <tr>
                        <td><span class="expand-button"></span></td>
                        <td>
                            @Html.HiddenFor(clc => clc.FPrSlasherChemConsmList[i].SL_CHEMID)
                            @Html.HiddenFor(clc => clc.FPrSlasherChemConsmList[i].CHEM_PRODID)
                            @Html.HiddenFor(clc => clc.FPrSlasherChemConsmList[i].TYPE)
                            @Model.FPrSlasherChemConsmList[i].CHEM_PROD?.PRODUCTNAME
                        </td>
                        <td>
                            @Html.HiddenFor(clc => clc.FPrSlasherChemConsmList[i].QTY)
                            @Model.FPrSlasherChemConsmList[i].QTY
                        </td>
                        <td>
                            @Html.HiddenFor(clc => clc.FPrSlasherChemConsmList[i].UNIT)
                            @Model.FPrSlasherChemConsmList[i].UNITNavigation?.UNAME
                        </td>
                        <td>
                            @Html.HiddenFor(clc => clc.FPrSlasherChemConsmList[i].REMARKS)
                            @Model.FPrSlasherChemConsmList[i].REMARKS
                        </td>
                        <td>
                            <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveChemFromList(@i)" aria-hidden="true"></i>
                        </td>
                    </tr>
                }
                <tr class="bg-info text-white">
                    <td></td>
                    <td class="text-right"><i class="fa fa-cart-plus" aria-hidden="true"></i> @Html.DisplayName("Sum Of Total :")</td>
                    <td class="">@($"{Model.FPrSlasherChemConsmList.Sum(e => float.Parse(e.QTY))}")</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
        }


        <script type="text/javascript" asp-append-version="true">
            function RemoveChemFromList(removeIndexValue) {
                var data = $('#form').serializeArray();
                data.push({ name: "removeIndexValue", value: removeIndexValue });
                $.ajax({
                    async: true,
                    cache: false,
                    data: data,
                    type: "POST",
                    url: '/FDyeingProcessSlasherMaster/RemoveChemFromList',
                    success: function (partialView, status, xhr) {
                        $('#ChemDetails').html(partialView);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        </script>
