
@model F_PR_SLASHER_DYEING_MASTER

@{
    ViewData["Title"] = "Dyeing Process (Slasher)";
}


@{
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> @ViewData["Title"]
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="mr-2">
                    <p>
                        <a asp-action="CreateDyeingProcessSlasher" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a>
                    </p>
                </li>
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content table-responsive">
            <table class="table" id="table">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.TRNSDATE)</th>
                        <th>@Html.DisplayNameFor(model => model.SETID)</th>
                        <th>@Html.DisplayNameFor(model => model.BEAM_SPACE)</th>
                        <th>@Html.DisplayNameFor(model => model.PICK_UP)</th>
                        <th>@Html.DisplayNameFor(model => model.REMARKS)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

}

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(function() {
            $('#table').dataTable({
                "searchPanes": true,
                "processing": true,
                "serverSide": true,
                "filter": true,
                "order": [[1, 'desc']],
                "pageLength": 25,
                "lengthMenu": [10, 25, 50, 100, 200, 500, 1000],
                "autoWidth": false,
                "ajax": {
                    "async": "true",
                    "url": '/FDyeingProcessSlasherMaster/GetTableData',
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [5],
                        "orderable": false,
                        "searchable": false
                    }
                ],
                "language": {
                    "searchPlaceholder": "Search for your desire results",
                    "search": '<i class="fa fa-2x fa-search" aria-hidden="true"></i>',
                    "emptyTable": '<h3>No data available</h3>',
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "thousands": ",",
                    "processing": "<i class='fa fa-4x fa-spinner' aria-hidden='true'></i>",
                    "zeroRecords": "<h3>No matching records found</h3>",
                    "paginate": {
                        "first": "<i class='fa fa-angle-double-left' aria-hidden='true'></i>",
                        "last": "<i class='fa fa-angle-double-right' aria-hidden='true'></i>",
                        "next": "<i class='fa fa-angle-right' aria-hidden='true'></i>",
                        "previous": "<i class='fa fa-angle-left' aria-hidden='true'></i>"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                "columns": [
                    {
                        "data": "trnsdate", "name": "TRNSDATE", "autoWidth": true,
                        "render": function (data, type, row) {
                            return data !== null ? moment(data).format(row.dateFormat) : "N/A";
                        }
                    },
                    { "data": "set.proG_.proG_NO", "name": "SET.PROG_.PROG_NO", "autoWidth": true },
                    { "data": "beaM_SPACE", "name": "BEAM_SPACE", "autoWidth": true },
                    { "data": "picK_UP", "name": "PICK_UP", "autoWidth": true },
                    { "data": "remarks", "name": "REMARKS", "autoWidth": true },
                    {
                        "render": function (data, type, row) {

                            var isChemUse = row.f_PR_SLASHER_CHEM_CONSM.length > 0 ?`<i title='Chemical Used' class="fa fa-tint text-success" aria-hidden="true"></i>`:``;

                            return `<a target='_blank' title='Print Slasher Delivery Report' href='/FDyeingProcessSlasherMaster/RSlasherDeliveryReport?PROG_NO=${row.set.proG_.proG_NO}' class='fa fa-print fa-2x-custom text-primary mr-2'></a> <a href='/FDyeingProcessSlasherMaster/DetailsDyeingProcessSlasher?id=${row.encryptedId}' class='fa fa-info-circle fa-2x-custom text-info mr-2'></a> <a href='/FDyeingProcessSlasherMaster/EditDyeingProcessSlasher?id=${row.encryptedId}' class='fa fa-edit fa-2x-custom text-warning mr-2'></a> <a href='/FDyeingProcessSlasherMaster/DeleteDyeingProcessSlasher?id=${row.encryptedId}' class='fa fa-trash fa-2x-custom text-danger mr-2'></a> ${isChemUse}`;
                        }
                    }
                ]
            });
        });
    </script>
}