
@using DenimERP.Models
@model ComImpLcInformationForCreateViewModel
@inject SignInManager<ApplicationUser> _signInManager

@if (Model.cOM_IMP_LCDETAILs.Any())
{
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        @Html.DisplayName("LC Details") #1
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body table-responsive table-hover">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_IMP_LCDETAILS.TRNSDATE)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_IMP_LCDETAILS.LCNO)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_IMP_LCDETAILS.HSCODE)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_IMP_LCDETAILS.PINO)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_IMP_LCDETAILS.PIDATE)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_IMP_LCDETAILS.BAS_PRODUCTINFO.PRODNAME)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_IMP_LCDETAILS.QTY)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_IMP_LCDETAILS.RATE)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_IMP_LCDETAILS.TOTAL)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.cOM_IMP_LCDETAILS.PIPATH)</th>
                                <th scope="col">@Html.DisplayName("Last Modified By")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                for (var i = 0; i < Model.cOM_IMP_LCDETAILs.Count; i++)
                                {
                                    <tr>
                                        <td>@(i+1)</td>
                                        <td>@Html.DisplayFor(e => e.cOM_IMP_LCDETAILs[i].TRNSDATE)</td>
                                        <td>@Html.DisplayFor(e => e.cOM_IMP_LCDETAILs[i].LCNO)</td>
                                        <td>@Html.DisplayFor(e => e.cOM_IMP_LCDETAILs[i].HSCODE)</td>
                                        <td>@Html.DisplayFor(e => e.cOM_IMP_LCDETAILs[i].PINO)</td>
                                        <td>@Html.DisplayFor(e => e.cOM_IMP_LCDETAILs[i].PIDATE)</td>
                                        <td>@Html.DisplayFor(e => e.cOM_IMP_LCDETAILs[i].BAS_PRODUCTINFO.PRODNAME)</td>
                                        <td>@($"{Model.cOM_IMP_LCDETAILs[i].QTY:N}")</td>
                                        <td>@($"{Model.cOM_IMP_LCDETAILs[i].RATE:N}")</td>
                                        <td>@($"{Model.cOM_IMP_LCDETAILs[i].TOTAL:N}")</td>
                                        <td>
                                            @{
                                                if (!string.IsNullOrEmpty(Model.cOM_IMP_LCDETAILs[i].USRID))
                                                {
                                                    @_signInManager.UserManager.FindByIdAsync(Model.cOM_IMP_LCDETAILs[i].USRID).Result.UserName
                                                }
                                                else
                                                {
                                                    @Html.DisplayName("N/A")
                                                }
                                            }
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(Model.cOM_IMP_LCDETAILs[i].PIPATH))
                                            {
                                                <a asp-action="lc_files" asp-controller="Files" asp-route-fileName="@Model.cOM_IMP_LCDETAILs[i].PIPATH" class="d-flex btn-link" target="_blank"><i class="fa fa-file" aria-hidden="true"> @Model.cOM_IMP_LCDETAILs[i].PIPATH.Split(new char[] { ' ', '_' }, 2)[1]</i></a>
                                            }
                                            else
                                            {
                                                @Html.DisplayName("N/A")
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}