
@using DenimERP.Models
@model ComImpInvoiceInfoDetailsViewModel
@inject SignInManager<ApplicationUser> _signInManager

@{
    ViewData["Title"] = "Commercial Invoice";
}

<h2><i class="fa fa-xing fa-lg text-success" aria-hidden="true"></i> Details @ViewData["Title"]</h2>

@{
    if (Model != null)
    {



        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white btn btn-info">@Html.DisplayNameFor(e => e.ComImpInvoiceinfo.INVNO) : [ @Html.DisplayFor(e => e.ComImpInvoiceinfo.INVNO) ]</h2>
                        <hr />
                    </div>
                </div>

                <div class="row details">
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.INVDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.INVDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.LPORT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.LPORT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.DOCHANDSON" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.DOCHANDSON)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.ETADATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.ETADATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.CONTQTY" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.CONTQTY)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.COM_CONTAINER.CONTAINERSIZE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.COM_CONTAINER.CONTAINERSIZE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.SBDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.SBDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.BLNO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.BLNO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.BLDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.BLDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.BENTRYNO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.BENTRYNO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.BENTRYDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.BENTRYDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.RCVSTATUS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.RCVSTATUS)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.MRRNO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.MRRNO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.MRRDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.MRRDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.PAYMENTDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.PAYMENTDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.CnFBILL" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.CnFBILL)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.CnFBILLDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.CnFBILLDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.TRUCKQTY" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.TRUCKQTY)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.TRNSPBILL" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.TRNSPBILL)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.TRNSPBILLDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.TRNSPBILLDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.SHIPBY" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.SHIPBY)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.STATUS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.STATUS)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.REMARKS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ComImpInvoiceinfo.REMARKS)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ComImpInvoiceinfo.USRID" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @{
                                    if (!string.IsNullOrEmpty(Model.ComImpInvoiceinfo.USRID))
                                    {
                                        @_signInManager.UserManager.FindByIdAsync(Model.ComImpInvoiceinfo.USRID).Result.UserName
                                    }
                                    else
                                    {
                                        @Html.DisplayName("N/A")
                                    }
                                }
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-6">
                        <div class="col-12 p-0">
                            <h2 class="panel-title text-success"><i class="fa fa-truck"></i> Transport Information</h2>
                            <hr>

                            <div class="col-12">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="ComImpInvoiceinfo.TRNSP.TRNSPNAME" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.ComImpInvoiceinfo.TRNSP.TRNSPNAME)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12 p-0">
                            <h2 class="panel-title text-success"><i class="fa fa-files-o"></i> Files</h2>
                            <hr>

                            <div class="col-12">
                                <label asp-for="ComImpInvoiceinfo.INVPATH"></label>
                                @if (!string.IsNullOrEmpty(Model.ComImpInvoiceinfo.INVPATH))
                                {
                                    <a asp-action="imp_invoice_files" asp-controller="Files" asp-route-fileName="@Model.ComImpInvoiceinfo.INVPATH" class="d-flex btn-link" target="_blank"><i class="fa fa-file" aria-hidden="true"> @Model.ComImpInvoiceinfo.INVPATH.Split(new char[] { ' ', '_' }, 2)[1]</i></a>
                                }
                                else
                                {
                                    <br />
                                    @Html.DisplayName("N/A")
                                }
                            </div>
                            <div class="col-12">
                                <label asp-for="ComImpInvoiceinfo.BLPATH"></label>
                                @if (!string.IsNullOrEmpty(Model.ComImpInvoiceinfo.BLPATH))
                                {
                                    <a asp-action="imp_invoice_files" asp-controller="Files" asp-route-fileName="@Model.ComImpInvoiceinfo.BLPATH" class="d-flex btn-link" target="_blank"><i class="fa fa-file" aria-hidden="true"> @Model.ComImpInvoiceinfo.BLPATH.Split(new char[] { ' ', '_' }, 2)[1]</i></a>
                                }
                                else
                                {
                                    <br />
                                    @Html.DisplayName("N/A")
                                }
                            </div>
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync($"~/Views/ComImpInvoiceInfo/DetailsComImpInvoiceInfoTable.cshtml", Model)

                <div class="col-md-12">
                    @Html.ActionLink("Edit", $"EditComImpInvoiceInfo", new { invId = Model.ComImpInvoiceinfo.EncryptedId }, new { @class = "btn btn-warning pull-right mt-2" })
                    <a class="btn btn-dark pull-right mt-2" asp-action="GetComImpInvoiceInfo" asp-controller="ComImpInvoiceInfo">Back to List</a>
                </div>
            </div>
        </div>
    }
}