@model FDyeingProcessRopeViewModel

@if (Model.FDyeingProcessRopeDetailsList.Any())
{
    <div class="table-responsive">
    <table class="table mt-2 table-condensed mb-4" style="border-collapse: collapse;" id="partialView">
        <thead id="thead">
        <tr>
            <th></th>
            <th>SL.</th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().SUBGROUPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().CLOSE_STATUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().BALLID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().ROPE_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().CAN_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().BALL_LENGTH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().DYEING_LENGTH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().REJECTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().STOP_MARK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().R_MACHINE_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().SHIFT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDyeingProcessRopeDetailsList.FirstOrDefault().REMARKS)
            </th>
            <th>
                @Html.DisplayName("Remove")
            </th>
        </tr>
        </thead>
        <tbody>


        @for (var i = 0; i < Model.FDyeingProcessRopeDetailsList.Count; i++)
        {
            <tr>
                @{
                    var sl = i + 1;
                }
                <td>
                    @if (Model.FDyeingProcessRopeDetailsList[i].ROPEID > 0)
                    {
                        <i class="fa fa-database text-danger" aria-hidden="true" title="From database."></i>
                    }
                    else
                    {
                        <i class="fa fa-plus-circle text-info" aria-hidden="true" title="New data."></i>
                    }
                </td>
                <td><span>@sl.</span></td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].ROPEID)
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].ROPE_DID)
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].SUBGROUPID)
                    @Model.FDyeingProcessRopeDetailsList[i].SUBGROUP?.OPT1
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].CLOSE_STATUS)
                    @if (Model.FDyeingProcessRopeDetailsList[i].CLOSE_STATUS)
                    {
                        <span class="text-success">Yes</span>
                    }
                    else
                    {
                        <span class="text-danger">No</span>
                    }

                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].BALLID)
                    @Model.FDyeingProcessRopeDetailsList[i].BALL?.BALL_ID_FKNavigation?.BALL_NO
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].ROPE_NO)
                    @Model.FDyeingProcessRopeDetailsList[i].ROPE_NONavigation?.ROPE_NO
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].CAN_NO)
                    @Model.FDyeingProcessRopeDetailsList[i].CAN_NONavigation?.TUBE_NO
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].BALL_LENGTH)
                    @Model.FDyeingProcessRopeDetailsList[i].BALL_LENGTH
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].DYEING_LENGTH)
                    @Model.FDyeingProcessRopeDetailsList[i].DYEING_LENGTH
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].REJECTION)
                    @Model.FDyeingProcessRopeDetailsList[i].REJECTION
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].STOP_MARK)
                    @Model.FDyeingProcessRopeDetailsList[i].STOP_MARK
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].R_MACHINE_NO)
                    @Model.FDyeingProcessRopeDetailsList[i].R_MACHINE_NONavigation?.ROPE_MC_NO
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].SHIFT)
                    @Model.FDyeingProcessRopeDetailsList[i].SHIFT
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FDyeingProcessRopeDetailsList[i].REMARKS)
                    @Model.FDyeingProcessRopeDetailsList[i].REMARKS
                </td>
                <td>
                    <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveBallFromList(@i)" aria-hidden="true"></i>
                </td>
            </tr>
        }

        </tbody>
    </table>
    </div>
        }


        <script type="text/javascript" asp-append-version="true">
            function RemoveBallFromList(removeIndexValue) {
                var data = $('#form').serializeArray();
                data.push({ name: "removeIndexValue", value: removeIndexValue });
                $.ajax({
                    async: true,
                    cache: false,
                    data: data,
                    type: "POST",
                    url: '/FDyeingProcessRopeMaster/RemoveBallFromList',
                    success: function (partialView, status, xhr) {
                        $('#BallDetails').html(partialView);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }

        </script>
