
@model FDyeingProcessRopeViewModel

@{
    ViewData["Title"] = "Dyeing Process (Rope)";
}


<div class="container-fluid">

    <h2><i class="fa fa-edit text-warning" aria-hidden="true"></i> Edit @ViewData["Title"]</h2>

    <div class="stepwizard">
        <div class="stepwizard-row setup-panel d-flex justify-content-around">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                <p><small>Step 1</small></p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p><small>Finish</small></p>
            </div>
        </div>
    </div>

    <form id="form" role="form" asp-action="EditDyeingProcessRope">
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">
                @Html.HiddenFor(c => c.FDyeingProcessRopeMaster.EncryptedId)
                @Html.HiddenFor(c => c.FDyeingProcessRopeMaster.ROPE_DID)
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeMaster.GROUPID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FDyeingProcessRopeMaster.GROUPID, new SelectList(Model.PlProductionPlanMasterList, "GROUPID", "GROUP_NO"), "Select Group", htmlAttributes: new { @class = "form-control js-example-data-ajax" })
                        <span asp-validation-for="FDyeingProcessRopeMaster.GROUPID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeMaster.TRNSDATE" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeMaster.TRNSDATE" class="form-control" />
                        <span asp-validation-for="FDyeingProcessRopeMaster.TRNSDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeMaster.GROUP_LENGTH" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeMaster.GROUP_LENGTH" class="form-control" readonly="readonly" />
                        <span asp-validation-for="FDyeingProcessRopeMaster.GROUP_LENGTH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeMaster.DYEING_LENGTH" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeMaster.DYEING_LENGTH" class="form-control" />
                        <span asp-validation-for="FDyeingProcessRopeMaster.DYEING_LENGTH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Style Name</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="style">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeMaster.DYEING_CODE" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeMaster.DYEING_CODE" class="form-control" />
                        <span asp-validation-for="FDyeingProcessRopeMaster.DYEING_CODE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeMaster.REMARKS" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeMaster.REMARKS" class="form-control" />
                        <span asp-validation-for="FDyeingProcessRopeMaster.REMARKS" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success">Program/Set No.</h2>
                    <hr />
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.SUBGROUPID" class="control-label"></label>
                        @*@Html.DropDownListFor(dt => dt.FDyeingProcessRopeDetails.SUBGROUPID, new SelectList(Model.PlProductionPlanDetailsList, "SUBGROUPID", "OPT1"), "Select Program/Set No.", htmlAttributes: new { @class = "form-control js-example-basic-single" })*@

                        <select asp-for="FDyeingProcessRopeDetails.SUBGROUPID" class="form-control js-example-basic-single">
                            <option value="">Select Program/Set No.</option>
                        </select>
                        <span asp-validation-for="FDyeingProcessRopeDetails.SUBGROUPID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Total Balls</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="totalBalls">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.CLOSE_STATUS" class="control-label"></label>
                        <div class="form-control custom-form-control">
                            <label class="switch">
                                <input asp-for="FDyeingProcessRopeDetails.CLOSE_STATUS" />
                                <span class="slider round"></span>
                                <span class="absolute-no">NO</span>
                            </label>
                        </div>
                        <span asp-validation-for="FDyeingProcessRopeDetails.CLOSE_STATUS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success">Ball Information</h2>
                    <hr />
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.BALLID" class="control-label"></label>
                        @*@Html.DropDownListFor(dt => dt.FDyeingProcessRopeDetails.BALLID, new SelectList(Model.PrWarpingProcessRopeBallDetailsList, "BALLID", "OPT1"), "Select Ball Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })*@


                        <select asp-for="FDyeingProcessRopeDetails.BALLID" class="form-control js-example-basic-single">
                            <option value="">Select Ball No</option>
                        </select>
                        <span asp-validation-for="FDyeingProcessRopeDetails.BALLID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.ROPE_NO" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FDyeingProcessRopeDetails.ROPE_NO, new SelectList(Model.FPrRopeInfos, "ID", "ROPE_NO"), "Select Rope No", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FDyeingProcessRopeDetails.ROPE_NO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.CAN_NO" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FDyeingProcessRopeDetails.CAN_NO, new SelectList(Model.FPrTubeInfos, "ID", "TUBE_NO"), "Select Can/Tube No", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FDyeingProcessRopeDetails.CAN_NO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.BALL_LENGTH" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeDetails.BALL_LENGTH" class="form-control" readonly="readonly" />
                        <span asp-validation-for="FDyeingProcessRopeDetails.BALL_LENGTH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.DYEING_LENGTH" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeDetails.DYEING_LENGTH" class="form-control" />
                        <span asp-validation-for="FDyeingProcessRopeDetails.DYEING_LENGTH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.REJECTION" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeDetails.REJECTION" class="form-control" />
                        <span asp-validation-for="FDyeingProcessRopeDetails.REJECTION" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.STOP_MARK" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeDetails.STOP_MARK" class="form-control" />
                        <span asp-validation-for="FDyeingProcessRopeDetails.STOP_MARK" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.R_MACHINE_NO" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FDyeingProcessRopeDetails.R_MACHINE_NO, new SelectList(Model.FPrRopeMachineInfos, "ID", "ROPE_MC_NO"), "Select Rope M/C No", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FDyeingProcessRopeDetails.R_MACHINE_NO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.SHIFT" class="control-label"></label>
                        <select asp-for="FDyeingProcessRopeDetails.SHIFT" class="form-control js-example-basic-single">
                            <option value="">Select Shift Name</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                        <span asp-validation-for="FDyeingProcessRopeDetails.SHIFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeDetails.REMARKS" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeDetails.REMARKS" class="form-control" />
                        <span asp-validation-for="FDyeingProcessRopeDetails.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button id="btnAddBall" class="btn btn-success pull-right mr-2" type="button">Add</button>
                    <button class="btn btn-info nextBtn pull-right" type="button">Next</button>
                    <a asp-action="GetDyeingProcessRopeList" class="btn btn-dark pull-right mr-2">Back to List</a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="BallDetails">@await Html.PartialAsync("~/Views/FDyeingProcessRopeMaster/AddBallList.cshtml", Model)</div>

            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-body row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <h2 class="panel-title text-success">Chemical Information</h2>
                    </div>
                    <hr/>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeChem.CHEM_PROD_ID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FDyeingProcessRopeChem.CHEM_PROD_ID, new SelectList(Model.ChemStoreProductInfoList, "PRODUCTID", "PRODUCTNAME"), "Select Chemical", htmlAttributes: new {@class = "form-control js-example-basic-single"})
                        <span asp-validation-for="FDyeingProcessRopeChem.CHEM_PROD_ID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeChem.QTY" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeChem.QTY" class="form-control"/>
                        <span asp-validation-for="FDyeingProcessRopeChem.QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeChem.UNIT" class="control-label"></label>
                        <select asp-for="FDyeingProcessRopeChem.UNIT" class="form-control js-example-basic-single">
                            <option value="">Select Unit</option>
                            <option value="KG" selected>KG</option>
                            <option value="Liter">Liter</option>
                        </select>
                        <span asp-validation-for="FDyeingProcessRopeChem.UNIT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FDyeingProcessRopeChem.REMARKS" class="control-label"></label>
                        <input asp-for="FDyeingProcessRopeChem.REMARKS" class="form-control"/>
                        <span asp-validation-for="FDyeingProcessRopeChem.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit" id="btn_submit">Update</button>
                    <button class="btn btn-info prevBtn pull-right" type="button">Prev</button>
                    <button id="btnAddChem" class="btn btn-success pull-right mr-2" type="button">Add</button>
                    <a asp-action="GetDyeingProcessRopeList" class="btn btn-dark pull-right">Back to List</a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ChemDetails">@await Html.PartialAsync("~/Views/FDyeingProcessRopeMaster/AddChemList.cshtml", Model)</div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/FDyeingProcessRopeMaster/CreateFDyeingProcessRopeMaster.js"></script>
    <script type="text/javascript" asp-append-version="true">
        $(function () {
            GetGroupDetails($("#FDyeingProcessRopeMaster_GROUPID").val());
            $("#btnAddChem").on('click',
                function () {
                    if ($('#FDyeingProcessRopeChem_QTY').val() === "") {
                        toastrNotification("Please Enter Chemical Quantity.", "error");
                        return false;
                    }
                    if ($('#FDyeingProcessRopeChem_CHEM_PROD_ID').val() === "") {
                        toastrNotification("Please Enter Chemical Name.", "error");
                        return false;
                    }
                    $.ajax({
                        async: true,
                        cache: false,
                        data: $('#form').serialize(),
                        type: "POST",
                        url: "/FDyeingProcessRopeMaster/AddChemList",
                        success: function (partialView, status, xhr) {
                            $('#ChemDetails').html(partialView);
                            $('#FDyeingProcessRopeChem_QTY').val("");

                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });

            $("#btnAddBall").on('click',
                function () {
                    $.ajax({
                        async: true,
                        cache: false,
                        data: $('#form').serialize(),
                        type: "POST",
                        url: "/FDyeingProcessRopeMaster/AddBallList",
                        success: function (partialView, status, xhr) {
                            $('#BallDetails').html(partialView);
                            if (xhr.getResponseHeader("Status") !== "") {
                                toastrNotification(xhr.getResponseHeader("Status"), "error");
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });

            $("#FDyeingProcessRopeDetails_CLOSE_STATUS").on('change',
                function () {
                    var selectedVal = $(this).val();
                    console.log(selectedVal);
                    debugger;
                    $.ajax({
                        async: true,
                        cache: false,
                        data: $('#form').serialize(),
                        type: "POST",
                        url: "/FDyeingProcessRopeMaster/UpdateSetStatus",
                        success: function (partialView, status, xhr) {
                            $('#BallDetails').html(partialView);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });

                });

            $("#FDyeingProcessRopeMaster_GROUPID").on('change',
                function () {
                    var selectedVal = $(this).val();

                    if (selectedVal === "") {
                        $("#FDyeingProcessRopeMaster_GROUP_LENGTH").val("");
                        $("#FDyeingProcessRopeMaster_DYEING_LENGTH").val("");
                        $("#FDyeingProcessRopeMaster_DYEING_CODE").val("");
                        return false;
                    }

                    $("#FDyeingProcessRopeDetails_ROPE_NO").val("").trigger("change");
                    $("#FDyeingProcessRopeDetails_CAN_NO").val("").trigger("change");
                    $("#FDyeingProcessRopeDetails_BALL_LENGTH").val("");
                    $("#FDyeingProcessRopeDetails_DYEING_LENGTH").val("");
                    $("#FDyeingProcessRopeDetails_REJECTION").val("");
                    $("#FDyeingProcessRopeDetails_STOP_MARK").val("");
                    $("#FDyeingProcessRopeDetails_R_MACHINE_NO").val("").trigger("change");
                    $("#FDyeingProcessRopeDetails_SHIFT").val("");
                    $("#FDyeingProcessRopeDetails_REMARKS").val("");
                    $("#totalBalls").text("");

                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "groupId": selectedVal },
                        type: "GET",
                        url: "/FDyeingProcessRopeMaster/GetGroupDetails",
                        success: function (data, status, xhr) {
                            console.log(data);
                            var groupLength = 0;
                            $("#FDyeingProcessRopeDetails_SUBGROUPID").html('');
                            $("#FDyeingProcessRopeDetails_SUBGROUPID").append('<option value="" selected>Select Program/Set No.</option>');
                            $.each(data.pL_PRODUCTION_PLAN_DETAILS,
                                function (id, option) {
                                    //Set Program/Set No
                                    $("#FDyeingProcessRopeDetails_SUBGROUPID").append($('<option></option>').val(option.subgroupid).html(option.subgroupno + " - " + option.pL_PRODUCTION_SETDISTRIBUTION[0].proG_.proG_NO));

                                    //$.each(option.pL_PRODUCTION_SETDISTRIBUTION,
                                    //    function(id1, item) {

                                    //    });

                                    //Set Group Length
                                    $.each(option.f_PR_WARPING_PROCESS_ROPE_MASTER,
                                        function (id1, item) {

                                            groupLength += item.warP_LENGTH;

                                            //$.each(item.f_PR_WARPING_PROCESS_ROPE_DETAILS,
                                            //    function(id1, i) {
                                            //        groupLength += i.warP_LENGTH_PER_SET;
                                            //    });
                                        });
                                });

                            $("#FDyeingProcessRopeMaster_DYEING_CODE").val(data.pL_PRODUCTION_PLAN_DETAILS[0].pL_PRODUCTION_SETDISTRIBUTION[0].proG_.blK_PROG_.rndProductionOrder.so.style.fabcodeNavigation.progno);
                            $("#FDyeingProcessRopeMaster_GROUP_LENGTH").val(groupLength);
                            $("#FDyeingProcessRopeMaster_DYEING_LENGTH").val(groupLength);
                            $("#style").text(data.pL_PRODUCTION_PLAN_DETAILS[0].pL_PRODUCTION_SETDISTRIBUTION[0].proG_.blK_PROG_.rndProductionOrder.so.style.fabcodeNavigation.stylE_NAME);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });

            $("#FDyeingProcessRopeDetails_SUBGROUPID").on('change', function () {

                var selectedVal = $(this).val();

                if (selectedVal === "") {
                    $("#totalBalls").text("");
                    return false;
                }

                $("#FDyeingProcessRopeDetails_ROPE_NO").val("").trigger("change");
                $("#FDyeingProcessRopeDetails_CAN_NO").val("").trigger("change");
                $("#FDyeingProcessRopeDetails_BALL_LENGTH").val("");
                $("#FDyeingProcessRopeDetails_DYEING_LENGTH").val("");
                $("#FDyeingProcessRopeDetails_REJECTION").val("");
                $("#FDyeingProcessRopeDetails_STOP_MARK").val("");
                $("#FDyeingProcessRopeDetails_R_MACHINE_NO").val("").trigger("change");
                $("#FDyeingProcessRopeDetails_SHIFT").val("");
                $("#FDyeingProcessRopeDetails_REMARKS").val("");

                $.ajax({
                    async: true,
                    cache: false,
                    data: { "subGroupId": selectedVal },
                    type: "GET",
                    url: "/FDyeingProcessRopeMaster/GetProgramNoDetails",
                    success: function (data, status, xhr) {
                        console.log(data);
                        $("#FDyeingProcessRopeDetails_BALLID").html('');
                        $("#FDyeingProcessRopeDetails_BALLID").append('<option value="" selected>Select Ball No</option>');
                        $.each(data.f_PR_WARPING_PROCESS_ROPE_MASTER,
                            function (id, option) {
                                $("#totalBalls").text(option.f_PR_WARPING_PROCESS_ROPE_DETAILS[0].balL_NO);
                                $.each(option.f_PR_WARPING_PROCESS_ROPE_BALL_DETAILS,
                                    function (id1, item) {
                                        $("#FDyeingProcessRopeDetails_BALLID").append($('<option></option>').val(item.ballid).html(item.balL_ID_FKNavigation.balL_NO));
                                    });
                            });
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });

            $("#FDyeingProcessRopeDetails_BALLID").on('change',
                function () {
                    var selectedVal = $(this).val();

                    if (selectedVal === "") {
                        $("#FDyeingProcessRopeDetails_ROPE_NO").val("").trigger("change");
                        $("#FDyeingProcessRopeDetails_CAN_NO").val("").trigger("change");
                        $("#FDyeingProcessRopeDetails_BALL_LENGTH").val("");
                        $("#FDyeingProcessRopeDetails_DYEING_LENGTH").val("");
                        $("#FDyeingProcessRopeDetails_REJECTION").val("");
                        $("#FDyeingProcessRopeDetails_STOP_MARK").val("");
                        $("#FDyeingProcessRopeDetails_R_MACHINE_NO").val("").trigger("change");
                        $("#FDyeingProcessRopeDetails_SHIFT").val("");
                        $("#FDyeingProcessRopeDetails_REMARKS").val("");
                        return false;
                    }

                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "ballId": selectedVal },
                        type: "GET",
                        url: "/FDyeingProcessRopeMaster/GetBallNoDetails",
                        success: function (data, status, xhr) {
                            console.log(data);
                            $("#FDyeingProcessRopeDetails_BALL_LENGTH").val(data);
                            $("#FDyeingProcessRopeDetails_DYEING_LENGTH").val(data);

                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });

                });
        });


        function GetGroupDetails(selectedVal) {

            $("#FDyeingProcessRopeDetails_ROPE_NO").val("").trigger("change");
            $("#FDyeingProcessRopeDetails_CAN_NO").val("").trigger("change");
            $("#FDyeingProcessRopeDetails_BALL_LENGTH").val("");
            $("#FDyeingProcessRopeDetails_DYEING_LENGTH").val("");
            $("#FDyeingProcessRopeDetails_REJECTION").val("");
            $("#FDyeingProcessRopeDetails_STOP_MARK").val("");
            $("#FDyeingProcessRopeDetails_R_MACHINE_NO").val("").trigger("change");
            $("#FDyeingProcessRopeDetails_SHIFT").val("");
            $("#FDyeingProcessRopeDetails_REMARKS").val("");
            $("#totalBalls").text("");

            $.ajax({
                async: true,
                cache: false,
                data: { "groupId": selectedVal },
                type: "GET",
                url: "/FDyeingProcessRopeMaster/GetGroupDetails",
                success: function (data, status, xhr) {
                    console.log(data);
                    var groupLength = 0;
                    $("#FDyeingProcessRopeDetails_SUBGROUPID").html('');
                    $("#FDyeingProcessRopeDetails_SUBGROUPID").append('<option value="" selected>Select Program/Set No.</option>');
                    $.each(data.pL_PRODUCTION_PLAN_DETAILS,
                        function (id, option) {
                            //Set Program/Set No
                            $("#FDyeingProcessRopeDetails_SUBGROUPID").append($('<option></option>').val(option.subgroupid).html(option.subgroupno + " - " + option.pL_PRODUCTION_SETDISTRIBUTION[0].proG_.proG_NO));
                        });

                    $("#style").text(data.pL_PRODUCTION_PLAN_DETAILS[0].pL_PRODUCTION_SETDISTRIBUTION[0].proG_.blK_PROG_.rndProductionOrder.so.style.fabcodeNavigation.stylE_NAME);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }



    </script>
}