
@model YarnRequirementViewModel

@if (Model.FYarnRequirementDetailsList.Any())
{
    <div class="col-12 p-0">
        <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> Details</h2>
        <hr />
    </div>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYarnRequirementDetails.TRNSDATE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYarnRequirementDetails.ORDERNO)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYarnRequirementDetails.SETID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYarnRequirementDetails.COUNTID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYarnRequirementDetails.UNIT)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYarnRequirementDetails.REQ_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FYarnRequirementDetails.REMARKS)</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FYarnRequirementDetailsList.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.DisplayFor(item => Model.FYarnRequirementDetailsList[i].TRNSDATE)
                    </td>
                    <td>
                        @Model.FYarnRequirementDetailsList[i].PO?.SO?.SO_NO
                    </td>
                    <td>
                        @Model.FYarnRequirementDetailsList[i].SET?.PROG_?.PROG_NO
                    </td>
                    <td>
                        @Model.FYarnRequirementDetailsList[i].COUNT?.COUNT?.COUNTNAME
                    </td>
                    <td>
                        @Model.FYarnRequirementDetailsList[i].FBasUnits?.UNAME
                    </td>
                    <td>
                        @Model.FYarnRequirementDetailsList[i].REQ_QTY
                    </td>
                    <td>
                        @Model.FYarnRequirementDetailsList[i].REMARKS
                    </td>
                </tr>
            }
        </tbody>
    </table>
}