
@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = Layout;
}
@*
    <div class="col-12 row d-flex justify-content-center">
        <div class="col-3" id="piChartContainer" style="height: 300px; width: 50%;"></div>
            <div class="col-3" id="funnelChartContainer" style="height: 300px; width: 50%;"></div>
            <div class="col-3" id="chartContainer" style="height: 300px; width: 50%;"></div>
            <div class="col-3" id="barChartContainer" style="height: 300px; width: 50%;"></div>
            <div class="col-3" id="bubbleChartContainer" style="height: 300px; width: 50%;"></div>

            <h1 class="text-capitalize text-gradient " style="margin-top: 250px; font-size: 4rem;">Welcome To FLEX Denim</h1>


    </div>*@



<div class="row">
    <!-- task, page, download counter  start -->
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5 class="text-c-yellow f-w-100">Current Month: @ViewBag.PIChartData.PiChartDataViewModel.PIQty</h5>
                        <h6 class="text-muted m-b-0">Previous Month: @ViewBag.PIChartData.PiChartDataViewModel.PIQtyY</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="feather icon-bar-chart f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-yellow">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h5 class="text-white m-b-0">PI Quantity</h5>
                    </div>
                    <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5 class="text-c-green f-w-600">Current Month: $@ViewBag.PIChartData.PiChartDataViewModel.PIValue</h5>
                        <h6 class="text-muted m-b-0">Previous Month: $@ViewBag.PIChartData.PiChartDataViewModel.PIValueY</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="feather icon-file-text f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-green">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h5 class="text-white m-b-0">PI Value</h5>
                    </div>
                    <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5 class="text-c-pink f-w-600">Current Month: @ViewBag.LCChartData.LcChartDataViewModel.LCQty</h5>
                        <h6 class="text-muted m-b-0">Previous Month: @ViewBag.LCChartData.LcChartDataViewModel.LCQtyY</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="feather icon-calendar f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-pink">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h5 class="text-white m-b-0">L/C Quantity</h5>
                    </div>
                    <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5 class="text-c-blue f-w-600">Current Month: $@ViewBag.LCChartData.LcChartDataViewModel.LCValue</h5>
                        <h6 class="text-muted m-b-0">Previous Month: $@ViewBag.LCChartData.LcChartDataViewModel.LCValueY</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="feather icon-download f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-blue">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h5 class="text-white m-b-0">L/C Value</h5>
                    </div>
                    <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5 class="text-c-blue f-w-600">Current Month: @ViewBag.FabricDeliveryChartData.FabricDeliveryChallanViewModel.TotalDelivery Yds</h5>
                        <h6 class="text-muted m-b-0">Previous Month: @ViewBag.FabricDeliveryChartData.FabricDeliveryChallanViewModel.TotalDeliveryY Yds</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="feather icon-download f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-secondary">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h5 class="text-white m-b-0">Fabric Delivery</h5>
                    </div>
                    <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5 class="text-c-pink f-w-600">Current Month: $@ViewBag.RealizationChartData.RealizationViewModel.TotalRealization</h5>
                        <h6 class="text-muted m-b-0">Previous Month:$@ViewBag.RealizationChartData.RealizationViewModel.TotalRealizationY</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="feather icon-calendar f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-inverse">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h5 class="text-white m-b-0">Realization</h5>
                    </div>
                    <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- task, page, download counter  end -->
    <!-- visitor start -->
    <div class="col-xl-8 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Inspection</h4>
                <span class="text-muted"> <strong>Today's Production: @ViewBag.InspectionChartData.InspectionChartDataViewModel.TotalInspectionYds Yds</strong></span>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                        <li><i class="feather icon-trash-2 close-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div id="Inspection" style="height:300px"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card">
            <div class="card-block bg-c-green">
                <div id="Dyeing" style="height: 230px"></div>
            </div>
            <div class="card-footer">
                <h3 class="text-muted m-b-30 m-t-15">Dyeing</h3>
                <div class="row text-center">
                    <div class="col-6 b-r-default">
                        <h5 class="text-muted m-b-10">Slasher</h5>
                        <h4 class="m-b-0 f-w-600 ">@ViewBag.DyeingChartData.DyeingChartDataViewModel.SlasherDyeing Yds</h4>
                    </div>
                    <div class="col-6">
                        <h5 class="text-muted m-b-10">Rope</h5>
                        <h4 class="m-b-0 f-w-600 ">@ViewBag.DyeingChartData.DyeingChartDataViewModel.RopeDyeing Yds</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- visitor end -->
    <!-- sale start -->
    <div class="col-xl-5 col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <h5>Today's Top Style Production</h5>
            </div>
            <div class="card-block">
                <canvas id="topStyle" height="120"></canvas>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-borderless">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("#")</th>
                            <th>@Html.DisplayName("Style Name")</th>
                            <th>@Html.DisplayName("Production Qty")</th>
                            <th>@Html.DisplayName("Average")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < @ViewBag.TopStyleProductionDataList.Count; i++)
                        {
                            <tr>
                                <td>@(i+1)</td>
                                <td>@ViewBag.TopStyleProductionDataList[i].FabricInfo.STYLE_NAME</td>
                                <td>@ViewBag.TopStyleProductionDataList[i].TotalProduction Yds</td>
                                <td>@Html.DisplayName("N/A")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-right  m-r-20">
                <a href="#!" class="b-b-primary text-primary">View all Sales Locations </a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card" >
            <div class="card-header">
                <h5>Today's Weaving Production</h5>
            </div>
            
            <div class="card-block">
                <canvas id="newuserchart" height="250"></canvas>
            </div>
            <div class="card-footer">
                <div class="row text-center b-t-default">
                    <div class="col-6 b-r-default m-t-15">
                        <h5>@ViewBag.WeavingChartData.WeavingChartDataViewModel.WeavingProductionAirjet Yds</h5>
                        <p class="text-muted m-b-0">From Airjet</p>
                    </div>
                    <div class="col-6  m-t-15">
                        <h5>@ViewBag.WeavingChartData.WeavingChartDataViewModel.WeavingProductionRapier Yds</h5>
                        <p class="text-muted m-b-0">From Rapier</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block text-center">
                <canvas id="Count" height="55"></canvas>
                <i class="feather icon-activity text-c-lite-green d-block f-40"></i>
                <h5 class="m-t-15">Total Issued Count </h5><h5 class="text-c-lite-green">Current Month: @ViewBag.IssuedCountData.FYsYarnIssueViewModel.TotalIssuedCount Yds</h5>
                <!--<p class="m-b-10">Your main list is growing</p>-->
                @*<button class="btn btn-primary btn-sm btn-round">Manage List</button>*@
            </div>
        </div>
        <div class="card">
            <div class="card-block text-center">
                <canvas id="Chemical" height="55"></canvas>
                <i class="feather icon-droplet text-c-green d-block f-40"></i>
                <h5 class="m-t-15">Total Issued Chemical</h5><h5 class="text-c-lite-green">Current Month: @ViewBag.IssuedChemicalData.FChemIssueViewModel.TotalIssuedChemical Kg</h5>
                <!--<p class="m-b-10">Your main list is growing</p>-->
                @*<button class="btn btn-success btn-sm btn-round">Check them out</button>*@
            </div>
        </div>
    </div>
    <!-- sale end -->
    <!-- sale order start -->
    <div class="col-xl-4 col-md-6">
        <div class="card o-hidden">
            <div class="card-block bg-c-pink text-white">
                <h6>Warping Production Per Day <span class="f-right"><i class="feather icon-activity m-r-15"></i>3%</span></h6>
                <canvas id="sale-chart1" height="150"></canvas>
            </div>
            <div class="card-footer text-center">
                <div class="row">
                    <div class="col-6 b-r-default">
                        <h4>@ViewBag.WarpingData.MonthlyWarping Yds</h4>
                        <p class="text-muted m-b-0">Monthly Warping</p>
                    </div>
                    <div class="col-6">
                        <h4>@ViewBag.WarpingData.TodaysWarping Yds</h4>
                        <p class="text-muted m-b-0">Today's Warping</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card o-hidden">
            <div class="card-block bg-c-green text-white" id="multiple">
                <h6>Sizing Production Per Day<span class="f-right"><i class="feather icon-activity m-r-15"></i>9%</span></h6>
                <canvas id="sale-chart2" height="150"></canvas>
            </div>
            <div class="card-footer text-center">
                <div class="row">
                    <div class="col-6 b-r-default">
                        <h4>@ViewBag.SizingData.MonthlySizing Yds</h4>
                        <p class="text-muted m-b-0">Monthly Sizing</p>
                    </div>
                    <div class="col-6">
                        <h4>@ViewBag.SizingData.TodaySizing Yds</h4>
                        <p class="text-muted m-b-0">Today's Sizing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card o-hidden">
            <div class="card-block bg-c-blue text-white">
                <h6> Finishing Production Per Day<span class="f-right"><i class="feather icon-activity m-r-15"></i>12%</span></h6>
                <canvas id="sale-chart3" height="150"></canvas>
            </div>
            <div class="card-footer text-center">
                <div class="row">
                    <div class="col-6 b-r-default">
                        <h4>@ViewBag.FinishingData.MonthlyFinishing</h4>
                        <p class="text-muted m-b-0">Monthly Finishing</p>
                    </div>
                    <div class="col-6">
                        <h4>@ViewBag.FinishingData.TodaysFinishing</h4>
                        <p class="text-muted m-b-0">Today's Finishing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sale order end -->
    <!-- social start -->
    <div class="col-xl-4 col-md-12">
        <div class="card quater-card">
            <div class="card-block">
                <h6 class="text-muted m-b-20">This Quarter</h6>
                <h4>$3,9452.50</h4>
                <p class="text-muted">$3,9452.50</p>
                <h5 class="m-t-30">87</h5>
                <p class="text-muted">Online Revenue<span class="f-right">80%</span></p>
                <div class="progress">
                    <div class="progress-bar bg-simple-c-pink" style="width: 80%"></div>
                </div>
                <h5 class="m-t-30">68</h5>
                <p class="text-muted">Offline Revenue<span class="f-right">50%</span></p>
                <div class="progress">
                    <div class="progress-bar bg-simple-c-yellow" style="width: 50%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-md-12">
        <div class="card social-network">
            <div class="card-header">
                <h5>Social Network</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="\FLEXERP\assets\images\widget\icon-1.png" alt=" " class="img-responsive p-b-20">
                        <div class="row">
                            <div class="col-5">
                                <p class="text-muted m-b-5">Views :</p>
                            </div>
                            <div class="col-7">
                                <p class="m-b-5 f-w-400">545,721</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <p class="text-muted m-b-5">Comments :</p>
                            </div>
                            <div class="col-7">
                                <p class="m-b-5 f-w-400">2,256</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <p class="text-muted m-b-5">Likes :</p>
                            </div>
                            <div class="col-7">
                                <p class="m-b-5 f-w-400">4,129</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <p class="text-muted m-b-5">Subscribe :</p>
                            </div>
                            <div class="col-7">
                                <p class="m-b-5 f-w-400">3,451,945</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img src="\FLEXERP\assets\images\widget\icon-2.png" alt=" " class="img-responsive p-b-20">
                        <div class="row">
                            <div class="col-5">
                                <p class="text-muted m-b-5">Engagement :</p>
                            </div>
                            <div class="col-7">
                                <p class="m-b-5 f-w-400">1,543</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <p class="text-muted m-b-5">Shares :</p>
                            </div>
                            <div class="col-7">
                                <p class="m-b-5 f-w-400">846</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <p class="text-muted m-b-5">Likes :</p>
                            </div>
                            <div class="col-7">
                                <p class="m-b-5 f-w-400">569</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <p class="text-muted m-b-5">Comments :</p>
                            </div>
                            <div class="col-7">
                                <p class="m-b-5 f-w-400">156</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 m-t-0">
                        <img src="\FLEXERP\assets\images\widget\icon-3.png" alt=" " class="img-responsive p-b-10 p-t-10">
                        <div class="row">
                            <div class="col-5">
                                <p class="text-muted m-b-5">Tweets :</p>
                            </div>
                            <div class="col-7">
                                <p class="m-b-5 f-w-400">103,576</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 m-t-0">
                        <img src="\FLEXERP\assets\images\widget\icon-4.png" alt=" " class="img-responsive p-b-10 p-t-10">
                        <div class="row">
                            <div class="col-5">
                                <p class="text-muted m-b-5">Tweets :</p>
                            </div>
                            <div class="col-7">
                                <p class="m-b-5 f-w-400">103,576</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- social end -->
</div>


@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/summary.css" rel="stylesheet" />
}

@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/FLEXERP\assets\pages\dashboard\analytic-dashboard.min.js"></script>
}