@model PostCostingViewModel

@if (Model.CosPostCostingChemDetailsList.Any())
{
    <h2 class="panel-title text-success">Chemical Consumption</h2>
    <hr />
    <table class="table mt-2 table-condensed" style="border-collapse:collapse;" id="partialView">
        <thead id="thead">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingChemDetails.CHEM_PRODID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingChemDetails.UNIT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingChemDetails.SECTION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingChemDetails.CONSUMPTION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingChemDetails.RATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingChemDetails.REMARKS)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.CosPostCostingChemDetailsList.Count; i++)
            {
                <tr>
                    <td><span class="expand-button"></span></td>
                    <td>
                        @Html.HiddenFor(clc => clc.CosPostCostingChemDetailsList[i].CHEM_PRODID)
                        @Html.HiddenFor(clc => clc.CosPostCostingChemDetailsList[i].PCOSTID)
                        @Html.HiddenFor(clc => clc.CosPostCostingChemDetailsList[i].TRANSID)
                        @Model.CosPostCostingChemDetailsList[i].CHEM_PROD?.PRODUCTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.CosPostCostingChemDetailsList[i].UNIT)
                        @Model.CosPostCostingChemDetailsList[i].UNITNavigation?.UNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.CosPostCostingChemDetailsList[i].SECTION)
                        @Model.CosPostCostingChemDetailsList[i].SECTION
                    </td>
                    <td>
                        @*@Html.HiddenFor(clc => clc.CosPostCostingChemDetailsList[i].CONSUMPTION)
        @Model.CosPostCostingChemDetailsList[i].CONSUMPTION*@
                        <input class="form-control" asp-for="CosPostCostingChemDetailsList[i].CONSUMPTION" />
                    </td>
                    <td>
                        <input class="form-control" asp-for="CosPostCostingChemDetailsList[i].RATE" />
                    </td>
                    <td>
                        <input class="form-control" asp-for="CosPostCostingChemDetailsList[i].REMARKS" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<script asp-append-version="true" src="~/FLEX/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" asp-append-version="true">

    $(document).on('keyup', '.txt', function (e) {
        if (e.which === 13) {
            var $this = $(this);
            var $td = $this.closest('td'); // Current TD
            var $row = $td.closest('tr'); // Current TR
            var $rows = $row.parent(); // Current TABLE or TBODY - parent of all rows
            var column = $td.index(); // Current column of TD

            // Search on a row basis in current column, then try next column
            // repeat until we run out of cells
            while ($td.length) {
                // get next row
                $row = $row.next('tr');
                // If we were on last row
                if ($row.length === 0) {
                    // Go back to first row
                    $row = $rows.children().first();
                    // And use next column
                    column++;
                }
                if (column >= $row.children().length) {
                    column = 1;
                }
                // get the position in the row column - if it exists
                $td = $row.children().eq(column);
                var $input = $td.find('.txt');
                if ($input.length) {
                    $input.focus();
                    break;
                }
            }
        }
    });
</script>