@model PostCostingViewModel

@if (Model.CosPostCostingYarnDetailsList.Any())
{
    <h2 class="panel-title text-success">Yarn Consumption</h2>
    <hr />
    <table class="table mt-2 table-condensed" style="border-collapse:collapse;" id="partialView">
        <thead id="thead">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingYarnDetails.COUNTID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingYarnDetails.LOTID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingYarnDetails.YARNFOR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingYarnDetails.CONSUMPTION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingYarnDetails.RATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPostCostingYarnDetails.REMARKS)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.CosPostCostingYarnDetailsList.Count; i++)
            {
                <tr>
                    <td><span class="expand-button"></span></td>
                    <td>
                        @Html.HiddenFor(clc => clc.CosPostCostingYarnDetailsList[i].COUNTID)
                        @Html.HiddenFor(clc => clc.CosPostCostingYarnDetailsList[i].PCOSTID)
                        @Html.HiddenFor(clc => clc.CosPostCostingYarnDetailsList[i].TRNSID)
                        @Model.CosPostCostingYarnDetailsList[i].COUNT?.RND_COUNTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.CosPostCostingYarnDetailsList[i].LOTID)
                        @Model.CosPostCostingYarnDetailsList[i].LOT?.LOTNO
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.CosPostCostingYarnDetailsList[i].YARNFOR)
                        @Model.CosPostCostingYarnDetailsList[i].YarnFor?.YARNNAME
                    </td>
                    <td>
                        @*@Html.HiddenFor(clc => clc.CosPostCostingYarnDetailsList[i].CONSUMPTION)
        @Model.CosPostCostingYarnDetailsList[i].CONSUMPTION*@

                        <input class="form-control" asp-for="CosPostCostingYarnDetailsList[i].CONSUMPTION" />

                    </td>
                    <td>
                        <input class="form-control" asp-for="CosPostCostingYarnDetailsList[i].RATE" />
                    </td>
                    <td>
                        <input class="form-control" asp-for="CosPostCostingYarnDetailsList[i].REMARKS" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<script type="text/javascript" asp-append-version="true">
</script>