
@model CreateMktSwatchCardViewModel

@{
    ViewData["Title"] = "Create Marketing Swatch Card";
    Layout = Layout;
}

<h4><i class="fa fa-credit-card fa-lg text-info" aria-hidden="true"></i> Create Marketing <i class="fa fa-at text-info">Swatch Card</i></h4>
<hr />

<div class="container-fluid">

    <form id="form" asp-action="CreateMktSwatchCard">
        <div class="panel panel-default">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="panel-body row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.MKTQUERY" class="control-label"></label>
                        <input asp-for="MktSwatchCard.MKTQUERY" class="form-control" />
                        <span asp-validation-for="MktSwatchCard.MKTQUERY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.BUYER.BUYER_NAME" class="control-label"></label>
                        @Html.DropDownListFor(e => e.MktSwatchCard.BUYERID, new SelectList(Model.BasBuyerinfos, "BUYERID", "BUYER_NAME"), "Select Buyer", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="MktSwatchCard.BUYERID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.BUYERREF" class="control-label"></label>
                        <input asp-for="MktSwatchCard.BUYERREF" class="form-control" />
                        <span asp-validation-for="MktSwatchCard.BUYERREF" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.CONSTRUCTION" class="control-label"></label>
                        <input asp-for="MktSwatchCard.CONSTRUCTION" class="form-control" />
                        <span asp-validation-for="MktSwatchCard.CONSTRUCTION" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.WIDTH" class="control-label"></label>
                        <input asp-for="MktSwatchCard.WIDTH" class="form-control" />
                        <span asp-validation-for="MktSwatchCard.WIDTH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.FNWEIGHT" class="control-label"></label>
                        <input asp-for="MktSwatchCard.FNWEIGHT" class="form-control" />
                        <span asp-validation-for="MktSwatchCard.FNWEIGHT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.FN.TYPENAME" class="control-label"></label>
                        @Html.DropDownListFor(e => e.MktSwatchCard.FNID, new SelectList(Model.RndFinishtypes, "FINID", "TYPENAME"), "Select Finish Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="MktSwatchCard.FNID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.BasColor.COLOR" class="control-label"></label>
                        @Html.DropDownListFor(e => e.MktSwatchCard.COLORCODE, new SelectList(Model.BasColors, "COLORCODE", "COLOR"), "Select Color", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="MktSwatchCard.COLORCODE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.ORDERTYPE" class="control-label"></label>
                        <select asp-for="MktSwatchCard.ORDERTYPE" asp-items="ViewBag.OrderTypes" class="form-control js-example-basic-single">
                            <option value="">Select An Order Type.</option>
                        </select>
                        <span asp-validation-for="MktSwatchCard.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.REMARKS" class="control-label"></label>
                        <input asp-for="MktSwatchCard.REMARKS" class="form-control" />
                        <span asp-validation-for="MktSwatchCard.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                        Select <strong class="text-info">Team</strong> Before Selecting <strong class="text-info">Marketing Person.</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.MKTPERSON" class="control-label"></label>
                        @Html.DropDownListFor(e => e.MktSwatchCard.MKTPERSON, new SelectList(Model.MktTeams, "MKT_TEAMID", "PERSON_NAME"), "Select Marketing Person", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="MktSwatchCard.MKTPERSON" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSwatchCard.MKTTEAM" class="control-label font-weight-bold"></label>
                        <div class="form-check radio_toggle p-0">
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSwatchCard.MKTTEAM, "215", new { @class = "team" }) <span class="label-text">Team-A</span>
                            </label>
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSwatchCard.MKTTEAM, "216", new { @class = "team" }) <span class="label-text">Team-B</span>
                            </label>
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSwatchCard.MKTTEAM, "217", new { @class = "team" }) <span class="label-text">Team-C</span>
                            </label>
                        </div>
                        <span asp-validation-for="MktSwatchCard.MKTTEAM" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success pull-right" type="submit">Create</button>
                    <a asp-action="GetMktSwatchCard" class="btn btn-dark pull-right">Back to List</a>
                </div>
            </div>
        </div>

    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/MktSwatchCard/CreateMktSwatchCard.js"></script>
}