
@model MKT_SWATCH_CARD

@{
    ViewData["Title"] = "Get Marketing Swatch Card";
    Layout = Layout;
}

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <i class="fa fa-credit-card fa-lg text-info" aria-hidden="true"></i> Swatch Card Information
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="mr-2">
                    <p>
                        <a asp-action="CreateMktSwatchCard" class="btn btn-primary">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
                        </a>
                    </p>
                </li>
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content table-responsive table-hover">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MKTQUERY)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BUYER.BUYER_NAME)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CONSTRUCTION)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WIDTH)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FNWEIGHT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FN.TYPENAME)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BasColor.COLOR)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.REMARKS)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MKTPERSON)
                        </th>
                        <th>
                            @Html.DisplayName("Action")
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/MktSwatchCard/GetMktSwatchCard.js"></script>
}