@model WarpingChartDataViewModel

@{
    ViewData["Title"] = "Warping Chart Data";
}
<div class="row text-primary">
    <h2>Warping Data</h2>
</div>

<div class="row bg-light">
    <div class="form-group col-sm-6 col-md-6 col-lg-6 pt-2">
        <label for="Ball">Ball/Rope Warping Data:</label>

        <span class="custom-form-control form-control bg-e9ecef">
            @Html.DisplayFor(model => model.BallWarping)
        </span>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-lg-6 pt-2">
        <label for="comment">Direct Warping Data:</label>
        <span class="custom-form-control form-control bg-e9ecef">
            @Html.DisplayFor(model => model.DirectWarping)
        </span>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-lg-6 pt-2">
        <label for="comment">ECRU/Sizing Warping Data:</label>

        <span class="custom-form-control form-control bg-e9ecef">
            @Html.DisplayFor(model => model.EcruWarping)
        </span>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-lg-6 pt-2">
        <label for="comment">Sectional Warping Data:</label>

        <span class="custom-form-control form-control bg-e9ecef">
            @Html.DisplayFor(model => model.SectionalWarping)
        </span>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-lg-6 pt-2">
        <label for="comment">Recone Data:</label>

        <span class="custom-form-control form-control bg-e9ecef">
            @Html.DisplayFor(model => model.Recone)
        </span>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 pt-2">
            <label for="comment">Total Data:</label>

            <span class="custom-form-control form-control bg-e9ecef">
                @Html.DisplayFor(model => model.TotalWarping)
            </span>
        </div>
    </div>
</div>