
@model RndYarnRequisitionViewModel

@Html.HiddenFor(modelItem => Model.FysIndentDetails.SECID)
@Html.HiddenFor(modelItem => Model.FysIndentDetails.YARN_FOR)
@Html.HiddenFor(modelItem => Model.FysIndentDetails.YARN_FROM)

@Html.HiddenFor(modelItem => Model.FysIndentDetails.TRNSID)
@Html.HiddenFor(modelItem => Model.FysIndentDetails.INDID)
@Html.HiddenFor(modelItem => Model.FysIndentDetails.INDSLID)
@Html.HiddenFor(modelItem => Model.FysIndentDetails.SECID)

<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.TRNSDATE" class="control-label"></label>
        <input asp-for="FysIndentDetails.TRNSDATE" class="form-control" readonly />
        <span asp-validation-for="FysIndentDetails.TRNSDATE" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.SEC.SECNAME" class="control-label"></label>
        <input asp-for="FysIndentDetails.SEC.SECNAME" class="form-control" readonly />
        <span asp-validation-for="FysIndentDetails.SEC.SECNAME" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.UNIT" class="control-label"></label>
        <input asp-for="FysIndentDetails.UNIT" class="form-control" type="hidden" />
        <input asp-for="FysIndentDetails.FBasUnits.UNAME" class="form-control" disabled="disabled" />
        <span asp-validation-for="FysIndentDetails.UNIT" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.YARN_FOR" class="control-label"></label>
        <input asp-for="FysIndentDetails.YARN_FORNavigation.YARNNAME" class="form-control" disabled />
        <span asp-validation-for="FysIndentDetails.YARN_FOR" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.YARN_FROMNavigation.TYPENAME" class="control-label"></label>
        <input asp-for="FysIndentDetails.YARN_FROMNavigation.TYPENAME" class="form-control" disabled />
        <span asp-validation-for="FysIndentDetails.YARN_FROM" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label title="Editable Field. Add @Html.DisplayNameFor(model => model.FysIndentDetails.ORDER_QTY) If You Think It's Wrong" asp-for="FysIndentDetails.ORDER_QTY" class="control-label text-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> @Html.DisplayNameFor(model => model.FysIndentDetails.ORDER_QTY)</label>
        <input asp-for="FysIndentDetails.ORDER_QTY" class="form-control border border-warning" />
        <span asp-validation-for="FysIndentDetails.ORDER_QTY" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.CNSMP_AMOUNT" class="control-label text-warning"><i class="fa fa-pencil" aria-hidden="true"></i> @Html.DisplayNameFor(model => model.FysIndentDetails.CNSMP_AMOUNT)</label>
        <input asp-for="FysIndentDetails.CNSMP_AMOUNT" class="form-control border border-warning" readonly="readonly"/>
        <span asp-validation-for="FysIndentDetails.CNSMP_AMOUNT" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.ETR" class="control-label"></label>
        <input asp-for="FysIndentDetails.ETR" class="form-control" readonly />
        <span asp-validation-for="FysIndentDetails.ETR" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.SLUB_CODE" class="control-label"></label>
        <input asp-for="FysIndentDetails.SLUB_CODE" class="form-control" readonly />
        <span asp-validation-for="FysIndentDetails.SLUB_CODE" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.RAW" class="control-label"></label>
        <input asp-for="FysIndentDetails.RAW" class="form-control" readonly />
        <span asp-validation-for="FysIndentDetails.RAW" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.PREV_LOTID" class="control-label"></label>
        <input asp-for="FysIndentDetails.PREV_LOTID" class="form-control" readonly />
        <span asp-validation-for="FysIndentDetails.PREV_LOTID" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.STOCK_AMOUNT" class="control-label"></label>
        <input asp-for="FysIndentDetails.STOCK_AMOUNT" class="form-control" readonly />
        <span asp-validation-for="FysIndentDetails.STOCK_AMOUNT" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.LAST_INDENT_NO" class="control-label"></label>
        <input asp-for="FysIndentDetails.LAST_INDENT_NO" class="form-control" readonly />
        <span asp-validation-for="FysIndentDetails.LAST_INDENT_NO" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.LAST_INDENT_DATE" class="control-label"></label>
        <input asp-for="FysIndentDetails.LAST_INDENT_DATE" class="form-control" readonly />
        <span asp-validation-for="FysIndentDetails.LAST_INDENT_DATE" class="text-danger"></span>
    </div>
    <br />
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.REMARKS" class="control-label"></label>
        <input asp-for="FysIndentDetails.REMARKS" class="form-control" readonly />
        <span asp-validation-for="FysIndentDetails.REMARKS" class="text-danger"></span>
    </div>
</div>