
@model CreateFSampleGarmentRcvMViewModel

@if (Model.FSampleGarmentRcvDs.Any())
{
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th width="30">#</th>
                <th width="70">@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.BARCODE)</th>
                <th width="110"><i class="fa fa-edit text-warning"></i> @Html.DisplayNameFor(e => e.FSampleGarmentRcvD.DEV_NO)</th>
                <th width="100px">@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.SITEM.NAME)</th>
                <th width="100px">@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.FABCODENavigation.STYLE_NAME)</th>
                <th width="100px">@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.LOC.NAME)</th>
                <th width="100px"><i class="fa fa-edit text-warning"></i> @Html.DisplayNameFor(e => e.FSampleGarmentRcvD.QTY)</th>
                <th width="100px"><i class="fa fa-edit text-warning"></i> @Html.DisplayNameFor(e => e.FSampleGarmentRcvD.REMARKS)</th>
                <th width="100px">@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.BUYER.BUYER_NAME)</th>
                <th width="100px">@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.COLOR.COLOR)</th>
                <th width="50">@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FSampleGarmentRcvDs.Count; i++)
            {
                <tr>
                    <td>@Html.Raw(Model.FSampleGarmentRcvDs[i].TRNSID > 0 ? $"<i class=\"fa fa-database text-danger\" aria-hidden=\"true\"></i> {i + 1}" : $"<i class=\"fa fa-plus-circle text-success\" aria-hidden=\"true\"></i> {i + 1}")</td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleGarmentRcvDs[i].TRNSID)
                        @Html.HiddenFor(e => e.FSampleGarmentRcvDs[i].BARCODE)
                        @Model.FSampleGarmentRcvDs[i].BARCODE
                    </td>
                    <td>
                        <input asp-for="FSampleGarmentRcvDs[i].DEV_NO" class="form-control" />
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.DropDownListFor(lc => lc.FSampleGarmentRcvDs[i].SITEMID, new SelectList(Model.FSampleItemDetailses, "SITEMID", "NAME"), "Select an Item Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="FSampleGarmentRcvDs[i].SITEMID" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleGarmentRcvDs[i].FABCODE)
                        @Model.FSampleGarmentRcvDs[i].FABCODENavigation?.WV?.FABCODE
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.DropDownListFor(lc => lc.FSampleGarmentRcvDs[i].LOCID, new SelectList(Model.FSampleLocations, "LOCID", "NAME"), "Select a Location", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="FSampleGarmentRcvDs[i].LOCID" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <input asp-for="FSampleGarmentRcvDs[i].QTY" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="FSampleGarmentRcvDs[i].REMARKS" class="form-control" />
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.DropDownListFor(lc => lc.FSampleGarmentRcvDs[i].BUYERID, new SelectList(Model.BasBuyerinfos, "BUYERID", "BUYER_NAME"), "Select a Buyer", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="FSampleGarmentRcvDs[i].BUYERID" class="text-danger"></span>
                        </div>
                    </td>
                    @if (Model.FSampleGarmentRcvDs[i].COLORID > 0)
                    {
                        <td>
                            <div class="form-group">
                                @Html.DropDownListFor(lc => lc.FSampleGarmentRcvDs[i].COLORID, new SelectList(Model.BasColors, "COLORCODE", "COLOR"), "Select a Color", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                                <span asp-validation-for="FSampleGarmentRcvDs[i].COLORID" class="text-danger"></span>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.HiddenFor(e => e.FSampleGarmentRcvDs[i].COLORID)
                            @Model.FSampleGarmentRcvDs[i].FABCODENavigation?.COLORCODENavigation?.COLOR
                        </td>
                    }
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="removeFromList(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Empty!</strong> Please add data to see the list.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<script>
    try {
        $(".js-example-basic-single").select2({});
    }
    catch (e) {
        document.addEventListener('DOMContentLoaded', () => {
            $(".js-example-basic-single").select2({});
        });
    }
</script>