
@model CreateFSampleGarmentRcvMViewModel

@{
    ViewData["Title"] = "Details Sample Garments Receive";
    Layout = Layout;
}

@{
    if (Model != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white btn btn-info">@Html.DisplayNameFor(e => e.FSampleGarmentRcvM.SGRDATE) : [ @Html.DisplayFor(e => e.FSampleGarmentRcvM.SGRDATE) ]</h2>
                        <hr />
                    </div>
                </div>
                <div class="row details">
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FSampleGarmentRcvM.SEC.SECNAME" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FSampleGarmentRcvM.SEC.SECNAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label class="control-label">Full Name</label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @($"{Model.FSampleGarmentRcvM.EMP?.FIRST_NAME} {Model.FSampleGarmentRcvM.EMP?.LAST_NAME}")
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FSampleGarmentRcvM.REMARKS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FSampleGarmentRcvM.REMARKS)
                            </span>
                        </div>
                    </div>

                    @if (Model.FSampleGarmentRcvDs.Any())
                    {
                        <div class="col-12 table-responsive">
                            <h2 class="panel-title text-success"><i class="fa fa-get-pocket"></i> Receive Details</h2>
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            <i class="fa fa-print text-warning"></i> @Html.DisplayNameFor(e => e.FSampleGarmentRcvD.BARCODE)
                                        </th>
                                        <th>@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.DEV_NO)</th>
                                        <th>@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.SITEM.NAME)</th>
                                        <th>@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.LOC.NAME)</th>
                                        <th>@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.QTY)</th>
                                        <th>@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.BUYER.BUYER_NAME)</th>
                                        <th>@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.FABCODENavigation.STYLE_NAME)</th>
                                        <th>@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.COLOR.COLOR)</th>
                                        <th>@Html.DisplayNameFor(e => e.FSampleGarmentRcvD.REMARKS)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count = Model.FSampleGarmentRcvDs.Count;
                                        foreach (var item in Model.FSampleGarmentRcvDs)
                                        {
                                            <tr>
                                                <td>@(count--)</td>
                                                <td>
                                                    @Html.Raw(!string.IsNullOrEmpty(item.BARCODE) ? $"<a title=\"Hand Tag.\" target=\"_blank\" class=\"fa fa-tag fa-2x-custom text-info mr-2\" href=\"/FSampleGarmentRcvM/RFSampleGarmentRcvMHandTag?barcode={item.BARCODE}\"></a><a title=\"Sticker.\" target=\"_blank\" href=\"/FSampleGarmentRcvM/RFSampleGarmentRcvMSticker?barcode={item.BARCODE}\" class=\"fa fa-certificate fa-2x-custom text-info\"></a> {item.BARCODE}" : $"Has no barcode.")
                                                </td>
                                                <td>@item.DEV_NO</td>
                                                <td>@item.SITEM?.NAME</td>
                                                <td>@item.LOC?.NAME</td>
                                                <td>@item.QTY</td>
                                                <td>@item.BUYER?.BUYER_NAME</td>
                                                <td>@item.FABCODENavigation?.WV?.FABCODE</td>
                                                <td>@item.FABCODENavigation?.COLORCODENavigation?.COLOR</td>
                                                <td>@item.REMARKS</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div class="col-md-12">
                    @Html.ActionLink("Edit", $"EditFSampleGarmentRcvM", new { srId = Model.FSampleGarmentRcvM.EncryptedId }, new { @class = "btn btn-warning pull-right mt-2" })
                    <a class="btn btn-dark pull-right mt-2" asp-action="GetFSampleGarmentRcvM" asp-controller="FSampleGarmentRcvM">Back to List</a>
                </div>
            </div>
        </div>
    }
}