
@model RND_FABRICINFO

<div class="card table-responsive">
    <table class="table table-sm table-borderless p-2">
        <tbody>
            <tr>
                <th>
                    <div class="col-12">Article</div>
                </th>
                <td>@Model.WV?.FABCODE</td>
            </tr>
            <tr>
                <th><div class="col-12">Weight (oz/yd<sup>2</sup>)BW</div></th>
                <td>@Model.WGDEC</td>
            </tr>
            <tr>
                <th><div class="col-12">Width</div></th>
                <td>@Model.WIDEC</td>
            </tr>
            <tr>
                <th><div class="col-12">Color</div></th>
                <td>@Model.COLORCODENavigation?.COLOR</td>
            </tr>
            <tr>
                <th><div class="col-12">Weave</div></th>
                <td>@Model.WV?.WEAVENavigation?.NAME</td>
            </tr>
            <tr>
                <th><div class="col-12">Composition</div></th>
                <td>@Model.COMPOSITION</td>
            </tr>
            <tr>
                <th><div class="col-12">Shrinkage(%)<br />[ISO-6330-6N]</div></th>
                <td>
                    <div><strong>Length:</strong> @Model.SRDECWARP</div>
                    <div><strong>Width:</strong> @Model.SRDECWEFT</div>
                </td>
            </tr>
            <tr>
                <th><div class="col-12">Stretch</div></th>
                <td>
                    <div><strong>Length:</strong> @Model.STDECWARP</div>
                    <div><strong>Width:</strong> @Model.STDECWEFT</div>
                </td>
            </tr>
            <tr>
                <th><div class="col-12">Growth</div></th>
                <td>
                    <div><strong>Length:</strong> @Model.GRDECWARP</div>
                    <div><strong>Width:</strong> @Model.GRDECWEFT</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>