@model FFsClearanceMasterSampleRollViewModel

@{
    ViewData["Title"] = "Master Sample Roll Declaration";
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Update @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="PostEditFFsClearanceMasterSampleRoll">
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6 class="panel-title text-success">Basic Information</h6>
                    <hr class="m-0 p-0" />
                </div>
                @Html.HiddenFor(e => e.FFsClearanceMasterSampleRoll.MSRID)
                @Html.HiddenFor(e => e.FFsClearanceMasterSampleRoll.EncryptedId)
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsClearanceMasterSampleRoll.MAILDATE" class="control-label"></label>
                        <input asp-for="FFsClearanceMasterSampleRoll.MAILDATE" class="form-control height17" />
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.MAILDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsClearanceMasterSampleRoll.MSRDATE" class="control-label"></label>
                        <input asp-for="FFsClearanceMasterSampleRoll.MSRDATE" class="form-control height17" />
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.MSRDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsClearanceMasterSampleRoll.SETID" class="control-label"></label>
                        @Html.DropDownListFor(c => c.FFsClearanceMasterSampleRoll.SETID, new SelectList(Model.PlProductionSetdistributionsList, "SETID", "PROG_.PROG_NO"), "Select Set No.", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.SETID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsClearanceMasterSampleRoll.ROLLID" class="control-label"></label>
                        <select asp-for="FFsClearanceMasterSampleRoll.ROLLID" class="form-control js-example-basic-single">
                            <option value="">Select Roll No.</option>
                        </select>
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.ROLLID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsClearanceMasterSampleRoll.RTID" class="control-label"></label>
                        @Html.DropDownListFor(c => c.FFsClearanceMasterSampleRoll.RTID, new SelectList(Model.FFsClearanceRollTypeList, "RTID", "RTNAME"), "Select Roll Type", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.RTID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsClearanceMasterSampleRoll.WTID" class="control-label"></label>
                        @Html.DropDownListFor(c => c.FFsClearanceMasterSampleRoll.WTID, new SelectList(Model.FFsClearanceWashTypeList, "WTID", "WTNAME"), "Select Wash Type", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.WTID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Fabric Weave</label>
                        <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="fabWeave">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Fabric Color</label>
                        <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="fabColor">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Style No</label>
                        <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef text-truncate " id="style">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Roll Length</label>
                        <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef text-truncate " id="rollLength">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Batch No</label>
                        <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef text-truncate " id="batch">
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Fabric Construction</label>
                        <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef text-truncate " id="fabCons">
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Finish Route</label>
                        <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="finRoute">
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2><i class="fa fa-xing fa-lg text-success" aria-hidden="true"> Fabric Test Parameter</i></h2>
                <hr class="m-0 p-0" /><br />
            </div>

            <div class="row col-12 m-0 p-0">
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success text-right mr-2">Weight Oz/Yd<sup>2</sup> (Bulk)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Required</label></div>
                            </div>
                            <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="reqWeight">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">B/W</label></div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.WEBW_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.WEBW_B" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">A/W</label></div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.WEAW_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.WEAW_B" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success text-right mr-4">Shrinkage % (Bulk)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Req Warp</label></div>
                            </div>
                            <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="reqShrWarp">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Warp</label></div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.SWARP_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.SWARP_B" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Weft</label></div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.SWEFT_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.SWEFT_B" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">Weight Oz/Yd<sup>2</sup> (Sample)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <span class="custom-form-control-bg-slim p-0 form-control bg-white">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.WEBW_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.WEBW_S" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.WEAW_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.WEAW_S" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">Shrinkage % (Sample)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Req Weft</label></div>
                            </div>
                            <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="reqShrWeft">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.SWARP_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.SWARP_S" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.SWEFT_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.SWEFT_S" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">EPI (Bulk)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="reqEpi">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.EPIBW_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.EPIBW_B" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.EPIAW_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.EPIAW_B" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">PPI (Bulk)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="reqPpi">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">B/W</label></div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.PPIBW_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.PPIBW_B" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">A/W</label></div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.PPIAW_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.PPIAW_B" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">EPI (Sample)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <span class="custom-form-control-bg-slim p-0 form-control bg-white">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.EPIBW_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.EPIBW_S" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.EPIAW_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.EPIAW_S" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">PPI (Sample)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <span class="custom-form-control-bg-slim p-0 form-control bg-white">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.PPIBW_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.PPIBW_S" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.PPIAW_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.PPIAW_S" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">Stretch Ability % (Bulk)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Req Warp</label></div>
                            </div>
                            <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="reqStrWarp">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Warp</label></div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.STWARP_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.STWARP_B" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Weft</label></div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.STWEFT_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.STWEFT_B" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <br /><br /><br />
                        <h6 class="panel-title text-success ml-4">CSV (Bulk)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.CSV_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.CSV_B" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-3">Stretch Ability % (Sample)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Req Weft</label></div>
                            </div>
                            <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="reqStrWeft">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.STWARP_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.STWARP_S" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.STWEFT_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.STWEFT_S" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <br /><br /><br />
                        <h6 class="panel-title text-success ml-4">CSV (Sample)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.CSV_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.CSV_S" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success text-center ml-4">Width" (Bulk)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Required</label></div>
                            </div>
                            <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="reqWidth">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">B/W</label></div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.WIBW_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.WIBW_B" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">A/W</label></div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.WIAW_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.WIAW_B" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">Width" (Sample)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <span class="custom-form-control-bg-slim p-0 form-control bg-white">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.WIBW_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.WIBW_S" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.WIAW_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.WIAW_S" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">Spirality [A] % (Bulk)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Req A</label></div>
                            </div>
                            <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="reqSpA">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label text-right"></label>A</div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.SPA_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.SPA_B" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label text-right">B</label></div>
                            </div>
                            <input asp-for="FFsClearanceMasterSampleRoll.SPB_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.SPB_B" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">Spirality [A] % (Sample)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                <div class="input-group-text p-0 custom-form-control-bg-label" style="background: transparent; border: transparent;"><label class="control-label">Req B</label></div>
                            </div>
                            <span class="custom-form-control-bg-slim p-0 form-control bg-e9ecef" id="reqSpB">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.SPB_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.SPB_S" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.SPA_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.SPA_S" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">Appearance (Bulk)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.APPEAR_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.APPEAR_B" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">Shade (Bulk)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.SHADE_B" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.SHADE_B" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">Appearance (Sample)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.APPEAR_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.APPEAR_S" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0">
                        <h6 class="panel-title text-success ml-4">Shade (Sample)</h6>
                        <hr class="p-0 m-0" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 m-0 pr-1">
                        <div class="form-group input-group mb-0">
                            <input asp-for="FFsClearanceMasterSampleRoll.SHADE_S" class="form-control height17" />
                            <span asp-validation-for="FFsClearanceMasterSampleRoll.SHADE_S" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2> <i class="fa fa-xing fa-lg text-success" aria-hidden="true">Comments</i></h2>
                    <hr class="m-0 p-0" /><br />
                </div>

                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                    <h6 class="panel-title text-success">Quality Concern</h6>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-9 col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group input-group mb-0">
                        <input asp-for="FFsClearanceMasterSampleRoll.C_QUALITY" class="form-control" />
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.C_QUALITY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                    <h6 class="panel-title text-success">R & D Concern</h6>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-9 col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group input-group mb-0">
                        <input asp-for="FFsClearanceMasterSampleRoll.C_RND" class="form-control" />
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.C_RND" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                    <h6 class="panel-title text-success">Dyeing Concern</h6>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-9 col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group input-group mb-0">
                        <input asp-for="FFsClearanceMasterSampleRoll.C_DYING" class="form-control" />
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.C_DYING" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                    <h6 class="panel-title text-success">Finishing Concern</h6>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-9 col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group input-group mb-0">
                        <input asp-for="FFsClearanceMasterSampleRoll.C_FINISHING" class="form-control" />
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.C_FINISHING" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                    <h6 class="panel-title text-success">GM Denim</h6>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-9 col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group input-group mb-0">
                        <input asp-for="FFsClearanceMasterSampleRoll.C_GM" class="form-control" />
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.C_GM" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                    <h6 class="panel-title text-success">Head of Denim</h6>
                    <hr class="m-0 p-0" />
                </div>
                <div class="col-lg-9 col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group input-group mb-0">
                        <input asp-for="FFsClearanceMasterSampleRoll.C_HEAD" class="form-control" />
                        <span asp-validation-for="FFsClearanceMasterSampleRoll.C_HEAD" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit">Update</button>
                    <a asp-action="GetFFsClearanceMasterSampleRoll" class="btn btn-dark pull-right">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
    <style asp-append-version="true" type="text/css">

        .height17 {
            height: 1.7rem !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 1rem !important;
        }

        .select2-container--default .select2-selection--single {
            min-height: 1.7rem !important;
        }

        .labelSm {
            /* display: inline-block; */
            margin-bottom: 0.25rem;
            margin-top: 0.25rem;
            padding-right: 10px;
        }


        .custom-form-control-bg-label {
            height: auto;
            min-height: 1.7rem;
            font-size: 13px;
            background: transparent;
            border: none;
        }
    </style>
}

@section Scripts {
    <script asp-append-version="true" src="~/js/FFsClearanceMasterSampleRoll/CreateFFsClearanceMasterSampleRoll.js"></script>
}