@model FPrWeavingProductionViewModel

@{
    ViewData["Title"] = "Weaving production Information";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateFPrWeavingProduction">
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.OPT3" class="control-label"></label>
                            <select asp-for="FPrWeavingProduction.OPT3" class="form-control js-example-basic-single">
                                <option value="">Select Order Type</option>
                                <option value="Export" selected="selected">Export</option>
                                <option value="Sample">Sample</option>
                                <option value="Yarn Trial">Yarn Trial</option>
                                <option value="Lead Line">Lead Line</option>
                                <option value="Dyeing Stop Mark">Dyeing Stop Mark</option>
                            </select>
                            <span asp-validation-for="FPrWeavingProduction.OPT3" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.OPT1" class="control-label"></label>
                            <select asp-for="FPrWeavingProduction.OPT1" class="form-control js-example-basic-single">
                                <option value="" selected="selected">Select Shift</option>
                                <option value="2">A</option>
                                <option value="3">B</option>
                                <option value="4">C</option>
                            </select>
                            <span asp-validation-for="FPrWeavingProduction.OPT1" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.OPT2" class="control-label"></label>
                            <input asp-for="FPrWeavingProduction.OPT2" class="form-control" />
                            <span asp-validation-for="FPrWeavingProduction.OPT2" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.EMPID" class="control-label"></label>
                            @Html.DropDownListFor(c => c.FPrWeavingProduction.EMPID, new SelectList(Model.EmployeeList, "EMPID", "FIRST_NAME"), "Select Employee Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="FPrWeavingProduction.EMPID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.LOOMID" class="control-label"></label>

                            @Html.DropDownListFor(c => c.FPrWeavingProduction.LOOMID, new SelectList(Model.LoomTypeList, "LOOMID", "LOOM_TYPE_NAME"), "Select Loom Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="FPrWeavingProduction.LOOMID" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.POID" class="control-label"></label>

                            @Html.DropDownListFor(c => c.FPrWeavingProduction.POID, new SelectList(Model.SOList, "POID", "OPT1"), "Select SO Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="FPrWeavingProduction.POID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.FABCODE" class="control-label"></label>

                            @Html.DropDownListFor(c => c.FPrWeavingProduction.FABCODE, new SelectList(Model.StyleNameList, "FABCODE", "STYLE_NAME"), "Select Style Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="FPrWeavingProduction.FABCODE" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.TOTAL_RUN_LOOM" class="control-label"></label>
                            <input asp-for="FPrWeavingProduction.TOTAL_RUN_LOOM" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingProduction.TOTAL_RUN_LOOM" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.TOTAL_PROD" class="control-label"></label>
                            <input asp-for="FPrWeavingProduction.TOTAL_PROD" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingProduction.TOTAL_PROD" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.TOTAL_EFFECIENCE" class="control-label"></label>
                            <input asp-for="FPrWeavingProduction.TOTAL_EFFECIENCE" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingProduction.TOTAL_EFFECIENCE" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.TOTAL_RPM" class="control-label"></label>
                            <input asp-for="FPrWeavingProduction.TOTAL_RPM" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingProduction.TOTAL_RPM" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.TOTAL_WRPSTOP" class="control-label"></label>
                            <input asp-for="FPrWeavingProduction.TOTAL_WRPSTOP" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingProduction.TOTAL_WRPSTOP" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.TOTAL_WFTSTOP" class="control-label"></label>
                            <input asp-for="FPrWeavingProduction.TOTAL_WFTSTOP" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingProduction.TOTAL_WFTSTOP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingProduction.REMARKS" class="control-label"></label>
                            <input asp-for="FPrWeavingProduction.REMARKS" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingProduction.REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                @*<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ACC_LOAN_MANAGEMENT_M.REMARKS" class="control-label"></label>
                            <input asp-for="ACC_LOAN_MANAGEMENT_M.REMARKS" class="form-control" id="remarks" />
                            <span asp-validation-for="ACC_LOAN_MANAGEMENT_M.REMARKS" class="text-danger"></span>
                        </div>
                    </div>*@
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" id="AttachTo">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button asp-action="CreateFPrWeavingProduction" id="btnCreateLoan" class="btn btn-success nextBtn pull-right" type="submit">Create</button>
                        <button id="addToList" class="btn btn-info pull-right mr-2" type="button">Add to List</button>
                        <a asp-action="GetFPrWeavingProduction" class="btn btn-dark pull-right">Back to List</a>

                    </div>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" id="prodDetails">
                    @await Html.PartialAsync($"~/Views/FPrWeavingProduction/AddProductionList.cshtml", Model)
                </div>
            </div>
        </div>
    </form>
</div>




@section Scripts {
    <script type="text/javascript" asp-append-version="true">
        $(function() {
            $("#addToList").on('click',
                function () {


                    if ($("#FPrWeavingProduction_OPT3").val() === "") {
                        toastrNotification("Please Select Order Type", "error");
                        return false;
                    }

                    if ($("#FPrWeavingProduction_OPT1").val() === "") {
                        toastrNotification("Please Select Shift", "error");
                        return false;
                    }

                    if ($("#FPrWeavingProduction_OPT2").val() === "") {
                        toastrNotification("Please Select Production Date", "error");
                        return false;
                    }

                    if ($("#FPrWeavingProduction_EMPID").val() === "") {
                        toastrNotification("Please Select Shift In charge Name", "error");
                        return false;
                    }

                    if ($("#FPrWeavingProduction_LOOMID").val() === "") {
                        toastrNotification("Please Select Loom Type", "error");
                        return false;
                    }

                    $.ajax({
                        async: true,
                        cache: false,
                        data: $('#form').serialize(),
                        type: "POST",
                        url: "/FPrWeavingProduction/AddProductionList",
                        success: function(partialView, status, xhr) {
                            $('#prodDetails').html(partialView);
                        },
                        error: function(e) {
                            console.log(e);
                        }
                    });
                });

            $("#FPrWeavingProduction_OPT3").on('change',
                function () {
                    $("#FPrWeavingProduction_POID").val("").trigger("change");
                    $("#FPrWeavingProduction_FABCODE").val("").trigger("change");
                });
            $("#FPrWeavingProduction_POID").on('change',
                function() {
                    var selectedId = $(this).val();
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "id": $("#FPrWeavingProduction_POID").val() },
                        type: "GET",
                        url: '/FPrWeavingProduction/GetStyleInfoBySo',
                        success: function(data) {
                            //console.log(data);
                            $('#FPrWeavingProduction_FABCODE').val(data.so.style.fabcodeNavigation.fabcode).trigger("change");
                        },
                        error: function(e) {
                            console.log(e);
                        }
                    });
                });
        });

    </script>


}

