@model FGenSRequisitionViewModel

@if (Model.FGenSIndentdetailsesList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSIndentdetails.PRODUCTID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSIndentdetails.UNIT)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSIndentdetails.QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSIndentdetails.REMARKS)</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FGenSIndentdetailsesList.Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model.FGenSIndentdetailsesList[i].PRODUCT?.PRODNAME</td>
                    <td>@Model.FGenSIndentdetailsesList[i].PRODUCT?.UNITNavigation?.UNAME</td>
                    <td>@Model.FGenSIndentdetailsesList[i].QTY</td>
                    <td>@Model.FGenSIndentdetailsesList[i].REMARKS</td>
                </tr>
            }
        </tbody>
    </table>
}