
@model FGenSRequisitionViewModel

@if (Model.FGenSIndentdetailsesList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSIndentdetails.PRODUCTID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSIndentdetails.UNIT)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSIndentdetails.QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSIndentdetails.REMARKS)</th>
                <th scope="col">@Html.DisplayName("Remove")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FGenSIndentdetailsesList.Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.HiddenFor(clc => clc.FGenSIndentdetailsesList[i].TRNSID)
                        @Html.HiddenFor(clc => clc.FGenSIndentdetailsesList[i].PRODUCTID)
                        @Model.FGenSIndentdetailsesList[i].PRODUCT?.PRODNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FGenSIndentdetailsesList[i].UNIT)
                        @Model.FGenSIndentdetailsesList[i].PRODUCT?.UNITNavigation?.UNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FGenSIndentdetailsesList[i].QTY)
                        @Model.FGenSIndentdetailsesList[i].QTY
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FGenSIndentdetailsesList[i].REMARKS)
                        @Model.FGenSIndentdetailsesList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="RemoveIndex(@i)" aria-hidden="false"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}