
@using DenimERP.ViewModels.Rnd
@model RND_ANALYSIS_SHEET

@{
    ViewData["Title"] = "Details Analysis Sheet Information";
    Layout = Layout;
}

<h2><i class="fa fa-info-circle fa-lg text-success" aria-hidden="true"></i> @ViewData["Title"]</h2>

@{
    if (Model != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="m-b-md">
                            <span class="btn btn-primary">@Html.DisplayNameFor(e => e.Swatch.MKTQUERY) : [ @Model.Swatch.MKTQUERY ]</span>
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ADATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ADATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="MKT_QUERY_NO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.MKT_QUERY_NO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RND_QUERY_NO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RND_QUERY_NO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="BUYER_REF" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.BUYER_REF)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="BUYER.BUYER_NAME" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.BUYER.BUYER_NAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="CONSTRUCTION" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.CONSTRUCTION)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WARP_RATIO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WARP_RATIO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WEFT_RATIO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WEFT_RATIO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WARP_SHRINKAGE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WARP_SHRINKAGE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WEFT_SHRINKAGE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WEFT_SHRINKAGE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FN_EPI_PPI" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FN_EPI_PPI)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WASH_EPI_PPI" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WASH_EPI_PPI)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="W.NAME" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.W.NAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FN_WEIGHT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FN_WEIGHT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WA_WEIGHT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WA_WEIGHT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FN_WIDTH" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FN_WIDTH)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="COLORCODE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.COLORCODE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FIN.TYPENAME" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FIN.TYPENAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FAB_TYPE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FAB_TYPE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FAB_CONTENT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FAB_CONTENT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WARP_FAB_LENGTH" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WARP_FAB_LENGTH)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WEFT_FAB_LENGTH" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WEFT_FAB_LENGTH)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WARP_CRIMP" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WARP_CRIMP)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WEFT_CRIMP" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WEFT_CRIMP)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="LOOM_EPI_PPI" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.LOOM_EPI_PPI)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="STRETCH_ABILITY" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.STRETCH_ABILITY)
                            </span>
                        </div>
                    </div>
                    <div class="col-2 d-flex bg-info rounded border border-dark mr-1">
                        <div class="form-group">
                            <strong>
                                <label asp-for="TOTAL_ENDS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control text-white">
                                @($"{Model.TOTAL_ENDS} : {Model.UTOTAL_ENDS}")
                            </span>
                            <span class="text-warning">Ratio must be equal.</span>
                        </div>
                    </div>
                    <div class="col-2 d-flex bg-info rounded border border-dark">
                        <div class="form-group">
                            <strong>
                                <label asp-for="REED_SPACE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control text-white">
                                @($"{Model.REED_SPACE} : {Model.UREED_SPACE}")
                            </span>
                            <span class="text-warning">Ratio must be equal.</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FINISH_ROUTE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FINISH_ROUTE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="CHECKED_COMMENTS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.CHECKED_COMMENTS)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="HEAD_COMMENTS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.HEAD_COMMENTS)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SUBMITTED_STYLE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SUBMITTED_STYLE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SUBMITTED_DATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SUBMITTED_DATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SWATCH_RCV_DATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SWATCH_RCV_DATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="CHECK_BY" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.CHECK_BY)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="CHECK_DATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.CHECK_DATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RND_HEAD_APPROVE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RND_HEAD_APPROVE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="APPROVE_DATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.APPROVE_DATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="REMARKS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.REMARKS)
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 p-0">
                    @await Html.PartialAsync($"~/Views/RndAnalysisSheet/RndAnalysisSheetYarnDetailsTable.cshtml", new RndAnalysisSheetInfoViewModel { RndAnalysisSheetDetailsList = Model.RND_ANALYSIS_SHEET_DETAILS.ToList() })
                </div>
            </div>

            <div class="col-md-12">
                @Html.ActionLink("Edit", $"EditAnalysisSheetInfo", new { id = Model.EncryptedId }, new { @class = "btn btn-warning pull-right mt-2" })
                <a class="btn btn-dark pull-right mt-2" asp-action="GetAnalysisSheetInfo" asp-controller="RndAnalysisSheet">Back to List</a>
            </div>
        </div>
    }
}