
@model FGsWastageIssueViewModel

@if (Model.FGsWastageIssueDList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGsWastageIssueD.WPID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGsWastageIssueD.ISSUE_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGsWastageIssueD.TRNSDATE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGsWastageIssueD.REMARKS)</th>
                <th scope="col">@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FGsWastageIssueDList.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.HiddenFor(model => model.FGsWastageIssueDList[i].TRNSID)
                        @Html.HiddenFor(model => model.FGsWastageIssueDList[i].WIID)
                        @Html.HiddenFor(model => model.FGsWastageIssueDList[i].WPID)
                        @Model.FGsWastageIssueDList[i].WP?.PRODUCT_NAME
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FGsWastageIssueDList[i].ISSUE_QTY)
                        @Html.DisplayFor(modelItem => Model.FGsWastageIssueDList[i].ISSUE_QTY)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FGsWastageIssueDList[i].TRNSDATE)
                        @Model.FGsWastageIssueDList[i].TRNSDATE
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FGsWastageIssueDList[i].REMARKS)
                        @Model.FGsWastageIssueDList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="RemoveFGsWastageIssue(event,'@i')" aria-hidden="true"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}