@model FQAFirstMtrAnalysisMViewModel

@if (Model.FQaFirstMtrAnalysisDsList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameFor(model => model.FQaFirstMtrAnalysisD.LOTID)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.FQaFirstMtrAnalysisD.SUPPLIERID)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.FQaFirstMtrAnalysisD.REMARKS)</th>
            <th scope="col">@Html.DisplayName("Remove")</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.FQaFirstMtrAnalysisDsList.Count(); i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>
                    @Html.HiddenFor(clc => clc.FQaFirstMtrAnalysisDsList[i].FM_D_ID)
                    @Html.HiddenFor(clc => clc.FQaFirstMtrAnalysisDsList[i].FMID)
                    @Html.HiddenFor(clc => clc.FQaFirstMtrAnalysisDsList[i].LOTID)
                    @Model.FQaFirstMtrAnalysisDsList[i].LOT?.LOTNO
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FQaFirstMtrAnalysisDsList[i].SUPPLIERID)
                    @Model.FQaFirstMtrAnalysisDsList[i].SUPPLIER?.SUPPNAME
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FQaFirstMtrAnalysisDsList[i].REMARKS)
                    @Model.FQaFirstMtrAnalysisDsList[i].REMARKS
                </td>
                <td>
                    <i class="fa fa-trash fa-lg text-danger" onclick="RemoveDetails(@i)" aria-hidden="false"></i>
                </td>
            </tr>
        }
        </tbody>
    </table>
}