
@model FYarnReqSViewModel

@{
    ViewData["Title"] = "Yarn Requirement (Sample)";
    Layout = Layout;
}

<h2><i class="fa fa-edit fa-lg text-warning" aria-hidden="true"></i> <ins>Edit @ViewData["Title"]</ins></h2>

<div class="container-fluid">
    <form id="form" enctype="multipart/form-data" role="form" asp-action="PostEditFYarnReqS">
        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-medium" aria-hidden="true"></i> Master</h2>
                    <hr />
                </div>
                @Html.HiddenFor(c => c.FYarnRequirementMasterS.YSRID)
                @Html.HiddenFor(c => c.FYarnRequirementMasterS.EncryptedId)
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FYarnRequirementMasterS.YSRDATE" class="control-label"></label>
                        <input asp-for="FYarnRequirementMasterS.YSRDATE" class="form-control" />
                        <span asp-validation-for="FYarnRequirementMasterS.YSRDATE" class="text-danger"></span>
                    </div>
                </div><div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FYarnRequirementMasterS.YSRNO" class="control-label"></label>
                        <input asp-for="FYarnRequirementMasterS.YSRNO" class="form-control" readonly="readonly" />
                        <span asp-validation-for="FYarnRequirementMasterS.YSRNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FYarnRequirementMasterS.REMARKS" class="control-label"></label>
                        <textarea asp-for="FYarnRequirementMasterS.REMARKS" class="form-control rounded" rows="1"></textarea>
                        <span asp-validation-for="FYarnRequirementMasterS.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> Details</h2>
                    <hr />
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="FYarnRequirementDetailsS.TRNSDATE" class="control-label"></label>
                        <input asp-for="FYarnRequirementDetailsS.TRNSDATE" class="form-control " />
                        <span asp-validation-for="FYarnRequirementDetailsS.TRNSDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FYarnRequirementDetailsS.ORDERNO" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FYarnRequirementDetailsS.ORDERNO, new SelectList(Model.PosoViewModels, "Poid", "SO_NO"),
                            "Select Order No.", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FYarnRequirementDetailsS.ORDERNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FYarnRequirementDetailsS.SETID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FYarnRequirementDetailsS.SETID, new SelectList(Model.PlProductionSetDistributions, "ID", "Name"),
                            "Select Set/Prog. No", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FYarnRequirementDetailsS.SETID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>
                            <label class="control-label">Sizing/Slasher Length</label>
                        </strong>
                        <span class="custom-form-control-bg form-control bg-e9ecef">
                            <label id="sizingLength"></label>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FYarnRequirementDetailsS.COUNTID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FYarnRequirementDetailsS.COUNTID, new SelectList(Model.Count, "COUNTID", "COUNTNAME"), "Select Count Name.", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FYarnRequirementDetailsS.COUNTID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FYarnRequirementDetailsS.LOTID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FYarnRequirementDetailsS.LOTID, new SelectList(Model.Lot, "LOTID", "LOTNO"),
                            "Select Lot No", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FYarnRequirementDetailsS.LOTID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>
                            <label class="control-label">Style Name</label>
                        </strong>
                        <span class="custom-form-control-bg form-control bg-e9ecef">
                            <label id="fabcode"></label>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>
                            <label class="control-label">LOT</label>
                        </strong>
                        <span class="custom-form-control-bg form-control bg-e9ecef">
                            <label id="lot"></label>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>
                            <label class="control-label">Buyer Name</label>
                        </strong>
                        <span class="custom-form-control-bg form-control bg-e9ecef">
                            <label id="buyer"></label>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FYarnRequirementDetailsS.UNIT" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FYarnRequirementDetailsS.UNIT, new SelectList(Model.BasUnits, "UID", "UNAME", Model.BasUnits.FirstOrDefault()?.UID), "Select Unit", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FYarnRequirementDetailsS.UNIT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FYarnRequirementDetailsS.REQ_QTY" class="control-label"></label>
                        <input asp-for="FYarnRequirementDetailsS.REQ_QTY" class="form-control " />
                        <span asp-validation-for="FYarnRequirementDetailsS.REQ_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FYarnRequirementDetailsS.REMARKS" class="control-label"></label>
                        <textarea asp-for="FYarnRequirementDetailsS.REMARKS" class="form-control rounded" rows="1"></textarea>
                        <span asp-validation-for="FYarnRequirementDetailsS.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6" id="reqKgs"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-1">
                <button class="btn btn-warning nextBtn pull-right" type="submit">Update</button>
                <button id="addToList" class="btn btn-success pull-right" type="button">Add</button>
                <a asp-action="GetFYarnReqS" class="btn btn-dark pull-right">Back to List</a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" id="yarnRequirementDetailsSAddItem">
                @await Html.PartialAsync($"~/Views/FYarnReqS/YarnRequirementDetailsPartialView.cshtml", Model)
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/site-common.js"></script>
    <script asp-append-version="true" src="~/js/YarnRequirementS/CreateFYarnReqS.js"></script>
}