
@model COM_EX_FABSTYLE

<div class="col-3">
    <div class="form-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.FABCODE)</label>
        <span class="custom-form-control-bg form-control bg-e9ecef">
            @Html.DisplayFor(model => model.FABCODENavigation.STYLE_NAME)
        </span>
    </div>
</div>

<div class="col-3">
    <div class="form-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.COMM_CONST)</label>
        <span class="custom-form-control-bg form-control bg-e9ecef">
            @Html.DisplayFor(model => model.COMM_CONST)
        </span>
    </div>
</div>

<div class="col-3">
    <div class="form-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.RND_CONST)</label>
        <span class="custom-form-control-bg form-control bg-e9ecef">
            @Html.DisplayFor(model => model.RND_CONST)
        </span>
    </div>
</div>

<div class="col-3">
    <div class="form-group">
        <label class="control-label">@Html.DisplayNameFor(model => model.STATUS)</label>
        <span class="custom-form-control-bg form-control bg-e9ecef">
            @Html.DisplayFor(model => model.STATUS)
        </span>
    </div>
</div>