
@model CreateComExInvoiceMasterViewModel

@{
    ViewData["Title"] = "Com. Invoice";
}

<h2><i class="fa fa-info-circle text-success"></i> Details @ViewData["Title"]</h2>

@{
    if (Model != null)
    {
        <div class="container-fluid">
            <div class="col-12 row">

                <div class="col-12">
                    <h2 class="text-white btn btn-info">@Html.DisplayNameFor(e => e.ComExInvoicemaster.INVNO) : [ @Model.ComExInvoicemaster.INVNO ]</h2>
                    <span class="btn btn-outline-danger pull-right mt-2 p-2">@Html.DisplayFor(lci => lci.ComExInvoicemaster.STATUS)</span>

                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="ComExInvoicemaster.ISACTIVE" class="custom-control-input">
                        <label asp-for="ComExInvoicemaster.ISACTIVE" class="custom-control-label pt-1"></label>
                    </label>
                    <hr />
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.LC.LCNO" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.LC.LCNO) (@Html.DisplayFor(model => model.ComExInvoicemaster.LC.FILENO))</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.INVDATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.INVDATE)</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.INVREF" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.INVREF)</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.INVDURATION" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.INVDURATION)</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.DOC_NOTES" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.DOC_NOTES)</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.NEGODATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.NEGODATE)</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.PDOCNO" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.PDOCNO)</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.TRUCKNO" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.TRUCKNO)</div>
                    </div>
                </div>

                <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-payment-documents" aria-expanded="false">
                    <h2 class="panel-title text-success"><i class="fa fa-money" aria-hidden="true"></i> Payment Documents</h2>
                    <hr />
                </div>

                <div class="col-3 multi-collapse-payment-documents show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.PRCAMOUNT" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.PRCAMOUNT)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-payment-documents show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.PRCDATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.PRCDATE)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-payment-documents show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.PRCAMNTTK" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.PRCAMNTTK)</div>
                    </div>
                </div>

                <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-bank-acceptance" aria-expanded="false">
                    <h2 class="panel-title text-success"><i class="fa fa-check" aria-hidden="true"></i> Bank Acceptance</h2>
                    <hr />
                </div>

                <div class="col-3 multi-collapse-bank-acceptance show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BNK_SUB_DATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.BNK_SUB_DATE)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-bank-acceptance show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BANK_REF" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.BANK_REF)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-bank-acceptance show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BILL_DATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.BILL_DATE)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-bank-acceptance show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.DISCREPANCY" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.DISCREPANCY)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-bank-acceptance show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BNK_ACC_DATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.BNK_ACC_DATE)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-bank-acceptance show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.MATUDATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.MATUDATE)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-bank-acceptance show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BNK_ACC_POSTING" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.BNK_ACC_POSTING)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-bank-acceptance show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.EXDATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.EXDATE)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-bank-acceptance show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.ODAMOUNT" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.ODAMOUNT)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-bank-acceptance show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.ODRCVDATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.ODRCVDATE)</div>
                    </div>
                </div>

                <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-pending-documents" aria-expanded="false">
                    <h2 class="panel-title text-success"><i class="fa fa-hourglass-half" aria-hidden="true"></i> Pending Documents</h2>
                    <hr />
                </div>

                <div class="col-3 multi-collapse-pending-documents show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.DELDATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.DELDATE)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-pending-documents show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.DOC_SUB_DATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.DOC_SUB_DATE)</div>
                    </div>
                </div>
                <div class="col-3 multi-collapse-pending-documents show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.DOC_RCV_DATE" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.ComExInvoicemaster.DOC_RCV_DATE)</div>
                    </div>
                </div>

                <div class="col-12" data-toggle="collapse" data-target=".multi-collapse-uploaded-files" aria-expanded="false">
                    <h2 class="panel-title text-success"><i class="fa fa-files-o"></i> Uploaded Files</h2>
                    <hr />
                </div>
                <div class="col-3 multi-collapse-uploaded-files show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BANKREFPATH" class="control-label font-weight-bold"></label>
                        @if (!string.IsNullOrEmpty(Model.ComExInvoicemaster.BANKREFPATH))
                        {
                            <a asp-action="com_ex_invoice_files" asp-controller="Files" asp-route-fileName="@Model.ComExInvoicemaster.BANKREFPATH" class="d-flex btn-link" target="_blank"><i class="fa fa-file" aria-hidden="true"> @Model.ComExInvoicemaster.BANKREFPATH.Split(new char[] { ' ', '_' }, 2)[1]</i></a>
                        }
                        else
                        {
                            <br />
                            @Html.DisplayName("N/A")
                        }
                    </div>
                </div>
                <div class="col-3 multi-collapse-uploaded-files show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.DISCREPANCYPATH" class="control-label font-weight-bold"></label>
                        @if (!string.IsNullOrEmpty(Model.ComExInvoicemaster.DISCREPANCYPATH))
                        {
                            <a asp-action="com_ex_invoice_files" asp-controller="Files" asp-route-fileName="@Model.ComExInvoicemaster.DISCREPANCYPATH" class="d-flex btn-link" target="_blank"><i class="fa fa-file" aria-hidden="true"> @Model.ComExInvoicemaster.DISCREPANCYPATH.Split(new char[] { ' ', '_' }, 2)[1]</i></a>
                        }
                        else
                        {
                            <br />
                            @Html.DisplayName("N/A")
                        }
                    </div>
                </div>
                <div class="col-3 multi-collapse-uploaded-files show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.PAYMENTPATH" class="control-label font-weight-bold"></label>
                        @if (!string.IsNullOrEmpty(Model.ComExInvoicemaster.PAYMENTPATH))
                        {
                            <a asp-action="com_ex_invoice_files" asp-controller="Files" asp-route-fileName="@Model.ComExInvoicemaster.PAYMENTPATH" class="d-flex btn-link" target="_blank"><i class="fa fa-file" aria-hidden="true"> @Model.ComExInvoicemaster.PAYMENTPATH.Split(new char[] { ' ', '_' }, 2)[1]</i></a>
                        }
                        else
                        {
                            <br />
                            @Html.DisplayName("N/A")
                        }
                    </div>
                </div>
                <div class="col-3 multi-collapse-uploaded-files show">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BANKACCEPTPATH" class="control-label font-weight-bold"></label>
                        @if (!string.IsNullOrEmpty(Model.ComExInvoicemaster.BANKACCEPTPATH))
                        {
                            <a asp-action="com_ex_invoice_files" asp-controller="Files" asp-route-fileName="@Model.ComExInvoicemaster.BANKACCEPTPATH" class="d-flex btn-link" target="_blank"><i class="fa fa-file" aria-hidden="true"> @Model.ComExInvoicemaster.BANKACCEPTPATH.Split(new char[] { ' ', '_' }, 2)[1]</i></a>
                        }
                        else
                        {
                            <br />
                            @Html.DisplayName("N/A")
                        }
                    </div>
                </div>

                <div class="col-12 table-responsive table-hover">
                    @await Html.PartialAsync($"~/Views/ComExInvoiceMaster/DetailsComExInvoiceMasterTable.cshtml", Model)
                </div>

            </div>

            <div class="col-md-12">

                @Html.ActionLink("Edit", $"EditComExInvoicemaster", new { invId = Model.ComExInvoicemaster.EncryptedId }, new { @class = "btn btn-warning pull-right mt-2" })

                <a class="btn btn-dark pull-right mt-2" asp-action="GetComExInvoicemaster" asp-controller="ComExInvoicemaster" accesskey="b">Back to List</a>
            </div>
        </div>
    }
}