
@model ComExInvoiceMasterCreateViewModel

@{
    ViewData["Title"] = "Com. Export Invoice Information";
}

<div class="container-fluid">
    <h2><i class="fa fa-edit text-warning" aria-hidden="true"></i> Update @ViewData["Title"]</h2>
    <div class="card border border-info">
        <div class="card-header text-right" >
            <h2 class="card-title">@Html.DisplayNameFor(e => e.ComExInvoicemaster.LC.FILENO)</h2>
            <p class="card-subtitle btn-link" id="fileno">@Model.ComExInvoicemaster.LC.FILENO</p>
        </div>
    </div>
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel d-flex justify-content-around">
            <div class="stepwizard-step">
                <a class="btn btn-success btn-circle" href="#step-1" type="button">1</a>
                <p><small>Document Management</small></p>
            </div>
            <div class="stepwizard-step">
                <a class="btn btn-default btn-circle" disabled="disabled" href="#step-4" type="button">2</a>
                <p><small>Finish</small></p>
            </div>
        </div>
    </div>

    <form id="form" role="form" asp-action="PostEditComExInvoiceMaster" enctype="multipart/form-data">

        @Html.HiddenFor(e => e.ComExInvoicemaster.EncryptedId)
        @Html.HiddenFor(e => e.ComExInvoicemaster.INVNO)
        @Html.HiddenFor(e => e.ComExInvoicemaster.INVID)
        @Html.HiddenFor(e => e.ComExInvoicemaster.LCID)
        @*@Html.HiddenFor(e => e.ComExInvoicemaster.INVDATE)*@
        @Html.HiddenFor(inv => inv.ComExInvoicemaster.BUYERID)

        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row align-self-baseline">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel-header text-info h4 text-center">Pending Documents</div>
                        <hr />
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.DELDATE" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.DELDATE" class="form-control" />
                            <span asp-validation-for="ComExInvoicemaster.DELDATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.DOC_SUB_DATE" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.DOC_SUB_DATE" class="form-control" />
                            <span asp-validation-for="ComExInvoicemaster.DOC_SUB_DATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.DOC_RCV_DATE" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.DOC_RCV_DATE" class="form-control" />
                            <span asp-validation-for="ComExInvoicemaster.DOC_RCV_DATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PENDINGDIFFERENCEDAYS" class="control-label"></label>
                            <input asp-for="PENDINGDIFFERENCEDAYS" class="form-control" />
                            <span asp-validation-for="PENDINGDIFFERENCEDAYS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-none">
                        <button class="btn btn-info nextBtn pull-right" type="button">Next</button>
                        <a class="btn btn-dark pull-right" asp-action="GetComExInvoiceMaster">Back to List</a>
                    </div>
                </div>
            </div>


            <div class="panel-body row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel-header text-info h4 text-center">Bank Acceptance</div>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BNK_SUB_DATE" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.BNK_SUB_DATE" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.BNK_SUB_DATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BILL_DATE" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.BILL_DATE" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.BILL_DATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BANK_REF" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.BANK_REF" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.BANK_REF" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="BANKREFPATH" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="BANKREFPATH" class="form-control custom-file-input" />
                            <label class="custom-file-label">Choose a pdf file...</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.DISCREPANCY" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.DISCREPANCY" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.DISCREPANCY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="DISCREPANCYPATH" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="DISCREPANCYPATH" class="form-control custom-file-input" />
                            <label class="custom-file-label">Choose a pdf file...</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BNK_ACC_DATE" class="control-label"></label>
                        <input id="ComExInvoicemaster_BNK_ACC_DATE" asp-for="ComExInvoicemaster.BNK_ACC_DATE" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.BNK_ACC_DATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.MATUDATE" class="control-label"></label>
                        <input id="ComExInvoicemaster_MATUDATE" asp-for="ComExInvoicemaster.MATUDATE" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.MATUDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="BANKACCEPTPATH" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="BANKACCEPTPATH" class="form-control custom-file-input" />
                            <label class="custom-file-label">Choose a pdf file...</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.BNK_ACC_POSTING" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.BNK_ACC_POSTING" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.BNK_ACC_POSTING" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.EXDATE" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.EXDATE" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.EXDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.ODAMOUNT" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.ODAMOUNT" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.ODAMOUNT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.ODRCVDATE" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.ODRCVDATE" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.ODRCVDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="BADEFFEREDDAYS" class="control-label"></label>
                        <input asp-for="BADEFFEREDDAYS" class="form-control" />
                        <span asp-validation-for="BADEFFEREDDAYS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="BADIFFERENCE" class="control-label"></label>
                        <input id="BADIFFERENCE" asp-for="BADIFFERENCE" class="form-control" />
                        <span asp-validation-for="BADIFFERENCE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.BANKREFPATH" class="control-label"></label>
                            @{
                                if (Model.ComExInvoicemaster.BANKREFPATH != null)
                                {
                                    <a class="text-primary fa fa-file form-control border-0 bg-transparent p-0" href="~/files/com_ex_invoice_files/?fileName=@Model.ComExInvoicemaster.BANKREFPATH" style="text-decoration: underline;" target="_blank"> @Model.ComExInvoicemaster.BANKREFPATH.Split(new char[] { ' ', '_' }, 2)[1]</a>
                                }
                                else
                                {
                                    @Html.DisplayName("N/A")
                                }
                            }
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.DISCREPANCYPATH" class="control-label"></label>
                            @{
                                if (Model.ComExInvoicemaster.DISCREPANCYPATH != null)
                                {
                                    <a style="text-decoration: underline;" class="fa fa-file form-control border-0 bg-transparent p-0 text-primary" target="_blank" href="~/files/com_ex_invoice_files/?fileName=@Model.ComExInvoicemaster.DISCREPANCYPATH"> @Model.ComExInvoicemaster.DISCREPANCYPATH.Split(new char[] { ' ', '_' }, 2)[1]</a>
                                }
                                else
                                {
                                    @Html.DisplayName("N/A")
                                }
                            }
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.BANKACCEPTPATH" class="control-label"></label>
                            @{
                                if (Model.ComExInvoicemaster.BANKACCEPTPATH != null)
                                {
                                    <a class="text-primary fa fa-file form-control border-0 bg-transparent p-0" href="~/files/com_ex_invoice_files/?fileName=@Model.ComExInvoicemaster.BANKACCEPTPATH" style="text-decoration: underline;" target="_blank"> @Model.ComExInvoicemaster.BANKACCEPTPATH.Split(new char[] { ' ', '_' }, 2)[1]</a>
                                }
                                else
                                {
                                    @Html.DisplayName("N/A")
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-none">
                    <button class="btn btn-info nextBtn pull-right" type="button" accesskey="n">Next</button>
                    <button class="btn btn-info prevBtn pull-right" type="button" accesskey="p">Prev</button>
                    <a class="btn btn-dark pull-right" asp-action="GetComExInvoiceMaster" accesskey="b">Back to List</a>
                </div>
            </div>


            <div class="panel-body row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel-header text-info h4 text-center">Payment Documents</div>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.PRCDATE" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.PRCDATE" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.PRCDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.PRCAMOUNT" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.PRCAMOUNT" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.PRCAMOUNT" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.AMOUNT_EURO" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.AMOUNT_EURO" id="amount_euro" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.AMOUNT_EURO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.PRCAMNTTK" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.PRCAMNTTK" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.PRCAMNTTK" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.AMOUNT_BDT" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.AMOUNT_BDT" id="amount_bdt" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.AMOUNT_BDT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.DOC_VALUE" class="control-label"></label>
                        <input asp-for="ComExInvoicemaster.DOC_VALUE" id="amount_doc_value" class="form-control" />
                        <span asp-validation-for="ComExInvoicemaster.DOC_VALUE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Short Realised</label>
                        <input readonly="readonly" id="balance" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PAYMENTPATH" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="PAYMENTPATH" class="form-control custom-file-input" />
                            <label class="custom-file-label">Choose a pdf file...</label>
                        </div>
                    </div>
                </div>




                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExInvoicemaster.PAYMENTPATH" class="control-label"></label>
                        @{
                            if (Model.ComExInvoicemaster.PAYMENTPATH != null)
                            {
                                <div></div>
                                <a class="fa fa-file form-control border-0 bg-transparent p-0 text-primary" href="~/files/com_ex_invoice_files/?fileName=@Model.ComExInvoicemaster.PAYMENTPATH" style="text-decoration: underline;" target="_blank"> @Model.ComExInvoicemaster.PAYMENTPATH.Split(new char[] { ' ', '_' }, 2)[1]</a>
                            }
                            else
                            {
                                <div></div>
                                @Html.DisplayName("N/A")
                            }
                        }
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-info nextBtn pull-right" type="button" accesskey="n">Next</button>
                    <button class="btn btn-info prevBtn pull-right" type="button" accesskey="p">Prev</button>
                    <a class="btn btn-dark pull-right" asp-action="GetComExInvoiceMaster" accesskey="b">Back to List</a>
                </div>
            </div>
        </div>


        <div class="panel panel-primary setup-content" id="step-4">
            <div class="panel-body row d-flex justify-content-between table-responsive table-hover">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.ISACTIVE" class="control-label"></label>
                            <div class="form-control custom-form-control">
                                <label class="switch">
                                    <input asp-for="ComExInvoicemaster.ISACTIVE" />
                                    <span class="slider round"></span>
                                    <span class="absolute-no">NO</span>
                                </label>
                            </div>
                            <span asp-validation-for="ComExInvoicemaster.ISACTIVE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.IS_FINAL" class="control-label"></label>
                            <div class="form-control custom-form-control">
                                <label class="switch">
                                    <input asp-for="ComExInvoicemaster.IS_FINAL" />
                                    <span class="slider round"></span>
                                    <span class="absolute-no">NO</span>
                                </label>
                            </div>
                            <span asp-validation-for="ComExInvoicemaster.IS_FINAL" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="text-right">
                            <strong class="pr-1"><label asp-for="ComExInvoicemaster.STATUS" class="control-label"></label></strong>
                            <div>
                                @Html.HiddenFor(e => e.ComExInvoicemaster.STATUS)
                                <input asp-for="ComExInvoicemaster.STATUS" class="btn @if (Model.ComExInvoicemaster.STATUS == "Prepared") { @Html.DisplayName("btn-warning") } else if (Model.ComExInvoicemaster.STATUS == "Submitted") { @Html.DisplayName("btn-primary") } else if (Model.ComExInvoicemaster.STATUS == "Realized") { @Html.DisplayName("btn-success") }" readonly type="button" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.INVNO" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.INVNO" class="form-control" disabled="disabled" />
                            <span asp-validation-for="ComExInvoicemaster.INVNO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.LC.LCNO" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.LC.LCNO" class="form-control" disabled="disabled" />
                            <span asp-validation-for="ComExInvoicemaster.LCID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.INVDATE" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.INVDATE" class="form-control" />
                            <span asp-validation-for="ComExInvoicemaster.INVDATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.INVDURATION" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.INVDURATION" class="form-control" />
                            <span asp-validation-for="ComExInvoicemaster.INVDURATION" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.NEGODATE" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.NEGODATE" class="form-control" />
                            <span asp-validation-for="ComExInvoicemaster.NEGODATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.PDOCNO" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.PDOCNO" class="form-control" id="ComExInvoicemaster_PDOCNO" />
                            <span asp-validation-for="ComExInvoicemaster.PDOCNO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.DOC_NOTES" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.DOC_NOTES" class="form-control" />
                            <span asp-validation-for="ComExInvoicemaster.DOC_NOTES" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.TRUCKNO" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.TRUCKNO" class="form-control" />
                            <span asp-validation-for="ComExInvoicemaster.TRUCKNO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvoicemaster.TOTAL_CBM" class="control-label"></label>
                            <input asp-for="ComExInvoicemaster.TOTAL_CBM" class="form-control" />
                            <span asp-validation-for="ComExInvoicemaster.TOTAL_CBM" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12 table-hover table-responsive p-0">
                        @await Html.PartialAsync($"~/Views/ComExInvoiceMaster/DetailsOfPreviousInvoicesAndPITable.cshtml", Model)
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fa fa-print"></i> <ins>Printing Options</ins></h4>
                            <div class="container-fluid">
                                @await Html.PartialAsync($"~/Views/ComExInvoiceMaster/InvokeUserChoiceOptions.cshtml", Model)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-pencil" aria-hidden="true"></i> Add New Style</h2>
                    <hr />
                    @Html.HiddenFor(d => d.ComExInvdetails.TRNSID)
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvdetails.ComExFabstyle.STYLENAME" class="control-label"></label>
                            @Html.DropDownListFor(lc => lc.ComExInvdetails.PIIDD_TRNSID, new SelectList(Model.ComExPiDetailses, "TRNSID", "STYLE.FABCODENavigation.STYLE_NAME"), "Select A Style", htmlAttributes: new { @class = "form-control js-example-basic-single", })
                            <span asp-validation-for="ComExInvdetails.PIIDD_TRNSID" class="text-danger"></span>
                        </div>
                    </div>
                    @Html.HiddenFor(e => e.ComExInvdetails.PREV_QTY)
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvdetails.QTY" class="control-label"></label>
                            <input asp-for="ComExInvdetails.QTY" class="form-control" />
                            <span asp-validation-for="ComExInvdetails.QTY" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvdetails.RATE" class="control-label"></label>
                            <input asp-for="ComExInvdetails.RATE" class="form-control" />
                            <span asp-validation-for="ComExInvdetails.RATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvdetails.AMOUNT" class="control-label"></label>
                            <input readonly asp-for="ComExInvdetails.AMOUNT" class="form-control" />
                            <span asp-validation-for="ComExInvdetails.AMOUNT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvdetails.ROLL" class="control-label"></label>
                            <input asp-for="ComExInvdetails.ROLL" class="form-control" />
                            <span asp-validation-for="ComExInvdetails.ROLL" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExInvdetails.REMARKS" class="control-label"></label>
                            <input asp-for="ComExInvdetails.REMARKS" class="form-control" />
                            <span asp-validation-for="ComExInvdetails.REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit">Update</button>
                    <button id="btnAdd" class="btn btn-success pull-right" type="button">Add</button>
                    <button class="btn btn-info prevBtn pull-right" type="button">Prev</button>
                    <a class="btn btn-dark pull-right" asp-action="GetComExInvoiceMaster">Back to List</a>
                </div>


                <div class="col-6">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-balance-scale" aria-hidden="true"></i></div>
                        <div class="count text-warning">@Html.Raw($"{Model.ComExInvoicemaster.LC?.VALUE ?? 0:N}")</div>
                        <h3>L/C Value</h3>
                    </div>
                </div>


                <div class="col-6">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-hourglass-end" aria-hidden="true"></i></div>
                        <div class="count text-danger" id="remaining"></div>
                        <h3>Remaining Balance</h3>
                    </div>
                </div>

                @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label">Invoice Duration </label>
                <span class="custom-form-control-bg form-control bg-e9ecef" id="remaining">
                    <h3>Remaining Balance</h3>
                </span>

            </div>
        </div>*@

                <div id="AttachToExportInvoice" class="col-12 table-hover table-responsive">
                    @await Html.PartialAsync($"~/Views/ComExInvoiceMaster/AddComExpInvDetailsTable.cshtml", Model)
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/custom-file-input.js"></script>
    <script asp-append-version="true" src="~/js/invEx/EditComExInvoiceMaster.js"></script>
}