@*@model PrFinishingProcessViewModel

@if (Model.FPrFinishingFabProcessList.Any())
{
    @for (var i = 0; i < Model.FPrFinishingFabProcessList.Count; i++)
    {
        <tr>
            <td><span class="expand-button"></span></td>
            <td>
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].FAB_PROCESSID)
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].FN_PROCESSID)
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].FAB_PROCESSDATE)
                @Model.FPrFinishingFabProcessList[i].FAB_PROCESSDATE
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].FAB_MACHINEID)
                @Model.FPrFinishingFabProcessList[i].FAB_MACHINE.NAME
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].FAB_PRO_TYPEID)
                @Model.FPrFinishingFabProcessList[i].FAB_PRO_TYPE.NAME
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].LENGTH_RCV)
                @Model.FPrFinishingFabProcessList[i].LENGTH_RCV
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].LENGTH_ACT)
                @Model.FPrFinishingFabProcessList[i].LENGTH_ACT
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].LENGTH_PROCESS)
                @Model.FPrFinishingFabProcessList[i].LENGTH_PROCESS
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].LENGTH_DIFF)
                @Model.FPrFinishingFabProcessList[i].LENGTH_DIFF
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].PROCESS_BY)
                @Model.FPrFinishingFabProcessList[i].PROCESS_BYNavigation.FIRST_NAME
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].SHIFT)
                @Model.FPrFinishingFabProcessList[i].SHIFT
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].TROLLYNO)
                @Model.FPrFinishingFabProcessList[i].TROLLYNONavigation.NAME
            </td>
            <td>
                @Html.HiddenFor(clc => clc.FPrFinishingFabProcessList[i].REMARKS)
                @Model.FPrFinishingFabProcessList[i].REMARKS
            </td>
            <td>
                <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveFabricFromList(@i)" aria-hidden="true"></i>
            </td>
        </tr>
    }
}


<script type="text/javascript" asp-append-version="true">
    function RemoveFabricFromList(removeIndexValue) {
        swal({
                title: "Please Confirm",
                text: "You won't able to revert, Are you sure to remove?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, sir",
                cancelButtonText: "Not at all"
            },
            function (isConfirm) {
                if (isConfirm) {
                    var data = $('#form').serializeArray();
                    data.push({ name: "removeIndexValue", value: removeIndexValue });
                    $.ajax({
                        async: true,
                        cache: false,
                        data: data,
                        type: "POST",
                        url: '/FPrFinishingProcess/RemoveFabricFromList',
                        success: function (partialView, status, xhr) {
                            $('#fabricDetails').html(partialView);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                }
            });
    }
</script>*@