@model PrFinishingProcessViewModel

@if (Model.FPrFinishingFnProcessList.Any())
{
    <table class="table mt-2 table-condensed" style="border-collapse:collapse;" id="partialView">
        <thead id="thead">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.FIN_PROCESSDATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.FN_MACHINEID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.FIN_PRO_TYPEID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.LENGTH_RCV)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.LENGTH_IN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.LENGTH_OUT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.SHRINKAGE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.PROCESS_BY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.SHIFT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.TROLLNO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.GREY_WIDTH)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.FINISH_WIDTH)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.OTHERS_DOFF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.SECID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinishingFnProcess.REMARKS)
                </th>
                <th>
                    @Html.DisplayName("Remove")
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FPrFinishingFnProcessList.Count; i++)
            {
                <tr>
                    <td><span class="expand-button"></span></td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].FIN_PROCESSID)
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].FN_PROCESSID)
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].FIN_PROCESSDATE)
                        @Model.FPrFinishingFnProcessList[i].FIN_PROCESSDATE
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].FN_MACHINEID)
                        @Model.FPrFinishingFnProcessList[i].FN_MACHINE?.NAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].FIN_PRO_TYPEID)
                        @Model.FPrFinishingFnProcessList[i].FIN_PRO_TYPE?.NAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].LENGTH_RCV)
                        @Model.FPrFinishingFnProcessList[i].LENGTH_RCV
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].LENGTH_IN)
                        @Model.FPrFinishingFnProcessList[i].LENGTH_IN
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].LENGTH_OUT)
                        @Model.FPrFinishingFnProcessList[i].LENGTH_OUT
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].SHRINKAGE)
                        @Model.FPrFinishingFnProcessList[i].SHRINKAGE
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].PROCESS_BY)
                        @Model.FPrFinishingFnProcessList[i].PROCESS_BYNavigation?.FIRST_NAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].SHIFT)
                        @Model.FPrFinishingFnProcessList[i].SHIFT
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].TROLLNO)
                        @Model.FPrFinishingFnProcessList[i].TROLLNONavigation?.NAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].GREY_WIDTH)
                        @Model.FPrFinishingFnProcessList[i].GREY_WIDTH
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].FINISH_WIDTH)
                        @Model.FPrFinishingFnProcessList[i].FINISH_WIDTH
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].OTHERS_DOFF)
                        @Model.FPrFinishingFnProcessList[i].OTHERS_DOFF
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].SECID)
                        @Model.FPrFinishingFnProcessList[i].SEC?.SECNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinishingFnProcessList[i].REMARKS)
                        @Model.FPrFinishingFnProcessList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveFinishFromList(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<script type="text/javascript" asp-append-version="true">
    function RemoveFinishFromList(removeIndexValue) {
        swal({
            title: "Please Confirm",
            text: "You won't able to revert, Are you sure to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, sir",
            cancelButtonText: "Not at all"
        },
            function (isConfirm) {
                if (isConfirm) {
                    var data = $('#form').serializeArray();
                    data.push({ name: "removeIndexValue", value: removeIndexValue });
                    $.ajax({
                        async: true,
                        cache: false,
                        data: data,
                        type: "POST",
                        url: '/FPrFinishingProcess/RemoveFinishFromList',
                        success: function (partialView, status, xhr) {
                            $('#finishDetails').html(partialView);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                }
            });
    }
</script>