@model PrFinishingProcessViewModel
@{
    ViewData["Title"] = "Finishing Process";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Update @ViewData["Title"]</h2>
<hr />

<div class="container-fluid">
    <form id="form" role="form" asp-action="EditFinishingProcess">
        <div class="panel panel-default">
        <div class="panel-body row">
        
        @Html.HiddenFor(c=>c.FPrFinishingProcessMaster.EncryptedId)
        @Html.HiddenFor(c=>c.FPrFinishingProcessMaster.FN_PROCESSID)

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingProcessMaster.FN_PROCESSDATE" class="control-label"></label>
                <input asp-for="FPrFinishingProcessMaster.FN_PROCESSDATE" class="form-control"/>
                <span asp-validation-for="FPrFinishingProcessMaster.FN_PROCESSDATE" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingProcessMaster.SETID" class="control-label"></label>
                @Html.DropDownListFor(dt => dt.FPrFinishingProcessMaster.SETID, new SelectList(Model.PlProductionSetDistributions, "SETID", "OPT1"), "", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                <span asp-validation-for="FPrFinishingProcessMaster.SETID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label">Style Name</label>
                <span class="custom-form-control-bg form-control bg-e9ecef" id="styleName">
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-none">
            <div class="form-group">
                <label asp-for="FPrFinishingProcessMaster.FABCODE" class="control-label"></label>
                @Html.DropDownListFor(dt => dt.FPrFinishingProcessMaster.FABCODE, new SelectList(Model.FabricInfos, "FABCODE", "STYLE_NAME"), "", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                <span asp-validation-for="FPrFinishingProcessMaster.FABCODE" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingProcessMaster.DOFF_ID" class="control-label"></label>
                @Html.DropDownListFor(dt => dt.FPrFinishingProcessMaster.DOFF_ID, new SelectList(Model.FPrWeavingProcessDetailsBs, "ID", "Name"), "Select Doff.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                @*<select class="form-control js-example-basic-single" asp-for="FPrFinishingProcessMaster.DOFF_ID">
                    <option value=""></option>
                </select>*@

                <span asp-validation-for="FPrFinishingProcessMaster.DOFF_ID" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingProcessMaster.LENGTH_BEAM" class="control-label"></label>
                <input asp-for="FPrFinishingProcessMaster.LENGTH_BEAM" class="form-control"/>
                <span asp-validation-for="FPrFinishingProcessMaster.LENGTH_BEAM" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingProcessMaster.LENGTH_ACT" class="control-label"></label>
                <input asp-for="FPrFinishingProcessMaster.LENGTH_ACT" class="form-control"/>
                <span asp-validation-for="FPrFinishingProcessMaster.LENGTH_ACT" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label class="control-label">Actual Doff Length</label>
                <span class="custom-form-control-bg form-control bg-e9ecef" id="doffLength">
                </span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label class="control-label">Total Ends</label>
                <span class="custom-form-control-bg form-control bg-e9ecef" id="totalEnds">
                </span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label class="control-label">Color</label>
                <span class="custom-form-control-bg form-control bg-e9ecef" id="color">
                </span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label class="control-label">Loom Type</label>
                <span class="custom-form-control-bg form-control bg-e9ecef" id="loomType">
                </span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
                <label class="control-label">Finish Route</label>
                <span class="custom-form-control-bg form-control bg-e9ecef" id="finishRoute">
                </span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingProcessMaster.REMARKS" class="control-label"></label>
                <input asp-for="FPrFinishingProcessMaster.REMARKS" class="form-control"/>
                <span asp-validation-for="FPrFinishingProcessMaster.REMARKS" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingProcessMaster.STATUS" class="control-label"></label>
                <div class="form-control custom-form-control">
                    <label class="switch">
                        <input asp-for="FPrFinishingProcessMaster.STATUS"/>
                        <span class="slider round"></span>
                        <span class="absolute-no">NO</span>
                    </label>
                </div>
                <span asp-validation-for="FPrFinishingProcessMaster.STATUS" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="panel-title text-success">Finish Process</h2>
            <hr/>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.FIN_PROCESSDATE" class="control-label"></label>
                <input asp-for="FPrFinishingFnProcess.FIN_PROCESSDATE" class="form-control"/>
                <span asp-validation-for="FPrFinishingFnProcess.FIN_PROCESSDATE" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.FN_MACHINEID" class="control-label"></label>
                @Html.DropDownListFor(dt => dt.FPrFinishingFnProcess.FN_MACHINEID, new SelectList(Model.FPrFnMachineInfos, "FN_MACHINEID", "NAME"), "", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                <span asp-validation-for="FPrFinishingFnProcess.FN_MACHINEID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.FIN_PRO_TYPEID" class="control-label"></label>
                @Html.DropDownListFor(dt => dt.FPrFinishingFnProcess.FIN_PRO_TYPEID, new SelectList(Model.FPrFnProcessTypeInfos, "FIN_PRO_TYPEID", "NAME"), "", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                <span asp-validation-for="FPrFinishingFnProcess.FIN_PRO_TYPEID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.LENGTH_RCV" class="control-label"></label>
                <input asp-for="FPrFinishingFnProcess.LENGTH_RCV" class="form-control"/>
                <span asp-validation-for="FPrFinishingFnProcess.LENGTH_RCV" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.LENGTH_IN" class="control-label"></label>
                <input asp-for="FPrFinishingFnProcess.LENGTH_IN" class="form-control"/>
                <span asp-validation-for="FPrFinishingFnProcess.LENGTH_IN" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.LENGTH_OUT" class="control-label"></label>
                <input asp-for="FPrFinishingFnProcess.LENGTH_OUT" class="form-control"/>
                <span asp-validation-for="FPrFinishingFnProcess.LENGTH_OUT" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.SHRINKAGE" class="control-label"></label>
                <input asp-for="FPrFinishingFnProcess.SHRINKAGE" class="form-control" readonly="readonly"/>
                <span asp-validation-for="FPrFinishingFnProcess.SHRINKAGE" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.PROCESS_BY" class="control-label"></label>
                @Html.DropDownListFor(dt => dt.FPrFinishingFnProcess.PROCESS_BY, new SelectList(Model.FHrEmployees, "EMPID", "FIRST_NAME"), "", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                <span asp-validation-for="FPrFinishingFnProcess.PROCESS_BY" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.SHIFT" class="control-label"></label>
                <select asp-for="FPrFinishingFnProcess.SHIFT" class="form-control js-example-basic-single">
                    <option value=""></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="A+B">A+B</option>
                    <option value="B+C">B+C</option>
                    <option value="C+A">C+A</option>
                </select>
                <span asp-validation-for="FPrFinishingFnProcess.SHIFT" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.TROLLNO" class="control-label"></label>
                @Html.DropDownListFor(dt => dt.FPrFinishingFnProcess.TROLLNO, new SelectList(Model.FPrFinTrollies, "FIN_TORLLY_ID", "NAME"), "", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                <span asp-validation-for="FPrFinishingFnProcess.TROLLNO" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.GREY_WIDTH" class="control-label"></label>
                <input asp-for="FPrFinishingFnProcess.GREY_WIDTH" class="form-control"/>
                <span asp-validation-for="FPrFinishingFnProcess.GREY_WIDTH" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.FINISH_WIDTH" class="control-label"></label>
                <input asp-for="FPrFinishingFnProcess.FINISH_WIDTH" class="form-control"/>
                <span asp-validation-for="FPrFinishingFnProcess.FINISH_WIDTH" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.OTHERS_DOFF" class="control-label"></label>
                <input asp-for="FPrFinishingFnProcess.OTHERS_DOFF" class="form-control"/>
                <span asp-validation-for="FPrFinishingFnProcess.OTHERS_DOFF" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.SECID" class="control-label"></label>
                @Html.DropDownListFor(dt => dt.FPrFinishingFnProcess.SECID, new SelectList(Model.FBasSections, "SECID", "SECNAME"), "", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                <span asp-validation-for="FPrFinishingFnProcess.SECID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label asp-for="FPrFinishingFnProcess.REMARKS" class="control-label"></label>
                <input asp-for="FPrFinishingFnProcess.REMARKS" class="form-control"/>
                <span asp-validation-for="FPrFinishingFnProcess.REMARKS" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-warning pull-right" type="submit" id="btn_submit">Update</button>
            <button id="btnAddFinish" class="btn btn-success pull-right mr-2" type="button" accesskey="a">Add</button>
            <button class="btn btn-info prevBtn pull-right" type="button">Prev</button>
            <a asp-action="GetFinishingProcessList" class="btn btn-dark pull-right mr-2">Back to List</a>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" id="finishDetails">
            @await Html.PartialAsync("~/Views/FPrFinishingProcess/AddFinishList.cshtml", Model)
        </div>

        </div>
        </div>
    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial_Except_jQuery");}
    <script src="~/js/custom-js/Stepper.js" asp-append-version="true"></script>
    <script type="text/javascript" asp-append-version="true">


        var errors = {
            0: {
                title: "Invalid Submission.",
                message: "We can not process your request. Please try again later."
            },
            1: {
                title: "Error!",
                message: "No data found!"
            }
        }

        $(function () {
            GetStyleDetailsLoad($("#FPrFinishingProcessMaster_FABCODE").val());

            $("#btnAddFinish").on('click',
                function () {

                    if ($("#FPrFinishingFnProcess_TROLLNO").val() === "") {

                        toastrNotification("Please Select Trolly", "Error");
                        return false;
                    }

                    if ($("#FPrFinishingFnProcess_FIN_PRO_TYPEID").val() === "") {

                        toastrNotification("Please Select Process Type", "Error");
                        return false;
                    }

                    $.ajax({
                        async: true,
                        cache: false,
                        data: $('#form').serialize(),
                        type: "POST",
                        url: "/FPrFinishingProcess/AddFinishList",
                        success: function (partialView, status, xhr) {
                            $('#finishDetails').html(partialView);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });

            $("#FPrFinishingProcessMaster_LENGTH_BEAM").on('change',
                function () {
                    $("#FPrFinishingFnProcess_LENGTH_RCV").val($(this).val());
                    $("#FPrFinishingFnProcess_LENGTH_IN").val($(this).val());
                    $("#FPrFinishingFnProcess_LENGTH_OUT").val($(this).val());
                });

            $("#FPrFinishingFnProcess_LENGTH_IN").on('change',
                function () {
                    shrinkageCalculation($(this).val(), $("#FPrFinishingFnProcess_LENGTH_OUT").val());
                });

            $("#FPrFinishingFnProcess_LENGTH_OUT").on('change',
                function () {
                    shrinkageCalculation($("#FPrFinishingFnProcess_LENGTH_IN").val(), $(this).val());
                });


            $("#FPrFinishingProcessMaster_FABCODE").on('change',
                function () {
                    var selectedVal = $(this).val();
                    GetStyleDetails(selectedVal);
                });
        });

        function GetStyleDetails(selectedVal) {
            var doffId = $("#FPrFinishingProcessMaster_DOFF_ID").val();
            $.ajax({
                async: true,
                cache: false,
                data: { "fabcode": selectedVal, "setId": $("#FPrFinishingProcessMaster_SETID").val() },
                type: "GET",
                url: "/FPrFinishingProcess/GetStyleDetailsEdit",
                success: function (data, status, xhr) {
                    console.log(data);
                    if (data.length !== 0) {
                        $("#color").text(data[0].opT2);
                        $("#loomType").text(data[0].opT3);
                        $("#totalEnds").text(data[0].opT4);
                        $("#finishRoute").text(data[0].opT5);
                        $("#styleName").text(data[0].opT6);


                        $("#FPrFinishingProcessMaster_DOFF_ID").html('');
                        $("#FPrFinishingProcessMaster_DOFF_ID").append('<option value="" selected></option>');
                        $.each(data,
                            function (id, option) {
                                $("#FPrFinishingProcessMaster_DOFF_ID").append($('<option></option>').val(option.trnsid).html(option.opT1));
                            });

                        $("#FPrFinishingProcessMaster_DOFF_ID").val(doffId);

                    } else {
                        toastr.error(errors[1].message, errors[1].title);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }


        function GetStyleDetailsLoad(selectedVal) {
            var doffId = $("#FPrFinishingProcessMaster_DOFF_ID").val();
            $.ajax({
                async: true,
                cache: false,
                data: { "fabcode": selectedVal, "setId": $("#FPrFinishingProcessMaster_SETID").val() },
                type: "GET",
                url: "/FPrFinishingProcess/GetStyleDetailsEdit",
                success: function (data, status, xhr) {
                    console.log(data);
                    if (data.length !== 0) {
                        $("#color").text(data[0].opT2);
                        $("#loomType").text(data[0].opT3);
                        $("#totalEnds").text(data[0].opT4);
                        $("#finishRoute").text(data[0].opT5);
                        $("#styleName").text(data[0].opT6);
                    } else {
                        toastr.error(errors[1].message, errors[1].title);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }


        function shrinkageCalculation(lengthIn, lengthOut) {
            var shrinkage = ((lengthIn - lengthOut) / lengthIn) * 100;
            $("#FPrFinishingFnProcess_SHRINKAGE").val(shrinkage.toFixed(2));
            //return true;
        }
    </script>
}