@model F_PR_FINISHING_PROCESS_MASTER
@{
    ViewData["Title"] = " Finishing Process";
    Layout = Layout;
}


@{
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <i class="fa fa-list fa-lg text-info" aria-hidden="true"></i>  Finishing Process
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="mr-4">
                    <p>
                        <a asp-action="CreateFinishingProcess" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a>
                    </p>
                </li>
                <li class="mr-4">
                    <p>
                        <a asp-controller="Reports" asp-action="RFinishingProductionReport" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true" target="_blank"></i> Production Report</a>
                    </p>
                </li>
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content table-responsive">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FN_PROCESSID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FN_PROCESSDATE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DOFF_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LENGTH_BEAM)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LENGTH_ACT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.REMARKS)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

}

@section Styles
{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/customerDatatable.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/js/customerDatatable.js"></script>

    <script>
        $(document).ready(function() {
            $('#table').dataTable({
                "searchPanes": true,
                "processing": true,
                "serverSide": true,
                "filter": true,
                "order": [[1, 'desc']],
                "pageLength": 25,
                "lengthMenu": [10, 25, 50, 100, 200, 500, 1000],
                "ajax": {
                    "async": "true",
                    "url": '@Url.Action("GetTableData", "FPrFinishingProcess")',
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [6],
                        "orderable": false,
                        "searchable": false
                    }
                ],
                "language": {
                    "searchPlaceholder": "Search for your desire results",
                    "search": '<i class="fa fa-2x fa-search" aria-hidden="true"></i>',
                    "emptyTable": '<h3>No data available</h3>',
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "thousands": ",",
                    "processing": "<i class='fa fa-4x fa-spinner' aria-hidden='true'></i>",
                    "zeroRecords": "<h3>No matching records found</h3>",
                    "paginate": {
                        "first": "<i class='fa fa-angle-double-left' aria-hidden='true'></i>",
                        "last": "<i class='fa fa-angle-double-right' aria-hidden='true'></i>",
                        "next": "<i class='fa fa-angle-right' aria-hidden='true'></i>",
                        "previous": "<i class='fa fa-angle-left' aria-hidden='true'></i>"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                "columns": [
                    { "data": "stylE_NAME", "name": "FABCODE", "autoWidth": true },
                    { "data": "fN_PROCESSDATE", "name": "FN_PROCESSDATE", "autoWidth": true },
                    { "data": "beaM_NO", "name": "BEAM_NO", "autoWidth": true },
                    //{
                    //    "render": function (data, type, row) {
                    //        //const beamNo = row.doff.wV_BEAM.f_PR_SIZING_PROCESS_ROPE_DETAILS === null ? row.doff.wV_BEAM.f_PR_SLASHER_DYEING_DETAILS.w_BEAM.beaM_NO : row.doff.wV_BEAM.f_PR_SIZING_PROCESS_ROPE_DETAILS.w_BEAM.beaM_NO;
                            
                    //        //return row.doff.wV_BEAM.wV_PROCESS.set.proG_.proG_NO + '-' + beamNo + '-' + row.doff.looM_NONavigation.looM_NO + '(Length-' + row.doff.lengtH_BULK + ')';
                    //        return "Doff";
                    //    }
                    //},
                    { "data": "lengtH_BEAM", "name": "LENGTH_BEAM", "autoWidth": true },
                    { "data": "lengtH_ACT", "name": "LENGTH_DEL", "autoWidth": true },
                    { "data": "remarks", "name": "REMARKS", "autoWidth": true },
                    {
                        "render": function(data, type, row) {
                            return "<a href='/FPrFinishingProcess/DetailsFinishingProcess?id=" + row.encryptedId + "' class='fa fa-info-circle fa-2x-custom text-info mr-2'></a> <a href='/FPrFinishingProcess/EditFinishingProcess?id=" + row.encryptedId + "' class='fa fa-edit fa-2x-custom text-warning mr-2'></a>" + "<a href='/FPrFinishingProcess/DeleteFinishingProcess?id=" + row.encryptedId + "' class='fa fa-trash fa-2x-custom text-danger mr-2'></a>";
                        }
                    }
                ]
            });
        });
    </script>
}