
@model FChemicalRequisitionViewModel

@if (Model.FChemStoreIndentdetailsList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.PRODUCTID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.UNIT)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreIndentdetails.REMARKS)</th>
                <th scope="col">@Html.DisplayName("Remove")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FChemStoreIndentdetailsList.Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.HiddenFor(clc => clc.FChemStoreIndentdetailsList[i].TRNSID)
                        @Html.HiddenFor(clc => clc.FChemStoreIndentdetailsList[i].PRODUCTID)
                        @Model.FChemStoreIndentdetailsList[i].PRODUCT?.PRODUCTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FChemStoreIndentdetailsList[i].UNIT)
                        @Model.FChemStoreIndentdetailsList[i].FBasUnits?.UNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FChemStoreIndentdetailsList[i].QTY)
                        @Model.FChemStoreIndentdetailsList[i].QTY
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FChemStoreIndentdetailsList[i].REMARKS)
                        @Model.FChemStoreIndentdetailsList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="RemoveIndent(@i)" aria-hidden="false"></i>
                    </td>
                </tr>
            }
        <tr class="bg-info text-white">
            <td></td>
            <td></td>
            <td class="text-right"><i class="fa fa-cart-plus" aria-hidden="true"></i> @Html.DisplayName("Sum Of Total :")</td>
            <td class="">@($"{Model.FChemStoreIndentdetailsList.Sum(e => e.QTY)}")</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
}