
@model RndFabTestSampleViewModel

@{
    ViewData["Title"] = "Fabric Test Information";
    Layout = Layout;
}

<h2><i class="fa fa-xing fa-lg text-success" aria-hidden="true"></i>Create @ViewData["Title"] <i class="fa fa-at text-info">Sample</i></h2>
<hr />

<div class="container-fluid">
    <form id="form" asp-action="CreateRndFabTestSample">
        <div class="panel panel-default">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="panel-body row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.LABNO" class="control-label"></label>
                        <span class="input-group-btn d-flex">
                            <button type="button" class="btn btn-warning">D</button>
                            <input asp-for="RndFabtestSample.LABNO" class="form-control" />
                        </span>
                        <span asp-validation-for="RndFabtestSample.LABNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.LTSDATE" class="control-label"></label>
                        <input asp-for="RndFabtestSample.LTSDATE" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.LTSDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.SHIFTNAME" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.RndFabtestSample.SHIFTNAME, new SelectList(Model.FHrShiftInfoList, "ID", "SHIFT"), "Select Shift", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="RndFabtestSample.SHIFTNAME" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.SFIN.STYLE_NAME" class="control-label"></label>
                        @Html.DropDownListFor(fb => fb.RndFabtestSample.SFINID, new SelectList(Model.RndSampleInfoFinishings, "SFINID", "STYLE_NAME"), "Select Style No.", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="RndFabtestSample.SFINID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.PROGNO" class="control-label"></label>
                        @Html.DropDownListFor(wv => wv.RndFabtestSample.PROGNO, new SelectList(Model.PlProductionSetdistributionsList, "SETID", "PROG_.PROG_NO"), "Select a Program Number", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="RndFabtestSample.PROGNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.UNWASHEDBY" class="control-label"></label>
                        @Html.DropDownListFor(fb => fb.RndFabtestSample.UNWASHEDBY, new SelectList(Model.FHrEmployees, "EMPID", "FIRST_NAME"), "Select An Employee", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="RndFabtestSample.UNWASHEDBY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.WASHEDBY" class="control-label"></label>
                        @Html.DropDownListFor(fb => fb.RndFabtestSample.WASHEDBY, new SelectList(Model.FHrEmployees, "EMPID", "FIRST_NAME"), "Select An Employee", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="RndFabtestSample.WASHEDBY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.PROCESSROUTE" class="control-label"></label>
                        <input asp-for="RndFabtestSample.PROCESSROUTE" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.PROCESSROUTE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.MCNAME" class="control-label"></label>
                        <input asp-for="RndFabtestSample.MCNAME" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.MCNAME" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.TESTMETHOD" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.RndFabtestSample.TESTMETHOD, new SelectList(Model.FBasTestmethodList, "TMID", "TMNAME"), "Select Test Method", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="RndFabtestSample.TESTMETHOD" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.LOOM" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.RndFabtestSample.LOOM, new SelectList(Model.FLoomMachineNoList, "ID", "LOOM_NO"), "Select Loom No", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="RndFabtestSample.LOOM" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.TROLLEYNO" class="control-label"></label>
                        @Html.DropDownListFor(fb => fb.RndFabtestSample.TROLLEYNO, new SelectList(Model.Trollies, "FIN_TORLLY_ID", "NAME"), "Select A Trolly", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="RndFabtestSample.TROLLEYNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.WIFNBW" class="control-label"></label>
                        <input asp-for="RndFabtestSample.WIFNBW" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.WIFNBW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.WIFNCUT" class="control-label"></label>
                        <input asp-for="RndFabtestSample.WIFNCUT" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.WIFNCUT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.WIFNAW" class="control-label"></label>
                        <input asp-for="RndFabtestSample.WIFNAW" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.WIFNAW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.WGFNBW" class="control-label"></label><sup>2</sup>)
                        <input asp-for="RndFabtestSample.WGFNBW" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.WGFNBW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.WGFNAW" class="control-label"></label><sup>2</sup>)
                        <input asp-for="RndFabtestSample.WGFNAW" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.WGFNAW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.FNEPI" class="control-label"></label>
                        <input asp-for="RndFabtestSample.FNEPI" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.FNEPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.FNPPI" class="control-label"></label>
                        <input asp-for="RndFabtestSample.FNPPI" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.FNPPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.WASHEPI" class="control-label"></label>
                        <input asp-for="RndFabtestSample.WASHEPI" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.WASHEPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.WASHPPI" class="control-label"></label>
                        <input asp-for="RndFabtestSample.WASHPPI" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.WASHPPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.SRFNWARP" class="control-label"></label>
                        <input asp-for="RndFabtestSample.SRFNWARP" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.SRFNWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.SRFNWEFT" class="control-label"></label>
                        <input asp-for="RndFabtestSample.SRFNWEFT" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.SRFNWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.SKEWMOVE" class="control-label"></label>
                        <input asp-for="RndFabtestSample.SKEWMOVE" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.SKEWMOVE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.SPIRALITY_A" class="control-label"></label>
                        <input asp-for="RndFabtestSample.SPIRALITY_A" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.SPIRALITY_A" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.SPIRALIRTY_B" class="control-label"></label>
                        <input asp-for="RndFabtestSample.SPIRALIRTY_B" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.SPIRALIRTY_B" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.METHOD" class="control-label"></label>
                        <input asp-for="RndFabtestSample.METHOD" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.METHOD" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.WGDEAD" class="control-label"></label>
                        <input asp-for="RndFabtestSample.WGDEAD" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.WGDEAD" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.STFNWEFT" class="control-label"></label>
                        <input asp-for="RndFabtestSample.STFNWEFT" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.STFNWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.GRFNWEFT" class="control-label"></label>
                        <input asp-for="RndFabtestSample.GRFNWEFT" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.GRFNWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.RECWEFT" class="control-label"></label>
                        <input asp-for="RndFabtestSample.RECWEFT" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.RECWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.STFNWARP" class="control-label"></label>
                        <input asp-for="RndFabtestSample.STFNWARP" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.STFNWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.GRFNWARP" class="control-label"></label>
                        <input asp-for="RndFabtestSample.GRFNWARP" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.GRFNWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.RECWARP" class="control-label"></label>
                        <input asp-for="RndFabtestSample.RECWARP" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.RECWARP" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.TNWARP" class="control-label"></label>
                        <input asp-for="RndFabtestSample.TNWARP" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.TNWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.TNWEFT" class="control-label"></label>
                        <input asp-for="RndFabtestSample.TNWEFT" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.TNWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.TRWARP" class="control-label"></label>
                        <input asp-for="RndFabtestSample.TRWARP" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.TRWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.TRWEFT" class="control-label"></label>
                        <input asp-for="RndFabtestSample.TRWEFT" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.TRWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.SLPWARP" class="control-label"></label>
                        <input asp-for="RndFabtestSample.SLPWARP" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.SLPWARP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.SLPWEFT" class="control-label"></label>
                        <input asp-for="RndFabtestSample.SLPWEFT" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.SLPWEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.PILLRUBS" class="control-label"></label>
                        <input asp-for="RndFabtestSample.PILLRUBS" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.PILLRUBS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.PILLGRADE" class="control-label"></label>
                        <input asp-for="RndFabtestSample.PILLGRADE" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.PILLGRADE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.CFATDRY" class="control-label"></label>
                        <input asp-for="RndFabtestSample.CFATDRY" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.CFATDRY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.CFATNET" class="control-label"></label>
                        <input asp-for="RndFabtestSample.CFATNET" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.CFATNET" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.SHADECNG" class="control-label"></label>
                        <input asp-for="RndFabtestSample.SHADECNG" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.SHADECNG" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.COLORSTN" class="control-label"></label>
                        <input asp-for="RndFabtestSample.COLORSTN" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.COLORSTN" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.COLORCNG_ACID" class="control-label"></label>
                        <input asp-for="RndFabtestSample.COLORCNG_ACID" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.COLORCNG_ACID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.COLORSTN_ACID" class="control-label"></label>
                        <input asp-for="RndFabtestSample.COLORSTN_ACID" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.COLORSTN_ACID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.COLORCNG_ALKA" class="control-label"></label>
                        <input asp-for="RndFabtestSample.COLORCNG_ALKA" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.COLORCNG_ALKA" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.COLORSTN_ALKA" class="control-label"></label>
                        <input asp-for="RndFabtestSample.COLORSTN_ALKA" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.COLORSTN_ALKA" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.OPTION5" class="control-label"></label>
                        <input asp-for="RndFabtestSample.OPTION5" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.OPTION5" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.OPTION4" class="control-label"></label>
                        <input asp-for="RndFabtestSample.OPTION4" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.OPTION4" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.PH" class="control-label"></label>
                        <input asp-for="RndFabtestSample.PH" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.PH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.FORMALDEHYDE" class="control-label"></label>
                        <input asp-for="RndFabtestSample.FORMALDEHYDE" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.FORMALDEHYDE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.FABCOMP" class=" control-label"></label>
                        <input asp-for="RndFabtestSample.FABCOMP" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.FABCOMP" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.PROCESSROUTE" class="control-label"></label>
                        <input asp-for="RndFabtestSample.PROCESSROUTE" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.PROCESSROUTE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.ISSUE" class="control-label"></label>
                        <input asp-for="RndFabtestSample.ISSUE" class="form-control" />
                        <span asp-validation-for="RndFabtestSample.ISSUE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="RndFabtestSample.COMMENTS" class=" control-label"></label>
                        <textarea asp-for="RndFabtestSample.COMMENTS" class="form-control"></textarea>
                        <span asp-validation-for="RndFabtestSample.COMMENTS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success pull-right" type="submit">Create</button>
                    <a asp-action="GetRndFabTestSample" class="btn btn-dark pull-right">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/lib/toastr.js/toastr.min.js"></script>
    <script asp-append-version="true" src="~/js/RndFabTestSample/CreateRndFabTestSample.js"></script>
}