
@model RND_FABTEST_SAMPLE

@{
    ViewData["Title"] = "Fabric Test Information";
    Layout = Layout;
}

<h2><i class="fa fa-xing fa-lg text-success" aria-hidden="true"></i>@ViewData["Title"] Details <i class="fa fa-at text-info">Sample</i></h2>
<hr />

@{
    if (Model != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="m-b-md">
                            <h2 class="text-white btn btn-info">@Html.DisplayNameFor(e => e.LTSDATE) : [ @Html.DisplayFor(e => e.LTSDATE) ]</h2>
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="LTSDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.LTSDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <span class="text-danger">(On creating)</span>
                                <label asp-for="PROGNO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.PROGNO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SHIFTNAME" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SHIFTNAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="TROLLEYNO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.TROLLEYNO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <div class="form-group">
                            <strong>
                                <label asp-for="PROCESSROUTE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.PROCESSROUTE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="MCNAME" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.MCNAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="ISSUE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.ISSUE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="TESTMETHOD" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.TESTMETHOD)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FNEPI" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FNEPI)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FNPPI" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FNPPI)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WGFNBW" class="control-label"></label><sup>2</sup>)
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WGFNBW)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WGFNAW" class="control-label"></label><sup>2</sup>)
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WGFNAW)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WIFNBW" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WIFNBW)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WIFNCUT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WIFNCUT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WIFNAW" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WIFNAW)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SRFNWARP" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SRFNWARP)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SRFNWEFT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SRFNWEFT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SKEWMOVE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SKEWMOVE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SPIRALITY_A" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SPIRALITY_A)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SPIRALIRTY_B" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SPIRALIRTY_B)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="METHOD" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.METHOD)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WGDEAD" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WGDEAD)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="STFNWARP" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.STFNWARP)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="STFNWEFT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.STFNWEFT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="GRFNWARP" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.GRFNWARP)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="GRFNWEFT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.GRFNWEFT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="TNWARP" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.TNWARP)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="TNWEFT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.TNWEFT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="TRWARP" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.TRWARP)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="TRWEFT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.TRWEFT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SLPWARP" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SLPWARP)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SLPWEFT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SLPWEFT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="PILLRUBS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.PILLRUBS)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="PILLGRADE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.PILLGRADE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="CFATDRY" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.CFATDRY)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="CFATNET" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.CFATNET)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SHADECNG" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SHADECNG)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="COLORSTN" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.COLORSTN)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="COLORCNG_ACID" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.COLORCNG_ACID)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="COLORSTN_ACID" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.COLORSTN_ACID)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="COLORCNG_ALKA" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.COLORCNG_ALKA)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="COLORSTN_ALKA" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.COLORSTN_ALKA)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="PH" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.PH)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FORMALDEHYDE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FORMALDEHYDE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FABCOMP" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FABCOMP)
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 p-0">
                    <h2 class="panel-title text-success">Weaving & Other Details</h2>
                    <hr>
                </div>

                <div class="row details">
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <span>(Actual)</span>
                                <label asp-for="SFIN.LTG.PROG.PROG_NO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SFIN.LTG.PROG.PROG_NO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="SFIN.STYLE_NAME" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.SFIN.STYLE_NAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="WASHEDBYNavigation.FIRST_NAME" class="control-label">Washed By</label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.WASHEDBYNavigation.FIRST_NAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="UNWASHEDBYNavigation.FIRST_NAME" class="control-label">Unwashed By</label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.UNWASHEDBYNavigation.FIRST_NAME)
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    @Html.ActionLink("Edit", $"EditRndFabTestSample", new { ltsId = Model.EncryptedId }, new { @class = "btn btn-warning pull-right mt-2" })
                    <a class="btn btn-dark pull-right mt-2" asp-action="GetRndFabTestSample" asp-controller="RndFabTestSample">Back to List</a>
                </div>
            </div>
        </div>
    }
}