
@model CreateRndSampleInfoDyeingAndDetailsViewModel

@if (Model.PlSampleProgSetupList.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(e => e.PlSampleProgSetupList.FirstOrDefault().STYLE_NAME)</th>
                <th>@Html.DisplayNameFor(e => e.PlSampleProgSetupList.FirstOrDefault().PROG_DATE)</th>
                <th>@Html.DisplayNameFor(e => e.PlSampleProgSetupList.FirstOrDefault().PROG_NO)</th>
                <th>@Html.DisplayNameFor(e => e.PlSampleProgSetupList.FirstOrDefault().QTY_MTR)</th>
                <th>@Html.DisplayNameFor(e => e.PlSampleProgSetupList.FirstOrDefault().PROGRAM_TYPE)</th>
                <th>@Html.DisplayNameFor(e => e.PlSampleProgSetupList.FirstOrDefault().PROCESS_TYPE)</th>
                <th>@Html.DisplayNameFor(e => e.PlSampleProgSetupList.FirstOrDefault().WARP_TYPE)</th>
                <th>@Html.DisplayNameFor(e => e.PlSampleProgSetupList.FirstOrDefault().TYPE)</th>
                <th>@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.PlSampleProgSetupList.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(dt => dt.PlSampleProgSetupList[i].TRNSID)
                        @Html.HiddenFor(dt => dt.PlSampleProgSetupList[i].STYLE_NAME)
                        @Html.DisplayFor(dt => dt.PlSampleProgSetupList[i].STYLE_NAME)
                    </td>
                    <td>
                        @Html.HiddenFor(dt => dt.PlSampleProgSetupList[i].PROG_DATE)
                        @Html.DisplayFor(dt => dt.PlSampleProgSetupList[i].PROG_DATE)
                    </td>
                    <td>
                        @Html.HiddenFor(dt => dt.PlSampleProgSetupList[i].PROG_NO)
                        @Html.DisplayFor(dt => dt.PlSampleProgSetupList[i].PROG_NO)
                    </td>
                    <td>
                        @Html.HiddenFor(dt => dt.PlSampleProgSetupList[i].QTY_MTR)
                        @Html.DisplayFor(dt => dt.PlSampleProgSetupList[i].QTY_MTR)
                    </td>
                    <td>
                        @Html.HiddenFor(dt => dt.PlSampleProgSetupList[i].PROGRAM_TYPE)
                        @Html.DisplayFor(dt => dt.PlSampleProgSetupList[i].PROGRAM_TYPE)
                    </td>
                    <td>
                        @Html.HiddenFor(dt => dt.PlSampleProgSetupList[i].PROCESS_TYPE)
                        @Html.DisplayFor(dt => dt.PlSampleProgSetupList[i].PROCESS_TYPE)
                    </td>
                    <td>
                        @Html.HiddenFor(dt => dt.PlSampleProgSetupList[i].WARP_TYPE)
                        @Html.DisplayFor(dt => dt.PlSampleProgSetupList[i].WARP_TYPE)
                    </td>
                    <td>
                        @Html.HiddenFor(dt => dt.PlSampleProgSetupList[i].TYPE)
                        @Html.DisplayFor(dt => dt.PlSampleProgSetupList[i].TYPE)
                    </td>
                    <td>
                        <i class="fa fa-trash fa-2x text-danger" onclick="removeProgFromList(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading">Reached level 0!</h4>
        <p>You're here because you have removed all the items or didn't added any items</p>
        <hr>
        <p class="mb-0">Please add more items...</p>
    </div>
}