
@model DetailsRndSampleInfoDyeingViewModel

@{
    ViewData["Title"] = "Details RnD Sample Info Dyeing";
    Layout = Layout;
}

<h2><i class="fa fa-info-circle fa-lg text-success" aria-hidden="true"></i> RnD Sample Information Dyeing</h2>

@{
    if (Model != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="m-b-md">
                            <h2 class="text-danger">@Html.DisplayNameFor(e => e.RndSampleInfoDyeing.SDID) : [ @Model.RndSampleInfoDyeing.SDID ]</h2>
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.SIDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.SIDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.SDRF.SDRF_NO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.SDRF.SDRF_NO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.DYEINGCODE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.DYEINGCODE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.STYLEREF" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.STYLEREF)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.SDRF.TEAM_R.TEAM_NAME" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.SDRF.TEAM_R.TEAM_NAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.RNDPERSON" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.RNDPERSON)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.ENDS_ROPE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.ENDS_ROPE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.NO_OF_ROPE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.NO_OF_ROPE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.TOTAL_ENDS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.TOTAL_ENDS)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.LENGTH_MTR" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.LENGTH_MTR)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.DYEING_REF" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.DYEING_REF)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.REED_SPACE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.REED_SPACE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.LOOM.LOOM_TYPE_NAME" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.LOOM.LOOM_TYPE_NAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.D.DTYPE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.D.DTYPE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.WARP_PROG_DATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.WARP_PROG_DATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.COMMITED_DEL_DATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.COMMITED_DEL_DATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.YARN_LOCATION" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.YARN_LOCATION)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.REMARKS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.REMARKS)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.OPT1" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.OPT1)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.OPT2" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.OPT2)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.OPT3" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.OPT3)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.OPT4" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.OPT4)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndSampleInfoDyeing.OPT5" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndSampleInfoDyeing.OPT5)
                            </span>
                        </div>
                    </div>

                    @if (Model.RndSampleInfoDetailses.Any())
                    {
                        <div class="pl-3 col-12">
                            <h2 class="panel-title text-success">RnD Sample Info Details</h2>

                            <table class="table">
                                <thead id="thead">
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().DESCRIPTION)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().YARNTYPE)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().RATIO)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().NE)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().BGT)</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        foreach (var item in Model.RndSampleInfoDetailses)
                                        {
                                            <tr>
                                                <td>@item.DESCRIPTION</td>
                                                <td>@item.YARNTYPE</td>
                                                <td>@item.RATIO</td>
                                                <td>@item.NE</td>
                                                <td>@item.BGT</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div class="col-md-12">
                    @Html.ActionLink("Edit", $"EditRndSampleInfoDyeing", new { id = Model.RndSampleInfoDyeing.EncryptedId }, new { @class = "btn btn-warning pull-right mt-2" })
                    <a class="btn btn-dark pull-right mt-2" asp-action="GetRndSampleInfoDyeing" asp-controller="RndSampleInfoDyeing">Back to List</a>
                </div>
            </div>
        </div>
    }
}