
@model RND_SAMPLE_INFO_DYEING

@{
    ViewData["Title"] = "Rnd Sample Info Dyeing";
    Layout = Layout;
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-flask fa-lg text-info"></i> Rnd Sample Info <i class="fa fa-at text-info">Dyeing</i>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="mr-4">
                <p>
                    <a asp-action="CreateRndSampleInfoDyeing" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add </a>
                </p>
            </li>
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive" id="lcList">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SDID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SDRF.BUYER_REF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DYEINGCODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PROG_NO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.REMARKS)
                    </th>
                    <th>
                        @Html.DisplayName("Action")
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Styles
{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/js/RndSampleInfoDyeing/GetRndSampleInfoDyeing.js" asp-append-version="true"></script>
}