@using DenimERP.Models
@model COM_EX_LCINFO
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details Commercial Export LC Information";
    Layout = Layout;
}

<h2><i class="fa fa-paper-plane text-info" aria-hidden="true"></i> Commercial Export LC Information</h2>

@{
    if (Model != null)
    {
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    @*<h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.DisplayNameFor(e => e.LCNO) : @Html.DisplayFor(e => e.LCNO)
                            </button>
                        </h5>*@
                    <div class="row">
                        <div class="form-group row col-2 mr-5">
                            <div class="col-sm-4">
                                <strong>
                                    <label asp-for="FILENO"></label>
                                </strong>
                            </div>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.FILENO)
                            </div>
                        </div>
                        <div class="form-group row col-2 mr-5">
                            <div class="col-sm-4">
                                <strong>
                                    <label asp-for="LCNO"></label>
                                </strong>
                            </div>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.LCNO)
                            </div>
                        </div>
                        <div class="form-group row col-2 mr-5">
                            <div class="col-sm-4">
                                <strong>
                                    <label asp-for="VALUE"></label>
                                </strong>
                            </div>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.VALUE)
                            </div>
                        </div>
                        <div class="form-group row col-2 mr-5">
                            <div class="col-sm-4">
                                <strong>
                                    <label asp-for="SHIP_DATE"></label>
                                </strong>
                            </div>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.SHIP_DATE)
                            </div>
                        </div>
                        <div class="form-group row col-2">
                            <div class="col-sm-4">
                                <strong>
                                    <label asp-for="BUYER.BUYER_NAME"></label>
                                </strong>
                            </div>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.BUYER.BUYER_NAME)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group row col-2 mr-5">
                            <div class="col-sm-4">
                                <strong>
                                    <label asp-for="LCRCVDATE"></label>
                                </strong>
                            </div>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.LCRCVDATE)
                            </div>
                        </div>
                        <div class="form-group row col-2 mr-5">
                            <div class="col-sm-4">
                                <strong>
                                    <label asp-for="LCDATE"></label>
                                </strong>
                            </div>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.LCDATE)
                            </div>
                        </div>
                        <div class="form-group row col-2 mr-5">
                            <div class="col-sm-4">
                                <strong>
                                    <label>L/C Qty</label>
                                </strong>
                            </div>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.LC_QTY)
                            </div>
                        </div>
                        <div class="form-group row col-2 mr-5">
                            <div class="col-sm-4">
                                <strong>
                                    <label asp-for="EX_DATE"></label>
                                </strong>
                            </div>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.EX_DATE)
                            </div>
                        </div>
                        <div class="form-group row col-2">
                            <div class="col-sm-4">
                                <strong>
                                    <label asp-for="TEAM.BasTeamInfo.TEAM_NAME"></label>
                                </strong>
                            </div>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.TEAM.BasTeamInfo.TEAM_NAME)
                            </div>
                        </div>
                    </div>

                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row details">
                            @*<div class="col-2">
                                    <div class="form-group">
                                        <strong>
                                            <label asp-for="LCDATE" class="control-label"></label>
                                        </strong>
                                        <span class="custom-form-control form-control bg-e9ecef">
                                            @Html.DisplayFor(model => model.LCDATE)
                                        </span>
                                    </div>
                                </div>*@
                            @*<div class="col-2">
                                    <div class="form-group">
                                        <strong>
                                            <label asp-for="FILENO" class="control-label"></label>
                                        </strong>
                                        <span class="custom-form-control form-control bg-e9ecef">
                                            @Html.DisplayFor(model => model.FILENO)
                                        </span>
                                    </div>
                                </div>*@
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="AMENTNO" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.AMENTNO)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="AMENTDATE" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.AMENTDATE)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="AMENTVALUE" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.AMENTVALUE)
                                    </span>
                                </div>
                            </div>
                            @*<div class="col-2">
                                    <div class="form-group">
                                        <strong>
                                            <label asp-for="VALUE" class="control-label"></label>
                                        </strong>
                                        <span class="custom-form-control form-control bg-e9ecef">
                                            @Html.DisplayFor(model => model.VALUE)
                                        </span>
                                    </div>
                                </div>*@
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="CURRENCY" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.CURRENCY)
                                    </span>
                                </div>
                            </div>

                            @*<div class="col-2">
                                    <div class="form-group">
                                        <strong>
                                            <label asp-for="EX_DATE" class="control-label"></label>
                                        </strong>
                                        <span class="custom-form-control form-control bg-e9ecef">
                                            @Html.DisplayFor(model => model.EX_DATE)
                                        </span>
                                    </div>
                                </div>*@
                            @*<div class="col-2">
                                    <div class="form-group">
                                        <strong>
                                            <label asp-for="SHIP_DATE" class="control-label"></label>
                                        </strong>
                                        <span class="custom-form-control form-control bg-e9ecef">
                                            @Html.DisplayFor(model => model.SHIP_DATE)
                                        </span>
                                    </div>
                                </div>*@
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="TTERMS" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.COM_TRADE_TERMS.TRADE_TERMS)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="ODUEINTEREST" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.ODUEINTEREST)%
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="EXP" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.EXP)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="MLCNO" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.MLCNO)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="MLCDATE" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.MLCDATE)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="IRC" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.IRC)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="ERC" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.ERC)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="GARMENT_QTY" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.GARMENT_QTY)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="UNIT" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.UNIT)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="ITEM" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.ITEM)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="VAT_REG" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.VAT_REG)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="VAT_REG_BANK" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.VAT_REG_BANK)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="AREA" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.AREA)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="TIN" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.TIN)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="OTHERS" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.OTHERS)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="BVAT_REG" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.BVAT_REG)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="BAREA" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.BAREA)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="BTIN" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.BTIN)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="HSCODE" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.HSCODE)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="ADREF" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.ADREF)
                                    </span>
                                </div>
                            </div>
                            @*<div class="col-2">
                                    <div class="form-group">
                                        <strong>
                                            <label asp-for="LCRCVDATE" class="control-label"></label>
                                        </strong>
                                        <span class="custom-form-control form-control bg-e9ecef">
                                            @Html.DisplayFor(model => model.LCRCVDATE)
                                        </span>
                                    </div>
                                </div>*@
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="DISCOUNT" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.DISCOUNT)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="REMARKS" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.REMARKS)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="UDNO" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.UDNO)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="UDDATE" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.UDDATE)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="UDSUBDATE" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.UDSUBDATE)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="MLCSUBDATE" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.MLCSUBDATE)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="UPNO" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.UPNO)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="UP_DATE" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.UP_DATE)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="PORTLOADING" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.PORTLOADING)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="PORTDISCHARGE" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.PORTDISCHARGE)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="VESSEL" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.VESSEL)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="MARKS" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.MARKS)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="SAILING" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.SAILING)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="TRADETERMS" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.TRADETERMS)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="TENOR" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.TENOR)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="DOSTATUS" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.DOSTATUS)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="CONTRACTSTATUS" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.CONTRACTSTATUS)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="EXPORTSTATUS" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @Html.DisplayFor(model => model.EXPORTSTATUS)
                                    </span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <strong>
                                        <label asp-for="USRID" class="control-label"></label>
                                    </strong>
                                    <span class="custom-form-control form-control bg-e9ecef">
                                        @{
                                            if (!string.IsNullOrEmpty(Model.USRID))
                                            {
                                                @SignInManager.UserManager.FindByIdAsync(Model.USRID).Result.UserName
                                            }
                                            else
                                            {
                                                @Html.DisplayName("N/A")
                                            }
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @*<div class="col-12 p-0">
                                        <h2 class="panel-title text-success"><i class="fa fa-money"></i> Buyer Details</h2>
                                        <hr>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <strong>
                                                    <label asp-for="BUYER.BUYER_NAME" class="control-label"></label>
                                                </strong>
                                                <span class="custom-form-control form-control bg-e9ecef">
                                                    @Html.DisplayFor(model => model.BUYER.BUYER_NAME)
                                                </span>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-12 p-0">
                                    <h2 class="panel-title text-success"><i class="fa fa-bank"></i> Bank Details</h2>
                                    <hr>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <strong>
                                                    <label asp-for="BANK_ID" class="control-label"></label>
                                                </strong>
                                                <span class="custom-form-control form-control bg-e9ecef">
                                                    @Html.DisplayFor(model => model.BANK_.PARTY_BANK)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <strong>
                                                    <label asp-for="NTFYBANKID" class="control-label"></label>
                                                </strong>
                                                <span class="custom-form-control form-control bg-e9ecef">
                                                    @Html.DisplayFor(model => model.NTFYBANK.PARTY_BANK)
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @if (Model.COM_EX_LCDETAILS.Any())
            {
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa fa-eye" aria-hidden="true"></i> @Html.Raw($"LC Details <span class=\"text-danger\">({Model.COM_EX_LCDETAILS.Count})</span>")
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>@Html.DisplayNameFor(model => model.COM_EX_LCDETAILS.FirstOrDefault().LC.LCNO)</th>
                                        <th>@Html.DisplayNameFor(model => model.COM_EX_LCDETAILS.FirstOrDefault().PI.PINO)</th>
                                        <th>@Html.DisplayNameFor(model => model.COM_EX_LCDETAILS.FirstOrDefault().BANKID)</th>
                                        <th>@Html.DisplayNameFor(model => model.COM_EX_LCDETAILS.FirstOrDefault().BANK_ID)</th>
                                        <th>@Html.DisplayName("PI Quantity")</th>
                                        <th>@Html.DisplayName("PI Value")</th>
                                        <th>@Html.DisplayNameFor(model => model.COM_EX_LCDETAILS.FirstOrDefault().PIFILE)</th>
                                        <th>@Html.DisplayNameFor(model => model.COM_EX_LCDETAILS.FirstOrDefault().REMARKS)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.COM_EX_LCDETAILS.Select((value, index) => new { index, value }))
                                    {
                                        <tr>
                                            <td>@(item.index + 1)</td>
                                            <td>@item.value.LC?.LCNO</td>
                                            <td>@item.value.PI?.PINO</td>
                                            <td>@item.value.BANK?.BEN_BANK</td>
                                            <td>@item.value.BANK_?.BEN_BANK</td>
                                            <td>
                                                @item.value.PI?.COM_EX_PI_DETAILS.Where(e => e.SO_STATUS).Sum(e => e.QTY)
                                            </td>
                                            <td>
                                                @item.value.PI?.COM_EX_PI_DETAILS.Where(e => e.SO_STATUS).Sum(e => e.TOTAL)
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.value.PIFILE))
                                                {
                                                    <a style="text-decoration: underline;" class="form-control border-0 bg-transparent text-primary p-0" target="_blank" asp-controller="Files" asp-action="pi_files" asp-route-fileName="@item.value.PIFILE">@item.value.PIFILE.Split(new char[] { ' ', '_' }, 2)[1]</a>
                                                }
                                                else
                                                {
                                                    @Html.Raw("<span class=\"text-danger fa fa-paperclip d-block\"> No Attachments<span>")
                                                }
                                            </td>
                                            <td>@item.value.REMARKS</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>Total</td>
                                        <td>:</td>
                                        <td colspan="3"></td>
                                        <td>@Model.COM_EX_LCDETAILS.Sum(e => e.PI.COM_EX_PI_DETAILS.Where(f => f.SO_STATUS).Sum(f => f.QTY))</td>
                                        <td colspan="4">@Model.COM_EX_LCDETAILS.Sum(e => e.PI.COM_EX_PI_DETAILS.Where(f => f.SO_STATUS).Sum(f => f.TOTAL))</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-eye" aria-hidden="true"></i> @Html.Raw($"Uploaded Files")
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-12 p-0 row">

                            <div class="col-2 mr-5">
                                <label asp-for="UDFILEUPLOAD"></label>
                                @if (!string.IsNullOrEmpty(Model.UDFILEUPLOAD))
                                {
                                    <a style="text-decoration: underline;" class="form-control border-0 bg-transparent fa fa-file text-primary p-0" target="_blank" asp-controller="Files" asp-action="lc_files" asp-route-fileName="@Model.UDFILEUPLOAD"> @Model.UDFILEUPLOAD.Split(new char[] { ' ', '_' }, 2)[1]</a>
                                }
                                else
                                {
                                    @Html.Raw("<span class=\"text-danger fa fa-paperclip d-block\"> No Attachments<span>")
                                }
                            </div>
                            <div class="col-2 mr-5">
                                <label asp-for="UPFILEUPLOAD"></label>
                                @if (!string.IsNullOrEmpty(Model.UPFILEUPLOAD))
                                {
                                    <a style="text-decoration: underline;" class="form-control border-0 bg-transparent fa fa-file text-primary p-0" target="_blank" asp-controller="Files" asp-action="lc_files" asp-route-fileName="@Model.UPFILEUPLOAD"> @Model.UPFILEUPLOAD.Split(new char[] { ' ', '_' }, 2)[1]</a>
                                }
                                else
                                {
                                    @Html.Raw("<span class=\"text-danger fa fa-paperclip d-block\"> No Attachments<span>")
                                }
                            </div>
                            <div class="col-2 mr-5">
                                <label asp-for="COSTSHEETFILEUPLOAD"></label>
                                @if (!string.IsNullOrEmpty(Model.COSTSHEETFILEUPLOAD))
                                {
                                    <a style="text-decoration: underline;" class="form-control border-0 bg-transparent fa fa-file text-primary p-0" target="_blank" asp-controller="Files" asp-action="lc_files" asp-route-fileName="@Model.COSTSHEETFILEUPLOAD"> @Model.COSTSHEETFILEUPLOAD.Split(new char[] { ' ', '_' }, 2)[1]</a>
                                }
                                else
                                {
                                    @Html.Raw("<span class=\"text-danger fa fa-paperclip d-block\"> No Attachments<span>")
                                }
                            </div>
                            <div class="col-2 mr-5">
                                <label asp-for="MLCFILE"></label>
                                @if (!string.IsNullOrEmpty(Model.MLCFILE))
                                {
                                    <a style="text-decoration: underline;" class="form-control border-0 bg-transparent fa fa-file text-primary p-0" target="_blank" asp-controller="Files" asp-action="lc_files" asp-route-fileName="@Model.MLCFILE"> @Model.MLCFILE.Split(new char[] { ' ', '_' }, 2)[1]</a>
                                }
                                else
                                {
                                    @Html.Raw("<span class=\"text-danger fa fa-paperclip d-block\"> No Attachments<span>")
                                }
                            </div>
                            <div class="col-2">
                                <label asp-for="LCFILE"></label>
                                @if (!string.IsNullOrEmpty(Model.LCFILE))
                                {
                                    <a style="text-decoration: underline;" class="form-control border-0 bg-transparent fa fa-file text-primary p-0" target="_blank" asp-controller="Files" asp-action="lc_files" asp-route-fileName="@Model.LCFILE"> @Model.LCFILE.Split(new char[] { ' ', '_' }, 2)[1]</a>
                                }
                                else
                                {
                                    @Html.Raw("<span class=\"text-danger fa fa-paperclip d-block\"> No Attachments<span>")
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            @Html.ActionLink("Edit", $"EditComExLcInfo", new { lcId = Model.EncryptedId }, new { @class = "btn btn-warning pull-right mt-2" })
            <a class="btn btn-dark pull-right mt-2" asp-action="GetComExLcInfoList" asp-controller="ComExLcInfo">Back to List</a>
        </div>
    }
}