
@model COM_EX_LCINFO

@{
    ViewData["Title"] = "Commercial Export L/C Information";
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> Get @ViewData["Title"]</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="mr-2">
                <p>
                    <a asp-action="CreateComExLcInfo" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add </a>
                </p>
            </li>
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-hover table-responsive">
        <table class="table" id="table">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FILENO)</th>
                    <th>@Html.DisplayNameFor(model => model.LCNO)</th>
                    <th>@Html.DisplayNameFor(model => model.LCDATE)</th>
                    <th>@Html.DisplayNameFor(model => model.NTFYBANK.PARTY_BANK)</th>
                    <th>@Html.DisplayNameFor(model => model.BUYER.BUYER_NAME)</th>
                    <th>AMD. No</th>
                    <th>AMD. Date</th>
                    <th>@Html.DisplayNameFor(model => model.VALUE)</th>
                    <th>@Html.DisplayNameFor(model => model.SHIP_DATE)</th>
                    <th>@Html.DisplayNameFor(model => model.EX_DATE)</th>
                    <th>DO Status</th>
                    <th>@Html.DisplayName("Actions")</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/comEx/GetComExLcInfo.js"></script>
}