
@model IEnumerable<DenimERP.ViewModels.Com.ComExPIViewModel>

@foreach (var item in Model.Select((value, index) => new { index, value }))
{
    <tr>
        <td>@(item.index + 1)</td>
        <td>@item.value.ComExPimaster.PINO</td>
        <td>
            @if (!string.IsNullOrEmpty(item.value.PIFILEUPLOADTEXT))
            {
                <a style="text-decoration: underline;" class="form-control border-0 bg-transparent text-primary p-0 fa fa-file" target="_blank" asp-controller="Files" asp-action="pi_files" asp-route-fileName="@item.value.PIFILEUPLOADTEXT"> @item.value.PIFILEUPLOADTEXT.Split(new char[] { ' ', '_' }, 2)[1]</a>
            }
            else
            {
                @Html.Raw("<span class=\"text-danger fa fa-paperclip\"> No Attachments<span>")
            }
        </td>
        <td>@item.value.REMARKS</td>
        <td><i class="fa fa-trash fa-2x text-danger" onclick="RemoveFromExist('@item.value.EN_LCNO', '@item.value.EN_TRNSID')" aria-hidden="true"></i></td>
    </tr>
}