@model FPrFinishingBeamReceiveViewModel
@{
    ViewData["Title"] = "Finishing Beam Receive";
    Layout = Layout;
}

    <h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Finishing Beam Receive</h2>
<hr />

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateFinishingBeamReceive">
        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.HiddenFor(c=>c.FPrFinishingBeamReceive.FABCODE)
                        <label asp-for="FPrFinishingBeamReceive.SETID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FPrFinishingBeamReceive.SETID, new SelectList(Model.PlProductionSetDistributions, "SETID", "PROG_.PROG_NO"), "Select Program/Set No.", htmlAttributes: new {@class = "form-control js-example-basic-single"})
                        <span asp-validation-for="FPrFinishingBeamReceive.SETID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrFinishingBeamReceive.BEAMID" class="control-label"></label>
                        <select class="form-control js-example-basic-single" asp-for="FPrFinishingBeamReceive.BEAMID">
                            <option>Select Beam</option>
                        </select>
                        <span asp-validation-for="FPrFinishingBeamReceive.BEAMID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrFinishingBeamReceive.RCVBY" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FPrFinishingBeamReceive.RCVBY, new SelectList(Model.FHrEmployees, "EMPID", "FIRST_NAME"), "Select Employee", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FPrFinishingBeamReceive.RCVBY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Style Name</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="style">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Buyer</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="buyer">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Set Length</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="setLength">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Total Ends</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="totalEnds">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Color</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="color">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Loom Type</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="loomType">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Order No</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="orderNo">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">PO No</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="poNo">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrFinishingBeamReceive.REMARKS" class="control-label"></label>
                        <input asp-for="FPrFinishingBeamReceive.REMARKS" class="form-control" />
                        <span asp-validation-for="FPrFinishingBeamReceive.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                    <h2 class="panel-title text-success">Received Doff Information</h2>
                </div>
                <table class="table mt-2">
                    <thead id="thead">
                        <tr>
                            <th>
                                Loom No.
                            </th>
                            <th>
                                @Html.DisplayName("Loom Type")
                            </th>
                            <th>
                                @Html.DisplayName("Length")
                            </th>
                            <th>
                                @Html.DisplayName("Doff Time")
                            </th>
                            <th>
                                @Html.DisplayName("Shift")
                            </th>
                            <th>
                                @Html.DisplayName("Doffer Name")
                            </th>
                            <th>
                                @Html.DisplayName("Others Doff")
                            </th>
                            <th>
                                @Html.DisplayName("Sample Fabcode")
                            </th>
                            <th>
                                @Html.DisplayName("Remarks")
                            </th>
                            <th>
                                @Html.DisplayName("Is Received?")
                            </th>
                        </tr>
                    </thead>
                    <tbody id="doffDetails"></tbody>
                </table>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success pull-right" type="submit" id="btn_submit">Create</button>
                    <a asp-action="GetFinishingBeamReceiveList" class="btn btn-dark pull-right mr-2">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial_Except_jQuery");}
    <script src="~/js/custom-js/Stepper.js" asp-append-version="true"></script>
    <script type="text/javascript" asp-append-version="true">
        
        function doApprove(doffId) {
            if (doffId !== undefined) {
                $.ajax({
                    async: true,
                    cache: false,
                    data: {
                        "doffId": doffId
                    },
                    type: "GET",
                    url: "/FPrFinishingBeamReceive/DoApprove",
                    success: function (data) {
                        if (data) {
                            toastr.success("Received", "Success");
                        } else {
                            toastr.error("Receive Failed", "Invalid Submission");
                        }
                    },
                    error: function () {
                        toastr.error("No Access.", "Invalid Submission");
                    }
                });
            }
        }

        $(function () {
            $("#FPrFinishingBeamReceive_SETID").on('change',
                function () {
                    var selectedVal = $(this).val();
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "setId": selectedVal },
                        type: "GET",
                        url: "/FLcbProductionRope/GetSetDetails",
                        success: function (data, status, xhr) {
                                //console.log(data);
                                $("#style").text(data.comExPiDetails.style.fabcodeNavigation.stylE_NAME);
                                $("#FPrFinishingBeamReceive_FABCODE").val(data.comExPiDetails.style.fabcodeNavigation.fabcode);
                                $("#buyer").text(data.comExPiDetails.pimaster.buyer.buyeR_NAME);
                                $("#color").text(data.comExPiDetails.style.fabcodeNavigation.colorcodeNavigation.color);
                                $("#loomType").text(data.comExPiDetails.style.fabcodeNavigation.loom.looM_TYPE_NAME);
                                $("#orderNo").text(data.comExPiDetails.sO_NO);
                                $("#ratio").text(data.plProductionSetDistribution.subgroup.ratio);
                                $("#totalEnds").text(data.plProductionSetDistribution.proG_.blK_PROG_.rndProductionOrder.totaL_ENOS);
                                $("#setLength").text(data.plProductionSetDistribution.proG_.seT_QTY);
                                $("#poNo").text(data.comExPiDetails.pimaster.pino);


                                $("#FPrFinishingBeamReceive_BEAMID").html('');
                                $("#FPrFinishingBeamReceive_BEAMID").append('<option value="" selected>Select Beam</option>');

                                $.each(data.plProductionSetDistribution.f_PR_WEAVING_PROCESS_MASTER_B,
                                    function (id, option) {
                                        $.each(option.f_PR_WEAVING_PROCESS_BEAM_DETAILS_B,
                                            function (id, opt) {
                                                if (data.plProductionSetDistribution.subgroup.group.rnD_DYEING_TYPE.dtype === 'Rope') {
                                                    $("#FPrFinishingBeamReceive_BEAMID").append($('<option></option>').val(opt.wV_BEAMID).html(opt.f_PR_SIZING_PROCESS_ROPE_DETAILS.w_BEAM.beaM_NO));
                                                }
                                                else if(data.plProductionSetDistribution.subgroup.group.rnD_DYEING_TYPE.dtype === 'Slasher') {
                                                    $("#FPrFinishingBeamReceive_BEAMID").append($('<option></option>').val(opt.wV_BEAMID).html(opt.f_PR_SLASHER_DYEING_DETAILS.w_BEAM.beaM_NO));
                                                }
                                            });
                                    });
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });

            $("#FPrFinishingBeamReceive_BEAMID").on('change',
                function () {
                    var selectedVal = $(this).val();
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "beamId": selectedVal },
                        type: "GET",
                        url: "/FPrFinishingBeamReceive/GetBeamDetails",
                        success: function (data, status, xhr) {

                            console.log(data);
                            var doffData = "";
                            $.each(data.f_PR_WEAVING_PROCESS_DETAILS_B,
                                function (id, option) {
                                    var isReceived = "";
                                    if (option.iS_RECEIVED_BY_FINISHING) {
                                        isReceived = "  <div class=\"round_gol\"><input type=\"checkbox\" name=\"" + option.looM_NO + "_" + option.dofF_TIME + "\" id=\"" + option.looM_NO + "_" + option.dofF_TIME + "\" checked disabled/><label for=\"" + option.looM_NO + "_" + option.dofF_TIME + "\"></label></div>";
                                    }
                                    else {
                                        isReceived = "<div class=\"round_gol\"><input onclick=\"doApprove('" + option.trnsid + "')\" type=\"checkbox\" name=\"" + option.looM_NO + "_" + option.dofF_TIME + "\" id=\"" + option.looM_NO + "_" + option.dofF_TIME + "\"/><label for=\"" + option.looM_NO + "_" + option.dofF_TIME + "\"></label></div>";
                                    }
                                    if (option.iS_DELIVERABLE) {

                                        var otherDoff = option.otherS_DOFF === null ? '' : option.otheR_DOFF.name;
                                        var samplE_FABCODE = option.samplE_FABCODE === null ? '' : option.samplE_FABCODE;
                                        var dofferName = option.doffeR_NAMENavigation === null ? '' : option.doffeR_NAMENavigation.firsT_NAME + " " + option.doffeR_NAMENavigation.lasT_NAME;
                                        var tr = "<tr>" +
                                            " <td> " + option.looM_NONavigation.looM_NO + " </td > " +
                                            " <td> " + option.looM_TYPENavigation.looM_TYPE_NAME + " </td> " +
                                            " <td> " + option.lengtH_BULK + " </td> " +
                                            " <td> " + option.dofF_TIME + " </td> " +
                                            " <td> " + option.shift + " </td> " +
                                            " <td> " + dofferName + " </td> " +
                                            " <td> " + otherDoff + " </td> " +
                                            " <td> " + samplE_FABCODE + " </td> " +
                                            " <td> " + option.remarks + " </td> " +
                                            " <td> " + isReceived + " </td> " +
                                            "</tr >";
                                        doffData += tr;
                                    }
                                });

                            $("#doffDetails").html(doffData);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });
        });
    </script>
}