
@model CreateFSampleFabricDispatchMasterViewModel

@{
    ViewData["Title"] = "Sample Fabric Dispatch";
}

<div class="container-fluid">

    <h2><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

    <form id="form" role="form" asp-action="PostCreateFSampleFabricDispatchMaster" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-body row">

                <div class="col-12 p-0">
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 float-left">
                        <div class="form-group">
                            <input asp-for="FSampleFabricDispatchMaster.IS_CANCELLED" class="form-control js-switch js-check-change" />
                            <label asp-for="FSampleFabricDispatchMaster.IS_CANCELLED" class="control-label"></label>
                            <span asp-validation-for="FSampleFabricDispatchMaster.IS_CANCELLED" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 float-right">
                        <div class="form-group">
                            <label asp-for="FSampleFabricDispatchMaster.CAUSE_OF_CANCEL" class="control-label"></label>
                            <input asp-for="FSampleFabricDispatchMaster.CAUSE_OF_CANCEL" class="form-control" />
                            <span asp-validation-for="FSampleFabricDispatchMaster.CAUSE_OF_CANCEL" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchMaster.GPNO" class="control-label"></label>
                        <input asp-for="FSampleFabricDispatchMaster.GPNO" class="form-control" readonly="readonly" />
                        <span asp-validation-for="FSampleFabricDispatchMaster.GPNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchMaster.GPDATE" class="control-label"></label>
                        <input asp-for="FSampleFabricDispatchMaster.GPDATE" class="form-control" />
                        <span asp-validation-for="FSampleFabricDispatchMaster.GPDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchMaster.GPTYPE.GPTYPENAME" class="control-label"></label>
                        @Html.DropDownListFor(lc => lc.FSampleFabricDispatchMaster.GPTYPEID, new SelectList(Model.GatepassTypes, "GPTYPEID", "GPTYPENAME", Model.GatepassTypes.FirstOrDefault()?.GPTYPEID), "Select a Gate Pass Type", htmlAttributes: new { @class = "form-control js-example-data-ajax" })
                        <span asp-validation-for="FSampleFabricDispatchMaster.GPTYPEID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchMaster.DR.DRIVER_NAME" class="control-label"></label>
                        @Html.DropDownListFor(lc => lc.FSampleFabricDispatchMaster.DRID, new SelectList(Model.FBasDriverinfos, "DRID", "DRIVER_NAME"), "Select a Driver", htmlAttributes: new { @class = "form-control js-example-data-ajax" })
                        <span asp-validation-for="FSampleFabricDispatchMaster.DRID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchMaster.V.VNUMBER" class="control-label"></label>
                        @Html.DropDownListFor(lc => lc.FSampleFabricDispatchMaster.VID, new SelectList(Model.FBasVehicleInfos, "VID", "VNUMBER"), "Select a Vehicle Number", htmlAttributes: new { @class = "form-control js-example-data-ajax" })
                        <span asp-validation-for="FSampleFabricDispatchMaster.VID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchMaster.REMARKS" class="control-label"></label>
                        <input asp-for="FSampleFabricDispatchMaster.REMARKS" class="form-control" />
                        <span asp-validation-for="FSampleFabricDispatchMaster.REMARKS" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-hand-o-right"></i> Dispatch Details</h2>
                    <hr />
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchDetails.FSampleFabricRcvD.SITEM.NAME" class="control-label"></label>
                        @Html.DropDownListFor(e => e.FSampleFabricDispatchDetails.TRNSID, new SelectList(Model.FSampleFabricRcvDs, "TRNSID", "SITEM.NAME"), "Select an Item Name.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FSampleFabricDispatchDetails.TRNSID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchDetails.TEAM.PERSON_NAME" class="control-label"></label>
                        @Html.DropDownListFor(e => e.FSampleFabricDispatchDetails.MKT_TEAMID, new SelectList(Model.MktTeams, "MKT_TEAMID", "PERSON_NAME"), "Select A Team Person", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FSampleFabricDispatchDetails.MKT_TEAMID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchDetails.BYERID" class="control-label"></label>
                        @Html.DropDownListFor(e => e.FSampleFabricDispatchDetails.BYERID, new SelectList(Model.BasBuyerinfos, "BUYERID", "BUYER_NAME"), "Select A Buyer", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FSampleFabricDispatchDetails.BYERID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchDetails.REQ_QTY" class="control-label"></label>
                        <input asp-for="FSampleFabricDispatchDetails.REQ_QTY" class="form-control" />
                        <span asp-validation-for="FSampleFabricDispatchDetails.REQ_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchDetails.DEL_QTY" class="control-label"></label>
                        <input asp-for="FSampleFabricDispatchDetails.DEL_QTY" class="form-control" />
                        <span asp-validation-for="FSampleFabricDispatchDetails.DEL_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchDetails.UID" class="control-label"></label>
                        @Html.DropDownListFor(e => e.FSampleFabricDispatchDetails.UID, new SelectList(Model.FBasUnitses, "UID", "UNAME", Model.FBasUnitses.FirstOrDefault()?.UID), "Select An Unit", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FSampleFabricDispatchDetails.UID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchDetails.REMARKS" class="control-label"></label>
                        <input asp-for="FSampleFabricDispatchDetails.REMARKS" class="form-control" />
                        <span asp-validation-for="FSampleFabricDispatchDetails.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchDetails.BUYER_REF" class="control-label"></label>
                        <input asp-for="FSampleFabricDispatchDetails.BUYER_REF" class="form-control" />
                        <span asp-validation-for="FSampleFabricDispatchDetails.BUYER_REF" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchDetails.STYPE.STYPE" class="control-label"></label>
                        @Html.DropDownListFor(e => e.FSampleFabricDispatchDetails.STYPEID, new SelectList(Model.FSampleFabricDispatchSampleTypes, "STYPEID", "STYPE"), "Select A Sample Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FSampleFabricDispatchDetails.STYPEID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchDetails.ATT_PERSON" class="control-label"></label>
                        <input asp-for="FSampleFabricDispatchDetails.ATT_PERSON" class="form-control" />
                        <span asp-validation-for="FSampleFabricDispatchDetails.ATT_PERSON" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FSampleFabricDispatchDetails.BRANDID" class="control-label"></label>
                        @Html.DropDownListFor(e => e.FSampleFabricDispatchDetails.BRANDID, new SelectList(Model.BasBrandinfos, "BRANDID", "BRANDNAME"), "Select A Brand", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FSampleFabricDispatchDetails.BRANDID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="StyleInfo"></div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success pull-right" type="submit">Create</button>
                    <button id="btnAdd" class="btn btn-success pull-right" type="button">Add</button>
                    <a class="btn btn-dark pull-right" asp-action="GetFSampleFabricDispatchMaster">Back to List</a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" id="FSampleFabricDispatchDetails"></div>
            </div>
        </div>
    </form>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/switchery/switchery.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/FSampleFabricDispatchMaster/CreateFSampleFabricDispatchMaster.js"></script>
    <script asp-append-version="true" src="~/lib/switchery/switchery.js"></script>
}