
@model CreateFSampleFabricDispatchMasterViewModel

<div asp-validation-summary="All"></div>

@if (Model.FSampleFabricDispatchDetailses.Any())
{
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(e => e.FSampleFabricDispatchDetails.FSampleFabricRcvD.SITEM.NAME)</th>
                <th>@Html.DisplayNameFor(e => e.FSampleFabricDispatchDetails.TEAM.PERSON_NAME)</th>
                <th>@Html.DisplayNameFor(e => e.FSampleFabricDispatchDetails.BRAND.BRANDNAME)</th>
                <th>@Html.DisplayNameFor(e => e.FSampleFabricDispatchDetails.REQ_QTY)</th>
                <th>@Html.DisplayNameFor(e => e.FSampleFabricDispatchDetails.DEL_QTY)</th>
                <th>@Html.DisplayNameFor(e => e.FSampleFabricDispatchDetails.UNIT.UNAME)</th>
                <th>@Html.DisplayNameFor(e => e.FSampleFabricDispatchDetails.REMARKS)</th>
                <th>@Html.DisplayNameFor(e => e.FSampleFabricDispatchDetails.BUYER_REF)</th>
                <th>@Html.DisplayNameFor(e => e.FSampleFabricDispatchDetails.STYPE.STYPE)</th>
                <th>@Html.DisplayNameFor(e => e.FSampleFabricDispatchDetails.ATT_PERSON)</th>
                <th>Vendor Name)</th>
                <th>@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FSampleFabricDispatchDetailses.Count; i++)
            {
                <tr>
                    <td>@Html.Raw(Model.FSampleFabricDispatchDetailses[i].DPDID > 0 ? $"<i class=\"fa fa-database text-danger\" aria-hidden=\"true\"></i> {i + 1}" : $"<i class=\"fa fa-plus-circle text-success\" aria-hidden=\"true\"></i> {i + 1}")</td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].TRNSID)
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].DPDID)
                        @Model.FSampleFabricDispatchDetailses[i].FSampleFabricRcvD?.SITEM?.NAME
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].MKT_TEAMID)
                        @Model.FSampleFabricDispatchDetailses[i].TEAM?.PERSON_NAME
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].BRANDID)
                        @Model.FSampleFabricDispatchDetailses[i].BRAND?.BRANDNAME
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].REQ_QTY)
                        @Model.FSampleFabricDispatchDetailses[i].REQ_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].DEL_QTY)
                        @Model.FSampleFabricDispatchDetailses[i].DEL_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].UID)
                        @Model.FSampleFabricDispatchDetailses[i].UNIT?.UNAME
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].REMARKS)
                        @Model.FSampleFabricDispatchDetailses[i].REMARKS
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].BUYER_REF)
                        @Model.FSampleFabricDispatchDetailses[i].BUYER_REF
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].STYPEID)
                        @Model.FSampleFabricDispatchDetailses[i].STYPE?.STYPE
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].ATT_PERSON)
                        @Model.FSampleFabricDispatchDetailses[i].ATT_PERSON
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.FSampleFabricDispatchDetailses[i].BYERID)
                        @Model.FSampleFabricDispatchDetailses[i].BUYER?.BUYER_NAME
                    </td>
                    <td><i class="fa fa-trash fa-lg text-danger" onclick="removeFromList(@i)" aria-hidden="true"></i></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Empty!</strong> Please add data to see the list.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}