
@model CreateFSampleFabricDispatchMasterViewModel

@{
    ViewData["Title"] = "Sample Fabric Dispatch";
}

@{
    if (Model != null)
    {
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <h2 class="text-white btn btn-info">@Html.DisplayNameFor(e => e.FSampleFabricDispatchMaster.GPNO) : [ @Html.DisplayFor(e => e.FSampleFabricDispatchMaster.GPNO) ]</h2>
                    <hr />
                </div>

                <div class="col-12 row">
                    <div class="col-4">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FSampleFabricDispatchMaster.IS_CANCELLED" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FSampleFabricDispatchMaster.IS_CANCELLED)
                            </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <strong>
                                <label asp-for="FSampleFabricDispatchMaster.CAUSE_OF_CANCEL" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.FSampleFabricDispatchMaster.CAUSE_OF_CANCEL)
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="col-12">
                    <hr />
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <strong>
                            <label asp-for="FSampleFabricDispatchMaster.GPDATE" class="control-label"></label>
                        </strong>
                        <span class="custom-form-control form-control bg-e9ecef">
                            @Html.DisplayFor(model => model.FSampleFabricDispatchMaster.GPDATE)
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <strong>
                            <label asp-for="FSampleFabricDispatchMaster.GPTYPE.GPTYPENAME" class="control-label"></label>
                        </strong>
                        <span class="custom-form-control form-control bg-e9ecef">
                            @Html.DisplayFor(model => model.FSampleFabricDispatchMaster.GPTYPE.GPTYPENAME)
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <strong>
                            <label asp-for="FSampleFabricDispatchMaster.DR.DRIVER_NAME" class="control-label"></label>
                        </strong>
                        <span class="custom-form-control form-control bg-e9ecef">
                            @Html.DisplayFor(model => model.FSampleFabricDispatchMaster.DR.DRIVER_NAME)
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <strong>
                            <label asp-for="FSampleFabricDispatchMaster.V.VNUMBER" class="control-label"></label>
                        </strong>
                        <span class="custom-form-control form-control bg-e9ecef">
                            @Html.DisplayFor(model => model.FSampleFabricDispatchMaster.V.VNUMBER)
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <strong>
                            <label asp-for="FSampleFabricDispatchMaster.REMARKS" class="control-label"></label>
                        </strong>
                        <span class="custom-form-control form-control bg-e9ecef">
                            @Html.DisplayFor(model => model.FSampleFabricDispatchMaster.REMARKS)
                        </span>
                    </div>
                </div>

                <div class="col-12 table-responsive">
                    @await Html.PartialAsync($"~/Views/FSampleFabricDispatchMaster/DetailsFSampleFabricDispatchMasterTable.cshtml", Model)
                </div>

                <div class="col-md-12">
                    <a asp-action="EditFSampleFabricDispatchMaster" asp-controller="FSampleFabricDispatchMaster" asp-route-dpId="@Model.FSampleFabricDispatchMaster.EncryptedId" class="btn btn-warning pull-right">Edit</a>
                    <a asp-action="GetFSampleFabricDispatchMaster" asp-controller="FSampleFabricDispatchMaster" class="btn btn-dark pull-right">Back to List</a>
                </div>
            </div>
        </div>
    }
}