
@model FPrReconeMasterViewModel

@if (Model.ReconeYarnConsumptionList.Any())
{
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.F_PR_RECONE_YARN_CONSUMPTION.COUNTID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.F_PR_RECONE_YARN_CONSUMPTION.CONSUMP)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.F_PR_RECONE_YARN_CONSUMPTION.REMARKS)</th>
                <th scope="col">@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.ReconeYarnConsumptionList.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.HiddenFor(model => model.ReconeYarnConsumptionList[i].COUNTID)
                        @Html.DisplayFor(modelItem => Model.ReconeYarnConsumptionList[i].COUNTID)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.ReconeYarnConsumptionList[i].CONSUMP)
                        @Model.ReconeYarnConsumptionList[i].CONSUMP
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.ReconeYarnConsumptionList[i].REMARKS)
                        @Model.ReconeYarnConsumptionList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="RemoveFPrYarnConsumption('@i')" aria-hidden="true"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}