
@model FChemStoreReceiveViewModel

@if (Model.FChemStoreReceiveDetailsList.Any())
{
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreReceiveDetails.PRODUCTID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreReceiveDetails.CINDID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreReceiveDetails.BATCHNO)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreReceiveDetails.MNGDATE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreReceiveDetails.EXDATE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreReceiveDetails.FRESH_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreReceiveDetails.REJ_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FChemStoreReceiveDetails.REMARKS)</th>
                <th scope="col">@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>

            @for (var i = 0; i < Model.FChemStoreReceiveDetailsList.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].CHEMRCVID)
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].TRNSID)
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].ADJUSTED_WITH)
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].UNIT)
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].CINDDATE)
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].INVQTY)
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].RATE)
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].CURRENCY)
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].AMOUNT)

                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].PRODUCTID)
                        @Model.FChemStoreReceiveDetailsList[i].FChemStoreProductinfo?.PRODUCTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].CINDID)
                        @Model.FChemStoreReceiveDetailsList[i].CINDID
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].BATCHNO)
                        @Model.FChemStoreReceiveDetailsList[i].BATCHNO
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].MNGDATE)
                        @Html.DisplayFor(modelItem => Model.FChemStoreReceiveDetailsList[i].MNGDATE)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].EXDATE)
                        @Html.DisplayFor(modelItem => Model.FChemStoreReceiveDetailsList[i].EXDATE)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].FRESH_QTY)
                        @Model.FChemStoreReceiveDetailsList[i].FRESH_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].REJ_QTY)
                        @Model.FChemStoreReceiveDetailsList[i].REJ_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FChemStoreReceiveDetailsList[i].REMARKS)
                        @Model.FChemStoreReceiveDetailsList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="RemoveIndent(@i)" aria-hidden="false"></i>
                    </td>
                </tr>
            }
            <tr class="bg-info text-white">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right"><i class="fa fa-cart-plus" aria-hidden="true"></i> @Html.DisplayName("Sum Of Total :")</td>
                <td class="">@($"{Model.FChemStoreReceiveDetailsList.Sum(e => e.FRESH_QTY)}")</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
}