
@model FYsYarnIssueViewModel

@{
    ViewData["Title"] = "Yarn Issue";
}

<h2><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" enctype="multipart/form-data" role="form" asp-action="PostCreateIssue">
        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-hourglass-half" aria-hidden="true"></i> @ViewData["Title"] Master Information</h2>
                    <hr />
                </div>
                <div id="ysrdate" class="col-lg-2 col-md-3 col-sm-6 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="FYarnReqMaster.YSRDATE" class="control-label"></label>
                        <input asp-for="FYarnReqMaster.YSRDATE" class="form-control" />
                        <span asp-validation-for="FYarnReqMaster.YSRDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueMaster.INDENT_TYPE" class="control-label"></label>
                        <select asp-for="YarnIssueMaster.INDENT_TYPE" class="form-control js-example-basic-single ">
                            <option value="0" selected="selected">Bulk</option>
                            <option value="1">Sample</option>
                        </select>
                        <span asp-validation-for="YarnIssueMaster.INDENT_TYPE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueMaster.YISSUEDATE" class="control-label"></label>
                        <input asp-for="YarnIssueMaster.YISSUEDATE" class="form-control " />
                        <span asp-validation-for="YarnIssueMaster.YISSUEDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueMaster.ISSUEID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.YarnIssueMaster.ISSUEID, new SelectList(Model.IssueTypeList, "ISSUID", "ISSUTYPE"), "Select Issue Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="YarnIssueMaster.ISSUEID" class="text-danger"></span>
                    </div>
                </div>
                <div id="yarnReqDD" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueMaster.YSRID" class="control-label"></label>
                        <select asp-for="YarnIssueMaster.YSRID" class="form-control js-example-basic-single">
                            <option value="">Select Requirement No.</option>
                        </select>
                        <span asp-validation-for="YarnIssueMaster.YSRID" class="text-danger"></span>
                    </div>
                </div>
                <div id="issuetoDev" class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueMaster.ISSUETO" class="control-label"></label>
                        <input asp-for="YarnIssueMaster.ISSUETO" class="form-control " />
                        <span asp-validation-for="YarnIssueMaster.ISSUETO" class="text-danger"></span>
                    </div>
                </div>
                <div id="purposeDEV" class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueMaster.PURPOSE" class="control-label"></label>
                        <input asp-for="YarnIssueMaster.PURPOSE" class="form-control " />
                        <span asp-validation-for="YarnIssueMaster.PURPOSE" class="text-danger"></span>
                    </div>
                </div>
                <div id="isreturnableDev" class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueMaster.ISREMARKABLE" class="control-label"></label>
                        <select class="form-control js-example-basic-single" asp-for="YarnIssueMaster.ISREMARKABLE">
                            <option value="">Select Return Type-</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueMaster.REMARKS" class="control-label"></label>
                        <input asp-for="YarnIssueMaster.REMARKS" class="form-control " />
                        <span asp-validation-for="YarnIssueMaster.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                @*<table class="table">
            <thead>
                <tr>
                    <th>Order No</th>
                    <th>Count Name</th>
                    <th>Required Lot</th>
                    <th>Required Qty</th>
                </tr>
            </thead>
            <tbody id="countlist">
            </tbody>
        </table>*@


                <table class="table table-hover" id="countlist">
                    @*<tbody id="rollList"></tbody>*@
                </table>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-eye"></i> @ViewData["Title"] Details</h2>
                    <hr />
                </div>
                @*@Html.HiddenFor(c => c.YarnIssueDetails.REQ_DET_ID)*@
                @Html.HiddenFor(c => c.YarnIssueDetails.TRNSDATE)


                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="YarnIssueDetails.MAIN_COUNTID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.YarnIssueDetails.MAIN_COUNTID, new SelectList(Model.CountNameList, "COUNTID", "RND_COUNTNAME"), "Select Ref. Count", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="YarnIssueDetails.MAIN_COUNTID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueDetails.REQ_DET_ID" class="control-label"></label>
                        <select class="form-control js-example-basic-single" asp-for="YarnIssueDetails.REQ_DET_ID">
                            <option value="">Select Count Name</option>
                        </select>
                        <span asp-validation-for="YarnIssueDetails.REQ_DET_ID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueDetails.BasYarnCountinfo.COUNTNAME" class="control-label"></label>
                        <select class="form-control js-example-basic-single" asp-for="YarnIssueDetails.COUNTID">
                            <option value="">Select Count</option>
                        </select>
                        <span asp-validation-for="YarnIssueDetails.COUNTID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueDetails.RCVDID" class="control-label"></label>
                        <select asp-for="YarnIssueDetails.RCVDID" class="form-control js-example-basic-single">
                            <option value="">Select Indent No</option>
                        </select>
                        <span asp-validation-for="YarnIssueDetails.RCVDID" class="text-danger"></span>
                    </div>
                </div>
                @Html.HiddenFor(c => c.YarnIssueDetails.LOTID)
                @*<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 d-none">
            <div class="form-group">
                <label asp-for="YarnIssueDetails.LOT.LOTNO" class="control-label"></label>
                <select asp-for="YarnIssueDetails.LOTID" class="form-control js-example-basic-single">
                    <option value="">Select Lot</option>
                </select>
                <span asp-validation-for="YarnIssueDetails.LOTID" class="text-danger"></span>
            </div>
        </div>*@
                <div id="reqQtyDiv" class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueDetails.TRANS.REQ_QTY" class="control-label"></label>
                        <input asp-for="YarnIssueDetails.TRANS.REQ_QTY" class="form-control " readonly="" />
                        <span asp-validation-for="YarnIssueDetails.TRANS.REQ_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueDetails.BAG" class="control-label"></label>
                        <input asp-for="YarnIssueDetails.BAG" class="form-control " />
                        <span asp-validation-for="YarnIssueDetails.BAG" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueDetails.ISSUE_QTY" class="control-label"></label>
                        <input asp-for="YarnIssueDetails.ISSUE_QTY" class="form-control " />
                        <span asp-validation-for="YarnIssueDetails.ISSUE_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueDetails.FYsLocation.LOCNAME" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.YarnIssueDetails.LOCATIONID, new SelectList(Model.FYsLocationList, "LOCID", "LOCNAME"), "Select Location", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="YarnIssueDetails.LOCATIONID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueDetails.UNIT" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.YarnIssueDetails.UNIT, new SelectList(Model.BasUnits, "UID", "UNAME", Model.BasUnits.FirstOrDefault()!.UID), "Select An Unit", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="YarnIssueDetails.UNIT" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 d-none" id="order">
            <div class="form-group">
                <label asp-for="YarnIssueDetails.SO_NO" class="control-label"></label>
                @Html.DropDownListFor(dt => dt.YarnIssueDetails.SO_NO, new SelectList(Model.RndProductionOrders, "POID", "OPT1"), "Select Order", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                <span asp-validation-for="YarnIssueDetails.SO_NO" class="text-danger"></span>
            </div>
        </div>*@
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="YarnIssueDetails.REMARKS" class="control-label"></label>
                        <input asp-for="YarnIssueDetails.REMARKS" class="form-control " />
                        <span asp-validation-for="YarnIssueDetails.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success pull-right" type="submit">Create</button>
                    <button id="addToList" class="btn btn-info pull-right" type="button">Add</button>
                    <a asp-action="GetFYsYarnIssue" class="btn btn-dark pull-right">Back to List</a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" id="yarnIssueDetailsPartialView"></div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />

}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/site-common.js"></script>
    <script asp-append-version="true" src="~/js/YarnIssue/CreateYarnIssue.js"></script>
}