
@model FYsYarnIssueViewModel

@if (Model.YarnIssueDetailsList.Any())
{
    <div class="col-12 table-responsive">
        <h2 class="panel-title text-success"><i class="fa fa-truck fa-flip-horizontal"></i> Receive Details</h2>
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                @*<th>@Html.DisplayNameFor(model => model.YarnIssueDetails.TRNSDATE)</th>*@
                <th>@Html.DisplayNameFor(model => model.YarnIssueDetails.BasYarnCountinfo.COUNTNAME)</th>
                <th>@Html.DisplayNameFor(model => model.YarnIssueDetails.FBasUnits.UNAME)</th>
                <th>@Html.DisplayNameFor(model => model.YarnIssueDetails.ISSUE_QTY)</th>
                <th>@Html.DisplayNameFor(model => model.YarnIssueDetails.REMARKS)</th>
            </tr>
            </thead>
            <tbody>

            @{
                foreach (var item in Model.YarnIssueDetailsList.Select((value, index) => new { index, value }))
                {
                    <tr>
                        <td>@(item.index + 1) </td>
                        @*<td>@Html.DisplayFor(modelItem => item.value.TRNSDATE)</td>*@
                        <td>@Html.DisplayFor(modelItem => item.value.BasYarnCountinfo.RND_COUNTNAME)</td>
                        <td>@Html.DisplayFor(modelItem => item.value.FBasUnits.UNAME)</td>
                        <td>@Html.DisplayFor(modelItem => item.value.ISSUE_QTY)</td>
                        <td>@Html.DisplayFor(modelItem => item.value.REMARKS)</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
}