
@model FYsYarnIssueViewModel

@{
    ViewData["Title"] = "Details Yarn Issue";
    Layout = Layout;
}

@{
    if (Model.YarnIssueMaster != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-white btn btn-info">@Html.DisplayNameFor(e => e.YarnIssueMaster.YISSUEDATE) : [ @Html.DisplayFor(e => e.YarnIssueMaster.YISSUEDATE) ]</h2>
                        <hr />
                    </div>
                </div>
                <div class="row details">
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="YarnIssueMaster.YISSUEDATE" class="control-label font-weight-bold"></label>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.YarnIssueMaster.YISSUEDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="YarnIssueMaster.ISSUE.ISSUTYPE" class="control-label font-weight-bold"></label>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.YarnIssueMaster.ISSUE.ISSUTYPE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="YarnIssueMaster.YSR.YSRNO" class="control-label font-weight-bold"></label>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.YarnIssueMaster.YSR.YSRNO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="YarnIssueMaster.ISSUETO" class="control-label font-weight-bold"></label>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.YarnIssueMaster.ISSUETO)
                            </span>
                        </div>
                    </div>

                    @await Html.PartialAsync($"~/Views/FYsYarnIssue/DetailsFYsYarnIssueTable.cshtml", Model)

                </div>

                <div class="col-md-12">
                    <a asp-action="EditFYsYarnIssue" asp-controller="FYsYarnIssue" asp-route-yIssueId="@Model.YarnIssueMaster.EncryptedId" class="btn btn-warning pull-right">Edit</a>
                    <a asp-action="GetFYsYarnIssue" asp-controller="FYsYarnIssue" class="btn btn-dark pull-right">Back to List</a>
                </div>
            </div>
        </div>
    }
}