@model F_GS_WASTAGE_RECEIVE_M

@{
    ViewData["Title"] = "General Store Wastage Receive Information";
}

@{
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <i class="fa fa-list fa-lg text-info" aria-hidden="true"> @ViewData["Title"]</i>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="mr-2">
                    <p>
                        <a asp-action="CreateFGsWastageReceiveInfo" class="btn btn-primary" accesskey="a"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a>
                    </p>
                </li>
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content table-responsive table-hover">
            <table class="table" id="table">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.WRDATE)</th>
                        <th>@Html.DisplayNameFor(model => model.SEC.SECNAME)</th>
                        <th>@Html.DisplayNameFor(model => model.WTRNO)</th>
                        <th>@Html.DisplayNameFor(model => model.WTRDATE)</th>
                        <th>@Html.DisplayNameFor(model => model.REMARKS)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
}

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/FGsWastageReceive/GetFGsWastageReceiveInfo.js"></script>

}
