@model ComExScInfoViewModel

@if (Model.cOM_EX_SCDETAILs.Any())
{
    <table class="table mt-2">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(model => model.cOM_EX_SCDETAILS.STYLE.STYLENAME)</th>
                <th>@Html.DisplayNameFor(model => model.cOM_EX_SCDETAILS.UNIT)</th>
                <th>@Html.DisplayNameFor(model => model.cOM_EX_SCDETAILS.QTY)</th>
                <th>@Html.DisplayNameFor(model => model.cOM_EX_SCDETAILS.RATE)</th>
                <th>@Html.DisplayNameFor(model => model.cOM_EX_SCDETAILS.AMOUNT)</th>
                <th>@Html.DisplayNameFor(model => model.cOM_EX_SCDETAILS.REMARKS)</th>
                <th>@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.cOM_EX_SCDETAILs.Count(); i++)
            {
                <tr>
                    <td>@Html.Raw(Model.cOM_EX_SCDETAILs[i].TRNSID > 0 ? $"<i class=\"fa fa-database text-danger\" aria-hidden=\"true\"></i> {i + 1}" : $"<i class=\"fa fa-plus-circle text-success\" aria-hidden=\"true\"></i> {i + 1}")</td>
                    <td>
                        @Html.HiddenFor(clc => clc.cOM_EX_SCDETAILs[i].SCNO)
                        @Html.HiddenFor(clc => clc.cOM_EX_SCDETAILs[i].STYLEID)
                        @Html.HiddenFor(clc => clc.cOM_EX_SCDETAILs[i].STYLENAME)
                        @Model.cOM_EX_SCDETAILs[i].STYLENAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.cOM_EX_SCDETAILs[i].UNIT)
                        @Model.cOM_EX_SCDETAILs[i].UNIT
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.cOM_EX_SCDETAILs[i].QTY)
                        @Model.cOM_EX_SCDETAILs[i].QTY
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.cOM_EX_SCDETAILs[i].RATE)
                        @Model.cOM_EX_SCDETAILs[i].RATE
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.cOM_EX_SCDETAILs[i].AMOUNT)
                        @Model.cOM_EX_SCDETAILs[i].AMOUNT
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.cOM_EX_SCDETAILs[i].REMARKS)
                        @Model.cOM_EX_SCDETAILs[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="RemoveScDetails(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script type="text/javascript" asp-append-version="true">
    function RemoveScDetails(removeIndexValue) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/ComExScInfo/RemoveScFromList',
            success: function (partialView) {
                $('#scDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>