@model ComExScInfoViewModel
@{
    ViewData["Title"] = "DetailsScInfo";
    Layout = Layout;
}

<h2><i class="fa fa-info-circle fa-lg text-info" aria-hidden="true"></i> Local Sales Contact Details</h2>


<hr />
<div class="container-fluid">
    <div class="panel panel-default">
        @*<div class="panel-heading">
                <h3 class="panel-title">Fabric Information</h3>
            </div>*@
        <div class="panel-body row">
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.SCDATE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.SCDATE)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.SCNO" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.SCNO)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.SCPERSON" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.SCPERSON)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.SCPHONE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.SCPHONE)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.SCEMAIL" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.SCEMAIL)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.BUYERID" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.BUYER.BUYER_NAME)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.BCPERSON" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.BCPERSON)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.BCPHONE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.BCPHONE)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.BCEMAIL" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.BCEMAIL)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.CURRENCY" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.CURRENCY)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.DELDATE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.DELDATE)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.CON_VAL" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.CON_VAL)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.INIDEPOSIT" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.INIDEPOSIT)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.TRNSFARE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.TRNSFARE)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.DEL_STARTDATE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.DEL_STARTDATE)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.DEL_CLOSEDATE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.DEL_CLOSEDATE)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.DEV_CODE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.DEV_CODE)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.FAB_PROCESS" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.FAB_PROCESS)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.EXTRA_PROCESS" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.EXTRA_PROCESS)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.INSPECTION" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.INSPECTION)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.LPONOTE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.LPONOTE)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.CONTRACTNOTE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.CONTRACTNOTE)
                    </span>
                </div>
            </div>
            <div class="pl-1 col-12">
                <h2 class="panel-title text-success">Yarn Provided By</h2>
                <hr />
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.WARP_PROVBY" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.WARP_PROVBY)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.WEFT_PROVBY" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.WEFT_PROVBY)
                    </span>
                </div>
            </div>
            <div class="pl-1 col-12">
                <h2 class="panel-title text-success">Below Item Provided By Buyer?</h2>
                <hr />
            </div>
            <form id="form" role="form">
                <div class="panel panel-default setup-content">
                    <div class="panel-body row">
                        <div class="col-2">
                            <div class="form-group">
                                <strong>
                                    <label asp-for="cOM_EX_SCINFO.ISPROV_CHEM" class="control-label"></label>
                                </strong>
                                <div class="form-control custom-form-control">
                                    <label class="switch">
                                        <input asp-for="cOM_EX_SCINFO.ISPROV_CHEM" disabled/>
                                        <span class="slider round"></span>
                                        <span class="absolute-no">NO</span>
                                    </label>
                                </div>
                                <span asp-validation-for="cOM_EX_SCINFO.ISPROV_CHEM" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <strong>
                                    <label asp-for="cOM_EX_SCINFO.ISWARPING" class="control-label"></label>
                                </strong>
                                <div class="form-control custom-form-control">
                                    <label class="switch">
                                        <input asp-for="cOM_EX_SCINFO.ISWARPING" disabled />
                                        <span class="slider round"></span>
                                        <span class="absolute-no">NO</span>
                                    </label>
                                </div>
                                <span asp-validation-for="cOM_EX_SCINFO.ISWARPING" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <strong>
                                    <label asp-for="cOM_EX_SCINFO.ISDYEING" class="control-label"></label>
                                </strong>
                                <div class="form-control custom-form-control">
                                    <label class="switch">
                                        <input asp-for="cOM_EX_SCINFO.ISDYEING" disabled />
                                        <span class="slider round"></span>
                                        <span class="absolute-no">NO</span>
                                    </label>
                                </div>
                                <span asp-validation-for="cOM_EX_SCINFO.ISDYEING" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <strong>
                                    <label asp-for="cOM_EX_SCINFO.ISLCB" class="control-label"></label>
                                </strong>
                                <div class="form-control custom-form-control">
                                    <label class="switch">
                                        <input asp-for="cOM_EX_SCINFO.ISLCB" disabled />
                                        <span class="slider round"></span>
                                        <span class="absolute-no">NO</span>
                                    </label>
                                </div>
                                <span asp-validation-for="cOM_EX_SCINFO.ISLCB" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <strong>
                                    <label asp-for="cOM_EX_SCINFO.ISSIZING" class="control-label"></label>
                                </strong>
                                <div class="form-control custom-form-control">
                                    <label class="switch">
                                        <input asp-for="cOM_EX_SCINFO.ISSIZING" disabled />
                                        <span class="slider round"></span>
                                        <span class="absolute-no">NO</span>
                                    </label>
                                </div>
                                <span asp-validation-for="cOM_EX_SCINFO.ISSIZING" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <strong>
                                    <label asp-for="cOM_EX_SCINFO.ISWEAVING" class="control-label"></label>
                                </strong>
                                <div class="form-control custom-form-control">
                                    <label class="switch">
                                        <input asp-for="cOM_EX_SCINFO.ISWEAVING" disabled />
                                        <span class="slider round"></span>
                                        <span class="absolute-no">NO</span>
                                    </label>
                                </div>
                                <span asp-validation-for="cOM_EX_SCINFO.ISWEAVING" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <strong>
                                    <label asp-for="cOM_EX_SCINFO.ISOVERDYEING" class="control-label"></label>
                                </strong>
                                <div class="form-control custom-form-control">
                                    <label class="switch">
                                        <input asp-for="cOM_EX_SCINFO.ISOVERDYEING" disabled />
                                        <span class="slider round"></span>
                                        <span class="absolute-no">NO</span>
                                    </label>
                                </div>
                                <span asp-validation-for="cOM_EX_SCINFO.ISOVERDYEING" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <strong>
                                    <label asp-for="cOM_EX_SCINFO.ISFINISHING" class="control-label"></label>
                                </strong>
                                <div class="form-control custom-form-control">
                                    <label class="switch">
                                        <input asp-for="cOM_EX_SCINFO.ISFINISHING" disabled />
                                        <span class="slider round"></span>
                                        <span class="absolute-no">NO</span>
                                    </label>
                                </div>
                                <span asp-validation-for="cOM_EX_SCINFO.ISFINISHING" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <strong>
                                    <label asp-for="cOM_EX_SCINFO.ISDELMODE" class="control-label"></label>
                                </strong>
                                <div class="form-control custom-form-control">
                                    <label class="switch">
                                        <input asp-for="cOM_EX_SCINFO.ISDELMODE" disabled />
                                        <span class="slider round"></span>
                                        <span class="absolute-no">NO</span>
                                    </label>
                                </div>
                                <span asp-validation-for="cOM_EX_SCINFO.ISDELMODE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <strong>
                                    <label asp-for="cOM_EX_SCINFO.ISPROV_TRNS" class="control-label"></label>
                                </strong>
                                <div class="form-control custom-form-control">
                                    <label class="switch">
                                        <input asp-for="cOM_EX_SCINFO.ISPROV_TRNS" disabled />
                                        <span class="slider round"></span>
                                        <span class="absolute-no">NO</span>
                                    </label>
                                </div>
                                <span asp-validation-for="cOM_EX_SCINFO.ISPROV_TRNS" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <strong>
                                    <label asp-for="cOM_EX_SCINFO.ISPROVE_FARE" class="control-label"></label>
                                </strong>
                                <div class="form-control custom-form-control">
                                    <label class="switch">
                                        <input asp-for="cOM_EX_SCINFO.ISPROVE_FARE" disabled />
                                        <span class="slider round"></span>
                                        <span class="absolute-no">NO</span>
                                    </label>
                                </div>
                                <span asp-validation-for="cOM_EX_SCINFO.ISPROVE_FARE" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="pl-1 col-12">
                <h2 class="panel-title text-success">Payment Mode</h2>
                <hr />
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.PAYDATE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.PAYDATE)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.PAYMODE" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.PAYMODE)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.BANK_.PARTY_BANK" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.BANK_.PARTY_BANK)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.CHKNO" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.CHKNO)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.CASHAMOUNT" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.CASHAMOUNT)
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <strong>
                        <label asp-for="cOM_EX_SCINFO.CHKAMOUNT" class="control-label"></label>
                    </strong>
                    <span class="custom-form-control form-control bg-e9ecef">
                        @Html.DisplayFor(model => model.cOM_EX_SCINFO.CHKAMOUNT)
                    </span>
                </div>
            </div>

            <div class="pl-1 col-12">
                <h2 class="panel-title text-success">Style Information</h2>
            </div>
            @if (Model.cOM_EX_SCDETAILs.Any())
            {
                <table class="table">
                    <thead id="thead">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().STYLENAME)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().UNIT)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().QTY)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().RATE)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().AMOUNT)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().REMARKS)
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.cOM_EX_SCDETAILs)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().STYLENAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().UNIT)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().QTY)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().RATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().AMOUNT)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.cOM_EX_SCDETAILs.FirstOrDefault().REMARKS)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<div>
    <a asp-action="GetComExScInfoWithPaged" class="btn btn-dark">Back to List</a>
    @Html.ActionLink("Edit", "EditScInfo", new { scNo = Model.cOM_EX_SCINFO.EncryptedId }, new { @class = "btn btn-warning" })
</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#form :input").prop("disabled", true);
        });
    </script>
}