@model FPrInspectionProcessViewModel


@if (Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList!=null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FPrInspectionDefectPoint.DEF_TYPEID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrInspectionDefectPoint.POINT1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrInspectionDefectPoint.POINT2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrInspectionDefectPoint.POINT3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrInspectionDefectPoint.POINT4)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var j = 0; j < Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList.Count; j++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].DEF_TYPEID)
                        @Html.HiddenFor(clc => clc.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].ROLL_ID)
                        @Html.HiddenFor(clc => clc.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].DPID)
                        @Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].DEF_TYPE?.NAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].POINT1)
                        @Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].POINT1
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].POINT2)
                        @Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].POINT2
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].POINT3)
                        @Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].POINT3
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].POINT4)
                        @Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList[j].POINT4
                    </td>
                    <td>
                        <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveDefectFromRollList(@j)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
            <tr class="bg-info text-white">
                <td>@($"{Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList.Sum(e => e.POINT1)*1+ Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList.Sum(e => e.POINT2)*2+ Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList.Sum(e => e.POINT3)*3+ Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList.Sum(e => e.POINT4)*4}")</td>
                <td>@($"{Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList.Sum(e => e.POINT1)}")</td>
                <td>@($"{Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList.Sum(e => e.POINT2)}")</td>
                <td>@($"{Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList.Sum(e => e.POINT3)}")</td>
                <td>@($"{Model.FPrInspectionProcessDetails.FPrInspectionDefectPointsList.Sum(e => e.POINT4)}")</td>
                <td></td>
            </tr>
        </tbody>
    </table>
}
else
{
    <span></span>
}


<script type="text/javascript" asp-append-version="true">
    function RemoveRollFromList(removeIndexValue) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/FPrInspectionProcess/RemoveRollFromList',
            success: function (partialView, status, xhr) {
                $('#rollDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function RemoveDefectFromRollList(setRemoveIndex) {
        var data = $('#form').serializeArray();
        //data.push({ name: "removeIndexValue", value: removeIndexValue });
        data.push({ name: "setRemoveIndex", value: setRemoveIndex });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/FPrInspectionProcess/RemoveDefectFromRollListA',
            success: function (partialView) {
                $('#defectDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>
