@model FPrInspectionProcessViewModel
@{
    ViewData["Title"] = "Inspection Process";
    Layout = Layout;
}
<div class="row">
    <div class="col-4">
        <h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i>Inspection Process</h2>
        <hr />
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group mb-0">
            @Html.DropDownListFor(dt => dt.FPrInspectionDefectPoint.StyleName, new SelectList(Model.StyleList, "FABCODE", "STYLE_NAME"), "Find Style", htmlAttributes: new { @class = " form-control p-0 js-example-basic-single" })
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group mb-0">
            <input asp-for="FPrInspectionDefectPoint.FindDate" class=" form-control height17" />
            <span asp-validation-for="FPrInspectionDefectPoint.FindDate" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateInspectionProcess">
        <div class="panel panel-default">
            <div class="panel-body row m-0 p-0">
                <div class="col-12 row m-0 p-0">
                    <div class="col-6 row m-0 p-0">
                        <div class="col-12">
                            <h2 class="panel-title text-success">Order Information</h2>
                            <hr class="m-0" />
                        </div>
                        <div class="col-6 pl-0 pr-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @Html.HiddenFor(c => c.FPrInspectionProcessMaster.CREATED_AT)
                                @Html.HiddenFor(c => c.FPrInspectionProcessMaster.UPDATED_AT)
                                @Html.HiddenFor(c => c.FPrInspectionProcessMaster.FABCODE)
                                <div class="form-group input-group mb-0 d-none">
                                    <div class="input-group-prepend" style="max-width: 25%; min-width: 25%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label asp-for="FPrInspectionProcessMaster.INSPDATE" class="control-label labelSm"></label></div>
                                    </div>
                                    <input asp-for="FPrInspectionProcessMaster.INSPDATE" class="form-control height17" readonly="readonly" />
                                    <span asp-validation-for="FPrInspectionProcessMaster.INSPDATE" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-none">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 25%; min-width: 25%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">PO No</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="poNo">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 25%; min-width: 25%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Order No</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="orderNo">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 52%; min-width: 52%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Qty(M)</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0" id="qtyLengthM">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 52%; min-width: 52%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Yds</label></div>
                                    </div>

                                    <span class="custom-form-control-bg-slim form-control p-0" id="qtyLengthY">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0">
                                <div class="form-group input-group row mt-2">
                                    <div style="max-width: 27%; min-width: 27%;">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label asp-for="FPrInspectionProcessMaster.SETID" class="control-label labelSm"></label></div>
                                        </div>
                                    </div>
                                    <div style="max-width: 73%; min-width: 73%;">
                                        @Html.DropDownListFor(dt => dt.FPrInspectionProcessMaster.SETID, new SelectList(Model.PlProductionSetDistributions, "SETID", "PROG_.PROG_NO"), "", htmlAttributes: new { @class = "form-control height17 p-0 js-example-basic-single" })
                                    </div>

                                    <span asp-validation-for="FPrInspectionProcessMaster.SETID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Length(M)&emsp;&emsp;&nbsp;</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0" id="setLength">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 24%; min-width: 24%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Length(Yds)</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0" id="setLengthY">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-none">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 24%; min-width: 24%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Total Ends</label></div>
                                    </div>

                                    <span class="custom-form-control-bg-slim form-control p-0" id="totalEnds">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 24%; min-width: 24%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Fabric Title</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0" id="fabricTitle">
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="col-6 pl-0 pr-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 30%; min-width: 30%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Style No</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="style">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 30%; min-width: 30%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label asp-for="FPrInspectionProcessDetails.OPT4" class="control-label labelSm"></label></div>
                                    </div>
                                    <input asp-for="FPrInspectionProcessDetails.OPT4" class="custom-form-control-bg-slim form-control p-0 font-weight-bold" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pr-0">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 60%; min-width: 60%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">EPI X PPI</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="rndConst">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 50%; min-width: 50%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Loom Type</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0" id="loomType">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 30%; min-width: 30%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Fabric Type</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="fabricType">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 30%; min-width: 30%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Sales Person</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="salesPerson">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 30%; min-width: 30%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Color</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="color">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 30%; min-width: 30%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Buyer Name</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="buyer">
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group input-group mb-0">
                                    <div class="input-group-prepend" style="max-width: 30%; min-width: 30%;">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Buyer Brand</label></div>
                                    </div>
                                    <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="buyerBrand">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 d-none">
                            <div class="form-group input-group mb-0">
                                <div class="input-group-prepend">
                                    <div class="input-group-text p-0 custom-form-control-bg-label"><label asp-for="FPrInspectionProcessMaster.REMARKS" class="control-label labelSm"></label></div>
                                </div>
                                <input asp-for="FPrInspectionProcessMaster.REMARKS" class="form-control height17" />
                                <span asp-validation-for="FPrInspectionProcessMaster.REMARKS" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 row m-0 p-0">
                        <div class="col-6">
                            <h2 class="panel-title text-success">Finishing Information</h2>
                            <hr class="m-0" />
                            <div class="row m-0 p-0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 20%; min-width: 20%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Machine</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0" id="machineName">
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 40%; min-width: 40%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Date</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0" id="date" style="font-size: 12px;">
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pr-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 40%; min-width: 40%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Process</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0" id="process">
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 40%; min-width: 40%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Qty(M)</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="qtyM">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pr-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 40%; min-width: 40%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Shift</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0" id="shift">
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 40%; min-width: 40%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Qty(Yds)</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="qtyYd">
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pr-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 40%; min-width: 40%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Shrink%</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0" id="shrinkage">
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 20%; min-width: 20%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Operator</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0" id="operator">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
                                    <div class="form-group mb-0">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Req. Width</label></div>
                                        <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="reqWidth">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pr-0">
                                    <div class="form-group mb-0">
                                        <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Weight[Oz/Yd<sup>2</sup>]</label></div>
                                        <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="weight">
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-6">
                            <h2 class="panel-title text-success">Weaving Information</h2>
                            <hr class="m-0" />
                            <div class="row m-0 p-0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 32%; min-width: 32%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Loom No</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="loomNo">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 32%; min-width: 32%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Beam No</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="beamNo">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 48%; min-width: 48%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Doffing Date</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0" id="dateWv" style="font-size: 12px;">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 40%; min-width: 40%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Shift</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0" id="shiftWv">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 32%; min-width: 32%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Doffing Length</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="length">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                                    <div class="form-group input-group mb-0">
                                        <div class="input-group-prepend" style="max-width: 32%; min-width: 32%;">
                                            <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Operator</label></div>
                                        </div>
                                        <span class="custom-form-control-bg-slim form-control p-0" id="operatorWv">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">

                                    <div class="form-group row m-0">
                                        <div class="input-group-text p-0 custom-form-control-bg-label" style="max-width: 32%; min-width: 32%;"><label asp-for="FPrInspectionProcessDetails.PROCESS_TYPE" class="control-label labelSm"></label></div>
                                        @Html.DropDownListFor(dt => dt.FPrInspectionProcessDetails.PROCESS_TYPE, new SelectList(Model.FPrInspectionProcess, "ID", "NAME"), "", htmlAttributes: new { @class = "form-control height17 p-0 js-example-basic-single" })

                                        <span asp-validation-for="FPrInspectionProcessDetails.PROCESS_TYPE" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-12">
                            <div class="form-group input-group mb-0">
                                <div class="input-group-prepend" style="max-width: 27%; min-width: 27%;">
                                    <div class="input-group-text p-0 custom-form-control-bg-label"><label class="control-label labelSm">Construction</label></div>
                                </div>
                                <span class="custom-form-control-bg-slim form-control p-0 font-weight-bold" id="const">
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12">
                    <hr class="mb-0" />
                </div>
                <div class="col-12 row m-0 p-0">
                    <div class="col-7 row p-0 m-0">

                        <div class="col-12 d-flex ">
                            <h2 class="panel-title text-success">Trolley Information</h2>
                            <hr class="m-0" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group mb-0">
                                <label asp-for="FPrInspectionProcessDetails.TROLLEYNO" class="control-label"></label>
                                @Html.DropDownListFor(dt => dt.FPrInspectionProcessDetails.TROLLEYNO, new SelectList(Model.FPrFinTrollies, "FIN_PROCESSID", "TROLLNONavigation.NAME"), "", htmlAttributes: new { @class = "form-control height17 p-0 js-example-basic-single" })
                                <span asp-validation-for="FPrInspectionProcessDetails.TROLLEYNO" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group mb-0">
                                <label asp-for="FPrInspectionProcessDetails.ROLL_INSPDATE" class="control-label"></label>
                                <input asp-for="FPrInspectionProcessDetails.ROLL_INSPDATE" class="form-control height17" />
                                <span asp-validation-for="FPrInspectionProcessDetails.ROLL_INSPDATE" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-3 row m-0 p-0">


                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.OPERATOR_ID" class="control-label"></label>
                                    @Html.DropDownListFor(dt => dt.FPrInspectionProcessDetails.OPERATOR_ID, new SelectList(Model.FHrEmployees, "EMPID", "FIRST_NAME"), "", htmlAttributes: new { @class = "form-control height17 p-0 js-example-basic-single" })
                                    <span asp-validation-for="FPrInspectionProcessDetails.OPERATOR_ID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.MACHINE_ID" class="control-label"></label>
                                    @Html.DropDownListFor(dt => dt.FPrInspectionProcessDetails.MACHINE_ID, new SelectList(Model.FPrInspectionMachines, "ID", "NAME"), "", htmlAttributes: new { @class = "form-control height17 p-0 js-example-basic-single" })
                                    <input class="" type="text" id="purpose1" style="border: none; width: 1px; height: 1px;" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.MACHINE_ID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.BATCH" class="control-label"></label>
                                    @*@Html.DropDownListFor(dt => dt.FPrInspectionProcessDetails.BATCH, new SelectList(Model.FPrInspectionBatches, "ID", "NAME"), "Select Batch No.", htmlAttributes: new { @class = "form-control p-0 js-example-basic-single height17" })*@
                                    <input asp-for="FPrInspectionProcessDetails.BATCH" class="form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.BATCH" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.ROLLNO" class="control-label"></label>
                                    <div class="input-group mb-0">
                                        <input asp-for="FPrInspectionProcessDetails.ROLLNO" class="form-control height17" />
                                        @*<div class="input-group-append" style="height: 2rem;">
                                                <button class="btn btn-secondary" type="button" id="rollReload"><i class="fa fa-refresh" style="bottom: 0.25rem; position: relative;" aria-hidden="true"></i></button>
                                            </div>*@
                                    </div>
                                    <span asp-validation-for="FPrInspectionProcessDetails.ROLLNO" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.LENGTH_1" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.LENGTH_1" class="form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.LENGTH_1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.LENGTH_2" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.LENGTH_2" class="form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.LENGTH_2" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 row m-0 p-0">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-none">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.TROLLY_STATUS" class="control-label"></label>
                                    <div class="form-control p-0 custom-form-control">
                                        <label class="switch">
                                            <input asp-for="FPrInspectionProcessDetails.TROLLY_STATUS" />
                                            <span class="slider round"></span>
                                            <span class="absolute-no">NO</span>
                                        </label>
                                    </div>
                                    <span asp-validation-for="FPrInspectionProcessDetails.TROLLY_STATUS" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.SHIFT" class="control-label"></label>
                                    <select asp-for="FPrInspectionProcessDetails.SHIFT" class="form-control p-0 js-example-basic-single height17">
                                        <option value=""></option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                    </select>
                                    <span asp-validation-for="FPrInspectionProcessDetails.SHIFT" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.PICES" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.PICES" class="form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.PICES" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.TOTAL_DEFECT" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.TOTAL_DEFECT" class="form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.TOTAL_DEFECT" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.POINT_100SQ" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.POINT_100SQ" class="form-control height17" readonly="readonly" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.POINT_100SQ" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.LENGTH_MTR" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.LENGTH_MTR" class="form-control height17" readonly="readonly" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.LENGTH_MTR" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.LENGTH_YDS" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.LENGTH_YDS" class="form-control height17" readonly="readonly" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.LENGTH_YDS" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 row m-0 p-0">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label class="control-label">Trolley Length</label>
                                    <span class="custom-form-control-bg-slim form-control p-0" id="trollyLength">
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.ACT_WIDTH_INCH" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.ACT_WIDTH_INCH" class="form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.ACT_WIDTH_INCH" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.CUT_WIDTH_INCH" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.CUT_WIDTH_INCH" class="form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.CUT_WIDTH_INCH" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.GR_WEIGHT_KG" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.GR_WEIGHT_KG" class=" form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.GR_WEIGHT_KG" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.WEIGHT_DEDUCT" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.WEIGHT_DEDUCT" class=" form-control height17" readonly="readonly" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.WEIGHT_DEDUCT" class="text-danger"></span>
                                </div>
                            </div>
                            @*new*@
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group mb-0">
                                    <label class="control-label">Poly(gm)</label>
                                    <input class=" form-control height17" readonly="readonly" id="polygram"/>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.NET_WEIGHT_KG" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.NET_WEIGHT_KG" class=" form-control height17" readonly="readonly" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.NET_WEIGHT_KG" class="text-danger"></span>
                                </div>
                            </div>
                            @*New Row*@
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.OPT1" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.OPT1" class=" form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.OPT1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.OPT2" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.OPT2" class=" form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.OPT2" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.FAB_GRADE" class="control-label"></label>
                                    <select asp-for="FPrInspectionProcessDetails.FAB_GRADE" class=" form-control height17 p-0 js-example-basic-single">
                                        <option value="">Select Grade</option>
                                        <option value="A" selected="selected">A</option>
                                        <option value="A2">A2</option>
                                    </select>
                                    <input class="" type="text" id="purpose3" style="border: none; width: 1px; height: 1px;" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.FAB_GRADE" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-3 row m-0 p-0">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label class="control-label">Pending</label>
                                    <span class="custom-form-control-bg-slim form-control p-0" id="restTrollyLength">
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label class="control-label">Set Length</label>
                                    <span class="custom-form-control-bg-slim form-control p-0" id="thisSetLength">
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.ACT_OZ_YDS" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.ACT_OZ_YDS" class=" form-control height17" readonly="readonly" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.ACT_OZ_YDS" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.CUTPCS_YDS" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.CUTPCS_YDS" class=" form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.CUTPCS_YDS" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.DEFECT_NAME" class="control-label"></label>
                                    @Html.DropDownListFor(dt => dt.FPrInspectionProcessDetails.DEFECT_NAME, new SelectList(Model.FPrInspectionDefectInfos, "DEF_TYPEID", "NAME"), "", htmlAttributes: new { @class = " form-control height17 p-0 js-example-basic-single" })
                                    <input class="" type="text" id="purpose4" style="border: none; width: 1px; height: 1px;" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.DEFECT_NAME" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.DEFECT_FAULT_STATUS" class="control-label"></label>
                                    <select asp-for="FPrInspectionProcessDetails.DEFECT_FAULT_STATUS" class=" form-control height17 p-0 js-example-basic-single">
                                        <option value="" selected></option>
                                        <option value="Continue">Continue</option>
                                    </select>
                                    <span asp-validation-for="FPrInspectionProcessDetails.DEFECT_FAULT_STATUS" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.DEF_PCS" class="control-label"></label>
                                    <input asp-for="FPrInspectionProcessDetails.DEF_PCS" class=" form-control height17" />
                                    <span asp-validation-for="FPrInspectionProcessDetails.DEF_PCS" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <label asp-for="FPrInspectionProcessDetails.CUT_PCS_SECTION" class="control-label"></label>
                                    @Html.DropDownListFor(dt => dt.FPrInspectionProcessDetails.CUT_PCS_SECTION, new SelectList(Model.FBasSections, "SECID", "SECNAME"), "", htmlAttributes: new { @class = " form-control height17 p-0 js-example-basic-single" })
                                    <span asp-validation-for="FPrInspectionProcessDetails.CUT_PCS_SECTION" class="text-danger"></span>
                                </div>
                            </div>

                        </div>


                        <div class="col-5 col-xs-12">
                            <div class="form-group mb-0">
                                <label asp-for="FPrInspectionProcessDetails.ACT_CONS" class="control-label"></label>
                                <input asp-for="FPrInspectionProcessDetails.ACT_CONS" class=" form-control height17" list="construction" />
                                <datalist id="construction">
                                    <option value=""></option>
                                </datalist>
                                <span asp-validation-for="FPrInspectionProcessDetails.ACT_CONS" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-7 col-xs-12">
                            <div class="form-group mb-0">
                                <label asp-for="FPrInspectionProcessDetails.REMARKS" class="control-label"></label>
                                <input asp-for="FPrInspectionProcessDetails.REMARKS" class=" form-control height17" list="remarks" />
                                @*<input type="text" name="product" list="productName"/>*@
                                <datalist id="remarks">
                                    <option value=""></option>
                                </datalist>

                                <span asp-validation-for="FPrInspectionProcessDetails.REMARKS" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-5">
                        <h2 class="panel-title text-success">Defect [4] Point Information</h2>
                        <hr class="m-0" />

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group mb-0">
                                <label asp-for="FPrInspectionDefectPoint.DEF_TYPEID" class="control-label"></label>
                                @Html.DropDownListFor(dt => dt.FPrInspectionDefectPoint.DEF_TYPEID, new SelectList(Model.FPrInspectionDefectInfos, "DEF_TYPEID", "NAME"), "", htmlAttributes: new { @class = " form-control height17 p-0 js-example-basic-single" })
                                <span asp-validation-for="FPrInspectionDefectPoint.DEF_TYPEID" class="text-danger"></span>
                            </div>
                        </div>
                        <input class="" type="text" id="purpose2" style="border: none; width: 1px; height: 1px;" />

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group mb-0">
                                <label asp-for="FPrInspectionDefectPoint.POINT1" class="control-label"></label>
                                <input asp-for="FPrInspectionDefectPoint.POINT1" class=" form-control height17" />
                                <span asp-validation-for="FPrInspectionDefectPoint.POINT1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group mb-0">
                                <label asp-for="FPrInspectionDefectPoint.POINT2" class="control-label"></label>
                                <input asp-for="FPrInspectionDefectPoint.POINT2" class=" form-control height17" />
                                <span asp-validation-for="FPrInspectionDefectPoint.POINT2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group mb-0">
                                <label asp-for="FPrInspectionDefectPoint.POINT3" class="control-label"></label>
                                <input asp-for="FPrInspectionDefectPoint.POINT3" class=" form-control height17" />
                                <span asp-validation-for="FPrInspectionDefectPoint.POINT3" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group mb-0">
                                <label asp-for="FPrInspectionDefectPoint.POINT4" class="control-label"></label>
                                <input asp-for="FPrInspectionDefectPoint.POINT4" class=" form-control height17" />
                                <span asp-validation-for="FPrInspectionDefectPoint.POINT4" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 d-none">
                            <div class="form-group mb-0">
                                <label asp-for="FPrInspectionDefectPoint.REMARKS" class="control-label"></label>
                                <input asp-for="FPrInspectionDefectPoint.REMARKS" class=" form-control height17" />
                                <span asp-validation-for="FPrInspectionDefectPoint.REMARKS" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12" id="defectDetails">
                            @await Html.PartialAsync("~/Views/FPrInspectionProcess/AddDefectPoint.cshtml", Model)
                        </div>

                    </div>
                </div>


                @*<div class="col-12">
                        <h2 class="panel-title text-success">Trolley Information</h2>
                        <hr />
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="panel-title text-success">Defect [4] Point Information</h2>
                        <hr />
                    </div>*@


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                    @*<button class="btn btn-success pull-right" type="submit" id="btn_submit">Create</button>*@
                    @*<button id="btnAddRoll" class="btn btn-success pull-right mr-2" type="button" accesskey="a">Add</button>*@

                    <button id="btnAddRoll" class="btn btn-success pull-left mr-2" type="button" accesskey="a">Save</button>
                    <button class="btn btn-primary pull-left mr-2" id="btnPrintRollA" type="button">Export Print</button>

                    <button onclick="deleteSwal(event);" class="btn btn-danger pull-left mr-2" type="button">Delete</button>
                    @*<button class="btn btn-info pull-left mr-2" id="btnRollFind" type="button" data-toggle="modal" data-target="#exampleModalLong">Roll Find</button>*@


                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group mb-0">
                            <select asp-for="FPrInspectionDefectPoint.RollFId" class="form-control js-example-basic-single">
                                <option value="">Find Roll</option>
                            </select>
                        </div>
                    </div>

                    @*<button class="btn btn-info pull-left mr-2" id="btnRollFindCopy" type="button">Roll Find Copy</button>*@

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group mb-0">
                            <select asp-for="FPrInspectionDefectPoint.RollFCId" class="form-control js-example-basic-single">
                                <option value="">Find Roll Copy</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary pull-left mr-2" id="btnPrintRollLO" type="button">LO Print</button>
                    <button id="btnAddNew" class="btn btn-success pull-left mr-2" type="button">Add Roll</button>
                    <button id="btnNew" class="btn btn-warning pull-left mr-2" type="button">New</button>

                </div>

                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" id="rollDetails">
                        @await Html.PartialAsync("~/Views/FPrInspectionProcess/AddRollList.cshtml", Model)
                    </div>*@


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive table-hover">
                    @await Html.PartialAsync($"~/Views/FPrInspectionProcess/GetInspectionProcessList.cshtml", Model.FPrInspectionProcessMaster)
                </div>

            </div>
        </div>

    </form>
</div>


@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/customerDatatable.css" rel="stylesheet" />
    <style asp-append-version="true" type="text/css">
        .insp {
            font-size: 11px;
            overflow: hidden;
        }

        .height17 {
            height: 1.7rem !important;
            background: #bae3fc !important;
            color: #e9ecef;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 1rem !important;
        }

        .select2-container--default .select2-selection--single {
            min-height: 1.7rem !important;
        }

        .labelSm {
            /* display: inline-block; */
            margin-bottom: 0.25rem;
            margin-top: 0.25rem;
            padding-right: 10px;
            color: white;
        }

        .select2-container--default .select2-selection--single {
            background-color: #bae3fc;
            border: 1px solid #ced4da;
            border-radius: 0;
        }

        .custom-form-control-bg-label {
            height: auto;
            min-height: 1.7rem;
            font-size: 13px;
            background: transparent;
            border: none;
        }

        body .container-fluid.body .right_col {
            background: #84ADEA;
            color: white;
        }

        .custom-form-control-bg-slim {
            background: #bae3fc;
            color: #3238ad;
        }

        .form-control {
            color: #3238ad;
        }


        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #3238ad;
        }

        .table {
            color: #ffffff;
        }

        td.hiddenRow {
            background: #34495e;
        }

        tr:nth-child(even) {
            background-color: #34495e;
        }
    </style>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial_Except_jQuery");}
    <script src="~/js/custom-js/Stepper.js" asp-append-version="true"></script>
    <script asp-append-version="true" src="~/js/site-common.js"></script>
    <script asp-append-version="true" src="~/js/FPrInspection/Common.js"></script>


    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/js/customerDatatable.js"></script>


    <script type="text/javascript" asp-append-version="true">

        //function GetTrollyDetails(selectedVal) {
        //    $.ajax({
        //        async: true,
        //        cache: false,
        //        data: { "trollyId": selectedVal, "setId": $("#FPrInspectionProcessMaster_SETID").val() },
        //        type: "GET",
        //        url: "/FPrInspectionProcess/GetTrollyDetails",
        //        success: function (data, status, xhr) {
        //            console.log(data);
        //            $("#trollyLength").text(data.lengtH_OUT);
        //            $("#thisSetLength").text(data.opT1);
        //            $("#restTrollyLength").text(data.opT2);

        //            $("#machineName").text(data.fN_MACHINE.name);
        //            $("#date").text(data.createD_AT.split('T')[0]);
        //            $("#process").text(data.fiN_PRO_TYPE.name);
        //            $("#qtyM").text(data.lengtH_OUT);
        //            $("#qtyYd").text((data.lengtH_OUT * 1.094).toFixed(2));
        //            $("#shift").text(data.shift);
        //            $("#shrinkage").text(data.shrinkage - (data.shrinkage * 2));
        //            $("#operator").text(data.procesS_BYNavigation.firsT_NAME);
        //            $("#reqWidth").text(data.fN_PROCESS.fabricinfo.widec);
        //            $("#weight").text(data.fN_PROCESS.fabricinfo.wgdec);

        //            $("#loomNo").text(data.fN_PROCESS.doff.looM_NONavigation.looM_NO);
        //            $("#dateWv").text(data.fN_PROCESS.doff.dofF_TIME.split('T')[0]);
        //            $("#beamNo").text(data.opT3);
        //            $("#shiftWv").text(data.fN_PROCESS.doff.shift);
        //            $("#length").text(data.fN_PROCESS.doff.lengtH_BULK);
        //            $("#operatorWv").text(data.fN_PROCESS.doff.doffeR_NAMENavigation.firsT_NAME);
        //        },
        //        error: function (e) {
        //            console.log(e);
        //        }
        //    });
        //}

        function autoComplete() {

            $.get("/FPrInspectionProcess/GetRemarks",
                function (data, status) {


                    $("#remarks").html('');
                    $("#remarks").append('<option value="" selected>Select Remarks</option>');
                    $.each(data,
                        function (id, option) {
                            $("#remarks").append($('<option></option>').val(option).html(option));
                        });

                    //$("#FPrInspectionProcessDetails_REMARKS").autocomplete({
                    //    source: data
                    //});
                });

            $.get("/FPrInspectionProcess/GetConstruction",
                function (data, status) {

                    $("#construction").html('');
                    $("#construction").append('<option value="" selected>Select Construction</option>');
                    $.each(data,
                        function (id, option) {
                            $("#construction").append($('<option></option>').val(option).html(option));
                        });
                });
        }

        $(function () {
            autoComplete();

            $('select').select2({
                selectOnClose: true
            });


            $('#FPrInspectionProcessMaster_INSPDATE').focus();


        });

    </script>


    <script asp-append-version="true">
        $(document).ready(function() {
            $('#table').dataTable({
                "searchPanes": true,
                "processing": true,
                "serverSide": true,
                "filter": true,
                "order": [[1, 'desc']],
                "pageLength": 25,
                "lengthMenu": [10, 25, 50, 100, 200, 500, 1000],
                "ajax": {
                    "async": "true",
                    "url": '@Url.Action("GetTableData", "FPrInspectionProcess")',
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [3],
                        "orderable": false,
                        "searchable": false
                    }
                ],
                "language": {
                    "searchPlaceholder": "Search for your desire results",
                    "search": '<i class="fa fa-2x fa-search text-dark" aria-hidden="true"></i>',
                    "emptyTable": '<h3>No data available</h3>',
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "thousands": ",",
                    "processing": "<i class='fa fa-4x fa-spinner' aria-hidden='true'></i>",
                    "zeroRecords": "<h3>No matching records found</h3>",
                    "paginate": {
                        "first": "<i class='fa fa-angle-double-left' aria-hidden='true'></i>",
                        "last": "<i class='fa fa-angle-double-right' aria-hidden='true'></i>",
                        "next": "<i class='fa fa-angle-right' aria-hidden='true'></i>",
                        "previous": "<i class='fa fa-angle-left' aria-hidden='true'></i>"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                "columns": [
                    {
                        "name": "PROG_NO", "autoWidth": true,
                        "render": function (data, type, row) {
                            return row.set != null && row.set.proG_ != null ? row.set.proG_.proG_NO : "";
                        }
                    },
                    { "data": "inspdate", "name": "INSPDATE", "autoWidth": true },
                    { "data": "remarks", "name": "REMARKS", "autoWidth": true },
                    {
                        "render": function(data, type, row) {
                            return "<a href='/FPrInspectionProcess/DetailsInspectionProcess?id=" + row.encryptedId + "' class='fa fa-info-circle fa-2x-custom text-info mr-2'></a> <a href='/FPrInspectionProcess/EditInspectionProcess?id=" + row.encryptedId + "' class='fa fa-edit fa-2x-custom text-warning mr-2'></a>" + "<a href='/FPrInspectionProcess/DeleteInspectionProcess?id=" + row.encryptedId + "' class='fa fa-trash fa-2x-custom text-danger mr-2'></a>";
                        }
                    }
                ]
            });
        });
    </script>
}

