
@model ComExGspInfoViewModel

@{
    ViewData["Title"] = "GSP Information";
}


<div class="container-fluid">

    <h2><i class="fa fa-edit text-warning" aria-hidden="true"></i> <ins>Edit @ViewData["Title"]</ins></h2>

    <form id="form" role="form" asp-action="EditGspInfo">
        <div class="panel panel-default">
            <div class="panel-body row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success">Invoice Information</h2>
                    <hr />
                </div>

                @Html.HiddenFor(c => c.ComExGspInfo.EncryptedId)
                @Html.HiddenFor(c => c.ComExGspInfo.GSPID)
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                    <div class="form-group">
                        <label asp-for="ComExGspInfo.INVID" class="control-label"></label>
                        @Html.DropDownListFor(c => c.ComExGspInfo.INVID,
                        new SelectList(Model.ComExInvoiceMasters, "INVID", "INVNO"), "Select Invoice",
                        new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="ComExGspInfo.INVID" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">File No</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="fileNo">
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Date</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="invoiceDate">
                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Duration</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="duration">
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">L/C No</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="lcNo">
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">L/C Date</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="lcDate">
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">L/C Value</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="lcValue">
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Invoice Value</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="invValue">
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Party</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="party">
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Partial Doc. No.</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="docNo">
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Doc. Notes</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="notes">
                        </span>
                    </div>
                </div>
                <div class="pl-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success">GSP Information</h2>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.GSPNO" class="control-label"></label>
                        <input asp-for="ComExGspInfo.GSPNO" class="form-control" />
                        <span asp-validation-for="ComExGspInfo.GSPNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.VCNO" class="control-label"></label>
                        <input asp-for="ComExGspInfo.VCNO" class="form-control" />
                        <span asp-validation-for="ComExGspInfo.VCNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.VCDATE" class="control-label"></label>
                        <input asp-for="ComExGspInfo.VCDATE" class="form-control" />
                        <span asp-validation-for="ComExGspInfo.VCDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.INV.INVDATE" class="control-label"></label>
                        <div id="@nameof(Model.ComExGspInfo.INV.INVDATE)" class="custom-form-control-bg form-control bg-e9ecef"></div>
                    </div>
                </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.RIGHT_EXT" class="control-label"></label>
                        <input asp-for="ComExGspInfo.RIGHT_EXT" class="form-control" />
                        <span asp-validation-for="ComExGspInfo.RIGHT_EXT" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.EXPLCNO" class="control-label"></label>
                        <input asp-for="ComExGspInfo.EXPLCNO" class="form-control" />
                        <span asp-validation-for="ComExGspInfo.EXPLCNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.EXPLCDATE" class="control-label"></label>
                        <input asp-for="ComExGspInfo.EXPLCDATE" class="form-control" />
                        <span asp-validation-for="ComExGspInfo.EXPLCDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.LCAMDDATE" class="control-label"></label>
                        <input type="text" asp-for="ComExGspInfo.LCAMDDATE" class="form-control" />
                        <span asp-validation-for="ComExGspInfo.LCAMDDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.EXPITEMS" class="control-label"></label>
                        <input asp-for="ComExGspInfo.EXPITEMS" class="form-control" />
                        <span asp-validation-for="ComExGspInfo.EXPITEMS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.ITEMQTY_YDS" class="control-label"></label>
                        <input asp-for="ComExGspInfo.ITEMQTY_YDS" class="form-control" readonly="readonly" />
                        <span asp-validation-for="ComExGspInfo.ITEMQTY_YDS" class="text-danger"></span>
                    </div>
                </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExGspInfo.ITEMQTY_MTS" class="control-label"></label>
                    <input asp-for="ComExGspInfo.ITEMQTY_MTS" class="form-control" readonly="readonly" />
                    <span asp-validation-for="ComExGspInfo.ITEMQTY_MTS" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExGspInfo.LEFT_EXT" class="control-label"></label>
                    <input asp-for="ComExGspInfo.LEFT_EXT" class="form-control" />
                    <span asp-validation-for="ComExGspInfo.LEFT_EXT" class="text-danger"></span>
                </div>
            </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.IS_WEIGHT" class="control-label"></label>
                        <div class="form-control custom-form-control">
                            <label class="switch">
                                <input asp-for="ComExGspInfo.IS_WEIGHT" />
                                <span class="slider round"></span>
                                <span class="absolute-no">NO</span>
                            </label>
                        </div>
                        <span asp-validation-for="ComExGspInfo.IS_WEIGHT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.IS_INV_AMOUNT" class="control-label"></label>
                        <div class="form-control custom-form-control">
                            <label class="switch">
                                <input asp-for="ComExGspInfo.IS_INV_AMOUNT" />
                                <span class="slider round"></span>
                                <span class="absolute-no">NO</span>
                            </label>
                        </div>
                        <span asp-validation-for="ComExGspInfo.IS_INV_AMOUNT" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12"></div>

                <div class="col-4 p-0">
                    <div class="col-lg-12 col-md-8 col-sm-8 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ComExGspInfo.FABDESCRIPTION" class="control-label"></label>
                            <textarea rows="4" asp-for="ComExGspInfo.FABDESCRIPTION" class="form-control"></textarea>
                            <span asp-validation-for="ComExGspInfo.FABDESCRIPTION" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-8 p-0">

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Date Of Delivery</label>
                            <input class="custom-form-control-bg form-control" type="date" id="dateOfDelivery" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 d-none">
                        <div class="form-group">
                            <label asp-for="ComExGspInfo.OTHERS" class="control-label"></label>
                            <input asp-for="ComExGspInfo.OTHERS" class="form-control" />
                            <span asp-validation-for="ComExGspInfo.OTHERS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 d-none">
                        <div class="form-group">
                            <label asp-for="ComExGspInfo.REMARKS" class="control-label"></label>
                            <input asp-for="ComExGspInfo.REMARKS" class="form-control" />
                            <span asp-validation-for="ComExGspInfo.REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success">GSP Information</h2>
                    <hr />
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.ISSUEDATE" class="control-label"></label>
                        <input asp-for="ComExGspInfo.ISSUEDATE" class="form-control" readonly="readonly" />
                        <span asp-validation-for="ComExGspInfo.ISSUEDATE" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.SUBDATE" class="control-label"></label>
                        <input asp-for="ComExGspInfo.SUBDATE" class="form-control" />
                        <span asp-validation-for="ComExGspInfo.SUBDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.RCVDDATE" class="control-label"></label>
                        <input asp-for="ComExGspInfo.RCVDDATE" class="form-control" />
                        <span asp-validation-for="ComExGspInfo.RCVDDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.DELIVERY_DATE" class="control-label"></label>
                        <input asp-for="ComExGspInfo.DELIVERY_DATE" class="form-control" />
                        <span asp-validation-for="ComExGspInfo.DELIVERY_DATE" class="text-danger"></span>
                    </div>
                </div>
            @*<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExGspInfo.NOTES" class="control-label"></label>
                    <input asp-for="ComExGspInfo.NOTES" class="form-control" />
                    <span asp-validation-for="ComExGspInfo.NOTES" class="text-danger"></span>
                </div>
            </div>*@
            
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExGspInfo.SUB_BNK_PRTY_DATE" class="control-label"></label>
                    <input asp-for="ComExGspInfo.SUB_BNK_PRTY_DATE" class="form-control" />
                    <span asp-validation-for="ComExGspInfo.SUB_BNK_PRTY_DATE" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExGspInfo.SUBMITTED_TO" class="control-label"></label>
                    <select asp-for="ComExGspInfo.SUBMITTED_TO"  class="form-control" >
                        <option selected>Select One</option>
                        <option value="Bank">BANK</option>
                        <option value="Party">PARTY</option>
                    </select>
                    <span asp-validation-for="ComExGspInfo.SUBMITTED_TO" class="text-danger"></span>
                </div>
            </div>
            @*<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.ISISSUE2BANK" class="control-label"></label>
                        <div class="form-control custom-form-control">
                            <label class="switch">
                                <input asp-for="ComExGspInfo.ISISSUE2BANK" />
                                <span class="slider round"></span>
                                <span class="absolute-no">NO</span>
                            </label>
                        </div>
                        <span asp-validation-for="ComExGspInfo.ISISSUE2BANK" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ComExGspInfo.ISGSPNA" class="control-label"></label>
                        <div class="form-control custom-form-control">
                            <label class="switch">
                                <input asp-for="ComExGspInfo.ISGSPNA" />
                                <span class="slider round"></span>
                                <span class="absolute-no">NO</span>
                            </label>
                        </div>
                        <span asp-validation-for="ComExGspInfo.ISGSPNA" class="text-danger"></span>
                    </div>
                </div>*@
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit" accesskey="u">Update</button>
                    <button class="btn btn-info prevBtn pull-right" type="button" accesskey="p">Prev</button>
                    <a asp-action="GetGspInfoWithPaged" class="btn btn-dark pull-right" accesskey="b">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/custom-js/Stepper.js" asp-append-version="true"></script>

    <script asp-append-version="true" src="~/js/ComExGspInfo/EditComExGspInfo.js"></script>

    @*<script type="text/javascript" asp-append-version="true">
            $(function () {


                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetInvoiceInfo", "ComExGspInfo")",
                    data: { "invId": $("#invNo").val()},
                    success: function (data) {
                        if (data != null) {
                            //console.log(data);
                            var invDate = data.comExInvoiceMaster.invdate.substring(0, data.comExInvoiceMaster.invdate.indexOf('T'));
                            $('#fileNo').html(data.comExInvoiceMaster.lc.fileno);
                            $('#invoiceDate').html(invDate);
                            $('#duration').html(data.comExInvoiceMaster.invduration);
                            $('#lcNo').html(data.comExInvoiceMaster.lc.lcno);
                            $('#party').html(data.comExInvoiceMaster.buyer.buyeR_NAME);
                            $('#docNo').html(data.comExInvoiceMaster.pdocno);
                            $('#notes').html(data.comExInvoiceMaster.doC_NOTES);
                        }
                        else {
                            toastrNotification("Sorry! No Invoice Information.", "error");
                        }
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        toastrNotification("Error: Failed To Retrieve Invoice Information.", "error");
                    }
                });


                $("#invNo").change(function() {
                    var selectedItem = $(this).val();
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetInvoiceInfo", "ComExGspInfo")",
                        data: { "invId": selectedItem},
                        success: function (data) {
                            if (data != null) {
                                //console.log(data);
                                var invDate = data.comExInvoiceMaster.invdate.substring(0, data.comExInvoiceMaster.invdate.indexOf('T'));
                                $('#fileNo').html(data.comExLcInfo.fileno);
                                $('#invoiceDate').html(invDate);
                                $('#duration').html(data.comExInvoiceMaster.invduration);
                                $('#lcNo').html(data.comExLcInfo.lcno);
                                $('#party').html(data.comExInvoiceMaster.buyer.buyeR_NAME);
                                $('#docNo').html(data.comExInvoiceMaster.pdocno);
                                $('#notes').html(data.comExInvoiceMaster.doC_NOTES);
                            }
                            else {
                                toastrNotification("Sorry! No Invoice Information.", "error");
                            }
                        },
                        error:function (xhr, ajaxOptions, thrownError){
                            toastrNotification("Error: Failed To Retrieve Invoice Information.", "error");
                        }
                    });
                });

            });
        </script>*@

}