@model CosPreCostingMasterViewModel

@if (Model.CosPreCostingDetailsList.Any())
{
    <div class="pl-1 col-12">
        <h2 class="panel-title text-success">Pre-Costing Details</h2>
        <hr />
    </div>
    <table class="table mt-2" id="partialView">
        <thead id="thead">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPreCostingDetails.COUNTID)
                </th>
                <th>
                    @Html.DisplayName("Lot")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPreCostingDetails.YARN_FOR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPreCostingDetails.RND_CONSUMP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPreCostingDetails.COS_CONSUMP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPreCostingDetails.RATE)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.CosPreCostingDetails.VALUE)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.CosPreCostingDetails.YPB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CosPreCostingDetails.REMARKS)
                </th>
                @*<th>
                        @Html.DisplayName("Remove")
                    </th>*@
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.CosPreCostingDetailsList.Count(); i++)
            {
                <tr>
                    <td>
                        @if (@Model.CosPreCostingDetailsList[i].TRNSID != 0)
                        {
                            @Html.HiddenFor(c => c.CosPreCostingDetailsList[i].TRNSID)
                            <i class="fa fa-database text-danger" aria-hidden="true" title="From database."></i>
                        }
                        else
                        {
                            <i class="fa fa-plus-circle text-info" aria-hidden="true" title="New data."></i>
                        }
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.CosPreCostingDetailsList[i].FABCODE)
                        @Html.HiddenFor(clc => clc.CosPreCostingDetailsList[i].TRNSDATE)
                        @Html.HiddenFor(clc => clc.CosPreCostingDetailsList[i].COUNTID)
                        @Html.HiddenFor(clc => clc.CosPreCostingDetailsList[i].BasYarnCountInfo.COUNTNAME)
                        @Html.HiddenFor(clc => clc.CosPreCostingDetailsList[i].BasYarnCountInfo.RND_COUNTNAME)
                        @Model.CosPreCostingDetailsList[i].BasYarnCountInfo?.RND_COUNTNAME
                    </td>
                    <td>
                        @Model.CosPreCostingDetailsList[i].Lot
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.CosPreCostingDetailsList[i].YARN_FOR)
                        @Model.CosPreCostingDetailsList[i].Yarnfor?.YARNNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.CosPreCostingDetailsList[i].RND_CONSUMP)
                        @Model.CosPreCostingDetailsList[i].RND_CONSUMP
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.CosPreCostingDetailsList[i].COS_CONSUMP)
                        @Model.CosPreCostingDetailsList[i].COS_CONSUMP
                    </td>
                    <td>
                        <input asp-for="CosPreCostingDetailsList[i].RATE" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="CosPreCostingDetailsList[i].YPB" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="CosPreCostingDetailsList[i].REMARKS" class="form-control" />
                    </td>
                    @*<td>
                            <i class="fa fa-trash fa-2x text-danger" onclick="RemovePreCostDetails(@i)" aria-hidden="true"></i>
                        </td>*@
                </tr>
            }

        </tbody>
    </table>
}

<script type="text/javascript" asp-append-version="true">

    function RemovePreCostDetails(removeIndexValue) {
        swal({
            title: "Please Confirm",
            text: "You won't able to revert, Are you sure to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, sir",
            cancelButtonText: "Not at all"
        },
            function (isConfirm) {
                if (isConfirm) {
                    var data = $('#form').serializeArray();
                    data.push({ name: "removeIndexValue", value: removeIndexValue });
                    $.ajax({
                        async: true,
                        cache: false,
                        data: data,
                        type: "POST",
                        url: '/CosPreCostingMaster/RemovePreCostDetailsFromList',
                        success: function (partialView) {
                            $('#preCostDetails').html(partialView);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                }
            });
    }

</script>