@model CosPreCostingMasterViewModel
@{
    ViewData["Title"] = "Update Costing";
    Layout = Layout;
}

<h2><i class="fa fa-edit fa-lg text-warning" aria-hidden="true"></i> Pre-Costing</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="EditPreCostingMaster">
        <div class="panel panel-default">
            <div class="panel-body row">
                @Html.HiddenFor(c => c.CosPreCostingMaster.EncryptedId)
                @Html.HiddenFor(c => c.CosPreCostingMaster.CSID)
                @Html.HiddenFor(c => c.CosPreCostingMaster.CSDATE)
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.FABCODE" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.CosPreCostingMaster.FABCODE, new SelectList(Model.FabricInfos, "FABCODE", "STYLE_NAME"), "Select Style", htmlAttributes: new { @class = "form-control js-example-basic-single", @id = "fabCode" })
                        <span asp-validation-for="CosPreCostingMaster.FABCODE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.FINID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.CosPreCostingMaster.FINID, new SelectList(Model.FinishTypes, "FINID", "TYPENAME"), "Select Finish Type", htmlAttributes: new { @class = "form-control js-example-basic-single", @readonly = "true" })
                        <span asp-validation-for="CosPreCostingMaster.FINID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.FINISHCOST" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.FINISHCOST" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.FINISHCOST" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.ORDER_QTY" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.ORDER_QTY" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.ORDER_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.SURPLUS_QTY" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.SURPLUS_QTY" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.SURPLUS_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.TID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.CosPreCostingMaster.TID, new SelectList(Model.ComTenors, "TID", "NAME"), "Select Tenor", htmlAttributes: new { @class = "form-control js-example-basic-single", @readonly = "true" })
                        <span asp-validation-for="CosPreCostingMaster.TID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.WID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.CosPreCostingMaster.WID, new SelectList(Model.Weaves, "WID", "NAME"), "Select Weave", htmlAttributes: new { @class = "form-control js-example-basic-single", @readonly = "true" })
                        <span asp-validation-for="CosPreCostingMaster.WID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.COMPOSITION" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.COMPOSITION" class="form-control" readonly />
                        <span asp-validation-for="CosPreCostingMaster.COMPOSITION" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.EFFICIENCY" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.EFFICIENCY" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.EFFICIENCY" class="text-danger"></span>
                    </div>
                </div>
            @*<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.COLORCODE" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.CosPreCostingMaster.COLORCODE, new SelectList(Model.Colors, "COLORCODE", "COLOR"), "Select Color", htmlAttributes: new { @class = "form-control js-example-basic-single", @readonly = "true" })
                        <span asp-validation-for="CosPreCostingMaster.COLORCODE" class="text-danger"></span>
                    </div>
                </div>*@
                @Html.HiddenFor(d=>d.CosPreCostingMaster.COLORCODE)
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="CosPreCostingMaster.COLORNAME" class="control-label"></label>
                    <input asp-for="CosPreCostingMaster.COLORNAME" class="form-control" readonly="readonly" />
                    <span asp-validation-for="CosPreCostingMaster.COLORNAME" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.TOTALENDS" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.TOTALENDS" class="form-control" readonly="readonly" />
                        <span asp-validation-for="CosPreCostingMaster.TOTALENDS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.REED_SPACE" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.REED_SPACE" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.REED_SPACE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.GREPI" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.GREPI" class="form-control" readonly />
                        <span asp-validation-for="CosPreCostingMaster.GREPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.GRPPI" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.GRPPI" class="form-control" readonly />
                        <span asp-validation-for="CosPreCostingMaster.GRPPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.FNEPI" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.FNEPI" class="form-control" readonly />
                        <span asp-validation-for="CosPreCostingMaster.FNEPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.FNPPI" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.FNPPI" class="form-control" readonly />
                        <span asp-validation-for="CosPreCostingMaster.FNPPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.WIDEC" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.WIDEC" class="form-control" readonly />
                        <span asp-validation-for="CosPreCostingMaster.WIDEC" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.WGDEC" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.WGDEC" class="form-control" readonly />
                        <span asp-validation-for="CosPreCostingMaster.WGDEC" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.FINISH_ROUTE" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.FINISH_ROUTE" class="form-control" readonly />
                        <span asp-validation-for="CosPreCostingMaster.FINISH_ROUTE" class="text-danger"></span>
                    </div>
                </div>
                @*@Html.HiddenFor(c => c.CosPreCostingMaster.LOOMTYPE)*@
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.LOOMTYPE" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.CosPreCostingMaster.LOOMTYPE, new SelectList(Model.LoomTypes, "LOOMID", "LOOM_TYPE_NAME"), "Select Loom Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.LOOMSPEED" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.LOOMSPEED" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.LOOMSPEED" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.CID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.CosPreCostingMaster.CID, new SelectList(Model.CosCertificationCosts, "CID", "DESCRIPTION"), "Select Certification", htmlAttributes: new { @class = "form-control js-example-basic-single", @readonly = "true" })
                        <span asp-validation-for="CosPreCostingMaster.CID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.CERTIFICATE_COST" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.CERTIFICATE_COST" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.CERTIFICATE_COST" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="pl-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="panel-title text-success">Pre-Costing Details</h2>
                        <hr />
                    </div>
                    @Html.HiddenFor(c => c.CosPreCostingDetails.TRNSDATE)
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CosPreCostingDetails.COUNTID" class="control-label"></label>
                            <select asp-for="CosPreCostingDetails.COUNTID" class="form-control">
                                <option value="">Select Count Name</option>
                            </select>
                            <span asp-validation-for="CosPreCostingDetails.COUNTID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CosPreCostingDetails.YARN_FOR" class="control-label"></label>
                            @Html.DropDownListFor(dt => dt.CosPreCostingDetails.YARN_FOR, new SelectList(Model.YarnFors, "YARNID", "YARNNAME"), "Select Yarn For", htmlAttributes: new { @class = "form-control js-example-basic-single", @id = "yarnFor" })
                            <span asp-validation-for="CosPreCostingDetails.YARN_FOR" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CosPreCostingDetails.RND_CONSUMP" class="control-label"></label>
                            <input asp-for="CosPreCostingDetails.RND_CONSUMP" class="form-control" readonly />
                            <span asp-validation-for="CosPreCostingDetails.RND_CONSUMP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CosPreCostingDetails.COS_CONSUMP" class="control-label"></label>
                            <input asp-for="CosPreCostingDetails.COS_CONSUMP" class="form-control" />
                            <span asp-validation-for="CosPreCostingDetails.COS_CONSUMP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CosPreCostingDetails.RATE" class="control-label"></label>
                            <input asp-for="CosPreCostingDetails.RATE" class="form-control" />
                            <span asp-validation-for="CosPreCostingDetails.RATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CosPreCostingDetails.VALUE" class="control-label"></label>
                            <input asp-for="CosPreCostingDetails.VALUE" class="form-control" readonly />
                            <span asp-validation-for="CosPreCostingDetails.VALUE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CosPreCostingDetails.YPB" class="control-label"></label>
                            <input asp-for="CosPreCostingDetails.YPB" class="form-control" />
                            <span asp-validation-for="CosPreCostingDetails.YPB" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CosPreCostingDetails.REMARKS" class="control-label"></label>
                            <input asp-for="CosPreCostingDetails.REMARKS" class="form-control" />
                            <span asp-validation-for="CosPreCostingDetails.REMARKS" class="text-danger"></span>
                        </div>
                    </div>*@
                <div id="preCostDetails" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @await Html.PartialAsync($"~/Views/CosPreCostingMaster/AccPreCostDetailsTable.cshtml", Model)
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit">Update</button>
                    @*<button id="btnAdd" class="btn btn-success pull-right mr-2" type="button" accesskey="a">Add</button>*@
                    <a asp-action="GetPreCostingMaster" class="btn btn-dark pull-right">Back to List</a>
                </div>

                <div class="pl-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success">Additional Information</h2>
                    <hr />
                </div>

                @Html.HiddenFor(c => c.CosPreCostingMaster.SCID)
                @Html.HiddenFor(c => c.CosPreCostingMaster.FCID)

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.COMMISSION" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.COMMISSION" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.COMMISSION" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.INTEREST" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.INTEREST" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.INTEREST" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.RATE" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.RATE" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.RATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.REMARKS" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.REMARKS" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="pl-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success">Standard Cost</h2>
                    <hr />
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.MONTHLY_COST" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.MONTHLY_COST" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.MONTHLY_COST" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.PROD" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.PROD" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.PROD" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.OVERHEAD_BDT" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.OVERHEAD_BDT" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.OVERHEAD_BDT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.CONV_RATE" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.CONV_RATE" class="form-control" readonly="readonly" />
                        <span asp-validation-for="CosPreCostingMaster.CONV_RATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.OVERHEAD_USD" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.OVERHEAD_USD" class="form-control" readonly="readonly" />
                        <span asp-validation-for="CosPreCostingMaster.OVERHEAD_USD" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.LOOMSPEED" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.LOOMSPEED" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.LOOMSPEED" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.EFFICIENCY" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.EFFICIENCY" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.EFFICIENCY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.GRPPI" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.GRPPI" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.GRPPI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.CONTRACTION" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.CONTRACTION" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.CONTRACTION" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success">Fixed Cost</h2>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.DYEINGCOST" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.DYEINGCOST" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.DYEINGCOST" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.UPCHARGE" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.UPCHARGE" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.UPCHARGE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.PRINTINGCOST" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.PRINTINGCOST" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.PRINTINGCOST" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.OVERHEADCOST" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.OVERHEADCOST" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.OVERHEADCOST" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.SAMPLECOST" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.SAMPLECOST" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.SAMPLECOST" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.SIZINGCOST" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.SIZINGCOST" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.SIZINGCOST" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.CFRCOST" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.CFRCOST" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.CFRCOST" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.COMSAMPLECOST" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.COMSAMPLECOST" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.COMSAMPLECOST" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="CosPreCostingMaster.REJECTION" class="control-label"></label>
                        <input asp-for="CosPreCostingMaster.REJECTION" class="form-control" />
                        <span asp-validation-for="CosPreCostingMaster.REJECTION" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial_Except_jQuery");}
    <script src="~/js/custom-js/Stepper.js" asp-append-version="true"></script>
    <script type="text/javascript" asp-append-version="true">
        $(function () {

            //Get Initial Fabric Details
            GetFabCode($("#fabCode").val());

            $("#CosPreCostingDetails_COS_CONSUMP").on("change",
                function() {
                    $('#CosPreCostingDetails_VALUE').val(($('#CosPreCostingDetails_COS_CONSUMP').val() * $('#CosPreCostingDetails_RATE').val()).toFixed(2));
                });

            $("#CosPreCostingDetails_RATE").on("change",
                function() {
                    $('#CosPreCostingDetails_VALUE').val(($('#CosPreCostingDetails_COS_CONSUMP').val() * $('#CosPreCostingDetails_RATE').val()).toFixed(2));
                });

            $("#CosPreCostingMaster_FINID").on("change",
                function() {
                    var selectedData = $("#CosPreCostingMaster_FINID").val();
                    $.get("@Url.Action("GetFinishCost", "CosPreCostingMaster")", { finId: selectedData })
                        .done(function(data) {
                            $("#CosPreCostingMaster_FINISHCOST").val(data);
                        });
                });

            $("#CosPreCostingMaster_CID").on("change",
                function () {
                    var selectedData =  $("#CosPreCostingMaster_CID").val();
                    $.get("@Url.Action("GetCertificationCost", "CosPreCostingMaster")", { cId: selectedData })
                        .done(function(data) {
                            $("#CosPreCostingMaster_CERTIFICATE_COST").val(data);
                        });
                });

            $("#btnAdd").on('click',
                function() {
                    $.ajax({
                        async: true,
                        cache: false,
                        data: $('#form').serialize(),
                        type: "POST",
                        url: '/CosPreCostingMaster/AddPreCostingDetails',
                        success: function(partialView) {
                            $('#preCostDetails').html(partialView);
                        },
                        error: function(e) {
                            console.log(e);
                        }
                    });
                });


            $("#fabCode").change(function() {
                GetFabCode($("#fabCode").val());
            });


            $("#CosPreCostingDetails_COUNTID").change(function() {
                var selectedItem = $(this).val();
                var fabCode = $("#fabCode").val();

                var result = $("#CosPreCostingDetails_COUNTID").select2('data');
                console.log(result);

                var countName = result[0].text;
                var yarnFor = countName.indexOf("Warp") >= 0 ? 1 : countName.indexOf("Weft") >= 0 ? 2 : 3;

                $("#yarnFor").val(yarnFor).trigger("change");

                if (selectedItem != null || fabCode !== null) {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetConsumption", "RndYarnConsumption")",
                        data: { "countId": selectedItem, "fabCode": fabCode, "yarnFor": yarnFor },
                        success: function(data) {
                            if (data != null) {
                                //console.log(data);
                                $("#CosPreCostingDetails_RND_CONSUMP").val(data);
                                $("#CosPreCostingDetails_COS_CONSUMP").val(((data / 1.4) * 1.5).toFixed(4));
                                $('#CosPreCostingDetails_VALUE').val(($('#CosPreCostingDetails_COS_CONSUMP').val() * $('#CosPreCostingDetails_RATE').val()).toFixed(2));
                            } else {
                                toastrNotification("Failed To Retrieve RND Yarn Consumption.", "error");
                            }
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            toastrNotification("Failed To Retrieve RND Yarn Consumption.", "error");
                        }
                    });
                }
            });


        });


        function GetFabCode(selectedItem) {

            $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetFabricInfo", "ComExFabStyle")",
                    data: { "fabCode": selectedItem },
                    success: function(data) {
                        if (data != null) {
                            //$('#rndConst').val(data.composition);
                            $("#CosPreCostingMaster_COLORCODE").val(data.rND_FABRICINFO.colorcode);
                            $("#CosPreCostingMaster_COLORNAME").val(data.rND_FABRICINFO.colorcodeNavigation.color);
                            $("#CosPreCostingMaster_GREPI").val(data.rND_FABRICINFO.grepi);
                            $("#CosPreCostingMaster_GRPPI").val(data.rND_FABRICINFO.grepi);
                            $("#CosPreCostingMaster_FNEPI").val(data.rND_FABRICINFO.fnepi);
                            $("#CosPreCostingMaster_FNPPI").val(data.rND_FABRICINFO.fnppi);
                            $("#CosPreCostingMaster_TOTALENDS").val(data.rND_FABRICINFO.totalends);
                            $("#CosPreCostingMaster_WIDEC").val(data.rND_FABRICINFO.widec);
                            $("#CosPreCostingMaster_WGDEC").val(data.rND_FABRICINFO.wgdec);
                            $("#CosPreCostingMaster_WID").val(data.rND_FABRICINFO.wid).trigger("change");
                            $("#CosPreCostingMaster_REED_SPACE").val(data.rND_FABRICINFO.reeD_SPACE);
                            $("#CosPreCostingMaster_FINISH_ROUTE").val(data.rND_FABRICINFO.finisH_ROUTE);
                            $("#CosPreCostingMaster_COMPOSITION").val(data.rND_FABRICINFO.compositioN_DEC);
                            $("#CosPreCostingMaster_FINID").val(data.rND_FABRICINFO.finid).trigger("change");
                            $.get("@Url.Action("GetFinishCost", "CosPreCostingMaster")", { finId: data.rND_FABRICINFO.finid })
                                .done(function(data) {
                                    $("#CosPreCostingMaster_FINISHCOST").val(data);
                                });
                            $("#LOOMTYPE").text(data.rND_FABRICINFO.loom.looM_TYPE_NAME);
                            $("#CosPreCostingMaster_LOOMTYPE").val(data.rND_FABRICINFO.loom.loomid);
                            $("#CosPreCostingMaster_LOOMSPEED").val(data.rND_FABRICINFO.loomspeed);
                            $("#CosPreCostingMaster_EFFICIENCY").val(data.rND_FABRICINFO.efficiency);

                            if (data.rND_FABRIC_COUNTINFOs != null) {
                                //console.log(data);
                                $("#CosPreCostingDetails_COUNTID").html('');
                                $("#CosPreCostingDetails_COUNTID").append('<option value="" selected>Select Count Name</option>');
                                $.each(data.rND_FABRIC_COUNTINFOs,
                                    function (id, option) {
                                        $("#CosPreCostingDetails_COUNTID").append($('<option></option>').val(option.count.countid).html(option.count.countname + "-" + option.yarnFor.yarnname));
                                    });
                            }
                        } else {
                            toastrNotification("Failed To Retrieve Fabric Information.", "error");
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        toastrNotification("Failed To Retrieve Fabric Information.", "error");
                    }
                });
        }
    </script>
}