@model PrWarpingProcessSlasherViewModel

@if (Model.FPrWarpingProcessDwDetailsList.Any())
{
    <div class="table-responsive">
    <table class="table mt-2 table-condensed" style="border-collapse:collapse;" id="partialView">
        <thead id="thead">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWarpingProcessDwDetailsList.FirstOrDefault().BALL_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWarpingProcessDwDetailsList.FirstOrDefault().BALL_LENGTH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWarpingProcessDwDetailsList.FirstOrDefault().LINK_BALL_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWarpingProcessDwDetailsList.FirstOrDefault().LINK_BALL_LENGTH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWarpingProcessDwDetailsList.FirstOrDefault().SHIFTNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWarpingProcessDwDetailsList.FirstOrDefault().COUNTID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWarpingProcessDwDetailsList.FirstOrDefault().MACHINE_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWarpingProcessDwDetailsList.FirstOrDefault().BREAKS_ENDS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWarpingProcessDwDetailsList.FirstOrDefault().ENDS_ROPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWarpingProcessDwDetailsList.FirstOrDefault().REMARKS)
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.FPrWarpingProcessDwDetailsList.Count; i++)
        {
            <tr>
                <td><span class="expand-button"></span></td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].WARP_D_ID)
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].WARP_ID)
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].BALL_NO)
                    @Model.FPrWarpingProcessDwDetailsList[i].BALL_NONavigation?.BALL_NO
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].BALL_LENGTH)
                    @Model.FPrWarpingProcessDwDetailsList[i].BALL_LENGTH
                </td>
                @*<td>
                                @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].BGT_KG_PER_SET)
                                @Model.FPrWarpingProcessDwDetailsList[i].BGT_KG_PER_SET
                            </td>*@
                <td>
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].LINK_BALL_NO)
                    @Model.FPrWarpingProcessDwDetailsList[i].LINK_BALL_NONavigation?.BALL_NO
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].LINK_BALL_LENGTH)
                    @Model.FPrWarpingProcessDwDetailsList[i].LINK_BALL_LENGTH
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].SHIFTNAME)
                    @Model.FPrWarpingProcessDwDetailsList[i].SHIFTNAME
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].COUNTID)
                    @Model.FPrWarpingProcessDwDetailsList[i].COUNT?.COUNT?.COUNTNAME
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].MACHINE_ID)
                    @Model.FPrWarpingProcessDwDetailsList[i].MACHINE_?.MACHINE_NAME
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].BREAKS_ENDS)
                    @Model.FPrWarpingProcessDwDetailsList[i].BREAKS_ENDS
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].ENDS_ROPE)
                    @Model.FPrWarpingProcessDwDetailsList[i].ENDS_ROPE
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWarpingProcessDwDetailsList[i].REMARKS)
                    @Model.FPrWarpingProcessDwDetailsList[i].REMARKS
                </td>
                <td>
                    <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveCountFromList(@i)" aria-hidden="true"></i>
                </td>
            </tr>
        }

        </tbody>
    </table>
    </div>
        }


        <script type="text/javascript" asp-append-version="true">
            function RemoveCountFromList(removeIndexValue) {
                var data = $('#form').serializeArray();
                data.push({ name: "removeIndexValue", value: removeIndexValue });
                $.ajax({
                    async: true,
                    cache: false,
                    data: data,
                    type: "POST",
                    url: '/FPrWarpingProcessSlasher/RemoveBallNoList',
                    success: function (partialView, status, xhr) {
                        $('#BallDetails').html(partialView);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        </script>
