
@model DetailsRndFabTestGreyViewModel

@{
    ViewData["Title"] = "Fabric Test Information";
    Layout = Layout;
}

<h2><i class="fa fa-xing fa-lg text-success" aria-hidden="true"></i>@ViewData["Title"] Details <i class="fa fa-at text-info">Grey</i></h2>
<hr />

@{
    if (Model != null)
    {
        <div class="row">
            <div class="col-md-12">
                @*<div class="row">
                    <div class="col-lg-12">
                        <div class="m-b-md">
                            <h2 class="text-white btn btn-info">@Html.DisplayFor(e => e.RndFabtestGrey?.PROG?.SDID) : [ @Model.RndFabtestGrey.PROG.SDID ]</h2>
                            <hr />
                        </div>
                    </div>
                </div>*@
                <div class="row details">
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.LTGDATE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.LTGDATE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.PROG.SDID" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Model.RndFabtestGrey?.PROG?.SDID
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.LENGTHTEST" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.LENGTHTEST)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.EMP_WASHEDBY.FIRST_NAME" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.EMP_WASHEDBY.FIRST_NAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.EMP_UNWASHEDBY.FIRST_NAME" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.EMP_UNWASHEDBY.FIRST_NAME)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.SHIFT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.SHIFT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.BATCHNO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.BATCHNO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.DOFF_ROLL_NO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.DOFF_ROLL_NO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.DEVELOPMENTNO" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.DEVELOPMENTNO)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.ORDER_REPEAT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.ORDER_REPEAT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.GREPI" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.GREPI)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.GRPPI" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.GRPPI)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.BWEPI" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.BWEPI)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.BWPPI" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.BWPPI)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.AWEPI" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.AWEPI)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.AWPPI" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.AWPPI)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.WGGRBW" class="control-label"></label><sup>2</sup>)
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.WGGRBW)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.WGGRAW" class="control-label"></label><sup>2</sup>)
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.WGGRAW)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.WIGRBW" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.WIGRBW)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.WIGRAW" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.WIGRAW)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.SGWARP" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.SGWARP)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.SGWEFT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.SGWEFT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.SRGRWRAP" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.SRGRWRAP)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.SRGRWEFT" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.SRGRWEFT)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.SKEWWASH" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.SKEWWASH)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.SKEWMOVE" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.SKEWMOVE)
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <strong>
                                <label asp-for="RndFabtestGrey.REMARKS" class="control-label"></label>
                            </strong>
                            <span class="custom-form-control form-control bg-e9ecef">
                                @Html.DisplayFor(model => model.RndFabtestGrey.REMARKS)
                            </span>
                        </div>
                    </div>

                    @if (Model.RndSampleInfoWeavingDetailses.Any())
                    {
                        <div class="col-12 table-responsive">
                            <h2 class="panel-title text-success">Weaving Details</h2>

                            <table class="table table-hover">
                                <thead id="thead">
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().COUNT.COUNTNAME)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().TYPE)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().DESCRIPTION)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().COLORCODENavigation.COLOR)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().LOT.LOTNO)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().SUPP.SUPPNAME)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().RATIO)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().NE)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().BGT)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().YARNTYPE)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().YARN.YARNNAME)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoWeavingDetailses.FirstOrDefault().REMARKS)</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        foreach (var item in Model.RndSampleInfoWeavingDetailses)
                                        {
                                            <tr>
                                                <td>@item.COUNT.COUNTNAME</td>
                                                <td>@item.TYPE</td>
                                                <td>@item.DESCRIPTION</td>
                                                <td>@item.COLORCODENavigation.COLOR</td>
                                                <td>@item.LOT.LOTNO</td>
                                                <td>@item.SUPP.SUPPNAME</td>
                                                <td>@item.RATIO</td>
                                                <td>@item.NE</td>
                                                <td>@item.BGT</td>
                                                <td>@item.YARNTYPE</td>
                                                <td>@item.YARN.YARNNAME</td>
                                                <td>@item.REMARKS</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                    @if (Model.RndSampleInfoDetailses.Any())
                    {
                        <div class="col-12 table-responsive">
                            <h2 class="panel-title text-success">Dyeing Details</h2>

                            <table class="table table-hover">
                                <thead id="thead">
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().COUNT.COUNTNAME)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().TYPE)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().DESCRIPTION)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().COLORCODENavigation.COLOR)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().LOT.LOTNO)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().SUPP.SUPPNAME)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().RATIO)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().NE)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().BGT)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().YARNTYPE)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().YARN.YARNNAME)</th>
                                        <th>@Html.DisplayNameFor(model => model.RndSampleInfoDetailses.FirstOrDefault().REMARKS)</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        foreach (var item in Model.RndSampleInfoDetailses)
                                        {
                                            <tr>
                                                <td>@item.COUNT.COUNTNAME</td>
                                                <td>@item.TYPE</td>
                                                <td>@item.DESCRIPTION</td>
                                                <td>@item.COLORCODENavigation.COLOR</td>
                                                <td>@item.LOT.LOTNO</td>
                                                <td>@item.SUPP.SUPPNAME</td>
                                                <td>@item.RATIO</td>
                                                <td>@item.NE</td>
                                                <td>@item.BGT</td>
                                                <td>@item.YARNTYPE</td>
                                                <td>@item.YARN.YARNNAME</td>
                                                <td>@item.REMARKS</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div class="col-md-12">
                    @Html.ActionLink("Edit", $"EditRndFabTestGrey", new { ltgId = Model.RndFabtestGrey.EncryptedId }, new { @class = "btn btn-warning pull-right mt-2" })
                    <a class="btn btn-dark pull-right mt-2" asp-action="GetRndFabTestGrey" asp-controller="RndFabTestGrey">Back to List</a>
                </div>
            </div>
        </div>
    }
}