@model PreviousDataRndFabTestGreyViewModel

<div class="col-12">
    <h2 class="panel-title text-success">Dyeing Details</h2>
    <hr>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.SDID)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.SDID)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.SIDATE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.SIDATE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.PROG_NO)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.PROG_NO)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.SDRFID)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.SDRFID)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.DYEINGCODE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.DYEINGCODE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.STYLEREF)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.STYLEREF)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.RNDTEAM)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.RNDTEAM)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.RNDPERSON)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.RNDPERSON)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.ENDS_ROPE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.ENDS_ROPE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.NO_OF_ROPE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.NO_OF_ROPE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.TOTAL_ENDS)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.TOTAL_ENDS)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.LENGTH_MTR)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.LENGTH_MTR)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.DYEING_REF)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.DYEING_REF)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.REED_SPACE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.REED_SPACE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.WARP_PROG_DATE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.WARP_PROG_DATE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.COMMITED_DEL_DATE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.COMMITED_DEL_DATE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.YARN_LOCATION)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.YARN_LOCATION)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.REMARKS)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.REMARKS)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.OPT1)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.OPT1)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.OPT2)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.OPT2)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.OPT3)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.OPT3)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.OPT4)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.OPT4)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.OPT5)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.OPT5)
        </p>
    </div>
</div>

<div class="col-12">
    <h2 class="panel-title text-success">Weaving Details</h2>
    <hr>
</div>

<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoWeaving.SDID)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoWeaving.SDID)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoWeaving.FABCODE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoWeaving.FABCODE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoWeaving.CONCEPT)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoWeaving.CONCEPT)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoWeaving.BEAMNO)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoWeaving.BEAMNO)
        </p>
    </div>
</div>