
@model MktSdrfInfoViewModel

@{
    ViewData["Title"] = "Edit Simple Development Requisition Form (SDRF)";
    Layout = Layout;
}

<h2><i class="fa fa-edit fa-lg text-warning" aria-hidden="true"></i> @ViewData["Title"]</h2>
<hr />

<div class="container-fluid">
    <form id="form" role="form" asp-action="EditSdrf">
        <div class="panel panel-default">
            <div class="panel-body row">
                @Html.HiddenFor(c => c.MktSdrfInfo.EncryptedId)
                @Html.HiddenFor(c => c.MktSdrfInfo.SDRFID)
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.DEV_ID" class="control-label"></label>
                        <div class="form-check radio_toggle p-0">
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.DEV_ID, "11", new { @class = "dev_type", @readonly = "true" }) <span class="label-text">New Development</span>
                            </label>
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.DEV_ID, "3", new { @class = "dev_type", @readonly = "true" }) <span class="label-text">Remake Development</span>
                            </label>
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.DEV_ID, "6", new { @class = "dev_type", @readonly = "true" }) <span class="label-text">Re-Engineering</span>
                            </label>
                        </div>
                        <span asp-validation-for="MktSdrfInfo.DEV_ID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.TEAMID" class="control-label"></label>
                        <div class="form-check radio_toggle p-0">
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.TEAMID, "215", new { @class = "team", @readonly = "true" }) <span class="label-text">Team-A</span>
                            </label>
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.TEAMID, "217", new { @class = "team", @readonly = "true" }) <span class="label-text">Team-B</span>
                            </label>
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.TEAMID, "216", new { @class = "team", @readonly = "true" }) <span class="label-text">Team-C</span>
                            </label>
                        </div>
                        <span asp-validation-for="MktSdrfInfo.TEAMID" class="text-danger"></span>
                    </div>
                </div>
                @if (User.IsInRole("RND") || User.IsInRole("Plant Head(F)") || User.IsInRole("Super Admin"))
                {
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.RND_TEAM_ID" class="control-label"></label>
                            <div class="form-check radio_toggle p-0">
                                <label class="toggle_r mr-4">
                                    @Html.RadioButtonFor(model => model.MktSdrfInfo.RND_TEAM_ID, "256", new { @class = "rnd_team", @readonly = "true" }) <span class="label-text">RND-A</span>
                                </label>
                                <label class="toggle_r mr-4">
                                    @Html.RadioButtonFor(model => model.MktSdrfInfo.RND_TEAM_ID, "257", new { @class = "rnd_team", @readonly = "true" }) <span class="label-text">RND-B</span>
                                </label>
                                <label class="toggle_r mr-4">
                                    @Html.RadioButtonFor(model => model.MktSdrfInfo.RND_TEAM_ID, "258", new { @class = "rnd_team", @readonly = "true" }) <span class="label-text">RND-C</span>
                                </label>
                            </div>
                            <span asp-validation-for="MktSdrfInfo.RND_TEAM_ID" class="text-danger"></span>
                        </div>
                    </div>
                }

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.FORTYPE" class="control-label"></label>
                        <div class="form-check radio_toggle p-0">
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.FORTYPE, "MEN", new { @class = "for", @readonly = "true" }) <span class="label-text">MEN</span>
                            </label>
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.FORTYPE, "WOMEN", new { @class = "for", @readonly = "true" }) <span class="label-text">WOMEN</span>
                            </label>
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.FORTYPE, "KID", new { @class = "for", @readonly = "true" }) <span class="label-text">KID</span>
                            </label>
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.FORTYPE, "UNISEX", new { @class = "for", @readonly = "true" }) <span class="label-text">UNISEX</span>
                            </label>
                        </div>
                        <span asp-validation-for="MktSdrfInfo.FORTYPE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.PRIORITY" class="control-label font-weight-bold"></label>
                        <div class="form-check radio_toggle p-0">
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.PRIORITY, "URGENT", new { @class = "priority" }) <span class="label-text">Urgent</span>
                            </label>
                            <label class="toggle_r mr-4">
                                @Html.RadioButtonFor(model => model.MktSdrfInfo.PRIORITY, "REGULAR", new { @class = "priority", @checked = "checked" }) <span class="label-text">Regular</span>
                            </label>
                        </div>
                        <span asp-validation-for="MktSdrfInfo.PRIORITY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.SDRF_NO" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.SDRF_NO" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.SDRF_NO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.TRANSDATE" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.TRANSDATE" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.TRANSDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.AID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.MktSdrfInfo.AID, new SelectList(Model.RndAnalysisSheets, "AID", "MKT_QUERY_NO"), "Select Query No", htmlAttributes: new { @class = "form-control js-example-basic-single", @id = "MktSdrfInfo_AID", @readonly = "true" })
                        <span asp-validation-for="MktSdrfInfo.AID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.OPTION5" class="control-label font-weight-bold"></label>
                        <input asp-for="MktSdrfInfo.OPTION5" class="form-control" />
                        <span asp-validation-for="MktSdrfInfo.OPTION5" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.BUYER_REF" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.BUYER_REF" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.BUYER_REF" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.MKT_PERSON_ID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.MktSdrfInfo.MKT_PERSON_ID, new SelectList(Model.MktTeams, "MKT_TEAMID", "PERSON_NAME"), "Select Related Person", htmlAttributes: new { @class = "form-control js-example-basic-single", @id = "MktSdrfInfo_MKT_PERSON_ID", @readonly = "true" })
                        <span asp-validation-for="MktSdrfInfo.MKT_PERSON_ID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.BUYERID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.MktSdrfInfo.BUYERID, new SelectList(Model.BuyerInfos, "BUYERID", "BUYER_NAME"), "Select Buyer", htmlAttributes: new { @class = "form-control js-example-basic-single", @id = "MktSdrfInfo_BUYERID", @readonly = "true" })
                        <span asp-validation-for="MktSdrfInfo.BUYERID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.SEASON" class="control-label"></label>
                        <select class="form-control js-example-basic-single" asp-for="MktSdrfInfo.SEASON" asp-items="@ViewBag.Seasons" readonly>
                            <option value="">Select A Season</option>
                        </select>
                        <span asp-validation-for="MktSdrfInfo.SEASON" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.BRANDID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.MktSdrfInfo.BRANDID, new SelectList(Model.BasBrandinfos, "BRANDID", "BRANDNAME"), "Select A Brand", htmlAttributes: new { @class = "form-control js-example-basic-single", @readonly = "true" })
                        <span asp-validation-for="MktSdrfInfo.BRANDID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.SAMPLE_QTY" class="control-label font-weight-bold"></label>
                        <input asp-for="MktSdrfInfo.SAMPLE_QTY" class="form-control" />
                        <span asp-validation-for="MktSdrfInfo.SAMPLE_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.CONSTRUCTION" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.CONSTRUCTION" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.CONSTRUCTION" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.WIDTH" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.WIDTH" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.WIDTH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.WEIGHT_AW" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.WEIGHT_AW" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.WEIGHT_AW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.GSM_AW" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.GSM_AW" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.GSM_AW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.WEIGHT_BW" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.WEIGHT_BW" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.WEIGHT_BW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.GSM_BW" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.GSM_BW" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.GSM_BW" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.FINID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.MktSdrfInfo.FINID, new SelectList(Model.RndFinishType, "FINID", "TYPENAME"), "Select Finish Type", htmlAttributes: new { @class = "form-control js-example-basic-single", @readonly = "true" })
                        <span asp-validation-for="MktSdrfInfo.FINID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.COLOR" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.COLOR" class="form-control"/>
                        <span asp-validation-for="MktSdrfInfo.COLOR" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.TARGET_PRICE" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.TARGET_PRICE" class="form-control"/>
                        <span asp-validation-for="MktSdrfInfo.TARGET_PRICE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.ORDER_QTY" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.ORDER_QTY" class="form-control"/>
                        <span asp-validation-for="MktSdrfInfo.ORDER_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.BUYER_ORIGIN" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.MktSdrfInfo.BUYER_ORIGIN, new SelectList(Model.Countries, "ID", "COUNTRY_NAME"), "Select Buyer Origin", htmlAttributes: new { @class = "form-control js-example-basic-single", @readonly = "true" })
                        <span asp-validation-for="MktSdrfInfo.BUYER_ORIGIN" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.REQUIRED_DATE" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.REQUIRED_DATE" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.REQUIRED_DATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.OPTIONAL_DATE" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.OPTIONAL_DATE" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.OPTIONAL_DATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.BUYER_PREVIOUS_QTY" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.BUYER_PREVIOUS_QTY" class="form-control" readonly />
                        <span asp-validation-for="MktSdrfInfo.BUYER_PREVIOUS_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.REMARKS" class="control-label"></label>
                        <input asp-for="MktSdrfInfo.REMARKS" class="form-control"/>
                        <span asp-validation-for="MktSdrfInfo.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="MktSdrfInfo.IS_BUYER_VISITED_FACTORY" class="control-label"></label>
                        <div class="form-control custom-form-control">
                            <label class="switch">
                                <input asp-for="MktSdrfInfo.IS_BUYER_VISITED_FACTORY" readonly />
                                <span class="slider round"></span>
                                <span class="absolute-no">NO</span>
                            </label>
                        </div>
                        <span asp-validation-for="MktSdrfInfo.IS_BUYER_VISITED_FACTORY" class="text-danger"></span>
                    </div>
                </div>

                @if (User.IsInRole("Marketing(DGM)"))
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="panel-title text-success"><i class="fa fa-hand-o-right" aria-hidden="true"></i> For Marketing Only</h2>
                        <hr />
                    </div>

                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.Marketing_DGM_REMARKS" class="control-label"></label>
                            <input asp-for="MktSdrfInfo.Marketing_DGM_REMARKS" class="form-control" />
                            <span asp-validation-for="MktSdrfInfo.Marketing_DGM_REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.MKT_DGM_APPROVE" class="control-label"></label>
                            <div class="form-control custom-form-control">
                                <label class="switch">
                                    <input asp-for="MktSdrfInfo.MKT_DGM_APPROVE" />
                                    <span class="slider round"></span>
                                    <span class="absolute-no">NO</span>
                                </label>
                            </div>
                            <span asp-validation-for="MktSdrfInfo.MKT_DGM_APPROVE" class="text-danger"></span>
                        </div>
                    </div>
                }

                @if (User.IsInRole("Planning(F)"))
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="panel-title text-success">For Planning Only</h2>
                        <hr />
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.PLANNING_REMARKS" class="control-label"></label>
                            <input asp-for="MktSdrfInfo.PLANNING_REMARKS" class="form-control" />
                            <span asp-validation-for="MktSdrfInfo.PLANNING_REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.PLN_APPROVE" class="control-label"></label>
                            <div class="form-control custom-form-control">
                                <label class="switch">
                                    <input asp-for="MktSdrfInfo.PLN_APPROVE" />
                                    <span class="slider round"></span>
                                    <span class="absolute-no">NO</span>
                                </label>
                            </div>
                            <span asp-validation-for="MktSdrfInfo.PLN_APPROVE" class="text-danger"></span>
                        </div>
                    </div>
                }

                @if (User.IsInRole("RND"))
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="panel-title text-success"><i class="fa fa-hand-o-right" aria-hidden="true"></i> For RND Only</h2>
                        <hr />
                    </div>

                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.ACTUAL_DATE" class="control-label"></label>
                            <input asp-for="MktSdrfInfo.ACTUAL_DATE" class="form-control" />
                            <span asp-validation-for="MktSdrfInfo.ACTUAL_DATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.SUBMIT_DATE_FACTORY" class="control-label"></label>
                            <input asp-for="MktSdrfInfo.SUBMIT_DATE_FACTORY" class="form-control" />
                            <span asp-validation-for="MktSdrfInfo.SUBMIT_DATE_FACTORY" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.RND_REMARKS" class="control-label"></label>
                            <input asp-for="MktSdrfInfo.RND_REMARKS" class="form-control" />
                            <span asp-validation-for="MktSdrfInfo.RND_REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.MATERIAL_AVAILABLE" class="control-label"></label>
                            <div class="form-control custom-form-control">
                                <label class="switch">
                                    <input asp-for="MktSdrfInfo.MATERIAL_AVAILABLE" />
                                    <span class="slider round"></span>
                                    <span class="absolute-no">NO</span>
                                </label>
                            </div>
                            <span asp-validation-for="MktSdrfInfo.MATERIAL_AVAILABLE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.RND_APPROVE" class="control-label"></label>
                            <div class="form-control custom-form-control">
                                <label class="switch">
                                    <input asp-for="MktSdrfInfo.RND_APPROVE" />
                                    <span class="slider round"></span>
                                    <span class="absolute-no">NO</span>
                                </label>
                            </div>
                            <span asp-validation-for="MktSdrfInfo.RND_APPROVE" class="text-danger"></span>
                        </div>
                    </div>
                }

                @if (User.IsInRole("Plant Head(F)"))
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="panel-title text-success"><i class="fa fa-hand-o-right" aria-hidden="true"></i> For Head of Plant Only</h2>
                        <hr />
                    </div>

                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.PLANT_HEAD_REMARKS" class="control-label"></label>
                            <input asp-for="MktSdrfInfo.PLANT_HEAD_REMARKS" class="form-control" />
                            <span asp-validation-for="MktSdrfInfo.PLANT_HEAD_REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="MktSdrfInfo.PLANT_HEAD_APPROVE" class="control-label"></label>
                            <div class="form-control custom-form-control">
                                <label class="switch">
                                    <input type="checkbox" asp-for="MktSdrfInfo.PLANT_HEAD_APPROVE" />
                                    <span class="slider round"></span>
                                    <span class="absolute-no">NO</span>
                                </label>
                            </div>
                            <span asp-validation-for="MktSdrfInfo.PLANT_HEAD_APPROVE" class="text-danger"></span>
                        </div>
                    </div>
                }

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-warning pull-right" type="submit">Update</button>
                    <a asp-action="GetSdrfList" class="btn btn-dark pull-right">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/MktSdrfInfo/EditMktSdrfInfo.js"></script>
}