@model ComImpCsInfoViewModel

@if (Model.ComImpCsItemDetailsList.Any())
{
    @for (var i = 0; i < Model.ComImpCsItemDetailsList.Count; i++)
    {

        <tr data-toggle="collapse" data-target="#demo_@i" class="accordion-toggle collapsed">
            <td><span class="expand-button"></span></td>
            <td>
                @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].ITEMID)
                @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].ITEMNAME)
                @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].CSID)
                @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].CSITEMID)
                @Model.ComImpCsItemDetailsList[i].ITEMNAME
            </td>
            <td>
                @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].UNIT)
                @Model.ComImpCsItemDetailsList[i].UNIT
            </td>
            <td>
                @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].PREVIOUS_RATE)
                @Model.ComImpCsItemDetailsList[i].PREVIOUS_RATE
            </td>
            <td>
                @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].QTY)
                @Model.ComImpCsItemDetailsList[i].QTY
            </td>
            <td>
                <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveCsDetails(@i)" aria-hidden="true"></i>
            </td>
        </tr>
        <tr>
            <td colspan="12" class="hiddenRow">
                <div class="accordian-body collapse show" id="demo_@i">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList.FirstOrDefault().SUPPID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList.FirstOrDefault().RATE)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList.FirstOrDefault().ORIGIN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList.FirstOrDefault().TOTAL)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var j = 0; j < Model.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList.Count; j++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList[j].SUPPID)
                                        @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList[j].SUPP.SUPPNAME)
                                        @Model.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList[j].SUPP.SUPPNAME
                                    </td>
                                    <td>
                                        @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList[j].RATE)
                                        @Model.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList[j].RATE
                                    </td>
                                    <td>
                                        @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList[j].ORIGIN)
                                        @Model.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList[j].ORIGIN
                                    </td>
                                    <td>
                                        @Html.HiddenFor(clc => clc.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList[j].TOTAL)
                                        @Model.ComImpCsItemDetailsList[i].ComImpCsRatDetailsList[j].TOTAL
                                    </td>
                                    <td>
                                        <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveCsRateDetails(@i, @j)" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    }
}


<script type="text/javascript" asp-append-version="true">
    function RemoveCsDetails(removeIndexValue) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/ComImpCsInfo/RemoveCsFromList',
            success: function (partialView) {
                $('#csDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function RemoveCsRateDetails(removeIndexValue,rateRemoveIndex) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        data.push({ name: "rateRemoveIndex", value: rateRemoveIndex });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/ComImpCsInfo/RemoveCsRateDetails',
            success: function (partialView) {
                $('#csDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>
