
@model CreateHSampleFabricReceivingM

@if (Model.HSampleFabricReceivingDs.Any())
{
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(e => e.HSampleFabricReceivingD.DPD.FSampleFabricRcvD.SITEM.NAME)</th>
                <th>@Html.DisplayNameFor(e => e.HSampleFabricReceivingD.QTY)</th>
                <th>@Html.DisplayNameFor(e => e.HSampleFabricReceivingD.REMARKS)</th>
                <th>@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.HSampleFabricReceivingDs.Count; i++)
            {
                <tr>
                    <td>
                        @Html.Raw(Model.HSampleFabricReceivingDs[i].RCVDID > 0 ? $"<i class=\"fa fa-database text-danger\"></i> {(i + 1)}" : $"<i class=\"fa fa-plus text-primary\"></i> {i + 1}")
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.HSampleFabricReceivingDs[i].RCVDID)
                        @Html.HiddenFor(e => e.HSampleFabricReceivingDs[i].RCVID)
                        @Html.HiddenFor(e => e.HSampleFabricReceivingDs[i].DPDID)
                        @Html.DisplayFor(e => e.HSampleFabricReceivingDs[i].DPD.FSampleFabricRcvD.SITEM.NAME)
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.HSampleFabricReceivingDs[i].QTY)
                        @Model.HSampleFabricReceivingDs[i].QTY
                    </td>
                    <td>
                        @Html.HiddenFor(e => e.HSampleFabricReceivingDs[i].REMARKS)
                        @Model.HSampleFabricReceivingDs[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash text-danger" onclick="removeFromList(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
            <tr>
                <td>Total</td>
                <td>:</td>
                <td colspan="3">@Model.HSampleFabricReceivingDs.Sum(e => e.QTY)</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Empty!</strong> Please add data to see the list.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}