
@model YarnReceiveForOthersViewModel

@{
    ViewData["Title"] = "Yarn Receive";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> Edit @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" enctype="multipart/form-data" role="form" asp-action="EditYarnReceiveForOthers">
        <div class="panel-body row">


            @Html.HiddenFor(c => c.FYsYarnReceiveMaster.YRCVID)
            @Html.HiddenFor(c => c.FYsYarnReceiveMaster.EncryptedId)

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                    <h2 class="panel-title text-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> @ViewData["Title"] Information</h2>
                </div>
                @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                <div class="custom-control custom-switch float-right">
                    <input asp-for="FYsYarnReceiveMaster.ISRETURNABLE" class="custom-control-input" type="checkbox">
                    <label asp-for="FYsYarnReceiveMaster.ISRETURNABLE" class="custom-control-label"></label>
                </div>
            </div>*@
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.RCVTID" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveMaster.RCVTID, new SelectList(Model.FBasReceiveTypeList, "RCVTID", "RCVTYPE"), "Select Receive Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FYsYarnReceiveMaster.RCVTID" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.SO_NO" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveMaster.SO_NO, new SelectList(Model.RndProductionOrders, "POID", "SO.SO_NO"), "Select So", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FYsYarnReceiveMaster.SO_NO" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.INDENT_TYPE" class="control-label"></label>
                    <select asp-for="FYsYarnReceiveMaster.INDENT_TYPE" class="form-control js-example-basic-single">
                        <option value="0" selected="selected">Bulk</option>
                        <option value="1">Sample</option>
                    </select>
                    <span asp-validation-for="FYsYarnReceiveMaster.INDENT_TYPE" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.YRCVDATE" class="control-label"></label>
                    <input asp-for="FYsYarnReceiveMaster.YRCVDATE" class="form-control " />
                    <span asp-validation-for="FYsYarnReceiveMaster.YRCVDATE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.RCVFROM" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveMaster.RCVFROM, new SelectList(Model.BasSupplierinfos, "SUPPID", "SUPPNAME"), "Select A Supplier", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FYsYarnReceiveMaster.RCVFROM" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.CHALLANNO" class="control-label"></label>
                    <input asp-for="FYsYarnReceiveMaster.CHALLANNO" class="form-control " />
                    <span asp-validation-for="FYsYarnReceiveMaster.CHALLANNO" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.CHALLANDATE" class="control-label"></label>
                    <input asp-for="FYsYarnReceiveMaster.CHALLANDATE" class="form-control " />
                    <span asp-validation-for="FYsYarnReceiveMaster.CHALLANDATE" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.TRUCKNO" class="control-label"></label>
                    <input asp-for="FYsYarnReceiveMaster.TRUCKNO" class="form-control " />
                    <span asp-validation-for="FYsYarnReceiveMaster.TRUCKNO" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-1 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.G_ENTRY_NO" class="control-label"></label>
                    <input asp-for="FYsYarnReceiveMaster.G_ENTRY_NO" class="form-control " />
                    <span asp-validation-for="FYsYarnReceiveMaster.G_ENTRY_NO" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.G_ENTRY_DATE" class="control-label"></label>
                    <input asp-for="FYsYarnReceiveMaster.G_ENTRY_DATE" class="form-control" />
                    <span asp-validation-for="FYsYarnReceiveMaster.G_ENTRY_DATE" class="text-danger"></span>
                </div>
            </div>


            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.SECID" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveMaster.SECID, new SelectList(Model.SecList, "SECID", "SECNAME"), "Select Sec Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FYsYarnReceiveMaster.SECID" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveMaster.SUBSECID" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveMaster.SUBSECID, new SelectList(Model.SubSecList, "SSECID", "SSECNAME"), "Select Sub Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FYsYarnReceiveMaster.SUBSECID" class="text-danger"></span>
                </div>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="panel-title text-success"><i class="fa fa-eye"></i> @ViewData["Title"] Details</h2>
                <hr />
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" id="TargetDetails"></div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 d-none">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveDetail.TRNSDATE" class="control-label"></label>
                    <input asp-for="FYsYarnReceiveDetail.TRNSDATE" class="form-control " />
                    <span asp-validation-for="FYsYarnReceiveDetail.TRNSDATE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveDetail.COUNTID" class="control-label "></label>
                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveDetail.COUNTID, new SelectList(Model.BasYarnCountInfoList, "COUNTID", "RND_COUNTNAME"),
                        "Select Count Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FYsYarnReceiveDetail.COUNTID" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveDetail.RAW" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveDetail.RAW, new SelectList(Model.FYsRawPers, "RAWID", "RAWPER"), "Select A RAW", new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FYsYarnReceiveDetail.RAW" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveDetail.LOT" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveDetail.LOT, new SelectList(Model.FYarnLotinfoList, "LOTID", "LOTNO"), "Select A LOT", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FYsYarnReceiveDetail.LOT" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveDetail.BAG_QTY" class="control-label"></label>
                    <input asp-for="FYsYarnReceiveDetail.BAG_QTY" class="form-control " />
                    <span asp-validation-for="FYsYarnReceiveDetail.BAG_QTY" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveDetail.RCV_QTY" class="control-label"></label>
                    <input asp-for="FYsYarnReceiveDetail.RCV_QTY" class="form-control " />
                    <span asp-validation-for="FYsYarnReceiveDetail.RCV_QTY" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveDetail.LOCATIONID" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveDetail.LOCATIONID, new SelectList(Model.FYsLocationList, "LOCID", "LOCNAME"), "Select Location", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FYsYarnReceiveDetail.LOCATIONID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveDetail.LEDGERID" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FYsYarnReceiveDetail.LEDGERID, new SelectList(Model.FYsLadgerList, "LEDID", "LEDNAME"), "Select Ledger", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FYsYarnReceiveDetail.LEDGERID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FYsYarnReceiveDetail.PAGENO" class="control-label"></label>
                    <input asp-for="FYsYarnReceiveDetail.PAGENO" class="form-control " />
                    <span asp-validation-for="FYsYarnReceiveDetail.PAGENO" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-info pull-right" type="submit">Update</button>
                <button id="addToUpdate" class="btn btn-success pull-right" type="button">Add</button>
                <a asp-action="GetReceiveMaster" class="btn btn-dark pull-right">Back to List</a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive table-hover" id="yarnReceiveForOthersDetailsTableRetrieve">
                @await Html.PartialAsync($"~/Views/YarnReceiveForOthers/PartialViewForYarnOtherReceive.cshtml", Model)

            </div>

        </div>
    </form>
</div>

@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/site-common.js"></script>
    <script asp-append-version="true" src="~/js/YarnReceiveForOthers/CreateYarnReceiveForOthers.js"></script>
}