@model YarnReceiveForOthersViewModel

@if (Model.FYsYarnReceiveDetailList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>

                <th scope="col">@Html.DisplayName("Count Name")</th>
                <th scope="col">@Html.DisplayName("Lot No")</th>
                <th scope="col">@Html.DisplayName("Raw")</th>
                <th scope="col">@Html.DisplayName("Bag")</th>
                <th scope="col">@Html.DisplayName("Kg Qty")</th>
                <th scope="col">@Html.DisplayName("Location")</th>
                <th scope="col">@Html.DisplayName("Ledger")</th>
                <th scope="col">@Html.DisplayName("Page")</th>
                <th scope="col">@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>

            @for (var i = 0; i < Model.FYsYarnReceiveDetailList.Count; i++)
            {
            <tr>
                <td><span class="expand-button"></span></td>

                <td>
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].TRNSID)
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].COUNTID)
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].LEDGERID)
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].LOCATIONID)
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].LOT)
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].PAGENO)
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].RAW)
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].BAG_QTY)
                    @Html.HiddenFor(model => model.FYsYarnReceiveDetailList[i].RCV_QTY)
                    @Html.HiddenFor(clc => clc.FYsYarnReceiveDetailList[i].COUNT)
                    @Model.FYsYarnReceiveDetailList[i].COUNT?.COUNTNAME
                </td>

                <td>
                    @Html.HiddenFor(clc => clc.FYsYarnReceiveDetailList[i].LOTNavigation)
                    @Model.FYsYarnReceiveDetailList[i].LOTNavigation?.LOTNO
                </td>

                <td>
                    @Html.HiddenFor(clc => clc.FYsYarnReceiveDetailList[i].RAWNavigation)
                    @Model.FYsYarnReceiveDetailList[i].RAWNavigation?.RAWPER
                </td>


                <td>
                    @Model.FYsYarnReceiveDetailList[i].BAG_QTY
                </td>

                <td>
                    @Model.FYsYarnReceiveDetailList[i].RCV_QTY
                </td>

                <td>
                    @Html.HiddenFor(clc => clc.FYsYarnReceiveDetailList[i].LOCATION)
                    @Model.FYsYarnReceiveDetailList[i].LOCATION?.LOCNAME
                </td>

                <td>
                    @Html.HiddenFor(clc => clc.FYsYarnReceiveDetailList[i].LEDGER)
                    @Model.FYsYarnReceiveDetailList[i].LEDGER?.LEDNAME
                </td>

                <td>
                    @Model.FYsYarnReceiveDetailList[i].PAGENO
                </td>

                <td>
                    <i class="fa fa-trash fa-lg text-danger" onclick="RemoveDS(@i)" aria-hidden="false"></i>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
