@model FPrFinishingMachineCreatePreparationViewModel

@if (Model.FPrFinighingDoffForMachines.Any())
{
    <table class="table mt-2 table-condensed" style="border-collapse:collapse;" id="partialView">
        <thead id="thead">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinighingDoffForMachine.FN_PROCESSID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinighingDoffForMachine.DOFF.F_PR_FINISHING_FNPROCESS.FirstOrDefault().LENGTH_OUT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrFinighingDoffForMachine.REMARKS)
                </th>
                <th>
                    @Html.DisplayName("Remove")
                </th>
            </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.FPrFinighingDoffForMachines.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinighingDoffForMachines[i].DID)
                        @Html.HiddenFor(clc => clc.FPrFinighingDoffForMachines[i].FPMID)
                        @Html.HiddenFor(clc => clc.FPrFinighingDoffForMachines[i].OPT3)
                        @Html.HiddenFor(clc => clc.FPrFinighingDoffForMachines[i].FN_PROCESSID)
                        @*@Html.HiddenFor(clc => clc.FPrFinighingDoffForMachines[i].SETID)*@
                        @Model.FPrFinighingDoffForMachines[i].DOFF?.OPT1
                    </td>
                    <td>
                        @Model.FPrFinighingDoffForMachines[i].DOFF?.OPT2
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrFinighingDoffForMachines[i].REMARKS)
                        @Model.FPrFinighingDoffForMachines[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveDoffFromList(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
            <tr>
                <td class="text-right"><i class="fa fa-cart-plus" aria-hidden="true"></i> @Html.DisplayName("Sum Of Total :")</td>
                <td class="bg-info text-white">@($"{Model.FPrFinighingDoffForMachines.Sum(e => double.Parse(e.DOFF.OPT2))}")</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
}


<script type="text/javascript" asp-append-version="true">
    function RemoveDoffFromList(removeIndexValue) {
        swal({
            title: "Please Confirm",
            text: "You won't able to revert, Are you sure to remove?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, sir",
            cancelButtonText: "Not at all"
        },
            function (isConfirm) {
                if (isConfirm) {
                    var data = $('#form').serializeArray();
                    data.push({ name: "removeIndexValue", value: removeIndexValue });
                    $.ajax({
                        async: true,
                        cache: false,
                        data: data,
                        type: "POST",
                        url: '/FPrFinishingMachinePreperation/RemoveDoffFromList',
                        success: function (partialView, status, xhr) {
                            $('#doffDetails').html(partialView);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                }
            });
    }
</script>