
@model CreateFSampleFabricRcvMViewModel

@{
    ViewData["Title"] = "Sample Fabric Receive";
}

<div class="container-fluid">

    <h2><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

    <form id="form" role="form" asp-action="PostCreateFSampleFabricRcvM" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-body row">

                <div class="col-12 p-0">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvM.SFRDATE" class="control-label"></label>
                            <input asp-for="FSampleFabricRcvM.SFRDATE" class="form-control" />
                            <span asp-validation-for="FSampleFabricRcvM.SFRDATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvM.SEC.SECNAME" class="control-label"></label>
                            @Html.DropDownListFor(lc => lc.FSampleFabricRcvM.SECID, new SelectList(Model.FBasSections, "SECID", "SECNAME"), "Select a Section", htmlAttributes: new { @class = "form-control js-example-data-ajax" })
                            <span asp-validation-for="FSampleFabricRcvM.SECID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvM.EMP.FIRST_NAME" class="control-label">Handover Employe</label>
                            @Html.DropDownListFor(lc => lc.FSampleFabricRcvM.EMPID, new SelectList(Model.FHrEmployees, "EMPID", "FIRST_NAME"), "Select an Employee", htmlAttributes: new { @class = "form-control js-example-data-ajax" })
                            <span asp-validation-for="FSampleFabricRcvM.EMPID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvM.SFTRNO" class="control-label"></label>
                            <input asp-for="FSampleFabricRcvM.SFTRNO" class="form-control" />
                            <span asp-validation-for="FSampleFabricRcvM.SFTRNO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvM.SFTRDATE" class="control-label"></label>
                            <input asp-for="FSampleFabricRcvM.SFTRDATE" class="form-control" />
                            <span asp-validation-for="FSampleFabricRcvM.SFTRDATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvM.REMARKS" class="control-label"></label>
                            <input asp-for="FSampleFabricRcvM.REMARKS" class="form-control" />
                            <span asp-validation-for="FSampleFabricRcvM.REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
            <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Inspection</li>
                        <li class="breadcrumb-item">Production Date</li>
                        <li class="breadcrumb-item active" aria-current="page">Click <strong>Load Data</strong> to load data from <strong>[Inspection, Clearance] (+)</strong></li>
                    </ol>
                </nav>
                <div class="card">
                    <div class="card-body">
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="ProductionDate" class="control-label"></label>
                                <input asp-for="ProductionDate" class="form-control" />
                                <span asp-validation-for="ProductionDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 float-right">
                            <label>Click here to Load Data</label>
                            <button id="addInspection" type="button" class="btn btn-outline-secondary btn-lg btn-block">Load Data</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-hand-o-right"></i> Receive Details</h2>
                    <hr />
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvD.DEV_NO" class="control-label"></label>
                            <input asp-for="FSampleFabricRcvD.DEV_NO" class="form-control" />
                            <span asp-validation-for="FSampleFabricRcvD.DEV_NO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvD.SITEM.NAME" class="control-label"></label>
                            @Html.DropDownListFor(lc => lc.FSampleFabricRcvD.SITEMID, new SelectList(Model.FSampleItemDetailses, "SITEMID", "NAME"), "Select an Item Name", htmlAttributes: new { @class = "form-control js-example-data-ajax" })
                            <span asp-validation-for="FSampleFabricRcvD.SITEMID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvD.FABCODENavigation.FABCODE" class="control-label fa fa-hand-o-right"></label>
                            @Html.DropDownListFor(lc => lc.FSampleFabricRcvD.FABCODE, new SelectList(Model.RndFabricinfos, "FABCODE", "STYLE_NAME"), "Select a Fabric Code", htmlAttributes: new { @class = "form-control js-example-data-ajax" })
                            <span asp-validation-for="FSampleFabricRcvD.FABCODE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvD.SET.PROG_.PROG_NO" class="control-label fa fa-hand-o-right"></label>
                            @Html.DropDownListFor(lc => lc.FSampleFabricRcvD.SETID, new SelectList(Model.PlProductionSetdistributions, "SETID", "PROG_.PROG_NO"), "Select a Program/Set No.", htmlAttributes: new { @class = "form-control js-example-data-ajax" })
                            <span asp-validation-for="FSampleFabricRcvD.SETID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvD.FAB_GRADE" class="control-label"></label>
                            <select asp-for="FSampleFabricRcvD.FAB_GRADE" class=" form-control height17 p-0 js-example-basic-single">
                                <option value="">Select Grade</option>
                                <option value="A" selected="selected">A</option>
                                <option value="A2">A2</option>
                            </select>
                            <input class="" type="text" id="purpose3" style="border: none; width: 1px; height: 1px;" />
                            <span asp-validation-for="FSampleFabricRcvD.FAB_GRADE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvD.QTY" class="control-label"></label>
                            <input asp-for="FSampleFabricRcvD.QTY" class="form-control" />
                            <span asp-validation-for="FSampleFabricRcvD.QTY" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvD.ROLLNO" class="control-label"></label>
                            <input asp-for="FSampleFabricRcvD.ROLLNO" class="form-control" />
                            <span asp-validation-for="FSampleFabricRcvD.ROLLNO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FSampleFabricRcvD.REMARKS" class="control-label"></label>
                            <input asp-for="FSampleFabricRcvD.REMARKS" class="form-control" />
                            <span asp-validation-for="FSampleFabricRcvD.REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-1" id="StyleInfo"></div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success pull-right" type="submit">Create</button>
                    <button id="btnAdd" class="btn btn-success pull-right" type="button">Add</button>
                    <a class="btn btn-dark pull-right" asp-action="GetFSampleFabricRcvM">Back to List</a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" id="FSampleFabricRcvD"></div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script asp-append-version="true" src="~/js/FSampleFabricRcvM/CreateFSampleFabricRcvM.js"></script>
}