
@model CreateFSampleFabricRcvMViewModel

@if (Model.FSampleFabricRcvDs.Any())
{
    <div class="col-12 table-responsive table-hover">
        <h2 class="panel-title text-success"><i class="fa fa-hand-o-right"></i> Receive Details</h2>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>
                        <i class="fa fa-print text-warning"></i> @Html.DisplayNameFor(e => e.FSampleFabricRcvD.BARCODE)
                    </th>
                    <th>@Html.DisplayNameFor(e => e.FSampleFabricRcvD.DEV_NO)</th>
                    <th>@Html.DisplayNameFor(e => e.FSampleFabricRcvD.SITEM.NAME)</th>
                    <th>@Html.DisplayNameFor(e => e.FSampleFabricRcvD.FABCODENavigation.STYLE_NAME)</th>
                    <th>@Html.DisplayNameFor(e => e.FSampleFabricRcvD.QTY)</th>
                    <th>@Html.DisplayNameFor(e => e.FSampleFabricRcvD.REMARKS)</th>
                </tr>
            </thead>
            <tbody>

                @{
                    for (var i = 0; i < Model.FSampleFabricRcvDs.Count; i++)
                    {
                        <tr>
                            <td>@(i+1)</td>
                            <td>@Model.FSampleFabricRcvDs[i].BARCODE</td>
                            <td>@Model.FSampleFabricRcvDs[i].DEV_NO</td>
                            <td>@Model.FSampleFabricRcvDs[i].SITEM?.NAME</td>
                            <td>@($"{Model.FSampleFabricRcvDs[i].FABCODENavigation?.WV?.FABCODE}; {Model.FSampleFabricRcvDs[i].FABCODENavigation?.BUYER?.BUYER_NAME}; {Model.FSampleFabricRcvDs[i].FABCODENavigation?.COLORCODENavigation?.COLOR}")</td>
                            <td>@Model.FSampleFabricRcvDs[i].QTY</td>
                            <td>@Model.FSampleFabricRcvDs[i].REMARKS</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}