@model AccExportDoMasterViewModel

@if (Model.aCC_EXPORT_DODETAILSList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.STYLE.FABCODENavigation.STYLE_NAME)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.PI.PINO)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.RATE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.AMOUNT)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.ORACLE_DO_DELIVERY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.REMARKS)</th>
                <th scope="col">@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.aCC_EXPORT_DODETAILSList.Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.HiddenFor(clc => clc.aCC_EXPORT_DODETAILSList[i].TRNSID)
                        @Html.HiddenFor(clc => clc.aCC_EXPORT_DODETAILSList[i].TRNSDATE)
                        @Html.HiddenFor(clc => clc.aCC_EXPORT_DODETAILSList[i].STYLEID)
                        @Html.HiddenFor(clc => clc.aCC_EXPORT_DODETAILSList[i].STYLE.STYLEID)
                        @Model.aCC_EXPORT_DODETAILSList[i].STYLE?.FABCODENavigation?.STYLE_NAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.aCC_EXPORT_DODETAILSList[i].PIID)
                        @Model.aCC_EXPORT_DODETAILSList[i].PI?.PINO
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.aCC_EXPORT_DODETAILSList[i].QTY)
                        @($"{Model.aCC_EXPORT_DODETAILSList[i].QTY:N}")
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.aCC_EXPORT_DODETAILSList[i].RATE)
                        @Model.aCC_EXPORT_DODETAILSList[i].RATE
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.aCC_EXPORT_DODETAILSList[i].AMOUNT)
                        @($"{Model.aCC_EXPORT_DODETAILSList[i].AMOUNT:N}")
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.aCC_EXPORT_DODETAILSList[i].ORACLE_DO_DELIVERY)
                        @($"{Model.aCC_EXPORT_DODETAILSList[i].ORACLE_DO_DELIVERY:N}")
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.aCC_EXPORT_DODETAILSList[i].REMARKS)
                        @Model.aCC_EXPORT_DODETAILSList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="RemoveIndent(@i)" aria-hidden="false"></i>
                    </td>
                </tr>
            }
            <tr>
                <td>Total</td>
                <td>:</td>
                <td></td>
                <td>@($"{Model.aCC_EXPORT_DODETAILSList.Sum(e => e.QTY):N}")</td>
                <td></td>
                <td colspan="4">@($"{Model.aCC_EXPORT_DODETAILSList.Sum(e => e.AMOUNT):N}")</td>
            </tr>
        </tbody>
    </table>
}