
@model AccExportDoMasterViewModel

@if (Model.aCC_EXPORT_DODETAILSList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.STYLE.FABCODENavigation.STYLE_NAME)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.PI.PINO)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.RATE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.AMOUNT)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ACC_EXPORT_DODETAILS.REMARKS)</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.aCC_EXPORT_DODETAILSList.Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model.aCC_EXPORT_DODETAILSList[i].STYLE?.FABCODENavigation?.STYLE_NAME</td>
                    <td>@Model.aCC_EXPORT_DODETAILSList[i].PI?.PINO</td>
                    <td>@Model.aCC_EXPORT_DODETAILSList[i].QTY</td>
                    <td>@Model.aCC_EXPORT_DODETAILSList[i].RATE</td>
                    <td>@Model.aCC_EXPORT_DODETAILSList[i].AMOUNT</td>
                    <td>@Model.aCC_EXPORT_DODETAILSList[i].REMARKS</td>
                </tr>
            }
            <tr>
                <td>Total</td>
                <td>:</td>
                <td></td>
                <td>@Model.aCC_EXPORT_DODETAILSList.Sum(e => e.QTY)</td>
                <td></td>
                <td colspan="3">@Model.aCC_EXPORT_DODETAILSList.Sum(e => e.AMOUNT)</td>
            </tr>
        </tbody>
    </table>
}