
@model ACC_EXPORT_DOMASTER

@{
    ViewData["Title"] = "DO (Export)";
}

@{
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> Get @ViewData["Title"]</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="mr-2">
                    <p><a asp-action="CreateAccDoMaster" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true" accesskey="a"></i> Add</a></p>
                </li>
                <li class="mr-2">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#reports">
                        <i class="fa fa-print"></i> Reports
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="reports" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-list-ul"></i> List of reports</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body row">
                                    <div class="col-12">
                                        <h2><i class="fa fa-taxi"></i> Delivery Order</h2>
                                    </div>
                                    <div class="col-12 d-inline p-0">
                                        <div class="col-3"><a asp-action="RDoReportS" class="dropdown-item" target="_blank"><i class="fa fa-print text-primary" aria-hidden="true"></i> DO (S)</a></div>
                                        <div class="col-3"><a asp-action="RDoReportM" class="dropdown-item" target="_blank"><i class="fa fa-print text-primary" aria-hidden="true"></i> DO (M)</a></div>
                                        <div class="col-3"><a asp-action="RDoReportXl" class="dropdown-item" target="_blank"><i class="fa fa-print text-primary" aria-hidden="true"></i> DO (XL)</a></div>
                                        <div class="col-3"><a asp-action="RDoAudit" class="dropdown-item" target="_blank"><i class="fa fa-print text-primary" aria-hidden="true"></i> DO (After Audit)</a></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content table-responsive table-hover">
            <table class="table" id="table">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DONO)</th>
                        <th>@Html.DisplayNameFor(model => model.DODATE)</th>
                        <th>@Html.DisplayNameFor(model => model.LCNO)</th>
                        <th>@Html.DisplayNameFor(model => model.AUDITBY)</th>
                        <th>@Html.DisplayNameFor(model => model.AUDITON)</th>
                        <th>@Html.DisplayNameFor(model => model.COMMENTS)</th>
                        <th>@Html.DisplayNameFor(model => model.REMARKS)</th>
                        <th>Printing Options</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

}

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/AccExportDoMaster/GetAccExportDoMaster.js"></script>
}