@model FPrWarpingProcessSwMasterViewModel

@if (Model.FPrWarpingProcessSwYarnConsumDetailsList.Any())
{
    <table class="table mt-2 table-condensed" style="border-collapse:collapse;" id="partialView">
        <thead id="thead">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrWarpingProcessSwYarnConsumDetailsList.FirstOrDefault().COUNT_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrWarpingProcessSwYarnConsumDetailsList.FirstOrDefault().BGT_KG)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.FPrWarpingProcessRopeYarnConsumDetailsList.FirstOrDefault().BGT_KG_PER_SET)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.FPrWarpingProcessSwYarnConsumDetailsList.FirstOrDefault().CONSM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrWarpingProcessSwYarnConsumDetailsList.FirstOrDefault().WASTE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrWarpingProcessSwYarnConsumDetailsList.FirstOrDefault().WASTE_PERCENTAGE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPrWarpingProcessSwYarnConsumDetailsList.FirstOrDefault().REMARKS)
                </th>
                <th>
                    @Html.DisplayName("Remove")
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FPrWarpingProcessSwYarnConsumDetailsList.Count; i++)
            {
                <tr>
                    <td><span class="expand-button"></span></td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessSwYarnConsumDetailsList[i].CONSM_ID)
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessSwYarnConsumDetailsList[i].COUNT_ID)
                        @Model.FPrWarpingProcessSwYarnConsumDetailsList[i].COUNT_?.COUNT?.COUNTNAME
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessSwYarnConsumDetailsList[i].BGT_KG)
                        @Model.FPrWarpingProcessSwYarnConsumDetailsList[i].BGT_KG
                    </td>
                    @*<td>
                            @Html.HiddenFor(clc => clc.FPrWarpingProcessSwYarnConsumDetailsList[i].BGT_KG_PER_SET)
                            @Model.FPrWarpingProcessSwYarnConsumDetailsList[i].BGT_KG_PER_SET
                        </td>*@
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessSwYarnConsumDetailsList[i].CONSM)
                        @Model.FPrWarpingProcessSwYarnConsumDetailsList[i].CONSM
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessSwYarnConsumDetailsList[i].WASTE)
                        @Model.FPrWarpingProcessSwYarnConsumDetailsList[i].WASTE
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessSwYarnConsumDetailsList[i].WASTE_PERCENTAGE)
                        @Model.FPrWarpingProcessSwYarnConsumDetailsList[i].WASTE_PERCENTAGE
                    </td>
                    <td>
                        @Html.HiddenFor(clc => clc.FPrWarpingProcessSwYarnConsumDetailsList[i].REMARKS)
                        @Model.FPrWarpingProcessSwYarnConsumDetailsList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveCountFromList(@i)" aria-hidden="true"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<script type="text/javascript" asp-append-version="true">
    function RemoveCountFromList(removeIndexValue) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/FPrWarpingProcessSwMaster/RemoveCountFromList',
            success: function (partialView, status, xhr) {
                $('#CountDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>