
@model FGenSRequirementViewModel

@{
    ViewData["Title"] = "General Store Requirement";
}

<h2><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" enctype="multipart/form-data" role="form" asp-action="CreateFGenSRequirement">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="panel-body row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="panel-title text-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> Requirement Information </h2>
                <hr />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGenSReqMaster.GSRDATE" class="control-label"></label>
                    <input asp-for="FGenSReqMaster.GSRDATE" class="form-control" />
                    <span asp-validation-for="FGenSReqMaster.GSRDATE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGenSReqMaster.REQUISITIONBY" class="control-label">Requisition By</label>
                    @Html.DropDownListFor(dt => dt.FGenSReqMaster.REQUISITIONBY, new SelectList(Model.ReqEmployees, "EMPID", "FIRST_NAME"),
                        "Select Requisition By", new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FGenSReqMaster.REQUISITIONBY" class="text-danger"></span>
                </div>
            </div>
            @Html.HiddenFor(e => e.FGenSReqMaster.DEPTID)
            @Html.HiddenFor(e => e.FGenSReqMaster.SECID)
            @Html.HiddenFor(e => e.FGenSReqMaster.SSECID)
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Department</label>
                    <span class="custom-form-control-bg form-control bg-e9ecef" id="deptn">
                    </span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Section</label>
                    <span class="custom-form-control-bg form-control bg-e9ecef" id="secn">
                    </span>
                </div>
            </div>
            @*<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <div class="form-group">
                <label class="control-label">Sub-Section</label>
                <span class="custom-form-control-bg form-control bg-e9ecef" id="ssecn">
                </span>
            </div>
        </div>*@
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGenSReqMaster.REMARKS" class="control-label"></label>
                    <input asp-for="FGenSReqMaster.REMARKS" class="form-control" />
                    <span asp-validation-for="FGenSReqMaster.REMARKS" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> Requirement Details</h2>
                <hr />
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGenSReqDetails.PRODUCTID" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FGenSReqDetails.PRODUCTID, new SelectList(Model.FGsProductInformationsList, "PRODID", "PRODNAME"),
                        "Select Product", new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FGenSReqDetails.PRODUCTID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Unit</label>
                    <span class="custom-form-control-bg form-control bg-e9ecef" id="unit">
                    </span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Balance</label>
                    <span class="custom-form-control-bg form-control bg-e9ecef" id="balance">
                    </span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGenSReqDetails.REQ_QTY" class="control-label"></label>
                    <input asp-for="FGenSReqDetails.REQ_QTY" class="form-control" />
                    <span asp-validation-for="FGenSReqDetails.REQ_QTY" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FGenSReqDetails.REMARKS" class="control-label"></label>
                    <input asp-for="FGenSReqDetails.REMARKS" class="form-control" />
                    <span asp-validation-for="FGenSReqDetails.REMARKS" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button id="btn_submit" class="btn btn-info nextBtn pull-right" type="submit">Create</button>
                <button id="addToList" class="btn btn-success pull-right" type="button">Add to List</button>
                <a asp-action="GetFGenSRequirement" class="btn btn-dark pull-right">Back to List</a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive table-hover" id="fGenSReqDetailsTable"></div>

        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/GeneralStore/Requirement/CreateFGenSRequirement.js"></script>
}