@model FGenSRequirementViewModel

@if (Model.FGenSReqDetailsesList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReqDetailsesList.FirstOrDefault().PRODUCT.PRODNAME)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReqDetailsesList.FirstOrDefault().REQ_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReqDetailsesList.FirstOrDefault().REMARKS)</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FGenSReqDetailsesList.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model.FGenSReqDetailsesList[i].PRODUCT?.PRODNAME</td>
                    <td>@Model.FGenSReqDetailsesList[i].REQ_QTY</td>
                    <td>@Model.FGenSReqDetailsesList[i].REMARKS</td>
                </tr>
            }
        </tbody>
    </table>
}