
@model FGenSRequirementViewModel

@{
    ViewData["Title"] = "General Store Requirement";
}

@{
    if (Model != null)
    {
        <div class="col-12 row p-0">

            <div class="col-12">
                <h2 class="text-white btn btn-info">@Html.DisplayNameFor(d => d.FGenSReqMaster.GSRID) : [ @Html.DisplayFor(d => d.FGenSReqMaster.GSRID) ]</h2>
            </div>

            <div class="col-12 row">
                <div class="col-6">
                    <h2 class="panel-title text-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> <ins>@ViewData["Title"] Information</ins></h2>
                </div>
                <div class="col-6 text-right">
                    <div class="form-group">
                        <label asp-for="FGenSReqMaster.GSRNO" class="control-label font-weight-bold"></label>
                        <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReqMaster.GSRNO)</div>
                    </div>
                </div>
                <div class="col-12">
                    <hr />
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FGenSReqMaster.GSRDATE" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReqMaster.GSRDATE)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FGenSReqMaster.REQUISITIONBY" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReqMaster.EMP.FIRST_NAME)</div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="FGenSReqMaster.REMARKS" class="control-label font-weight-bold"></label>
                    <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReqMaster.REMARKS)</div>
                </div>
            </div>
            <div class="col-12 table-responsive table-hover">
                <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> <ins>@ViewData["Title"]</ins></h2>
                <hr />
                @await Html.PartialAsync($"~/Views/FGenSRequirement/DetailsFGenSRequirementTable.cshtml", Model)
            </div>

            <div class="col-md-12">
                @Html.ActionLink("Edit", $"EditFGenSRequirement", new { gsrId = Model.FGenSReqMaster.EncryptedId }, new { @class = "btn btn-warning pull-right" })
                <a class="btn btn-dark pull-right" asp-action="GetFGenSRequirement" asp-controller="FGenSRequirement">Back to List</a>
            </div>
        </div>
    }
}