@model FGenSRequirementViewModel

@if (Model.FGenSReqDetailsesList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReqDetailsesList.FirstOrDefault().PRODUCT.PRODNAME)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReqDetailsesList.FirstOrDefault().REQ_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReqDetailsesList.FirstOrDefault().REMARKS)</th>
                <th scope="col">@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FGenSReqDetailsesList.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @Html.HiddenFor(model => model.FGenSReqDetailsesList[i].GRQID)
                        @Html.HiddenFor(model => model.FGenSReqDetailsesList[i].GSRID)
                        @Html.HiddenFor(model => model.FGenSReqDetailsesList[i].STATUS)

                        @Html.HiddenFor(model => model.FGenSReqDetailsesList[i].PRODUCTID)
                        @Model.FGenSReqDetailsesList[i].PRODUCT?.PRODNAME
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FGenSReqDetailsesList[i].REQ_QTY)
                        @Model.FGenSReqDetailsesList[i].REQ_QTY
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.FGenSReqDetailsesList[i].REMARKS)
                        @Model.FGenSReqDetailsesList[i].REMARKS
                    </td>
                    <td>
                        <i class="fa fa-trash fa-lg text-danger" onclick="RemoveIndent(@i)" aria-hidden="false"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}