
@model F_GEN_S_REQ_MASTER

@{
    ViewData["Title"] = "General Store Requirement";
    Layout = Layout;
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> @ViewData["Title"] List
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="mr-2">
                <p>
                    <a asp-action="CreateFGenSRequirement" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a>
                </p>
            </li>
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive table-hover">
        <table class="table table-striped" id="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.GSRID)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.GSRNO)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.GSRDATE)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.REQUISITIONBY)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.REMARKS) </th>
                    <th scope="col">@Html.DisplayName("Actions")</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/GeneralStore/Requirement/GetGenSRequirement.js"></script>
}