@model FGenSReceiveViewModel

@if (Model.FGenSReceiveDetailsesList.Any())
{
    <table class="table" id="partialView">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReceiveDetails.PRODUCTID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReceiveDetails.UNIT)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReceiveDetails.GINDID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReceiveDetails.BATCHNO)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReceiveDetails.MNGDATE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReceiveDetails.EXDATE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReceiveDetails.FRESH_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReceiveDetails.REJ_QTY)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FGenSReceiveDetails.REMARKS)</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.FGenSReceiveDetailsesList.Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model.FGenSReceiveDetailsesList[i].PRODUCT?.PRODNAME</td>
                    <td>@Model.FGenSReceiveDetailsesList[i].PRODUCT?.UNITNavigation?.UNAME</td>
                    <td>@Model.FGenSReceiveDetailsesList[i].GIND?.GINDNO</td>
                    <td>@Model.FGenSReceiveDetailsesList[i].BATCHNO</td>
                    <td>@Model.FGenSReceiveDetailsesList[i].MNGDATE</td>
                    <td>@Model.FGenSReceiveDetailsesList[i].EXDATE</td>
                    <td>@Model.FGenSReceiveDetailsesList[i].FRESH_QTY</td>
                    <td>@Model.FGenSReceiveDetailsesList[i].REJ_QTY</td>
                    <td>@Model.FGenSReceiveDetailsesList[i].REMARKS</td>
                </tr>
            }
        </tbody>
    </table>
}