
@model FGenSReceiveViewModel

@{
    ViewData["Title"] = "General Store Receive";
}

@{
    if (Model != null)
    {
    <div class="col-12 row">
        <div class="col-6">
            <h2 class="text-white btn btn-info">@Html.DisplayNameFor(e => e.FGenSReceiveMaster.GRCVID) :  @Html.DisplayFor(e => e.FGenSReceiveMaster.GRCVID)</h2>
        </div>
        <div class="col-6">
            <h2 class="text-white btn btn-info">@Html.DisplayNameFor(e => e.FGenSReceiveMaster.RCVDATE) :  @Html.DisplayFor(e => e.FGenSReceiveMaster.RCVDATE)</h2>
        </div>

        <div class="col-12 row">
            <div class="col-12">
                <h2 class="panel-title text-success"><i class="fa fa-flask" aria-hidden="true"></i> @ViewData["Title"] Information</h2>
            </div>
            <div class="col-12">
                <hr />
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.RCVTID" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.RCVT.RCVTYPE)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.RCVBY" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.RCVBYNavigation.FIRST_NAME)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.CHECKBY" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.CHECKBYNavigation.FIRST_NAME)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.LC_ID" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.LCD.PINO)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.LCD.LC.LCNO" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.LCD.LC.LCNO)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.SUPPID" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.SUPP.SUPPNAME)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.ORIGIN" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.ORIGINNavigation.COUNTRY_NAME)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.CHALLAN_NO" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.CHALLAN_NO)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.CHALLAN_DATE" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.CHALLAN_DATE)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.TRANSPID" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.TRANSP.TRNSPNAME)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.VEHICAL_NO" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.VEHICAL_NO)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.GE_ID" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.GE_ID)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.GEDATE" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.GEDATE)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.REMARKS" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.REMARKS)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.QCPASS" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.QCINFO)</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="FGenSReceiveMaster.MRR" class="control-label font-weight-bold"></label>
                <div class="form-control-dark">@Html.DisplayFor(model => model.FGenSReceiveMaster.MRRINFO)</div>
            </div>
        </div>
        <div class="col-12 table-responsive">
            <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> Chemical Details</h2>
            <hr />
            @await Html.PartialAsync($"~/Views/FGenSReceive/DetailsFGenSReceiveTable.cshtml", Model)
        </div>

        <div class="col-md-12">
            @Html.ActionLink("Edit", $"EditFGenSReceive", new { indslId = Model.FGenSReceiveMaster.EncryptedId }, new { @class = "btn btn-warning pull-right" })
            <a class="btn btn-dark pull-right" asp-action="GetFGenSReceive" asp-controller="FGenSReceive">Back to List</a>
        </div>
    </div>
    }
}