@using System.Linq
@model PrWeavingProcessBulkViewModel

@if (Model.FPrWeavingProcessBeamDetailsBList.Any())
{

    <div class="table-responsive">
        <table class="table mt-2 table-condensed" style="border-collapse:collapse;" id="partialView">
            <thead id="thead">
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsB.BEAMID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsB.BEAM_LENGTH)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsB.LOOM_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsB.MOUNT_TIME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsB.CRIMP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsB.STATUS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsB.REMARKS)
                    </th>
                    <th>
                        @Html.DisplayName("Remove")
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.FPrWeavingProcessBeamDetailsBList.Count; i++)
                {

                    <tr data-toggle="collapse" data-target="#demo_@i" class="accordion-toggle collapsed">
                        <td><span class="expand-button"></span></td>
                        <td>
                            @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].WV_BEAMID)
                            @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].BEAMID)
                            @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].SBEAMID)
                            @Model.FPrWeavingProcessBeamDetailsBList[i].F_PR_SIZING_PROCESS_ROPE_DETAILS?.W_BEAM?.BEAM_NO
                            @Model.FPrWeavingProcessBeamDetailsBList[i].F_PR_SLASHER_DYEING_DETAILS?.W_BEAM?.BEAM_NO
                        </td>
                        <td>
                            @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].BEAM_LENGTH)
                            @Model.FPrWeavingProcessBeamDetailsBList[i].BEAM_LENGTH
                        </td>
                        <td>
                            @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].LOOM_ID)
                            @Model.FPrWeavingProcessBeamDetailsBList[i].LoomMachine?.LOOM_NO
                        </td>
                        <td>
                            @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].MOUNT_TIME)
                            @Model.FPrWeavingProcessBeamDetailsBList[i].MOUNT_TIME
                        </td>
                        <td>
                            @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].CRIMP)
                            @Model.FPrWeavingProcessBeamDetailsBList[i].CRIMP
                        </td>
                        <td>
                            @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].STATUS)
                            @Model.FPrWeavingProcessBeamDetailsBList[i].STATUS
                        </td>
                        <td>
                            @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].REMARKS)
                            @Model.FPrWeavingProcessBeamDetailsBList[i].REMARKS
                        </td>
                        <td>

                            @if (Model.FPrWeavingProcessBeamDetailsBList[i].STATUS && Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.Any(c => c.IS_DELIVERABLE && c.TRNSID > 0))
                            {
                                <i class="fa fa-ban fa-2x-custom text-danger" aria-hidden="true"></i>
                                @*<a target='_blank' title='Print Weaving Loom Card' href='/Reports/RLoomCard?Beam_No=@Model.FPrWeavingProcessBeamDetailsBList[i].WV_BEAMID' class='fa fa-print fa-2x-custom text-primary mr-2'></a>*@
                            }
                            else
                            {
                                <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveBeamFromList(@i)" aria-hidden="true"></i>
                                <a target='_blank' title='Print Weaving Loom Card' href='/Reports/RLoomCard?beamNo=@Model.FPrWeavingProcessBeamDetailsBList[i].WV_BEAMID' class='fa fa-print fa-2x-custom text-primary mr-2'></a>

                                @*<i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveBeamFromList(@i)" aria-hidden="true"></i>*@

                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse show" id="demo_@i">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.FirstOrDefault().LOOM_NO)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.FirstOrDefault().LOOM_TYPE)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.FirstOrDefault().LENGTH_BULK)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.FirstOrDefault().OTHERS_DOFF)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.FirstOrDefault().SAMPLE_FABCODE)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.FirstOrDefault().DOFF_TIME)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.FirstOrDefault().SHIFT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.FirstOrDefault().DOFFER_NAME)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.FirstOrDefault().REMARKS)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.FirstOrDefault().IS_DELIVERABLE)
                                        </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @for (var j = 0; j < Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.Count; j++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].TRNSID)
                                                @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].TRNSDATE)
                                                @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].WV_BEAMID)
                                                @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].LOOM_NO)
                                                @Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].LOOM_NONavigation?.LOOM_NO
                                            </td>
                                            <td>
                                                @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].LOOM_TYPE)
                                                @Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].LOOM_TYPENavigation?.LOOM_TYPE_NAME
                                            </td>
                                            <td>
                                                @*@Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].LENGTH_BULK)
                                                        @Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].LENGTH_BULK*@
                                                <input asp-for="FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].LENGTH_BULK" class="form-control" />
                                            </td>
                                            <td>
                                                @*@Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].OTHERS_DOFF)
                                                        @Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].OTHERS_DOFF*@



                                                @Html.DropDownListFor(dt => dt.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].OTHERS_DOFF, new SelectList(Model.OtherDoffs, "ID", "NAME"), "Select Others Doff.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                                            </td>
                                            <td>
                                                @*@Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].SAMPLE_FABCODE)
                                                        @Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].SAMPLE_FABCODE*@

                                                @Html.DropDownListFor(dt => dt.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].SAMPLE_FABCODE, new SelectList(Model.Weavings, "WVID", "FABCODE"), "Select Sample Style", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                                            </td>
                                            <td>
                                                @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].DOFF_TIME)
                                                @Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].DOFF_TIME
                                            </td>
                                            <td>
                                                @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].SHIFT)
                                                @Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].SHIFT
                                            </td>
                                            <td>
                                                @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].DOFFER_NAME)
                                                @Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].DOFFER_NAME
                                            </td>
                                            <td>
                                                @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].REMARKS)
                                                @Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].REMARKS
                                            </td>
                                            <td>
                                                @Html.HiddenFor(clc => clc.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].IS_DELIVERABLE)


                                                @if (Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].IS_DELIVERABLE)
                                                {
                                                    <div class="round_gol">
                                                        <input type="checkbox" name="@Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].DOFF_TIME" id="@Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].DOFF_TIME" checked disabled />
                                                        <label for="@Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].DOFF_TIME"></label>
                                                    </div>;
                                                }
                                                else
                                                {
                                                    <div class="round_gol">
                                                        <input onclick="doffApprove(@i,@j,@Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].TRNSID)" type="checkbox" name="@Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].DOFF_TIME" id="@Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].DOFF_TIME" />
                                                        <label for="@Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].DOFF_TIME"></label>
                                                    </div>;
                                                }

                                            </td>
                                            <td>

                                                @if (Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].IS_DELIVERABLE && Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].TRNSID > 0)
                                                {
                                                    <i class="fa fa-ban fa-2x-custom text-danger" aria-hidden="true"></i>
                                                    <a target='_blank' title='Print Doffing Card' href='/Reports/RDoffCard?doffId=@Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList[j].TRNSID' class='fa fa-print fa-2x-custom text-primary mr-2'></a>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-trash fa-2x-custom text-danger" onclick="RemoveLoomFromBeamList(@i, @j)" aria-hidden="true"></i>
                                                }
                                            </td>
                                        </tr>
                                            
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-dark text-white">
                        <td></td>
                        <td class="text-right">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            @Html.DisplayName("Total Doff Length:")
                        </td>
                        <td>@($"{Model.FPrWeavingProcessBeamDetailsBList[i].FPrWeavingProcessDetailsBList.Sum(x=>x.LENGTH_BULK)}")</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    
                }
                <tr class="bg-info text-white">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"><i class="fa fa-cart-plus" aria-hidden="true"></i> @Html.DisplayName("Sum Of Total Weaving:")</td>
                    <td class="">@($"{Model.FPrWeavingProcessBeamDetailsBList.Sum(c=>c.FPrWeavingProcessDetailsBList.Sum(d=>d.LENGTH_BULK))}")</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
}


<script type="text/javascript" asp-append-version="true">
    function RemoveBeamFromList(removeIndexValue) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/FPrWeavingProcessBulk/RemoveBeamFromList',
            success: function (partialView, status, xhr) {
                $('#beamDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function RemoveLoomFromBeamList(removeIndexValue, setRemoveIndex) {
        var data = $('#form').serializeArray();
        data.push({ name: "removeIndexValue", value: removeIndexValue });
        data.push({ name: "setRemoveIndex", value: setRemoveIndex });
        $.ajax({
            async: true,
            cache: false,
            data: data,
            type: "POST",
            url: '/FPrWeavingProcessBulk/RemoveLoomFromBeamList',
            success: function (partialView) {
                $('#beamDetails').html(partialView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function doffApprove(i, j, doffId) {
        debugger;
        var id = $("#" + "FPrWeavingProcessBeamDetailsBList_" + i + "__FPrWeavingProcessDetailsBList_" + j + "__IS_DELIVERABLE");
        //var ind = $("#" + index);
        if (id.val() === "False") {
            id.val("True");
            //ind.prop('disabled', true);
        } else {
            id.val("False");
        }
        if (doffId !== 0) {
            swal({
                title: "Please Confirm",
                text: "Data Will Directly Updated to Database",
                type: "info",
                showCancelButton: true,
                confirmButtonText: "OK",
                cancelButtonText: "Cancel"
            },
                function (isConfirm) {
                    if (isConfirm) {
                        var data = $('#form').serializeArray();
                        data.push({ name: "doffId", value: doffId });
                        $.ajax({
                            async: true,
                            cache: false,
                            data: data,
                            type: "POST",
                            url: '/FPrWeavingProcessBulk/UpdateDeliverable',
                            success: function (partialView, status, xhr) {
                                //setQty(xhr);

                                if (xhr.getResponseHeader("Status") === "Success") {
                                    toastrNotification("Doff. Deliverable Updated", 'success');
                                } else {
                                    toastrNotification("Can Not Update Doff. Deliverable", 'error');
                                }
                                $('#beamDetails').html(partialView);
                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });
                    }
                });
        }
    }
</script>
