@model PrWeavingProcessBulkViewModel

@if (Model.FPrWeavingWeftYarnConsumDetailsList.Any())
{
    <div class="col-12">
        <h2 class="panel-title text-success">Weft Yarn Consumption</h2>
    </div>
    <div class="table-responsive">
    <table class="table mt-2 table-condensed" style="border-collapse: collapse;" id="partialView">
        <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FPrWeavingWeftYarnConsumDetails.COUNT.COUNT.COUNTNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWeavingWeftYarnConsumDetails.LOT.LOTNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWeavingWeftYarnConsumDetails.SUPP.SUPPNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWeavingWeftYarnConsumDetails.RATIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWeavingWeftYarnConsumDetails.SET_BGT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWeavingWeftYarnConsumDetails.YARN_RECEIVE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWeavingWeftYarnConsumDetails.YARN_RETURN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWeavingWeftYarnConsumDetails.WASTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrWeavingWeftYarnConsumDetails.REMARKS)
            </th>
            @*<th>
                            @Html.DisplayName("Actions")
                        </th>*@
        </tr>
        </thead>
        <tbody>

        @for (var i = 0; i < Model.FPrWeavingWeftYarnConsumDetailsList.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].TRNSID)
                    @Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].WV_PROCESSID)
                    @Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].COUNTID)
                    @Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].WASTE_PERCENTAGE)
                    @Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].CONSUMP)
                    @Model.FPrWeavingWeftYarnConsumDetailsList[i].COUNT?.COUNT?.COUNTNAME
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].LOTID)
                    @Model.FPrWeavingWeftYarnConsumDetailsList[i].LOT?.LOTNO
                </td>
                <td>

                    @Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].SUPPID)
                    @Model.FPrWeavingWeftYarnConsumDetailsList[i].SUPP?.SUPPNAME
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].RATIO)
                    @Model.FPrWeavingWeftYarnConsumDetailsList[i].RATIO
                </td>
                <td>
                    @Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].SET_BGT)
                    @Model.FPrWeavingWeftYarnConsumDetailsList[i].SET_BGT
                </td>
                <td onclick='updateRow(this);'>
                    <span class="yarnReceive">
                        @*@Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].YARN_RECEIVE)*@

                        <input class="form-control" asp-for="FPrWeavingWeftYarnConsumDetailsList[i].YARN_RECEIVE" />
                    </span>
                    @*@Model.FPrWeavingWeftYarnConsumDetailsList[i].YARN_RECEIVE*@
                </td>
                <td onclick='updateRow(this);'>
                    <span class="yarnReturn">
                        @*@Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].YARN_RETURN)*@
                        <input class="form-control" asp-for="FPrWeavingWeftYarnConsumDetailsList[i].YARN_RETURN" />
                    </span>
                    @*@Model.FPrWeavingWeftYarnConsumDetailsList[i].YARN_RETURN*@
                </td>
                <td onclick='updateRow(this);'>
                    <span class="waste">
                        @*@Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].WASTE)*@
                        <input class="form-control" asp-for="FPrWeavingWeftYarnConsumDetailsList[i].WASTE" />
                    </span>
                    @*@Model.FPrWeavingWeftYarnConsumDetailsList[i].WASTE*@
                </td>
                <td onclick='updateRow(this);'>
                    @*@Html.HiddenFor(clc => clc.FPrWeavingWeftYarnConsumDetailsList[i].REMARKS)
                                @Model.FPrWeavingWeftYarnConsumDetailsList[i].REMARKS*@
                    <input class="form-control" asp-for="FPrWeavingWeftYarnConsumDetailsList[i].REMARKS" />
                </td>
                @*<td>
                                <i class="fa fa-trash fa-2x-custom text-danger" onclick="editYarnConsumption(event)" aria-hidden="true"></i>
                            </td>*@
            </tr>
        }
        </tbody>
    </table>
    </div>
        }


        <script type="text/javascript" asp-append-version="true">



            function editYarnConsumption(e) {
                var count_name = $(e.target).closest('tr').find(".count_name").html();
                var lot_name = $(e.target).closest('tr').find(".lot_name").html();
                var supp_name = $(e.target).closest('tr').find(".supp_name").html();

                var countid = $(e.target).closest('tr').find(".countid").html();
                var lotid = $(e.target).closest('tr').find(".lotid").html();
                var suppid = $(e.target).closest('tr').find(".suppid").html();

                var ratio = $(e.target).closest('tr').find(".ratio").html();
                var setQty = $(e.target).closest('tr').find(".setQty").html();

                $("#count").text(count_name);
                $("#lot").text(lot_name);
                $("#supplier").text(supp_name);
                $("#ratioYarn").text(ratio);
                $("#budget").text(setQty);
                $("#actBudget").text(actQty);


                $("#FPrWeavingWeftYarnConsumDetails_COUNTID").val(countid);
                $("#FPrWeavingWeftYarnConsumDetails_LOTID").val(lotid);
                $("#FPrWeavingWeftYarnConsumDetails_SUPPID").val(suppid);
                $("#FPrWeavingWeftYarnConsumDetails_RATIO").val(ratio);
                $("#FPrWeavingWeftYarnConsumDetails_SET_BGT").val(setQty);
                $("#FPrWeavingWeftYarnConsumDetails_ACT_BGT").val(setQty);
                // Let's test it out
                // console.log(count_name, lot_name, supp_name, ratio, setQty, actQty);
            }


            var updateRow = function (selector) {
                $("[type='hidden']", selector).prop("type", "text");
            };

            function RemoveCountFromList(removeIndexValue) {
                var data = $('#form').serializeArray();
                data.push({ name: "removeIndexValue", value: removeIndexValue });
                $.ajax({
                    async: true,
                    cache: false,
                    data: data,
                    type: "POST",
                    url: '/FPrWarpingProcessSlasher/RemoveBallNoList',
                    success: function (partialView, status, xhr) {
                        $('#BallDetails').html(partialView);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        </script>
