
@model CreateRndSampleInfoDyeingAndDetailsViewModel

<div class="col-12">
    <h2 class="panel-title text-success">Dyeing Details</h2>
    <hr>
</div>

<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.PROG_NO)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.PROG_NO)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.SDRFID)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.SDRFID)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.DYEINGCODE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.DYEINGCODE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.STYLEREF)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.STYLEREF)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.RNDPERSON)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.RNDPERSON)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.ENDS_ROPE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.ENDS_ROPE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.NO_OF_ROPE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.NO_OF_ROPE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.TOTAL_ENDS)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.TOTAL_ENDS)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.LENGTH_MTR)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.LENGTH_MTR)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.DYEING_REF)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.DYEING_REF)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.REED_SPACE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.REED_SPACE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.WARP_PROG_DATE)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.WARP_PROG_DATE)
        </p>
    </div>
</div>
<div class="col-2">
    <div class="address">
        <h3 class="title"><span>@Html.DisplayNameFor(model => model.RndSampleInfoDyeing.REMARKS)</span></h3>
        <p class="address-line text-left">
            @Html.DisplayFor(model => model.RndSampleInfoDyeing.REMARKS)
        </p>
    </div>
</div>